Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

tools: add root dir to config file
  .github/dependabot.yml
Due: none

pr fixes
  packages/mux-video/src/assets/mux-logo.ts
  packages/mux-video/src/assets/muxLogo.ts
  packages/mux-video/src/index.ts
Due: mux-video

include part="logo"
  packages/mux-video/src/assets/mux-logo.ts
  packages/mux-video/src/index.ts
Due: mux-video

add slot="logo"
  packages/mux-video/src/index.ts
Due: mux-video

fix: allow extension less Mux m3u8 url as src
  packages/playback-core/src/util.ts
Due: playback-core

fix: support customDomain with ext less m3u8 urls
  packages/playback-core/src/util.ts
  packages/playback-core/test/util.test.js
Due: playback-core

fix: allow extension less Mux m3u8 url as src (#1096)
  packages/playback-core/src/util.ts
  packages/playback-core/test/util.test.js
Due: playback-core

feat: add optional mux logo to mux video (#1090)
  examples/svelte-kit/src/routes/mux-video/+page.svelte
  packages/mux-video/src/assets/mux-logo.ts
  packages/mux-video/src/index.ts
Due: mux-video

fix: respect hls.js fatal error flag if available
  packages/playback-core/src/index.ts
  packages/playback-core/src/request-errors.ts
Due: playback-core

ci: bump retries to 6
  .github/workflows/ci.yml
Due: none

fix: respect hls.js fatal error flag if available (#1099)
  .github/workflows/ci.yml
  packages/playback-core/src/index.ts
  packages/playback-core/src/request-errors.ts
Due: playback-core

cd: use turbo cache if available for test / build
  .github/workflows/cd.yml
Due: none

fix: `default-hidden-captions` order bug for React
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

example: use Mux player assets env asset
  examples/astro/src/pages/mux-player-react-lazy.astro
  examples/astro/src/pages/mux-player-react.astro
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerPosterSlot.tsx
  examples/vanilla-ts-esm/public/mux-player-audio-tracks.html
  examples/vanilla-ts-esm/public/mux-player-error.html
  examples/vanilla-ts-esm/public/mux-player-theme-classic.html
  examples/vanilla-ts-esm/public/mux-player.html
Due: none

retry logic for 412 errors
  packages/playback-core/src/index.ts
Due: playback-core

feat: add fullscreen API on player element this is needed for iOS. fix #643
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/index.ts
Due: mux-player

fix: add fullscreen api resolve promise
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/index.ts
Due: mux-player

feat: add fullscreen API on player element (#1107)
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/index.ts
Due: mux-player

feat: add video-title attr & prop fix #639
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/gerwig/gerwig.html
  packages/mux-player/src/types.d.ts
Due: mux-player, mux-player-react

fix: title deprecated warning in console + docs
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/errors.ts
  packages/mux-player/src/index.ts
  packages/playback-core/src/util.ts
Due: mux-player, mux-player-react, playback-core

fix: default-hidden-captions order bug for React (#1105)
  examples/astro/src/pages/mux-player-react-lazy.astro
  examples/astro/src/pages/mux-player-react.astro
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerPosterSlot.tsx
  examples/vanilla-ts-esm/public/mux-player-audio-tracks.html
  examples/vanilla-ts-esm/public/mux-player-error.html
  examples/vanilla-ts-esm/public/mux-player-theme-classic.html
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

fix: i18n formatting
  packages/playback-core/src/index.ts
  packages/playback-core/src/request-errors.ts
Due: playback-core

change max retries to constant
  packages/playback-core/src/index.ts
Due: playback-core

fix: add title as default for videoTitle
  packages/mux-player/src/index.ts
Due: mux-player

fix: use Error's auto to string conversion
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/request-errors.ts
Due: playback-core

docs: update title docs
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
Due: mux-player, mux-player-react

fix: remove title deprecation log
  packages/mux-player/src/index.ts
Due: mux-player

fix: videoTitle React stuff
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

example: set default playback id in link
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/index.tsx
Due: none

feat: add video-title attr & prop (#1108)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/errors.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/gerwig/gerwig.html
  packages/mux-player/src/types.d.ts
  packages/playback-core/src/errors.ts
  packages/playback-core/src/util.ts
Due: mux-player, mux-player-react, playback-core

Add mux-ads-video package with its example page
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-ads-video.html
  examples/vanilla-ts-esm/src/mux-ads-video.ts
  packages/mux-ads-video/package.json
  packages/mux-ads-video/src/ads-manager.ts
  packages/mux-ads-video/src/index.ts
  packages/mux-ads-video/tsconfig.json
Due: none

Add React wrapper for mux-video-ads
  examples/nextjs-with-typescript/pages/index.tsx
  examples/nextjs-with-typescript/pages/mux-video-ads-react.tsx
  packages/mux-video-ads/package.json
  packages/mux-video-ads/src/index.ts
  packages/mux-video-ads/src/react.ts
Due: mux-video

Fix video size
  packages/mux-ads-video/src/index.ts
Due: none

Refactor
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-video-ads.html
  examples/vanilla-ts-esm/src/mux-ads-video.ts
  examples/vanilla-ts-esm/src/mux-video-ads.ts
  packages/mux-video-ads/package.json
  packages/mux-video-ads/src/ads-manager.ts
  packages/mux-video-ads/src/index.ts
  packages/mux-video-ads/tsconfig.json
Due: mux-video

Fix skippablevideo issue in iphone
  examples/vanilla-ts-esm/public/mux-ads-video.html
Due: none

Refactor
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-ads-video.html
Due: none

fix: init and teardown hls for iOS ads (#7)
  examples/nextjs-with-typescript/pages/mux-video-ads-react.tsx
  packages/mux-video-ads/src/ads-manager.ts
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
Due: mux-video, playback-core

feat(mux-video-ads): ads implementation with data (#3)
  examples/vanilla-ts-esm/public/mux-video-ads.html
  examples/vanilla-ts-esm/src/mux-video-ads.ts
  package-lock.json
  packages/mux-video-ads/package.json
  packages/mux-video-ads/src/ads-manager.ts
  packages/mux-video-ads/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-video, playback-core

Create component for playlist post video (#2)
  examples/nextjs-with-typescript/components/playlist-post-video.tsx
  examples/nextjs-with-typescript/components/playlist.tsx
  examples/nextjs-with-typescript/package.json
  examples/nextjs-with-typescript/pages/MuxPlayerAds.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/nextjs-with-typescript/pages/mux-video-ads-react.tsx
  examples/nextjs-with-typescript/pages/newsweek-theme.tsx
  examples/nextjs-with-typescript/pages/playlist-page.tsx
  examples/nextjs-with-typescript/post-video.css
  examples/nextjs-with-typescript/styles.css
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-ads.html
  package-lock.json
  packages/mux-player-react/src/common/utils.ts
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/src/video-api.ts
  packages/mux-video-ads/package.json
  packages/mux-video-ads/src/ads-manager.ts
  packages/mux-video-ads/src/index.ts
Due: mux-player, mux-player-react, mux-video

Use 3 different ads
  examples/nextjs-with-typescript/pages/playlist-page.tsx
Due: none
