Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore: Update next demo page for MuxPlayer to use playbackRates and hideDuration.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

fix(mux-player): Extra type safety, because tests are confused.
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/template.ts
Due: mux-player

refactor(mux-player): better regex pattern matching for controls list to attribute for duration.
  packages/mux-player/src/template.ts
Due: mux-player

chore(mux-player, mux-player-react): Update readmes for new control props and attrs plus general readme cleanup.
  packages/mux-player-react/README.md
  packages/mux-player/README.md
Due: mux-player, mux-player-react

chore(mux-player): Use established convention for boolean checks in attributeChangedCallback for time-display.
  packages/mux-player/src/media-chrome/time-display.ts
Due: mux-player

feat(mux-player-react): Add support for hideDuration and playbackRates.
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

feat(mux-player): Add support for configurable playbackrates. Update types to use a generic component type.
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

feat(mux-player-react): Add defaultShowRemainingTime to mux-player-react.
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

feat(mux-player): Add support for showing remaining time by default.
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/time-display.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

feat(mux-player): Add support for hiding the duration display.
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/time-display.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

chore: Update next MuxPlayer test page to configur defaultShowRemainingTime.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

feat(mux-player, mux-player-react): make hide-duration a controlsList value.
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player, mux-player-react

chore: Remove UI and code for hide-duration functionality from nextjs player page.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

ci: try yarn for publish (#348)
  package.json
  scripts/publish.sh
Due: none

feat: use CSS vars to toggle off elements
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
Due: mux-player, mux-player-react

test: fix tests
  packages/mux-player/test/template.test.js
Due: mux-player

test: fix Next.js example
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

chore: remove controlslist references
  packages/mux-player-react/README.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/README.md
  packages/mux-player/src/index.ts
Due: mux-player, mux-player-react

fix: add temp fix for hiding duration (in section)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/time-display.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

test: make example simple with static css vars
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: add hide controls docs
  packages/mux-player-react/README.md
  packages/mux-player/README.md
Due: mux-player, mux-player-react

fix: duration display on player load
  packages/mux-player/src/media-chrome/time-display.ts
Due: mux-player

docs: mention player size and stream type
  packages/mux-player-react/README.md
  packages/mux-player/README.md
Due: mux-player, mux-player-react

feat: use CSS vars to toggle off elements (#349)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-react/README.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/README.md
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/time-display.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/test/template.test.js
Due: mux-player, mux-player-react

chore: clean up publish script output
  scripts/publish.sh
Due: none

chore: run yarn version with --no-git-tag-version in dry-run mode
  scripts/publish.sh
Due: none

chore: move PKG_NAME to top of script
  scripts/publish.sh
Due: none

chore: fix jq version
  scripts/publish.sh
Due: none

chore: add dry-run option, change how canary vs release gets run
  scripts/publish.sh
Due: none

chore: fix var access
  scripts/publish.sh
Due: none

chore: add dry-run to canary
  scripts/publish.sh
Due: none

chore add dry-run to publish release
  scripts/publish.sh
Due: none

chore: fix getting new version from yarn's version command
  scripts/publish.sh
Due: none

chore: wrap echo in quotes to match other echos
  scripts/publish.sh
Due: none

chore: update .nvmrc
  .nvmrc
Due: none

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
