Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

fix: theme template types
  packages/mux-player/src/themes/classic/index.ts
  packages/mux-player/src/themes/gerwig/index.ts
Due: mux-player

build(mux-player): version bump of media chrome for fullscreen ios fixes.
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix(mux-player): use CSS to disable subtitle shifting for iOS in fullscreen. (#958)
  packages/mux-player/package.json
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
  yarn.lock
Due: mux-player

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
Due: mux-player, mux-player-react

feat: dup track append, add source tag support
  examples/vanilla-ts-esm/public/mux-player-source-tag.html
  packages/mux-player/src/index.ts
  packages/mux-player/src/video-api.ts
Due: mux-player

feat(playback-core): Signal DRM Type to Mux Data when appropriate.
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: playback-core

fix: prevent copying slotted elements
  examples/vanilla-ts-esm/public/index.html
  packages/mux-player/src/video-api.ts
Due: mux-player

chore: remove source tag example
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-source-tag.html
Due: none

Update rsc.tsx
  packages/mux-uploader-react/src/rsc.tsx
Due: none

feat: dup track append, add source tag support (#962)
  packages/mux-player/src/index.ts
  packages/mux-player/src/video-api.ts
Due: mux-player

fix: attach events on null media property
  packages/mux-player/src/video-api.ts
Due: mux-player

Fix page link
  examples/nextjs-with-typescript/pages/index.tsx
Due: none

just some comments
  packages/mux-uploader-react/src/rsc.tsx
Due: none

fix: attach events on null media property (#966)
  packages/mux-player/src/video-api.ts
Due: mux-player

fix(mux-player): Warn but work when storyboard or thumbnail tokens are omitted.
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
Due: mux-player

docs(mux-player): correct mdn link for playbackRate prop (#955)
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
Due: mux-player, mux-player-react

test: add 5000 timeout and readyState checks
  packages/mux-player/test/player.text-tracks.test.js
Due: mux-player

test: add more readyState checks
  packages/mux-player/test/player.test.js
Due: mux-player

test: add timeout
  packages/mux-player/test/player.test.js
  packages/mux-player/test/player.text-tracks.test.js
Due: mux-player

test: upgrade pkgs, use fixed chrome runner due to new headless mode not playing nice w/ video I think
  package.json
  packages/mux-active-viewer-count/package.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-player/test/player.test.js
  packages/mux-uploader/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  packages/playback-core/test/tracks.test.js
  yarn.lock
Due: mux-audio, mux-player, mux-video, playback-core

test: use native HLS safe assets the 4k HDR asset could have issues w/ native HLS on Mux
  packages/mux-player/test/player.test.js
Due: mux-player

test: skip flaky Safari
  packages/mux-player/test/player.test.js
Due: mux-player

test: use latest playwright version
  package.json
  yarn.lock
Due: none

test: remove some Safari skips
  packages/mux-player/test/player.test.js
Due: mux-player

test: try to get more consistent test results (#969)
  package.json
  packages/mux-active-viewer-count/package.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-player/test/player.test.js
  packages/mux-player/test/player.text-tracks.test.js
  packages/mux-uploader/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  packages/playback-core/test/tracks.test.js
  yarn.lock
Due: mux-audio, mux-player, mux-video, playback-core

test: add a webkit skip back in
  packages/mux-player/test/player.test.js
Due: mux-player

test: add a webkit skip back in (#970)
  packages/mux-player/test/player.test.js
Due: mux-player

fix: mark React 19 as peerdep
  packages/mux-audio-react/package.json
  packages/mux-player-react/package.json
  packages/mux-uploader-react/package.json
  packages/mux-video-react/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

fix: Sentry seekable index error fix #967
  packages/playback-core/src/index.ts
Due: playback-core

fix: mark React 19 as peerdep (#971)
  packages/mux-audio-react/package.json
  packages/mux-player-react/package.json
  packages/mux-uploader-react/package.json
  packages/mux-video-react/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

feat: Lerna bump mux-player-react so versions sync
  packages/mux-player-react/README.md
Due: mux-player, mux-player-react

Publish
  packages/mux-active-viewer-count/CHANGELOG.md
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: Sentry seekable index error (#972)
  packages/playback-core/src/index.ts
Due: playback-core

fix: css animation forwards causing UI lag
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix: css animation forwards causing UI lag (#973)
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: track src being removed bug
  packages/playback-core/src/text-tracks.ts
Due: playback-core

feat(mux-video): pass through mux-relevant properties to cast receiver via customObject on load. WIP
  packages/mux-video/src/index.ts
Due: mux-video
