Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore(mux-video): Remove vestigial hackier attempt for mux castCustomData.
  packages/mux-video/src/index.ts
Due: mux-video

build(mux-video): upgrade castable-video to version with castCustomData.
  packages/mux-video/package.json
  yarn.lock
Due: mux-video

feat(mux-video): Add renditionOrder to mux custom data.
  packages/mux-video/src/index.ts
Due: mux-video

feat(mux-player, mux-player-react): Expose google cast props (castReceiver, castCustomObject) for player.
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player, mux-player-react

docs(mux-player, mux-player-react): Document cast props and attrs.
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
Due: mux-player, mux-player-react

feat(mux-player): Fix template code per PR feedback.
  packages/mux-player/src/template.ts
Due: mux-player

feat(mux-player, mux-player-react, mux-video): cast custom data
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-video/package.json
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  yarn.lock
Due: mux-player, mux-player-react, mux-video, playback-core

upgrade to mc 4
  packages/mux-player/package.json
  packages/mux-player/src/themes/classic/index.ts
  packages/mux-player/src/themes/gerwig/index.ts
  packages/mux-player/src/themes/microvideo/index.ts
  packages/mux-player/src/themes/minimal/index.ts
  yarn.lock
Due: mux-player

fix external facing types
  examples/nextjs-with-typescript/pages/MuxPlayerChapters.tsx
  packages/mux-player/src/index.ts
  packages/mux-video/src/index.ts
Due: mux-player, mux-video

spacing
  examples/nextjs-with-typescript/pages/MuxPlayerChapters.tsx
Due: none

fix: chapters and cuepoints interface doesnt reflect internal types (#977)
  examples/nextjs-with-typescript/pages/MuxPlayerChapters.tsx
  packages/mux-player/src/index.ts
  packages/mux-video/src/index.ts
Due: mux-player, mux-video

ignore theme import errors
  packages/mux-player/src/themes/microvideo/index.ts
  packages/mux-player/src/themes/minimal/index.ts
Due: mux-player

tweak tooltip positions
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

new menu elements
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/themes/classic/index.ts
  packages/mux-player/src/themes/gerwig/gerwig.html
  packages/mux-player/src/themes/gerwig/index.ts
Due: mux-player

fix(playback-core): Use userAgentData API to improve android-like platform detection for preferPlayback MSE cases.
  packages/playback-core/src/index.ts
Due: playback-core

fix classic theme
  examples/vanilla-ts-esm/public/mux-player-theme-classic.html
  packages/mux-player/src/themes/classic/classic.html
Due: mux-player

don't show tooltip in center controls
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

no-tooltips attribute / prop
  packages/mux-player/src/index.ts
  packages/mux-player/src/styles.css
Due: mux-player

reference
  packages/mux-player/REFERENCE.md
Due: mux-player

fix(playback-core): Use userAgentData API to improve android-like platform detection for preferPlayback MSE cases. (#979)
  packages/playback-core/src/index.ts
Due: playback-core

chore: Update MuxPlayer nextjs page to support preferPlayback field.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

chore: Improve MuxPlayer nextjs page to better account for more complex values. Initial re-org of prop categories.
  examples/nextjs-with-typescript/app/page-state/index.ts
  examples/nextjs-with-typescript/components/renderers.tsx
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

chore: Add beaconCollectionDomain to MuxPlayer nextjs test page.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

missing and dupe parts
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

remove unneeded ts ignore
  packages/mux-player/src/themes/minimal/index.ts
Due: mux-player

Update packages/mux-player/package.json
  packages/mux-player/package.json
Due: mux-player

player.style upgrade
  yarn.lock
Due: none

chore: Start migrating MuxPlayer nextjs text page to MUI and reorg (WIP).
  examples/nextjs-with-typescript/components/ComponentCodeRenderer.tsx
  examples/nextjs-with-typescript/components/URLPathRenderer.tsx
  examples/nextjs-with-typescript/components/renderers.tsx
  examples/nextjs-with-typescript/harness-style-overrides.css
  examples/nextjs-with-typescript/package.json
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  yarn.lock
Due: none

chore: MAY WANT TO BACK OUT - MuxPlayer nextjs exploring sizing and layout for renderers et al.
  examples/nextjs-with-typescript/components/renderers.tsx
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

tests: fix tests by using Chrome --headless=old
  packages/mux-active-viewer-count/test/web-test-runner.config.mjs
  packages/mux-audio/test/web-test-runner.config.mjs
  packages/mux-player/test/web-test-runner.config.mjs
  packages/mux-uploader/package.json
  packages/mux-uploader/test/web-test-runner.config.mjs
  packages/mux-video/test/web-test-runner.config.mjs
  packages/playback-core/test/web-test-runner.config.mjs
Due: mux-audio, mux-player, mux-video, playback-core

tests: fix tests by using Chrome --headless=old (#987)
  packages/mux-active-viewer-count/test/web-test-runner.config.mjs
  packages/mux-audio/test/web-test-runner.config.mjs
  packages/mux-player/test/web-test-runner.config.mjs
  packages/mux-uploader/package.json
  packages/mux-uploader/test/web-test-runner.config.mjs
  packages/mux-video/test/web-test-runner.config.mjs
  packages/playback-core/test/web-test-runner.config.mjs
Due: mux-audio, mux-player, mux-video, playback-core

remove seek buttons from mobile pre-playback UI
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix(mux-player, mux-player-react): Remove seek buttons from mobile pre-playback UI (#982)
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

explicit return value of null in success callback
  packages/mux-uploader/REFERENCE.md
Due: none

docs(mux-uploader): Explicit return value of null in success callback reference (#981)
  packages/mux-uploader/REFERENCE.md
Due: none

add buttons to mobile live audio view
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix(mux-player): add buttons to mobile live audio view (#985)
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

feat: implement Mux badge
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/gerwig/gerwig.html
  packages/mux-player/src/types.d.ts
Due: mux-player

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
