Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix(mux-uploader): use narrower type def for uploadstart to avoid type mismatches in dist.
  packages/mux-uploader/src/index.ts
Due: none

Publish
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
Due: none

feat(mux-uploader): Add support for directly setting file reference.
  packages/mux-uploader/src/index.ts
Due: none

fix: AttributeTokenList attribute bug on removal
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/helpers.ts
Due: mux-player

feat(playback-core): Always prefer mse on android.
  packages/playback-core/src/index.ts
Due: playback-core

test: add AttributeTokenList test coverage
  packages/mux-player/src/helpers.ts
  packages/mux-player/test/helpers.test.js
Due: mux-player

docs: add controlslist docs
  packages/mux-player/README.md
Due: mux-player

docs: add CSS parts draft
  packages/mux-player/README.md
Due: mux-player

docs: add readonly to controlsList prop
  packages/mux-player/README.md
Due: mux-player

chore: add controlslist demo controls
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/styles.css
Due: none

chore: freshen up Next.js examples
  examples/nextjs-with-typescript/pages/MuxAudio.tsx
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
  examples/nextjs-with-typescript/pages/MuxVideo.tsx
  examples/nextjs-with-typescript/pages/_app.js
  examples/nextjs-with-typescript/pages/mux-audio.tsx
  examples/nextjs-with-typescript/pages/mux-player.tsx
  examples/nextjs-with-typescript/pages/mux-video.tsx
  examples/nextjs-with-typescript/styles.css
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
Due: mux-player, mux-player-react

fix: add top and bottom parts to elements
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
Due: mux-player

feat: add foundation of controlsList logic
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

fix: add rest of block controlslist attr values
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/test/player.test.js
  packages/mux-player/test/template.test.js
Due: mux-player

chore: add info to publish logging for dist files generated and successful begin and end of scripts.
  scripts/publish.sh
Due: none

chore: minor change to make a valid PR.
  scripts/publish.sh
Due: none

build: set timeout-minutes to 15 for ci 'build' job due to intermittent hangs.
  .github/workflows/ci.yml
Due: none

fix(mux-uploader): Rename error event.
  packages/mux-uploader/src/index.ts
Due: none

fix(mux-uploader-react): Rename error event.
  packages/mux-uploader-react/src/index.tsx
Due: none

docs(mux-uploader): Update READMEs and example.
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
  packages/mux-uploader-react/README.md
  packages/mux-uploader/README.md
Due: none

docs(mux-player-react): correct streamtypes in readme for dvr.
  packages/mux-player-react/README.md
Due: mux-player, mux-player-react

feat(mux-player-react): add missing event listeners
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

docs(mux-player-react): refer mux-player's doc about event listeners
  packages/mux-player-react/README.md
Due: mux-player, mux-player-react

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
