Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

fix: upgrade Media Chrome 4.3.0
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: undefined string bug
  packages/mux-player-react/src/common/utils.ts
Due: mux-player, mux-player-react

fix: React 19 bool prop to attr value bug fix #1015
  packages/mux-player-react/src/common/utils.ts
Due: mux-player, mux-player-react

example: add Astro React 19 example
  examples/astro/.gitignore
  examples/astro/.vscode/extensions.json
  examples/astro/.vscode/launch.json
  examples/astro/README.md
  examples/astro/astro.config.mjs
  examples/astro/package.json
  examples/astro/public/favicon.svg
  examples/astro/public/images/github-logo.svg
  examples/astro/src/assets/astro.svg
  examples/astro/src/assets/background.svg
  examples/astro/src/components/DefaultHeader.astro
  examples/astro/src/components/Welcome.astro
  examples/astro/src/layouts/Layout.astro
  examples/astro/src/pages/index.astro
  examples/astro/src/pages/mux-player-react-lazy.astro
  examples/astro/src/pages/mux-player-react.astro
  examples/astro/tsconfig.json
  yarn.lock
Due: none

feat: use MC media-error-dialog (#1014)
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-error.html
  packages/.eslintrc.json
  packages/mux-audio-react/src/index.tsx
  packages/mux-player-react/src/common/utils.ts
  packages/mux-player/package.json
  packages/mux-player/src/dialog.ts
  packages/mux-player/src/errors.ts
  packages/mux-player/src/html.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/dialog.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
  packages/mux-player/src/types.d.ts
  packages/mux-player/src/utils.ts
  packages/mux-player/src/video-api.ts
  packages/mux-player/test/player.test.js
  packages/mux-player/test/template.test.js
  packages/mux-player/tsconfig.json
  packages/mux-video-react/src/index.tsx
  packages/playback-core/package.json
  packages/playback-core/src/autoplay.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/media-tracks.ts
  packages/playback-core/src/util.ts
  shared/polyfills/index.ts
  types/media-chrome.d.ts
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

feat: Set default player init time for all elements for greater accuracy. Expose attr+prop for externally defined player init time.
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/index.ts
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

test: upgrade to latest test runner and chrome (puppeteer) launcher due to headless compat issues. Fix test for new headless chrome.
  package.json
  packages/mux-active-viewer-count/package.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-player/test/player.test.js
  packages/mux-player/test/web-test-runner.config.mjs
  packages/mux-uploader/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  yarn.lock
Due: mux-audio, mux-player, mux-video, playback-core

chore: comment cleanup.
  packages/mux-player/test/player.test.js
  packages/mux-player/test/web-test-runner.config.mjs
Due: mux-player

DO NOT MERGE. Log out ua for CI vs. local.
  packages/mux-player/test/player.test.js
Due: mux-player

chore: back out test refactor due to CI issues.
  packages/mux-player/test/player.test.js
Due: mux-player

fix: remove defaultMuted conversion
  packages/mux-player-react/src/common/utils.ts
Due: mux-player, mux-player-react

docs(mux-player, mux-player-react): reference docs cleanup for player init time.
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
Due: mux-player, mux-player-react

fix: React 19 bool prop to attr value bug (#1026)
  packages/mux-player-react/src/common/utils.ts
Due: mux-player, mux-player-react

fix: React 19 bool prop to attr value bug + Astro React 19 (#1029)
  examples/astro/.gitignore
  examples/astro/.vscode/extensions.json
  examples/astro/.vscode/launch.json
  examples/astro/README.md
  examples/astro/astro.config.mjs
  examples/astro/package.json
  examples/astro/public/favicon.svg
  examples/astro/public/images/github-logo.svg
  examples/astro/src/assets/astro.svg
  examples/astro/src/assets/background.svg
  examples/astro/src/components/DefaultHeader.astro
  examples/astro/src/components/Welcome.astro
  examples/astro/src/layouts/Layout.astro
  examples/astro/src/pages/index.astro
  examples/astro/src/pages/mux-player-react-lazy.astro
  examples/astro/src/pages/mux-player-react.astro
  examples/astro/tsconfig.json
  yarn.lock
Due: none

feat: Set default player init time for all elements for greater accuracy. Expose attr+prop for externally defined player init time. (#1034)
  package.json
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/package.json
  packages/mux-audio/src/index.ts
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/test/web-test-runner.config.mjs
  packages/mux-uploader/package.json
  packages/mux-video-react/src/index.tsx
  packages/mux-video/package.json
  packages/mux-video/src/index.ts
  packages/playback-core/package.json
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore: upgrade turbo
  package.json
  turbo.json
  yarn.lock
Due: none

chore: upgrade turbo (#1035)
  package.json
  turbo.json
  yarn.lock
Due: none

fix: upgrade player.style 0.1.0
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: upgrade player.style 0.1.0 (#1032)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

chore: replace Lerna w/ Release Please and use Turbo for task runner
  .github/release-please/.release-please-manifest.json
  .github/release-please/release-please-config.json
  .github/workflows/cd.yml
  README_INTERNAL.md
  package.json
  scripts/publish-packages/package.json
  scripts/publish-packages/publish-packages.js
  scripts/publish.sh
  yarn.lock
Due: none

chore: replace Lerna w/ Release Please (#1036)
  .github/release-please/.release-please-manifest.json
  .github/release-please/release-please-config.json
  .github/workflows/cd.yml
  README_INTERNAL.md
  package.json
  scripts/publish-packages/package.json
  scripts/publish-packages/publish-packages.js
  scripts/publish.sh
  yarn.lock
Due: none

chore: fix release please pkg path
  .github/release-please/.release-please-manifest.json
  .github/release-please/release-please-config.json
Due: none

chore: fix turbo publish-release remove unneeded create-release-notes script
  package.json
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  scripts/create-release-notes/create-release-notes.js
  scripts/create-release-notes/package.json
  turbo.json
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore: fix canary and release please tags
  .github/release-please/.release-please-manifest.json
  package.json
  turbo.json
Due: none

chore: fix release please tag weirdness
  .github/release-please/.release-please-manifest.json
  .github/release-please/release-please-config.json
  .github/workflows/cd.yml
Due: none

chore: add release please bootstrap sha
  .github/release-please/release-please-config.json
  .github/workflows/cd.yml
Due: none

chore: try explicit package name for release plz
  .github/release-please/release-please-config.json
Due: none

chore: try with setting component
  .github/release-please/release-please-config.json
Due: none

chore: add prerelease type for viewer count
  .github/release-please/release-please-config.json
Due: none

chore: use prerelease versioning for viewer count
  .github/release-please/release-please-config.json
Due: none

fix: Append of each child of component tree to the mux-video instead of append only parent
  packages/mux-player/src/video-api.ts
Due: mux-player

fix: Reverted parent component check, changed observer options to avoid copy of subtree nodes
  packages/mux-player/src/video-api.ts
Due: mux-player

fix: use default slot to forward media children
  examples/vanilla-ts-esm/public/mux-player.html
  examples/vanilla-ts-esm/public/vtt/elephantsdream/captions.ja.vtt
  examples/vanilla-ts-esm/public/vtt/elephantsdream/chapters.vtt
  packages/mux-player/src/template.ts
  packages/mux-player/src/video-api.ts
  packages/mux-player/test/template.test.js
Due: mux-player

fix: Mux-player childList observer behavior (#1041)
  examples/vanilla-ts-esm/public/mux-player.html
  examples/vanilla-ts-esm/public/vtt/elephantsdream/captions.ja.vtt
  examples/vanilla-ts-esm/public/vtt/elephantsdream/chapters.vtt
  packages/mux-player/src/template.ts
  packages/mux-player/src/video-api.ts
  packages/mux-player/test/template.test.js
Due: mux-player

chore: update canary release script, fix numbering
  .github/workflows/ci.yml
  lerna.json
  package.json
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  scripts/publish.sh
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core
