Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

updating .md's
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
  packages/mux-video/README.md
Due: mux-player, mux-player-react, mux-video

taking the maximum value between width and height
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
  packages/mux-video/README.md
  packages/playback-core/src/min-cap-level-controller.ts
Due: mux-player, mux-player-react, mux-video, playback-core

upgrade hls.js to 1.6.15
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-player, mux-video, playback-core

capping the minimum between width and height
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
  packages/mux-video/README.md
  packages/playback-core/src/min-cap-level-controller.ts
Due: mux-player, mux-player-react, mux-video, playback-core

update package lock
  package-lock.json
Due: none

Reorganized Fairplay setup
  packages/playback-core/src/index.ts
Due: playback-core

Fixes for lint Github Action
  packages/playback-core/src/index.ts
Due: playback-core

fix: upgrade hls.js to 1.6.15 (#1244)
  package-lock.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-player, mux-video, playback-core

fix: Upgrade ce-la-react
  packages/mux-video/package.json
Due: mux-video

Upgraded ce-la-react direct dependency
  package-lock.json
Due: none

Updated media chrome
  examples/nextjs-with-typescript/package.json
  packages/mux-player/package.json
Due: mux-player

Updated media chrome to 4.6.1
  package-lock.json
  packages/mux-video/package.json
Due: mux-video

ts improvement
  packages/playback-core/src/min-cap-level-controller.ts
Due: playback-core

fix: Upgrade ce-la-react (#1248)
  examples/nextjs-with-typescript/package.json
  package-lock.json
  packages/mux-player/package.json
  packages/mux-video/package.json
Due: mux-player, mux-video

changing approach, using only maxAutoResolution
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/mux-player.tsx
Due: none

changing approach, using only maxAutoResolution
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/types.ts
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/base.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.ts
  packages/mux-video/README.md
  packages/mux-video/src/base.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/min-cap-level-controller.ts
  packages/playback-core/src/types.ts
Due: mux-player, mux-player-react, mux-video, playback-core

referencing pricing documentation
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
  packages/mux-video/README.md
  packages/playback-core/src/min-cap-level-controller.ts
Due: mux-player, mux-player-react, mux-video, playback-core

feat: add `max-auto-resolution` attribute for automatic resolution capping (#1243)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/mux-player.tsx
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/types.ts
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/base.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.ts
  packages/mux-video/README.md
  packages/mux-video/src/base.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/min-cap-level-controller.ts
  packages/playback-core/src/types.ts
Due: mux-player, mux-player-react, mux-video, playback-core

Moved generateRequest to the end of the function and added an await; changed saveAndDispatchError to Promise.reject to propagate failure; added teardown function to remove listeners and close session.
  packages/playback-core/src/index.ts
Due: playback-core

Added extra saveAndDispatchError for license key fail inside message handler
  packages/playback-core/src/index.ts
Due: playback-core

Save and dispatch error for other cases
  packages/playback-core/src/index.ts
Due: playback-core

Cleaned up
  packages/playback-core/src/types.ts
Due: playback-core

Initial implementation
  examples/nextjs-with-typescript/pages/mux-video-react.tsx
  examples/vanilla-ts-esm/public/mux-video.html
  packages/mux-player/src/base.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.ts
  packages/mux-video/src/ads/react.ts
  packages/mux-video/src/base.ts
  packages/mux-video/src/react.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-player, mux-video, playback-core

button text for file select slot can now be customized
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/test/file-select.test.js
Due: none

Restructured onMessage
  packages/playback-core/src/index.ts
Due: playback-core

simplify logic and add default text to file-select button
  packages/mux-uploader/src/mux-uploader-file-select.ts
Due: none

fix react case
  packages/mux-uploader/src/mux-uploader-file-select.ts
Due: none

fix: Properly setup DRM to support Airplay (#1245)
  packages/playback-core/src/index.ts
Due: playback-core

Cleaned up examples
  examples/nextjs-with-typescript/components/renderers.tsx
  examples/nextjs-with-typescript/pages/mux-video-react.tsx
  examples/vanilla-ts-esm/public/mux-video.html
Due: none

fix: button text for file-select slot can now be customized (#1252)
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/test/file-select.test.js
Due: none

Added property to mux-player-react and extended example
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-react/src/types.ts
  packages/playback-core/src/index.ts
Due: mux-player, mux-player-react, playback-core

Removed attribute support for capLevelToPlayerSize
  packages/mux-player/src/base.ts
  packages/mux-video/src/base.ts
Due: mux-player, mux-video

Default to MSE for all browsers except Safari to fix captions in chromium based browsers
  packages/playback-core/src/index.ts
Due: playback-core

restore turbo file
  turbo.json
Due: none

remove browserBrands
  packages/playback-core/src/index.ts
Due: playback-core

fix: default to MSE except safari (#1254)
  packages/playback-core/src/index.ts
Due: playback-core
