Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

Unblock ts error
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader/src/index.ts
Due: none

feat(mux-player-react): Force version bump to 1.7.0 for parity with mux-player.
  packages/mux-player-react/README.md
Due: mux-player, mux-player-react

feat(mux-player-react): Force version bump to 1.7.0 for parity with mux-player (minor code refactor for lerna).
  packages/mux-player-react/README.md
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
Due: mux-player, mux-player-react

chore: use captions-menu-button from the new location
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  yarn.lock
Due: mux-player

m-c bump
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

Remove class name
  packages/mux-uploader/src/mux-uploader-status.ts
Due: none

Apply color at host
  packages/mux-uploader/src/mux-uploader-status.ts
Due: none

Clean listeners
  packages/mux-uploader/src/mux-uploader-status.ts
Due: none

fix(playback-core): Only initialize with setupCuePoints when using hls for playback.
  packages/playback-core/src/index.ts
Due: playback-core

Update packages/playback-core/src/index.ts
  packages/playback-core/src/index.ts
Due: playback-core

fix(playback-core): Only initialize with setupCuePoints when using hls.js for playback
  packages/playback-core/src/index.ts
Due: playback-core

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

livestream status element
  examples/vanilla-ts-esm/package.json
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-livestream-status.html
  examples/vanilla-ts-esm/src/mux-livestream-status.ts
  packages/mux-livestream-status/.npmignore
  packages/mux-livestream-status/CHANGELOG.md
  packages/mux-livestream-status/README.md
  packages/mux-livestream-status/package.json
  packages/mux-livestream-status/src/index.ts
  packages/mux-livestream-status/src/shared.ts
  packages/mux-livestream-status/src/subscribeLivestreamStatus.ts
  packages/mux-livestream-status/test/index.test.js
  packages/mux-livestream-status/test/web-test-runner.config.mjs
  packages/mux-livestream-status/tsconfig.json
Due: none

demo: cuepoints - notes
  examples/nextjs-with-typescript/package.json
  examples/nextjs-with-typescript/pages/index.tsx
  yarn.lock
Due: none

First pass on refactoring retry logic
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/mux-uploader-retry.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/retry.test.js
  packages/mux-uploader/test/status.test.js
  packages/mux-uploader/test/uploader.test.js
Due: none

demo: cuepoints - notes
  examples/nextjs-with-typescript/pages/MuxPlayerCuePoints.tsx
Due: none

Create new abortcontroller in connectedcallback
  packages/mux-uploader/src/mux-uploader-status.ts
Due: none

bump to real media-chrome release
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

chore: use captions-menu-button from the new location (#564)
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  yarn.lock
Due: mux-player

chore(mux-uploader, mux-uploader-react): Types cleanup.
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/mux-uploader-status.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/src/utils/element-utils.ts
Due: none

chore(mux-uploader): refactor status message intro own component (#563)
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/mux-uploader-status.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/src/utils/element-utils.ts
  packages/mux-uploader/test/status.test.js
  packages/mux-uploader/test/uploader.test.js
Due: none

handle early preload
  examples/vanilla-ts-esm/public/mux-player-cuepoints.html
Due: none

chore: Add preload auto to cuepoints example to test theory.
  examples/vanilla-ts-esm/public/mux-player-cuepoints.html
Due: none

remove test pages from vanilla.
  examples/vanilla-ts-esm/public/mux-player-cuepoints-compare.html
  examples/vanilla-ts-esm/public/mux-player-track-compare.html
Due: none

refactor promise for setup to use loadstart.
  packages/playback-core/src/tracks.ts
Due: playback-core

revert unneeded changes
  examples/vanilla-ts-esm/public/mux-player-cuepoints.html
  packages/mux-video/src/index.ts
  packages/playback-core/src/tracks.ts
Due: mux-video, playback-core

WIP! Has exploratory code in it. Does not solve problem.
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/tracks.ts
Due: mux-video, playback-core

WIP fix safari cuepoints
  examples/vanilla-ts-esm/public/mux-player-cuepoints-compare.html
  examples/vanilla-ts-esm/public/mux-player-track-compare.html
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/tracks.ts
Due: mux-video, playback-core

remove test code and logging
  packages/playback-core/src/index.ts
  packages/playback-core/src/tracks.ts
Due: playback-core

fix: Improve behavior for cuepoints with Safari usage.
  examples/vanilla-ts-esm/public/mux-player-cuepoints.html
  packages/playback-core/src/index.ts
  packages/playback-core/src/tracks.ts
Due: playback-core

Fix wonky merge
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader/src/mux-uploader-retry.ts
  packages/mux-uploader/src/mux-uploader.ts
Due: none

Init abortcontroller in connected callback
  packages/mux-uploader/src/mux-uploader-retry.ts
Due: none

Test keyup
  packages/mux-uploader/test/retry.test.js
Due: none

chore(mux-uploader): refactor retry logic (#567)
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/mux-uploader-retry.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/retry.test.js
  packages/mux-uploader/test/status.test.js
  packages/mux-uploader/test/uploader.test.js
Due: none

fix(playback-core): Typescript + min acrobatics to make svelte and others happy.
  packages/playback-core/src/autoplay.ts
  packages/playback-core/src/hls.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/tracks.ts
  packages/playback-core/src/types.ts
Due: playback-core

fix(playback-core): explicitly import type from hls.js to facilitate tree shaking and related
  packages/playback-core/src/hls.ts
Due: playback-core

build: fix tests build mapping for hls.min.js
  packages/mux-audio/test/web-test-runner.config.mjs
  packages/mux-player/test/web-test-runner.config.mjs
  packages/mux-video/test/web-test-runner.config.mjs
  packages/playback-core/test/web-test-runner.config.mjs
  shared/test-esm-exports/hls.mjs
Due: mux-audio, mux-player, mux-video, playback-core

fix(playback-core): Typescript + min acrobatics to make svelte and others happy
  packages/mux-audio/test/web-test-runner.config.mjs
  packages/mux-player/test/web-test-runner.config.mjs
  packages/mux-video/test/web-test-runner.config.mjs
  packages/playback-core/src/autoplay.ts
  packages/playback-core/src/hls.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/tracks.ts
  packages/playback-core/src/types.ts
  packages/playback-core/test/web-test-runner.config.mjs
  shared/test-esm-exports/hls.mjs
Due: mux-audio, mux-player, mux-video, playback-core

Remove rogue el
  packages/mux-uploader/src/mux-uploader.ts
Due: none
