Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

bump media chrome to 1.4.2
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

chore: Bump media chrome to 1.4.2 (#764)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix(mux-video,mux-audio): (re)load core when connected, since we currently unload core when disconnected.
  packages/mux-audio/src/index.ts
  packages/mux-video/src/index.ts
Due: mux-audio, mux-video

fix(mux-video,mux-audio): reload core on DOM connect (#765)
  packages/mux-audio/src/index.ts
  packages/mux-video/src/index.ts
Due: mux-audio, mux-video

Publish
  packages/mux-active-viewer-count/CHANGELOG.md
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

removed hard coded icon fill
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

fix wrong airplay icon
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

allow text color override
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

updated parts
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

fix(mux-player): placeholder not applying properly to media-poster-image since v1.0. Update css rules to show poster if placeholder only.
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
Due: mux-player

fix(mux-player): placeholder not applying properly to media-poster-im… (#769)
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
Due: mux-player

feat(mux-player): Extra template parts in 2023 theme (#768)
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

feat(mux-player): Theme 2023 icons (#766)
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

part definition for media-control-bar in old and new themes
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/2023/2023.html
  packages/mux-player/src/themes/classic/classic.html
Due: mux-player

fix test
  packages/mux-player/test/template.test.js
Due: mux-player

chore: add small test page fixes
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

fix: audio track select icon
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

fix: optimize 3 dots icon
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

fix: pre play button transform bug
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

feat: export control bars part for styling (#773)
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/2023/2023.html
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/test/template.test.js
Due: mux-player

fix: improve 2023 icons (#774)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

upgrade guide for v2
  packages/mux-player/UPGRADING_V1_to_V2.md
Due: mux-player

classic -> daniel
  packages/mux-player-react/src/themes/classic.ts
  packages/mux-player-react/src/themes/daniel.ts
  packages/mux-player/package.json
  packages/mux-player/scripts/build-themes.mjs
  packages/mux-player/src/index.ts
  packages/mux-player/src/themes/daniel/daniel.html
  packages/mux-player/src/themes/daniel/index.ts
Due: mux-player, mux-player-react

2023 -> Gerwig
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-theme-gerwig.html
  examples/vanilla-ts-esm/src/mux-player-2023-theme.ts
  examples/vanilla-ts-esm/src/mux-player-gerwig-theme.ts
  packages/mux-player-react/src/themes/2023.ts
  packages/mux-player-react/src/themes/gerwig.ts
  packages/mux-player/package.json
  packages/mux-player/scripts/build-themes.mjs
  packages/mux-player/src/themes/gerwig/gerwig.html
  packages/mux-player/src/themes/gerwig/index.ts
Due: mux-player, mux-player-react

Revert "classic -> daniel"
  packages/mux-player-react/src/themes/classic.ts
  packages/mux-player-react/src/themes/daniel.ts
  packages/mux-player/package.json
  packages/mux-player/scripts/build-themes.mjs
  packages/mux-player/src/index.ts
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/classic/index.ts
Due: mux-player, mux-player-react

add note about stream type
  packages/mux-player/UPGRADING_V1_to_V2.md
Due: mux-player

extra stream type info
  packages/mux-player/UPGRADING_V1_to_V2.md
Due: mux-player

fix: audio track API for 1 track
  packages/playback-core/src/index.ts
  packages/playback-core/src/media-tracks.ts
Due: playback-core

fix: audio track API for 1 track (#776)
  packages/playback-core/src/index.ts
  packages/playback-core/src/media-tracks.ts
Due: playback-core

feat: Upgrade guide for new theme (#775)
  packages/mux-player/UPGRADING_V1_to_V2.md
Due: mux-player

feat: add startLevel prop to mux-video-react
  packages/mux-video-react/src/index.tsx
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/test/index.test.js
Due: mux-video, mux-video-react, playback-core

mux-theme element display block
  packages/mux-player/src/themes/2023/2023.html
  packages/mux-player/src/themes/classic/classic.html
Due: mux-player

fix(playback-core): Use optional chaining and nullish defaulting for edge case RTE.
  packages/playback-core/src/index.ts
Due: playback-core

feat: Rename new default theme (#771)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-theme-gerwig.html
  examples/vanilla-ts-esm/src/mux-player-2023-theme.ts
  examples/vanilla-ts-esm/src/mux-player-gerwig-theme.ts
  packages/mux-player-react/src/themes/2023.ts
  packages/mux-player-react/src/themes/gerwig.ts
  packages/mux-player/package.json
  packages/mux-player/scripts/build-themes.mjs
  packages/mux-player/src/themes/gerwig/gerwig.html
  packages/mux-player/src/themes/gerwig/index.ts
Due: mux-player, mux-player-react

fix(playback-core): Use optional chaining and nullish defaulting for edge case RTE
  packages/playback-core/src/index.ts
Due: playback-core

restore in-block, internalise line-height: 0 to player style
  examples/nextjs-with-typescript/styles.css
  examples/svelte-kit/src/routes/mux-player-theme/+page.svelte
  examples/svelte-kit/src/routes/mux-player/+page.svelte
  examples/vanilla-ts-esm/public/mux-player-audio-tracks.html
  examples/vanilla-ts-esm/public/mux-player-cuepoints.html
  examples/vanilla-ts-esm/public/mux-player-poster-slot.html
  examples/vanilla-ts-esm/public/mux-player-renditions.html
  examples/vanilla-ts-esm/public/mux-player-theme-gerwig.html
  examples/vanilla-ts-esm/public/mux-player-theme.html
  examples/vanilla-ts-esm/public/mux-player.html
  examples/vue-with-typescript/src/views/MuxPlayerView.vue
  packages/mux-player/src/styles.css
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

bump media chrome to 1.4.3
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: Extra spacing underneath player (#779)
  examples/nextjs-with-typescript/styles.css
  examples/svelte-kit/src/routes/mux-player-theme/+page.svelte
  examples/svelte-kit/src/routes/mux-player/+page.svelte
  examples/vanilla-ts-esm/public/mux-player-audio-tracks.html
  examples/vanilla-ts-esm/public/mux-player-cuepoints.html
  examples/vanilla-ts-esm/public/mux-player-poster-slot.html
  examples/vanilla-ts-esm/public/mux-player-renditions.html
  examples/vanilla-ts-esm/public/mux-player-theme-gerwig.html
  examples/vanilla-ts-esm/public/mux-player-theme.html
  examples/vanilla-ts-esm/public/mux-player.html
  examples/vue-with-typescript/src/views/MuxPlayerView.vue
  packages/mux-player/src/styles.css
Due: mux-player

bump to 1.4.3
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

chore: bump media chrome version to 1.4.3 (#783)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
