Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix(playback-core): Make sure seekable TimeRanges is populated when updating state.
  packages/playback-core/src/index.ts
Due: playback-core

fix(playback-core): Make sure seekable TimeRanges is populated when updating state. (#1004)
  packages/playback-core/src/index.ts
Due: playback-core

fix: CRA homepage link (#1003)
  examples/create-react-app-with-typescript/package.json
Due: none

test(mux-player): Basic POC and impl for web-test-runner + SauceLabs.
  packages/mux-player/package.json
  packages/mux-player/test/web-test-runner.saucelabs.config.mjs
  yarn.lock
Due: mux-player

build: round 3 attempt to get env vars passed on GHAs.
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

build: add sauce labs creds to GHA yamls for tests.
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

test(mux-player): Add saucelabs testing to default test npm script. Early exit process if no saucelabs creds found.
  packages/mux-player/package.json
  packages/mux-player/test/web-test-runner.saucelabs.config.mjs
Due: mux-player

build: refactor GHA for env var pickup. Cleanup Sauce Labs exit status cases.
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  packages/mux-player/test/web-test-runner.saucelabs.config.mjs
Due: mux-player

build: github failing on GHA env.
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

test(mux-player): back out GHA sauce labs integration changes.
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  packages/mux-player/package.json
  packages/mux-player/test/web-test-runner.saucelabs.config.mjs
Due: mux-player

test changes only (DO NOT MERGE)
  .github/workflows/ci.yml
  packages/mux-player/test/web-test-runner.saucelabs.config.mjs
Due: mux-player

test(mux-player): minor tweaks to tests to improve reliability.
  packages/mux-player/test/player.test.js
Due: mux-player

docs: Update monorepo docs to discuss testing (including Sauce Labs).
  README_INTERNAL.md
Due: none

test(mux-player, mux-video): Cleanup various async test conditions bc they were wrong.
  packages/mux-player/test/player.test.js
  packages/mux-video/test/index.test.js
Due: mux-player, mux-video

test(mux-player): Basic POC and impl for web-test-runner + SauceLabs. (#984)
  README_INTERNAL.md
  packages/mux-player/package.json
  packages/mux-player/test/player.test.js
  packages/mux-player/test/web-test-runner.saucelabs.config.mjs
  packages/mux-video/test/index.test.js
  yarn.lock
Due: mux-player, mux-video

Update React peer dependencies to include RCs
  packages/mux-player-react/package.json
Due: mux-player, mux-player-react

Update React peer dependencies to include RCs (#1005)
  packages/mux-player-react/package.json
Due: mux-player, mux-player-react

fix: add updated peer deps to other React pkgs
  packages/mux-audio-react/package.json
  packages/mux-uploader-react/package.json
  packages/mux-video-react/package.json
Due: mux-audio, mux-audio-react, mux-video, mux-video-react

fix: too strict engine requirement
  package.json
Due: none

fix: add updated peer deps to other React pkgs (#1006)
  package.json
  packages/mux-audio-react/package.json
  packages/mux-uploader-react/package.json
  packages/mux-video-react/package.json
Due: mux-audio, mux-audio-react, mux-video, mux-video-react

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: move package exports default condition to be last
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix(mux-video, mux-video-react, mux-audio, mux-audio-react, mux-player, mux-player-react): Expose element name and version via exports and statics for web components.
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/index.ts
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

fix(mux-video, mux-video-react, mux-audio, mux-audio-react, mux-player, mux-player-react): Expose element name and version via exports and statics for web components. (#1017)
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/index.ts
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

fix: move package exports default condition to be last (#1013)
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

feat(playback-core): Customize CapLevelController for hls.js to avoid capping to low quality at small player sizes.
  packages/playback-core/src/index.ts
  packages/playback-core/src/min-cap-level-controller.ts
Due: playback-core

chore: Update nextjs MuxPlayer page to allow for setting width explicitly.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

fix(playback-core): Adjusting min max cap logic to use explicit resolution cap value.
  packages/playback-core/src/min-cap-level-controller.ts
Due: playback-core

fix(playback-core): Fix dum dum error in logic for min max cap.
  packages/playback-core/src/min-cap-level-controller.ts
Due: playback-core

chore(playback-core): clean up (unused types. code comments).
  packages/playback-core/src/min-cap-level-controller.ts
Due: playback-core

chore(playback-core): Simplify static usage.
  packages/playback-core/src/min-cap-level-controller.ts
Due: playback-core

feat(playback-core): custom cap level controller (#1010)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/playback-core/src/index.ts
  packages/playback-core/src/min-cap-level-controller.ts
Due: playback-core

fix: tracks updating after load new playback id fix #936
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-audio/package.json
  packages/mux-video/package.json
  yarn.lock
Due: mux-audio, mux-video

fix: tracks updating after load new playback id (#1021)
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-audio/package.json
  packages/mux-video/package.json
  yarn.lock
Due: mux-audio, mux-video

fix: use dialog slot / remove unneeded nohotkeys condition
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix: add underscore ignore eslint rule
  packages/.eslintrc.json
  packages/mux-audio-react/src/index.tsx
  packages/mux-player/src/errors.ts
  packages/mux-player/src/html.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/utils.ts
  packages/mux-player/src/video-api.ts
  packages/mux-video-react/src/index.tsx
  packages/playback-core/src/util.ts
  shared/polyfills/index.ts
Due: mux-audio, mux-audio-react, mux-player, mux-video, mux-video-react, playback-core

feat: use MC media-error-dialog requires https://github.com/muxinc/media-chrome/pull/1024
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-error.html
  packages/mux-player/src/dialog.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/dialog.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
  packages/mux-player/src/types.d.ts
  packages/mux-player/test/player.test.js
  packages/mux-player/test/template.test.js
  packages/mux-player/tsconfig.json
  packages/playback-core/package.json
  packages/playback-core/src/index.ts
  types/media-chrome.d.ts
Due: mux-player, playback-core

fix: fallback to base formatErrorMessage, slot
  packages/mux-player/src/index.ts
  packages/mux-player/src/themes/classic/classic.html
Due: mux-player

fix: use direct exports for error info
  packages/mux-player/src/errors.ts
  packages/mux-player/src/index.ts
Due: mux-player

fix: lint errors
  packages/playback-core/src/autoplay.ts
  packages/playback-core/src/media-tracks.ts
  packages/playback-core/src/util.ts
Due: playback-core

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
