Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

Allow strings for built-in themes
  examples/astro/src/pages/mux-player-classic-theme.astro
  examples/astro/src/pages/mux-player-microvideo-theme.astro
  package-lock.json
  packages/mux-player-astro/README.md
  packages/mux-player-astro/package.json
  packages/mux-player-astro/src/MuxPlayer.astro
  packages/mux-player-astro/src/ads/MuxPlayer.astro
  packages/mux-player-astro/src/types.ts
  packages/mux-player-astro/src/utils.ts
  packages/playback-core/src/text-tracks.ts
Due: mux-player, playback-core

chore: add mux-player-astro and mux-uploader-astro to release-please
  .github/release-please/.release-please-manifest.json
  .github/release-please/release-please-config.json
Due: none

chore: fix Astro versions
  .github/release-please/.release-please-manifest.json
  examples/astro/package.json
  package-lock.json
  packages/mux-player-astro/package.json
  packages/mux-uploader-astro/package.json
Due: mux-player

feat: Add switch to control the behavior of the ended event (#1181)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-react/src/types.ts
  packages/mux-player/src/base.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.ts
  packages/mux-video/src/base.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-player, mux-player-react, mux-video, playback-core

Add API reference for Astro
  packages/mux-player-astro/REFERENCE.md
  packages/mux-uploader-astro/REFERENCE.md
Due: mux-player

Update README
  packages/mux-player-astro/README.md
  packages/mux-uploader-astro/README.md
Due: mux-player

docs: Add API reference for Astro (#1194)
  packages/mux-player-astro/README.md
  packages/mux-player-astro/REFERENCE.md
  packages/mux-uploader-astro/README.md
  packages/mux-uploader-astro/REFERENCE.md
Due: mux-player

fix: add repository to astro packages package.json
  packages/mux-player-astro/package.json
  packages/mux-uploader-astro/package.json
Due: mux-player

pr fixes move filter to play button
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

Replace blurhash (deprecated) with blurup
  packages/mux-player-react/README.md
Due: mux-player, mux-player-react

Replace blurhash (deprecated) with blurup (#1203)
  packages/mux-player-react/README.md
Due: mux-player, mux-player-react

done
  examples/nextjs-with-typescript/package.json
  package-lock.json
  packages/mux-player/package.json
Due: mux-player

fix: bump media chrome to `4.14.0` (#1205)
  examples/nextjs-with-typescript/package.json
  package-lock.json
  packages/mux-player/package.json
Due: mux-player

feat: allow remove filter shadow to center buttons in gerwig and classic themes
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

upgrade hls.js to 1.6.13
  packages/mux-audio/package.json
  packages/mux-elements-codemod/tsconfig.json
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-player, mux-video, playback-core

Add MENU_ITEM constant to template
  packages/mux-player/src/template.ts
Due: mux-player

Add THUMB also
  packages/mux-player/src/template.ts
Due: mux-player

fix: upgrade hls.js to 1.6.13 (#1211)
  packages/mux-audio/package.json
  packages/mux-elements-codemod/tsconfig.json
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-player, mux-video, playback-core

Add support for disable-tracking and disable-cookies reactive
  packages/mux-video/src/base.ts
Due: mux-video

feat(themes): expose centered layout (#1183)
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

add exportparts="thumb" to classic and gerwig themes
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

restore turbo file
  turbo.json
Due: none

feat: Properly typed CSSProperties for mux-player custom CSS vars
  packages/mux-player-react/src/types.ts
Due: mux-player, mux-player-react

add support to define custom fullscreen element
  packages/mux-player-react/src/types.ts
  packages/mux-player/src/base.ts
  packages/mux-player/src/types.ts
Due: mux-player, mux-player-react

starting feature
  examples/nextjs-with-typescript/pages/MuxPlayerBufferingControl.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/vanilla-ts-esm/public/buffering-control.html
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/base.ts
  packages/mux-player/src/types.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/base.ts
  packages/mux-video/src/types.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/preload.ts
  packages/playback-core/src/types.ts
Due: mux-player, mux-video, mux-video-react, playback-core

improve examples
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-buffering-control.html
Due: none

fix: same fix for web component
  packages/mux-player-react/src/lazy.tsx
  packages/mux-player-react/src/types.ts
  packages/mux-video-react/src/index.tsx
Due: mux-player, mux-player-react, mux-video, mux-video-react

remove comment
  examples/vanilla-ts-esm/public/mux-player-buffering-control.html
Due: none

fix: ignore minmax cap controller if users explicitly set capLevelToPlayerSize.
  packages/playback-core/src/index.ts
Due: playback-core

fix: do what I actually said I would do.
  packages/playback-core/src/index.ts
Due: playback-core

fix: override player minmax (#1219)
  packages/playback-core/src/index.ts
Due: playback-core

improve test
  examples/nextjs-with-typescript/pages/MuxPlayerBufferingControl.tsx
Due: none

add locale prop to mux uploader to translate texts using i18n. supported locales: de, en, es, fr
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader/lang/de.json
  packages/mux-uploader/lang/en.json
  packages/mux-uploader/lang/es.json
  packages/mux-uploader/lang/fr.json
  packages/mux-uploader/package.json
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader-pause.ts
  packages/mux-uploader/src/mux-uploader-retry.ts
  packages/mux-uploader/src/mux-uploader-sr-text.ts
  packages/mux-uploader/src/mux-uploader-status.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/src/utils/i18n.ts
Due: none

set locale based on browser language if not explicitly set. set it to 'en' if there is no locale attribute present and browser language is not supported
  packages/mux-uploader/src/mux-uploader.ts
Due: none

removing mux video and redundancy
  examples/nextjs-with-typescript/pages/mux-player.tsx
  packages/mux-player-react/src/types.ts
  packages/mux-video-react/src/index.tsx
Due: mux-player, mux-player-react, mux-video, mux-video-react

unnecesary changes
  examples/nextjs-with-typescript/pages/mux-player.tsx
  packages/mux-video-react/src/index.tsx
Due: mux-video, mux-video-react

update english translation file and enhance locale handling to fall back to 'en' if an unsupported locale is set
  packages/mux-uploader/lang/en.json
  packages/mux-uploader/src/mux-uploader.ts
Due: none

adjust english translation file
  packages/mux-uploader/lang/en.json
Due: none

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
