Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

fix: upgrade MC v0.16.1
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: upgrade MC v0.16.1 (#513)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix(mux-video): Clean up some type defs.
  packages/mux-video/src/CustomVideoElement.d.ts
  packages/mux-video/src/index.ts
Due: mux-video

chore: add Nuxt to examples
  examples/nuxt/.gitignore
  examples/nuxt/README.md
  examples/nuxt/layouts/default.vue
  examples/nuxt/nuxt.config.ts
  examples/nuxt/package.json
  examples/nuxt/pages/index.vue
  examples/nuxt/pages/mux-audio.vue
  examples/nuxt/pages/mux-player.vue
  examples/nuxt/pages/mux-video.vue
  examples/nuxt/public/base.css
  examples/nuxt/public/favicon.ico
  examples/nuxt/public/images/github-logo.svg
  examples/nuxt/public/images/mux-logo.webp
  examples/nuxt/public/images/mux-logo@2x.webp
  examples/nuxt/tsconfig.json
  yarn.lock
Due: none

chore: allow Node v18.12.0 LTS w/ NPM v8.19.2
  package.json
Due: none

chore: rename Nuxt.js example package
  examples/nuxt/package.json
Due: none

chore: fix Nuxt links
  examples/nuxt/pages/mux-audio.vue
  examples/nuxt/pages/mux-player.vue
  examples/nuxt/pages/mux-video.vue
Due: none

feat: don't special handle 3 metadata attrs
  packages/mux-audio/src/index.ts
  packages/mux-video/src/index.ts
Due: mux-audio, mux-video

code review feedback
  packages/mux-player/src/index.ts
Due: mux-player

update examples for debugging mux-video and mux-audio (will revert before merging)
  examples/vanilla-ts-esm/public/mux-audio.html
  examples/vanilla-ts-esm/public/mux-video.html
Due: none

test: add a spec for other metadata-* attr
  packages/mux-player/test/player.test.js
Due: mux-player

add tests for metadata attr functionality on mux-video and mux-audio
  packages/mux-audio/test/player.test.js
  packages/mux-video/test/player.test.js
Due: mux-audio, mux-video

docs: update README for mux-video and REFERENCE for mux-player with metadata-* details
  packages/mux-player/REFERENCE.md
  packages/mux-video/README.md
Due: mux-player, mux-video

refactor: map doesn't make sense here, use reduce
  packages/mux-audio/src/index.ts
  packages/mux-player/src/index.ts
  packages/mux-video/src/index.ts
Due: mux-audio, mux-player, mux-video

revert debug & metadata- examples that was used to QA
  examples/vanilla-ts-esm/public/mux-audio.html
  examples/vanilla-ts-esm/public/mux-player.html
  examples/vanilla-ts-esm/public/mux-video.html
Due: none

feat: allow video, audio and player elements to get any metadata-* attrs set (#501)
  packages/mux-audio/src/index.ts
  packages/mux-audio/test/player.test.js
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/test/player.test.js
  packages/mux-video/README.md
  packages/mux-video/src/index.ts
  packages/mux-video/test/player.test.js
Due: mux-audio, mux-player, mux-video

fix: duplicate render by using value cache key not a reference cache key related #517
  packages/mux-player/src/html.ts
Due: mux-player

docs: add comment garbage collection
  packages/mux-player/src/html.ts
Due: mux-player

docs: add better comment for template strings key
  packages/mux-player/src/html.ts
Due: mux-player

test: add more tests around the html module
  packages/mux-player/test/html.test.js
Due: mux-player

chore: add duplicate render repro to vanilla demo
  examples/vanilla-ts-esm/public/app.js
  examples/vanilla-ts-esm/public/mux-player.html
Due: none

chore: try newest player before fix
  examples/vanilla-ts-esm/public/mux-player.html
Due: none

chore: remove dup fix, DO NOT MERGE
  packages/mux-player/src/html.ts
Due: mux-player

fix: upgrade Media Chrome v0.16.2
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: allow setting theme template via property
  packages/mux-player/src/html.ts
  packages/mux-player/src/template.ts
Due: mux-player

test: fix template tests
  packages/mux-player/test/template.test.js
Due: mux-player

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
Due: mux-player, mux-player-react

fix: use webp format instead of jpg, less bandwidth
  packages/mux-player/src/helpers.ts
  packages/mux-player/test/helpers.test.js
  packages/mux-player/test/player.test.js
Due: mux-player

fix: use webp format instead of jpg, less bandwidth (#525)
  packages/mux-player/src/helpers.ts
  packages/mux-player/test/helpers.test.js
  packages/mux-player/test/player.test.js
Due: mux-player

Addressing ts errors
  packages/mux-uploader/src/index.ts
Due: none

fix: memory leak in CastableVideo Set related to #308
  packages/.eslintrc.json
  shared/.eslintrc.json
  shared/castable-video/castable-video.js
Due: none

tools: fix Next.js linting
  examples/nextjs-with-typescript/.eslintrc.json
  examples/nextjs-with-typescript/package.json
  yarn.lock
Due: none

tools: remove unneeded pkg hoist
  package.json
Due: none

tools: fix Svelte build error Cannot find base config file "./.svelte-kit/tsconfig.json
  examples/svelte-kit/package.json
Due: none
