Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

feat(mux-uploader): Add CSS variables for button border and padding.
  examples/vanilla-ts-esm/public/mux-uploader-full.html
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader/README.md
  packages/mux-uploader/src/index.ts
Due: none

chore(mux-uploader): Fix casing.
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
Due: none

feat(mux-uploader): Add custom event for when upload starts.
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
  packages/mux-uploader-react/README.md
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader/README.md
  packages/mux-uploader/src/index.ts
Due: none

chore: update mux-player Official Release Status to `Public Beta`
  README.md
Due: none

chore: shorten prefer-mse explanation (#296)
  packages/mux-video/README.md
Due: mux-video

fix: CustomVideo.nativeEl being null in some cases fix #314
  examples/nextjs-with-typescript/pages/index.tsx
  packages/mux-audio/src/CustomAudioElement.js
  packages/mux-audio/src/index.ts
  packages/mux-video/src/CustomVideoElement.js
  packages/mux-video/src/index.ts
Due: mux-audio, mux-video

fix: reorder custom audio init logic
  packages/mux-audio/src/CustomAudioElement.js
Due: mux-audio

chore: use Node 16 LTS
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  package.json
Due: none

fix: CustomVideo.nativeEl being null in some cases (#316)
  examples/nextjs-with-typescript/pages/index.tsx
  packages/mux-audio/src/CustomAudioElement.js
  packages/mux-audio/src/index.ts
  packages/mux-video/src/CustomVideoElement.js
  packages/mux-video/src/index.ts
Due: mux-audio, mux-video

chore: add engine npm ^8.1.0
  package.json
Due: none

chore: use Node 16 LTS (#317)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  package.json
Due: none

feat: upgrade to media-chrome 0.9.0
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

feat: support media-chrome keyboard shortcuts, use nohotkeys to turn off
  packages/mux-player/README.md
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

fix: move nohotkeys type to more appropriate place
  packages/mux-player/src/types.d.ts
Due: mux-player

feat: types and docs for nohotkeys in mux-player-react
  packages/mux-player-react/README.md
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

fix(mux-uploader): Update event and event handler typedefs for greater accuracy of types.
  packages/mux-uploader/src/index.ts
Due: none

fix(mux-uploader-react): Update event and event handler typedefs for greater accuracy of types.
  packages/mux-uploader-react/src/index.tsx
Due: none

feat: nohotkeys prop, only use the template
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

fix(mux-player): Account for attr vs. 'prop' naming overlap in state propogation.
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

chore(mux-player): Add control to toggle nohotkeys to nextjs mux-player demo page.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

Publish
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
Due: mux-audio, mux-player, mux-player-react, mux-video

feat(mux-uploader): Upchunk event type defs.
  packages/mux-uploader/src/index.ts
Due: none

feat(mux-uploader-react): Handle endpoint and ref attrs.
  packages/mux-uploader-react/src/index.tsx
Due: none

docs: update stream-type values in docs
  errors/invalid-stream-type.md
  packages/mux-player/README.md
  packages/mux-video/README.md
Due: mux-player, mux-video

fix: update stream-type values in warning log
  packages/mux-player/src/index.ts
Due: mux-player

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
Due: mux-player, mux-player-react, mux-video

feat: add foundation of controlsList logic
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

fix: add top and bottom parts to elements
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
Due: mux-player

fix: add rest of block controlslist attr values
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/test/player.test.js
  packages/mux-player/test/template.test.js
Due: mux-player

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
