Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

fix: passthrough props to native media els (#912)
  examples/nextjs-with-typescript/pages/MuxAudio.tsx
  examples/nextjs-with-typescript/pages/MuxVideo.tsx
  packages/mux-audio-react/src/index.tsx
  packages/mux-video-react/src/index.tsx
  packages/playback-core/src/types.ts
Due: mux-audio, mux-audio-react, mux-video, mux-video-react, playback-core

feat(mux-player): Clean up TS (but also force minor version bump.
  packages/mux-player/src/index.ts
Due: mux-player

feat(mux-player): Clean up TS (but also force minor version bump). (#917)
  packages/mux-player/src/index.ts
Due: mux-player

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

feat(mux-uploader): Initial impl of opt-in pausable for mux-uploader. WIP.
  examples/vanilla-ts-esm/public/mux-uploader-simple.html
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader-pause.ts
  packages/mux-uploader/src/mux-uploader.ts
Due: none

feat(mux-uploader): Update upchunk for opt in file reader fallback.
  packages/mux-uploader/package.json
  yarn.lock
Due: none

fix(mux-uploader): cleanup on aisle paused.
  packages/mux-uploader/src/mux-uploader-pause.ts
Due: none

fix(mux-uploader): Handle upload complete state for mux-uploader-pause.
  packages/mux-uploader/src/mux-uploader-pause.ts
Due: none

docs(mux-uploader): Minor update to dev docs to mention pause.
  packages/mux-uploader/README.md
Due: none

feat(mux-uploader): Add pause button to main entrypoint exports.
  packages/mux-uploader/src/index.ts
Due: none

feat(mux-uploader-react): Add react flavor of pause button. Clean up some types imports crud.
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader-react/src/mux-uploader-drop.tsx
  packages/mux-uploader-react/src/mux-uploader-file-select.tsx
  packages/mux-uploader-react/src/mux-uploader-pause.tsx
  packages/mux-uploader-react/src/mux-uploader-progress.tsx
  packages/mux-uploader-react/src/mux-uploader-retry.tsx
  packages/mux-uploader-react/src/mux-uploader-status.tsx
Due: none

chore: Clean up test example pages.
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
  examples/vanilla-ts-esm/public/mux-uploader-simple.html
Due: none

feat(mux-uploader, mux-uploader-react): Add pausable functionality and pause button component. (#918)
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
  examples/vanilla-ts-esm/public/mux-uploader-simple.html
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader-react/src/mux-uploader-drop.tsx
  packages/mux-uploader-react/src/mux-uploader-file-select.tsx
  packages/mux-uploader-react/src/mux-uploader-pause.tsx
  packages/mux-uploader-react/src/mux-uploader-progress.tsx
  packages/mux-uploader-react/src/mux-uploader-retry.tsx
  packages/mux-uploader-react/src/mux-uploader-status.tsx
  packages/mux-uploader/README.md
  packages/mux-uploader/package.json
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader-pause.ts
  packages/mux-uploader/src/mux-uploader.ts
  yarn.lock
Due: none

interface for setting and getting chapters
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/text-tracks.ts
  packages/playback-core/src/types.ts
Due: mux-player, mux-player-react, mux-video, playback-core

fix method name
  packages/mux-player/src/index.ts
Due: mux-player

align track attributes with how media store locates text tracks for chapter info
  packages/playback-core/src/text-tracks.ts
Due: playback-core

chapters example in vanilla
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-chapters.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

track kind "chapters"
  packages/playback-core/src/text-tracks.ts
Due: playback-core

cuepoints -> chapters
  examples/vanilla-ts-esm/public/mux-player-chapters.html
Due: none

forced mode flipping to use "showing" instead of "disabled"
  packages/playback-core/src/text-tracks.ts
Due: playback-core

remove unimplemented event
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
Due: mux-player, mux-player-react

easier to read
  examples/vanilla-ts-esm/public/mux-player-chapters.html
Due: none

tests
  packages/mux-player/test/player.test.js
Due: mux-player

undoing this, it wasn't needed
  packages/playback-core/src/text-tracks.ts
Due: playback-core

force mode change to cause a change event
  packages/playback-core/src/text-tracks.ts
Due: playback-core

nextjs example
  examples/nextjs-with-typescript/pages/MuxPlayerChapters.tsx
  examples/nextjs-with-typescript/pages/index.tsx
Due: none

cuepoints with similar shape to chapters, supporting legacy type
  packages/playback-core/src/text-tracks.ts
  packages/playback-core/src/types.ts
Due: playback-core

update reference
  packages/mux-player/REFERENCE.md
Due: mux-player

optional end time for chapters
  examples/vanilla-ts-esm/public/mux-player-chapters.html
  packages/playback-core/src/text-tracks.ts
  packages/playback-core/src/types.ts
Due: playback-core

updated types
  packages/playback-core/src/types.ts
Due: playback-core

use audio UI for second example
  examples/vanilla-ts-esm/public/mux-player-chapters.html
Due: none

shared getTextTrack
  packages/playback-core/src/index.ts
  packages/playback-core/src/text-tracks.ts
Due: playback-core

fix broken links after rebase onto nextjs upgrade
  examples/nextjs-with-typescript/pages/MuxPlayerChapters.tsx
  examples/nextjs-with-typescript/pages/index.tsx
Due: none

oops, don't stringify strings!
  packages/playback-core/src/text-tracks.ts
Due: playback-core

remove else
  packages/playback-core/src/text-tracks.ts
Due: playback-core

addChapters and addCuePoints to use one shared function
  packages/playback-core/src/text-tracks.ts
Due: playback-core

remove mode flipping hack, manually dispatch change event to update state
  examples/vanilla-ts-esm/public/mux-player-chapters.html
  packages/playback-core/src/text-tracks.ts
Due: playback-core

demos more readable
  examples/vanilla-ts-esm/public/mux-player-chapters.html
  examples/vanilla-ts-esm/public/mux-player-cuepoints.html
Due: none

fix tests for webkit, don't skip cuepoints tests
  packages/mux-player/test/player.test.js
Due: mux-player
