Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

chore(mux-player): Simplify live stream type checks.
  packages/mux-player/src/index.ts
Due: mux-player

chore(playback-core): code cleanup.
  packages/playback-core/src/index.ts
Due: playback-core

chore(playback-core): Break up functions for stream info (needs more thorough testing).
  packages/playback-core/src/index.ts
Due: playback-core

Update packages/mux-video/src/index.ts
  packages/mux-video/src/index.ts
Due: mux-video

chore(playback-core): Simplify live stream type checks.
  packages/playback-core/src/index.ts
Due: playback-core

chore(mux-player): Update tests and code for new template props and other manual merge fixes.
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/test/template.test.js
Due: mux-player

test(mux-video): Update order of events in playback-core for ease of testing and usage. Add inferred streamType tests for mux-video.
  packages/mux-video/test/index.test.js
  packages/playback-core/src/index.ts
Due: mux-video, playback-core

feat(mux-video): Use adjusted seekable on mux-video. Add test.
  packages/mux-video/src/index.ts
  packages/mux-video/test/index.test.js
Due: mux-video

chore(playback-core): Manually re-apply abr adjustments for ll-hls (post-merge).
  packages/playback-core/src/index.ts
Due: playback-core

chore(mux-player): Don't log errors or warnings for deprecated stream types.
  packages/mux-player/src/index.ts
Due: mux-player

fix(mux-player): Ensure noautoseeklive is properly respected on themes (for DVR).
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
Due: mux-player

docs(mux-player, mux-player-react): update docs to presume old stream types. Add tests for translation cases and other.
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
  packages/mux-player/test/player.test.js
Due: mux-player, mux-player-react

docs(mux-video): Move stream type usage to advanced section.
  packages/mux-video/README.md
Due: mux-video

fix: upgrade to hls.js 1.4.0
  packages/playback-core/package.json
  yarn.lock
Due: playback-core

fix: upgrade to hls.js 1.4.0 (#656)
  packages/playback-core/package.json
  yarn.lock
Due: playback-core

Change to kebab attrs
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/uploader.test.js
Due: none

chore(mux-uploader): Change to kebab attrs (#657)
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/uploader.test.js
Due: none

Add support for max-file-size
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/uploader.test.js
Due: none

restrict to video files
  packages/mux-uploader/src/mux-uploader.ts
Due: none

Catch Upchunk error
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/uploader.test.js
Due: none

feat(mux-uploader): support max file size (#658) fixes #338
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/uploader.test.js
Due: none

Export new modules for React use
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader-react/src/mux-uploader-file-select.tsx
  packages/mux-uploader-react/src/mux-uploader-progress.tsx
  packages/mux-uploader-react/src/mux-uploader-retry.tsx
  packages/mux-uploader-react/src/mux-uploader-status.tsx
Due: none

Update packages/mux-player/src/index.ts
  packages/mux-player/src/index.ts
Due: mux-player

chore(playback-core, mux-video, mux-player): Minor refactors per PR feedback.
  packages/mux-player/src/index.ts
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
Due: mux-player, mux-video, playback-core

fix(mux-player): For now, always force targetLiveWindow update based on stream type.
  packages/mux-player/src/index.ts
Due: mux-player

feat: add currentPdt getter and getStartDate() method
  packages/mux-player/src/index.ts
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/pdt.ts
Due: mux-player, mux-video, playback-core

default to an invalid date
  packages/playback-core/src/pdt.ts
Due: playback-core

add some tests
  packages/playback-core/test/pdt.test.js
Due: playback-core

a couple more tests
  packages/mux-player/test/player.test.js
  packages/mux-video/test/index.test.js
Due: mux-player, mux-video

update tests
  packages/mux-player/test/player.test.js
  packages/mux-video/test/index.test.js
Due: mux-player, mux-video

don't run only a single test
  packages/mux-player/test/player.test.js
Due: mux-player

feat: inferred stream type (#592)
  errors/deprecated-stream-type.md
  errors/invalid-stream-type.md
  examples/nextjs-with-typescript/components/renderers.tsx
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/README.md
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/test/player.test.js
  packages/mux-player/test/template.test.js
  packages/mux-video/README.md
  packages/mux-video/package.json
  packages/mux-video/src/index.ts
  packages/mux-video/test/index.test.js
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/src/util.ts
  shared/assets/media-assets.json
  shared/castable-video/castable-video.js
  shared/castable-video/package.json
  yarn.lock
Due: mux-player, mux-player-react, mux-video, playback-core

update reference
  packages/mux-player/REFERENCE.md
Due: mux-player

add currentPdt and getStartDate to mux-audio
  packages/mux-audio/src/index.ts
  packages/mux-audio/test/player.test.js
Due: mux-audio

fix: simplify, remove shared file select fragment
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader.ts
Due: none

fix(mux-player-react): Have smarter value checking for currentTime to avoid unintentional 'resets' of currentTime to 0.
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

chore(mux-player-react): Simplify currentTime check.
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

feat: add currentPdt getter and getStartDate() method (#661)
  packages/mux-audio/src/index.ts
  packages/mux-audio/test/player.test.js
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/index.ts
  packages/mux-player/test/player.test.js
  packages/mux-video/src/index.ts
  packages/mux-video/test/index.test.js
  packages/playback-core/src/index.ts
  packages/playback-core/src/pdt.ts
  packages/playback-core/test/pdt.test.js
Due: mux-audio, mux-player, mux-video, playback-core
