Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: add a 'removeTextTrack' method. Add code to test functionality. (WIP - DO NOT MERGE).
  packages/playback-core/src/index.ts
Due: playback-core

feat(remove-text-tracks): extend HTMLMediaElement for removeTextTracks (currently including in playback-core).
  packages/playback-core/src/index.ts
Due: playback-core

chore: make sure all builds are available for dev
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-player, mux-video, playback-core

feat: add part=video/audio for mux-video/audio
  packages/mux-audio/src/CustomAudioElement.js
  packages/mux-video/src/CustomVideoElement.js
Due: mux-audio, mux-video

feat: add media-theme-mux as a replaceable element (#175)
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/time-display.ts
  packages/mux-player/src/media-theme-mux/icons.ts
  packages/mux-player/src/media-theme-mux/icons/airplay.svg
  packages/mux-player/src/media-theme-mux/icons/captions-off.svg
  packages/mux-player/src/media-theme-mux/icons/captions-on.svg
  packages/mux-player/src/media-theme-mux/icons/fullscreen-enter.svg
  packages/mux-player/src/media-theme-mux/icons/fullscreen-exit.svg
  packages/mux-player/src/media-theme-mux/icons/pause.svg
  packages/mux-player/src/media-theme-mux/icons/pip-enter.svg
  packages/mux-player/src/media-theme-mux/icons/pip-exit.svg
  packages/mux-player/src/media-theme-mux/icons/play.svg
  packages/mux-player/src/media-theme-mux/icons/seek-backward.svg
  packages/mux-player/src/media-theme-mux/icons/seek-forward.svg
  packages/mux-player/src/media-theme-mux/icons/volume-high.svg
  packages/mux-player/src/media-theme-mux/icons/volume-low.svg
  packages/mux-player/src/media-theme-mux/icons/volume-medium.svg
  packages/mux-player/src/media-theme-mux/icons/volume-off.svg
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/test/player.test.js
  packages/mux-player/test/template.test.js
Due: mux-player

fix: prevent dialog from focus if outside player
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/dialog.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/src/utils.ts
Due: mux-player

fix: focus bug due to transition
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/dialog.ts
  packages/mux-player/src/utils.ts
Due: mux-player

chore: add mux-audio to nextjs example
  examples/nextjs-with-typescript/pages/mux-audio.tsx
Due: none

feat: rename .video to .media for consistency with media-chrome
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/video-api.ts
Due: mux-player

test: update tests to use .media
  packages/mux-player/test/errors.test.js
  packages/mux-player/test/player.test.js
Due: mux-player

fix: keep .hls but have it log a warning saying to use ._hls
  packages/mux-audio/src/index.ts
  packages/mux-player/src/index.ts
  packages/mux-video/src/index.ts
Due: mux-audio, mux-player, mux-video

feat: rename hls to _hls
  packages/mux-audio/src/index.ts
  packages/mux-player/src/index.ts
  packages/mux-video/src/index.ts
Due: mux-audio, mux-player, mux-video

fix: keep mux-player#video for backward compatibility
  packages/mux-player/src/video-api.ts
Due: mux-player

fix: prevent dialog from focus if outside player (#196)
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/dialog.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/src/utils.ts
Due: mux-player

fix: examples/nextjs-with-typescript/package.json to reduce vulnerabilities (#189)
  examples/nextjs-with-typescript/package.json
Due: none

chore: make i18n a function w/ translate arg
  packages/mux-player/src/errors.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/logger.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/utils.ts
  scripts/i18n-utils/i18n-utils.js
Due: mux-player

feat: add errorTranslator prop to mux-video for customizing error messages sent to Mux data
  packages/mux-player/src/index.ts
  packages/mux-player/src/types.d.ts
  packages/mux-video/src/index.ts
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
  types/mux.d.ts
Due: mux-player, mux-video, playback-core

fix: make preload attribute work with hls.js
  packages/playback-core/src/index.ts
Due: playback-core

test: make some tests run more reliably
  packages/mux-player/test/errors.test.js
  packages/mux-player/test/player.test.js
Due: mux-player

test: set preload=auto on player for tests
  packages/mux-player/test/player.test.js
Due: mux-player

refactor: don't re-export playback-core items
  packages/mux-audio/src/index.ts
  packages/mux-player/src/errors.ts
  packages/mux-player/src/index.ts
  packages/mux-player/test/errors.test.js
  packages/mux-video/src/index.ts
Due: mux-audio, mux-player, mux-video

fix(playback-core): implement track/cue management in playback-core. (WIP - still edge cases)
  packages/playback-core/src/index.ts
Due: playback-core

fix: Chrome TextTrack bug w/ cue refresh
  packages/playback-core/src/index.ts
  packages/playback-core/src/tracks.ts
Due: playback-core

fix: custom video events were not handled properly
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/index.ts
  packages/mux-player/src/video-api.ts
  packages/mux-video/src/CustomVideoElement.d.ts
  packages/mux-video/src/CustomVideoElement.js
  packages/mux-video/src/index.ts
Due: mux-player, mux-video

fix: audio event handling, add tests
  packages/mux-audio/package.json
  packages/mux-audio/src/CustomAudioElement.d.ts
  packages/mux-audio/src/CustomAudioElement.js
  packages/mux-audio/src/index.ts
  packages/mux-audio/test/player.test.js
  packages/mux-video/package.json
  packages/mux-video/test/player.test.js
Due: mux-audio, mux-video

feat: add muxVideo.error property
  packages/mux-player/src/index.ts
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
Due: mux-player, mux-video, playback-core

fix(playback-core): implement track/cue management in playback-core (#201)
  packages/playback-core/src/index.ts
  packages/playback-core/src/tracks.ts
Due: playback-core

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
