Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

chore: defaultValue for select
  examples/nextjs-with-typescript/components/renderers.tsx
Due: none

overflow: auto
  examples/nextjs-with-typescript/styles.css
Due: none

refactor
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

add min-height
  examples/nextjs-with-typescript/styles.css
Due: none

Docs!
  packages/mux-player-react/README.md
  packages/mux-player-react/REFERENCE.md
Due: mux-player, mux-player-react

Add to build step
  packages/mux-player-react/package.json
Due: mux-player, mux-player-react

chore: add scrollable options in nextjs/MuxPlayer (#454)
  examples/nextjs-with-typescript/components/renderers.tsx
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/styles.css
Due: none

Typo
  packages/mux-player-react/README.md
Due: mux-player, mux-player-react

Correct typesVersions
  packages/mux-player-react/package.json
Due: mux-player, mux-player-react

fix: update to media-chrome 0.14.0
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

Web examples
  examples/create-react-app-with-typescript/src/pages/MuxPlayerLazy.tsx
  examples/nextjs-with-typescript/package.json
  examples/nextjs-with-typescript/pages/MuxPlayerLazy.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerLazyBlurhash.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerLazyDynamic.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerLazyIframe.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/nextjs-with-typescript/styles.css
  yarn.lock
Due: none

That's actually pretty important
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

fix(mux-player-react): Cleanup typescript definitions for lazy usage of mux-player wc. Use numeric value for tabIndex.
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

fix: update to media-chrome 0.14.0 (#457)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
Due: mux-player, mux-player-react

Allow background to be disabled if controls are
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

Just some finishing touches!
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

var(--media-background-color, #000)
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

Bring CRA example in line with others
  examples/create-react-app-with-typescript/src/pages/MuxPlayerLazy.tsx
Due: none

fix: add default value to object-fit and object-position
  packages/mux-video/src/CustomVideoElement.js
Due: mux-video

fix: add default value to object-fit and object-position (#460)
  packages/mux-video/src/CustomVideoElement.js
Due: mux-video

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
Due: mux-player, mux-player-react, mux-video

feat(mux-player-react) lazy (#414)
  examples/create-react-app-with-typescript/src/App.tsx
  examples/create-react-app-with-typescript/src/pages/MuxPlayerLazy.tsx
  examples/nextjs-with-typescript/package.json
  examples/nextjs-with-typescript/pages/MuxPlayerLazy.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerLazyBlurhash.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerLazyDynamic.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerLazyIframe.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/nextjs-with-typescript/styles.css
  packages/mux-player-react/README.md
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/package.json
  packages/mux-player-react/src/ConditionalSuspense.tsx
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/lazy.tsx
  packages/mux-player-react/src/useIsBrowser.ts
  packages/mux-player-react/src/useIsIntersecting.ts
  packages/mux-player-react/tsconfig.json
  yarn.lock
Due: mux-player, mux-player-react

fix: Remove cjs references from mux-player-react/lazy
  packages/mux-player-react/package.json
Due: mux-player, mux-player-react

feat: implement react lazy with mux-player-react
  packages/mux-player-react/package.json
Due: mux-player, mux-player-react

Observe media-object css variables on lazy placeholder
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

fix: observe media-object css variables on lazy placeholder (#464)
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

Lower-spec styles
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

Restore style & classname; fix aspect-ratio; fix specificity; prevent flash of bright
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

Update README.md
  packages/mux-player/README.md
Due: mux-player

docs: Update package name in installation instructions for mux-player (#467)
  packages/mux-player/README.md
Due: mux-player

feat(mux-player): Add type-compliant seekable prop to video-api.
  packages/mux-player/src/video-api.ts
Due: mux-player

build: ignore markdown for prettier to make diffs more useful.
  .prettierignore
Due: none

test(mux-player): Add test cases for buffered and seekable.
  packages/mux-player/test/player.test.js
Due: mux-player

docs(mux-player): Add seekable and clean up missed table row mistakes from previous update.
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
Due: mux-player, mux-player-react

less-magic specificity bump
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react
