Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

chore: update mux-video-react example to use ref to toggle playback (#681)
  examples/nextjs-with-typescript/pages/MuxVideo.tsx
Due: none

modify the layout to fix layering
  examples/vanilla-ts-esm/public/mux-uploader-full.html
  packages/mux-uploader/src/mux-uploader-drop.ts
Due: none

fix(mux-uploader): modify the layout to fix layering (#684)
  examples/vanilla-ts-esm/public/mux-uploader-full.html
  packages/mux-uploader/src/mux-uploader-drop.ts
Due: none

fix: upgrade to hls.js 1.4.1
  packages/playback-core/package.json
  yarn.lock
Due: playback-core

increase timeout
  packages/mux-audio/test/player.test.js
Due: mux-audio

fix: upgrade to hls.js 1.4.1 (#685)
  packages/mux-audio/test/player.test.js
  packages/playback-core/package.json
  yarn.lock
Due: mux-audio, playback-core

update to media-chrome 0.21.1
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

feat: add a no-volume-pref attribute to turn of storing volume in localStorage
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-react/src/index.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player, mux-player-react

update references
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
Due: mux-player, mux-player-react

feat: add a no-volume-pref attribute to turn of storing volume in localStorage (#686)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  yarn.lock
Due: mux-player, mux-player-react

Adding parts to each el
  packages/mux-uploader/src/layouts/block.ts
Due: none

Updating drop in example
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
Due: none

Updating parts names
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
Due: none

Dont need this
  packages/mux-uploader/src/layouts/block.ts
Due: none

Differentiate btwn percentage and bar
  packages/mux-uploader/src/layouts/block.ts
Due: none

Remove inline styles
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
Due: none

include `progress` as a part
  packages/mux-uploader/src/layouts/block.ts
Due: none

feat(mux-uploader): export parts for each default component (#687)
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
Due: none

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: update to hls.js 1.4.2
  packages/playback-core/package.json
  yarn.lock
Due: playback-core

hls.js 1.4.3
  packages/playback-core/package.json
  yarn.lock
Due: playback-core

fix(mux-uploader): Upgrade upchunk. Use static class createUpload method instead of module. Update import.
  packages/mux-uploader/package.json
  packages/mux-uploader/src/mux-uploader.ts
  yarn.lock
Due: none

fix(mux-uploader): Upgrade upchunk. Use static class createUpload met… (#693)
  packages/mux-uploader/package.json
  packages/mux-uploader/src/mux-uploader.ts
  yarn.lock
Due: none

Forward upchunkOptions to upchunk constructor
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/uploader.test.js
Due: none

Revert "Forward upchunkOptions to upchunk constructor"
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/uploader.test.js
Due: none

Limit scope only to chunkSize
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/uploader.test.js
Due: none

Add types to mux-uploader-react
  packages/mux-uploader-react/src/index.tsx
Due: none

feat(mux-uploader): introduce chunkSize (#694)
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/uploader.test.js
Due: none

fix: update to hls.js 1.4.3 (#689)
  packages/playback-core/package.json
  yarn.lock
Due: playback-core

feat: upgrade media-chrome version in mux-player.
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: additional version bump
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: additional version bump. More migration.
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/template.ts
  yarn.lock
Due: mux-player

fix: Update theme to use lowercase (smushedcase) attrs internally.
  packages/mux-player/src/media-theme-mux.html
Due: mux-player

chore: mc rc version bump.
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

chore: remove debug logging.
  packages/mux-player/src/template.ts
Due: mux-player

test(mux-player): Update tests to reflect media chrome & theme renaming.
  packages/mux-player/test/template.test.js
Due: mux-player

fix(mux-player): lingering 'user-inactive' attr rename mismatch. Simplify cue shift test related to this.
  packages/mux-player/src/index.ts
  packages/mux-player/test/player.test.js
Due: mux-player

fix(mux-player): Update theme attr to defaultsubtitles for cross-theme naming consistency.
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/template.ts
Due: mux-player

test: fix tests based on previous attr rename.
  packages/mux-player/test/template.test.js
Due: mux-player

Feat/mc v1 upgrade (#691)
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/template.ts
  packages/mux-player/test/player.test.js
  packages/mux-player/test/template.test.js
  yarn.lock
Due: mux-player
