Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

feat: add new i18n entries
  packages/playback-core/lang/en.json
Due: playback-core

fix: don't clear error if networkError is still active
  packages/playback-core/src/index.ts
  packages/playback-core/test/network-recovery.test.js
Due: playback-core

fix: Add Network interruption recovery (#1344)
  packages/mux-player/src/base.ts
  packages/mux-player/src/errors.ts
  packages/mux-player/src/template.ts
  packages/mux-player/test/errors.test.js
  packages/mux-video/README.md
  packages/mux-video/src/base.ts
  packages/playback-core/lang/en.json
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/network-recovery.ts
  packages/playback-core/src/types.ts
  packages/playback-core/test/network-recovery.test.js
Due: mux-player, mux-video, playback-core

Update Node version to v24.18.0 in .nvmrc
  .nvmrc
Due: none

fix: move canary publish to CD for npm trusted publishing (#1339)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

fix: make disableCookies reactive (#1349)
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-audio/test/player.test.js
  packages/mux-player-react/src/index.tsx
  packages/mux-player/test/player.test.js
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/base.ts
  packages/mux-video/src/react.ts
  packages/mux-video/test/index.test.js
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

docs(mux-player): rename --media-object-size to --media-object-fit
  packages/mux-player/REFERENCE.md
Due: mux-player

docs(mux-player): explain stream-type enum values
  packages/mux-player/REFERENCE.md
Due: mux-player

chore: update googleapis/release-please-action and nick-fields/retry to use node 24 (#1353)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

fix: bumped hls.js version
  package-lock.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  packages/playback-core/src/min-cap-level-controller.ts
Due: mux-audio, mux-player, mux-video, playback-core

refactor: less chaotic error
  packages/playback-core/src/min-cap-level-controller.ts
Due: playback-core

fix(tests): fix initial-estimate-segments tests broken after hlsjs bump
  packages/playback-core/test/index.test.js
Due: playback-core

fix: package lock
  package-lock.json
Due: none

Revert package-lock.json from "fix: bumped hls.js version" commit 5b828f8b297082821eabee7e3db1617d7a56269a. Rerun npm i with npm@11.2.0
  package-lock.json
Due: none

fix: bumped hls.js version (#1357)
  package-lock.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  packages/playback-core/src/min-cap-level-controller.ts
  packages/playback-core/test/index.test.js
Due: mux-audio, mux-player, mux-video, playback-core

feat: updated mux-player and mux-uploader peer dependencies
  examples/astro/package.json
  package-lock.json
  packages/mux-player-astro/package.json
  packages/mux-uploader-astro/package.json
Due: mux-player

feat(mux-player-astro, mux-uploader-astro): support astro v7 (#1361)
  examples/astro/package.json
  package-lock.json
  packages/mux-player-astro/package.json
  packages/mux-uploader-astro/package.json
Due: mux-player

fix(playback-core): apply session chapters only while the source is current
  packages/playback-core/src/index.ts
  packages/playback-core/src/text-tracks.ts
  packages/playback-core/test/chapters.test.js
Due: playback-core

fix(playback-core): leave srcless tracks alone in forceHiddenTracks
  packages/playback-core/src/text-tracks.ts
  packages/playback-core/test/chapters.test.js
Due: playback-core

fix(playback-core): resolve chapters URI against redirected playlist URL
  packages/playback-core/src/index.ts
  packages/playback-core/test/chapters.test.js
Due: playback-core

feat(playback-core): pick chapter titles in the player's language
  packages/playback-core/src/chapters.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/util.ts
  packages/playback-core/test/chapters.test.js
Due: playback-core

fix(playback-core): fall back to src when the playlist response URL is empty
  packages/playback-core/src/index.ts
  packages/playback-core/test/chapters.test.js
Due: playback-core

fix(playback-core): keep endTime required on read chapters
  packages/playback-core/src/text-tracks.ts
  packages/playback-core/test/chapters.test.js
Due: playback-core

fix(playback-core): clamp open chapter end to the media duration
  packages/playback-core/src/text-tracks.ts
  packages/playback-core/test/chapters.test.js
Due: playback-core

feat: parse com.apple.hls.chapters session-data into chapter tracks
  packages/playback-core/src/chapters.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/text-tracks.ts
  packages/playback-core/test/chapters.test.js
Due: playback-core

fix(mux-player): don't remove the last token when removing a token that isn't in AttributeTokenList
  packages/mux-player/src/helpers.ts
  packages/mux-player/test/helpers.test.js
Due: mux-player

fix(mux-uploader): remove uploader listeners when control elements disconnect
  packages/mux-uploader/src/mux-uploader-pause.ts
  packages/mux-uploader/src/mux-uploader-progress.ts
  packages/mux-uploader/src/mux-uploader-retry.ts
  packages/mux-uploader/src/mux-uploader-sr-text.ts
  packages/mux-uploader/test/listeners-cleanup.test.js
Due: none

fix(playback-core): parse multivariant playlists with CRLF line endings
  packages/playback-core/src/index.ts
  packages/playback-core/src/util.ts
  packages/playback-core/test/playlist-line-endings.test.js
Due: playback-core

fix(playback-core): abort native stream info for a torn down source
  packages/playback-core/src/index.ts
  packages/playback-core/test/chapters.test.js
Due: playback-core

fix(playback-core): treat a non-finite chapter or cue point endTime as missing
  packages/playback-core/src/text-tracks.ts
  packages/playback-core/test/chapters.test.js
Due: playback-core

fix(playback-core): prefer the player's own lang over the browser languages
  packages/playback-core/src/util.ts
  packages/playback-core/test/chapters.test.js
Due: playback-core

fix(playback-core): prefer the bare primary tag over a sibling region
  packages/playback-core/src/chapters.ts
  packages/playback-core/test/chapters.test.js
Due: playback-core

feat(playback-core): Support apple JSON chapters from com.apple.hls.chapters session data (#1360)
  packages/playback-core/src/chapters.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/text-tracks.ts
  packages/playback-core/src/util.ts
  packages/playback-core/test/chapters.test.js
Due: playback-core

fix(playback-core): split media playlists on CRLF in getStreamInfoFromPlaylist
  packages/playback-core/src/index.ts
Due: playback-core

fix: npm install --package-lock-only --ignore-scripts
  package-lock.json
Due: none

docs(mux-player): fix --media-object-size typo to --media-object-fit (#1355)
  packages/mux-player/REFERENCE.md
Due: mux-player

fix: bump mux-embed
  package-lock.json
  packages/playback-core/package.json
Due: playback-core

fix: bump mux-embed to prevent intermittent crashes under certain conditions (#1369)
  package-lock.json
  packages/playback-core/package.json
Due: playback-core

test(playback-core): cover CRLF media playlists in getStreamInfoFromPlaylist
  packages/playback-core/test/playlist-line-endings.test.js
Due: playback-core
