Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

fix: make mux-video errors more uniform, fix async also fixes an issue with random failing tests
  packages/mux-player/src/errors.ts
  packages/mux-player/src/index.ts
  packages/mux-player/test/errors.test.js
  packages/mux-player/test/player.test.js
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
Due: mux-player, playback-core

outside-in wip aspect-ratio
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
Due: mux-player

fix: make mux-player size based on video element
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/styles.css
  packages/mux-video/src/CustomVideoElement.js
Due: mux-player, mux-video

fix: forward width & height to media-controller
  packages/mux-player/src/styles.css
Due: mux-player

build: Use downlevel-dts to downgrade type definitions in decls. Update package.json. Update unconvertable types in src.
  package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  packages/playback-core/src/index.ts
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore: exclude decode errors from src fetch
  packages/playback-core/src/index.ts
Due: playback-core

fix: make mux-video errors more uniform, fix async (#183)
  packages/mux-player/src/errors.ts
  packages/mux-player/src/index.ts
  packages/mux-player/test/errors.test.js
  packages/mux-player/test/player.test.js
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
Due: mux-player, playback-core

feat: upgrade media-chrome to 0.6.0
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: make mux-player size based on video element (#185)
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/package.json
  packages/mux-player/src/styles.css
  packages/mux-video/src/CustomVideoElement.js
  yarn.lock
Due: mux-player, mux-video

fix: examples/create-react-app-with-typescript/package.json & examples/create-react-app-with-typescript/yarn.lock to reduce vulnerabilities
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app-with-typescript/yarn.lock
Due: none

missing-explicit-dep(mux-player): mux-player has a direct dep on playback-core. Adding to package.json
  packages/mux-player/package.json
Due: mux-player

fix: examples/nextjs-with-typescript/package.json to reduce vulnerabilities
  examples/nextjs-with-typescript/package.json
Due: none

build: update yarn.lock
  yarn.lock
Due: none

build: update yarn.lock (#190)
  yarn.lock
Due: none

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix(playback-core): implement track/cue management in playback-core. (WIP - still edge cases)
  packages/playback-core/src/index.ts
Due: playback-core

refactor(nextjs-with-typescript): Add media assets to MuxVideo Page. Select subtitles playback-id by default in MuxPlayer and MuxVideo (DO NOT MERGE).
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/MuxVideo.tsx
Due: none

fix(mux-video): Hack override of video.addTextTrack()
  packages/mux-video/src/CustomVideoElement.js
Due: mux-video

adding cuechange event handler for debugging.
  packages/mux-video/src/CustomVideoElement.js
Due: mux-video

fix: remove browser field from package.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-player, mux-video, playback-core

remove type field for non-react packages
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-player, mux-video, playback-core

Revert "fix: remove browser field from package.json"
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-player, mux-video, playback-core

point browser at mjs build for webpack 4
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-player, mux-video, playback-core

point mux-audio browser field at index.mjs as well
  packages/mux-audio/package.json
Due: mux-audio

ci: add release notes script and GH action
  .github/workflows/release-notes.yml
  package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  scripts/create-release-notes/create-release-notes.js
  scripts/create-release-notes/package.json
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

feat: coarse moving theme related files
  packages/mux-player/src/media-chrome/time-display.ts
  packages/mux-player/src/media-theme-mux/icons.ts
  packages/mux-player/src/media-theme-mux/icons/airplay.svg
  packages/mux-player/src/media-theme-mux/icons/captions-off.svg
  packages/mux-player/src/media-theme-mux/icons/captions-on.svg
  packages/mux-player/src/media-theme-mux/icons/fullscreen-enter.svg
  packages/mux-player/src/media-theme-mux/icons/fullscreen-exit.svg
  packages/mux-player/src/media-theme-mux/icons/pause.svg
  packages/mux-player/src/media-theme-mux/icons/pip-enter.svg
  packages/mux-player/src/media-theme-mux/icons/pip-exit.svg
  packages/mux-player/src/media-theme-mux/icons/play.svg
  packages/mux-player/src/media-theme-mux/icons/seek-backward.svg
  packages/mux-player/src/media-theme-mux/icons/seek-forward.svg
  packages/mux-player/src/media-theme-mux/icons/volume-high.svg
  packages/mux-player/src/media-theme-mux/icons/volume-low.svg
  packages/mux-player/src/media-theme-mux/icons/volume-medium.svg
  packages/mux-player/src/media-theme-mux/icons/volume-off.svg
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/template.ts
Due: mux-player

feat: add media-theme-mux
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/icons.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
Due: mux-player

test: add switch theme btn (not working yet)
  examples/vanilla-ts-esm/public/mux-player.html
Due: none

test: fix tests to work with media-theme-mux
  packages/mux-player/src/index.ts
  packages/mux-player/test/player.test.js
  packages/mux-player/test/template.test.js
Due: mux-player

fix: point pkgjson#browser at mjs build for webpack 4 (#191)
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-player, mux-video, playback-core

fix: sizing conflict issues
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/styles.css
Due: mux-player

chore: remove switch theme button this still needs work to function properly
  examples/vanilla-ts-esm/public/mux-player.html
Due: none

ci: use GITHUB_TOKEN, fetch all tags, draft: false
  .github/workflows/release-notes.yml
  scripts/create-release-notes/create-release-notes.js
Due: none

ci: update release workflow
  .github/workflows/cd.yml
  .github/workflows/release-notes.yml
  README_INTERNAL.md
  package.json
Due: none

ci: use GITHUB_TOKEN, fetch all tags, draft: false (#194)
  .github/workflows/cd.yml
  .github/workflows/release-notes.yml
  README_INTERNAL.md
  package.json
  scripts/create-release-notes/create-release-notes.js
Due: none

feat(remove-text-tracks): Extend video element to support removed text tracks via proxy. Add polyfill. Remove text tracks on hls.js destroy.
  packages/mux-video/src/CustomVideoElement.js
  packages/playback-core/src/index.ts
  shared/polyfills/window.js
Due: mux-video, playback-core
