Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

Directories re-arranged
  .github/external-testing/createSummary.js
  .github/workflows/integration-tests.yml
Due: none

Route fix
  .github/workflows/integration-tests.yml
Due: none

fix: use real private JS properties
  packages/mux-video/src/index.ts
Due: mux-video

fix(mux-audio): use real private JS properties
  packages/mux-audio/src/index.ts
Due: mux-audio

fix: add async effect for loading media
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/preload.ts
  packages/playback-core/src/types.ts
Due: mux-audio, mux-audio-react, mux-video, mux-video-react, playback-core

fix: put back load/unload case
  packages/mux-audio/src/index.ts
  packages/mux-video/src/index.ts
Due: mux-audio, mux-video

fix: make full async, revert core changes
  packages/mux-audio/src/index.ts
  packages/mux-video/src/index.ts
  packages/playback-core/src/autoplay.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/preload.ts
  packages/playback-core/src/types.ts
Due: mux-audio, mux-video, playback-core

fix: add separate requestLoad method
  packages/mux-audio/src/index.ts
  packages/mux-video/src/index.ts
Due: mux-audio, mux-video

fix: add async effect for loading media (#492)
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/index.ts
  packages/playback-core/src/autoplay.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/preload.ts
Due: mux-audio, mux-audio-react, mux-video, mux-video-react, playback-core

Add links to summary
  .github/external-testing/createSummary.js
  .github/workflows/integration-tests.yml
Due: none

fix repository url
  .github/workflows/integration-tests.yml
Due: none

Mux version placeholder replaced
  .github/workflows/integration-tests.yml
Due: none

feat: allow <mux-video> to get any metadata-* attrs set and flow that through to Mux Data
  packages/mux-video/src/index.ts
Due: mux-video

feat: allow any metadata-* attr set on Mux Player to flow through to Mux Data
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

feat: Remove experimentalCmcd and add none to preferCmcd. Update secret docs.
  packages/mux-player-react/src/index.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-player, mux-player-react, mux-video, playback-core

chore: Update nextjs MuxPlayer page to remove experimentalCmcd and add new none value to preferCmcd.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

test: check rough render perf w/ console.time
  packages/mux-player/src/index.ts
Due: mux-player

chore(example): flex-grow input and select elements
  examples/nextjs-with-typescript/styles.css
Due: none

feat(mux-uploader): Upgrade upchunk to take advantage of readable streams.
  packages/mux-uploader/package.json
  yarn.lock
Due: none

chore(example): flex-grow input and select elements (#509)
  examples/nextjs-with-typescript/styles.css
Due: none

Added checkbox to run tests on firefox conditionally
  .github/workflows/integration-tests.yml
Due: none

fix: remove string casting. instead check for aria
  packages/mux-player/src/media-theme-mux/media-theme-mux.html
  packages/mux-player/src/media-theme-mux/media-theme-template.js
Due: mux-player

fix: remove auto CSS parts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

fix: remove old JS theme, fix issues, pass tests
  packages/mux-player/src/html.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/media-theme.js
  packages/mux-player/src/template-parts.js
  packages/mux-player/src/template.ts
  packages/mux-player/test/player.test.js
  packages/mux-player/test/template.test.js
  packages/mux-player/test/web-test-runner.config.mjs
Due: mux-player

feat: add rough MC theme implementation
  packages/mux-player/src/html.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.html
  packages/mux-player/src/media-theme-mux/media-theme-template.js
  packages/mux-player/src/template-parts.d.ts
  packages/mux-player/src/template-parts.js
  packages/mux-player/src/template.ts
  scripts/esbuilder/esbuilder.js
Due: mux-player

fix: move register css props
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

fix: rename "set" to "partial"
  packages/mux-player/src/media-theme-mux/media-theme-mux.html
  packages/mux-player/src/media-theme-mux/media-theme-template.js
Due: mux-player

fix: upgrade MC to 0.16.1-canary.6-a4a4e2c
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: remove separate SVG files
  packages/mux-player/src/media-theme-mux/icons.ts
  packages/mux-player/src/media-theme-mux/icons/airplay.svg
  packages/mux-player/src/media-theme-mux/icons/captions-off.svg
  packages/mux-player/src/media-theme-mux/icons/captions-on.svg
  packages/mux-player/src/media-theme-mux/icons/cast-enter.svg
  packages/mux-player/src/media-theme-mux/icons/cast-exit.svg
  packages/mux-player/src/media-theme-mux/icons/fullscreen-enter.svg
  packages/mux-player/src/media-theme-mux/icons/fullscreen-exit.svg
  packages/mux-player/src/media-theme-mux/icons/pause.svg
  packages/mux-player/src/media-theme-mux/icons/pip-enter.svg
  packages/mux-player/src/media-theme-mux/icons/pip-exit.svg
  packages/mux-player/src/media-theme-mux/icons/play.svg
  packages/mux-player/src/media-theme-mux/icons/seek-backward.svg
  packages/mux-player/src/media-theme-mux/icons/seek-forward.svg
  packages/mux-player/src/media-theme-mux/icons/volume-high.svg
  packages/mux-player/src/media-theme-mux/icons/volume-low.svg
  packages/mux-player/src/media-theme-mux/icons/volume-medium.svg
  packages/mux-player/src/media-theme-mux/icons/volume-off.svg
Due: mux-player

fix: upgrade MC, make theme template id changeable
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  yarn.lock
Due: mux-player

fix: webpack .js ext issue
  packages/mux-player/src/html.ts
  packages/mux-player/src/template.ts
Due: mux-player

fix: upgrade MC v0.16.1-canary.10-7245358
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: media-theme & template-parts via Media Chrome
  packages/mux-player/src/html.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/media-theme-mux/media-theme.js
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/template-parts.js
  packages/mux-player/src/template.ts
  packages/mux-player/test/template.test.js
  scripts/esbuilder/esbuilder.js
  types/template-parts.d.ts
Due: mux-player

fix: upgrade MC 0.16.1-canary.10-e20953a
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

chore: remove template parts types
  types/template-parts.d.ts
Due: none

feat: implement Media Chrome HTML based theme (#498)
  packages/mux-player/package.json
  packages/mux-player/src/html.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/media-theme-mux/icons.ts
  packages/mux-player/src/media-theme-mux/icons/airplay.svg
  packages/mux-player/src/media-theme-mux/icons/captions-off.svg
  packages/mux-player/src/media-theme-mux/icons/captions-on.svg
  packages/mux-player/src/media-theme-mux/icons/cast-enter.svg
  packages/mux-player/src/media-theme-mux/icons/cast-exit.svg
  packages/mux-player/src/media-theme-mux/icons/fullscreen-enter.svg
  packages/mux-player/src/media-theme-mux/icons/fullscreen-exit.svg
  packages/mux-player/src/media-theme-mux/icons/pause.svg
  packages/mux-player/src/media-theme-mux/icons/pip-enter.svg
  packages/mux-player/src/media-theme-mux/icons/pip-exit.svg
  packages/mux-player/src/media-theme-mux/icons/play.svg
  packages/mux-player/src/media-theme-mux/icons/seek-backward.svg
  packages/mux-player/src/media-theme-mux/icons/seek-forward.svg
  packages/mux-player/src/media-theme-mux/icons/volume-high.svg
  packages/mux-player/src/media-theme-mux/icons/volume-low.svg
  packages/mux-player/src/media-theme-mux/icons/volume-medium.svg
  packages/mux-player/src/media-theme-mux/icons/volume-off.svg
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/test/player.test.js
  packages/mux-player/test/template.test.js
  packages/mux-player/test/web-test-runner.config.mjs
  scripts/esbuilder/esbuilder.js
  yarn.lock
Due: mux-player

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
