Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore: new brand (#673)
  examples/create-react-app-with-typescript/public/images/mux-logo.webp
  examples/create-react-app-with-typescript/public/images/mux-logo@2x.webp
  examples/create-react-app-with-typescript/src/App.tsx
  examples/create-react-app-with-typescript/src/index.css
  examples/nextjs-with-typescript/pages/_app.tsx
  examples/nextjs-with-typescript/public/images/mux-logo.webp
  examples/nextjs-with-typescript/public/images/mux-logo@2x.webp
  examples/nextjs-with-typescript/styles.css
  examples/svelte-kit/src/app.css
  examples/svelte-kit/src/lib/header/Header.svelte
  examples/svelte-kit/static/images/mux-logo.webp
  examples/svelte-kit/static/images/mux-logo@2x.webp
  examples/vanilla-ts-esm/public/images/mux-logo.webp
  examples/vanilla-ts-esm/public/images/mux-logo@2x.webp
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-audio.html
  examples/vanilla-ts-esm/public/mux-player-audio.html
  examples/vanilla-ts-esm/public/mux-player-cuepoints.html
  examples/vanilla-ts-esm/public/mux-player-theme.html
  examples/vanilla-ts-esm/public/mux-player.html
  examples/vanilla-ts-esm/public/mux-uploader-modal.html
  examples/vanilla-ts-esm/public/mux-uploader-simple.html
  examples/vanilla-ts-esm/public/mux-video.html
  examples/vanilla-ts-esm/public/styles.css
  examples/vue-with-typescript/public/images/mux-logo.webp
  examples/vue-with-typescript/public/images/mux-logo@2x.webp
  examples/vue-with-typescript/src/App.vue
  examples/vue-with-typescript/src/assets/base.css
Due: none

fix: use custom-media-element pkg https://github.com/muxinc/custom-media-element
  packages/mux-audio/package.json
  packages/mux-audio/src/CustomAudioElement.d.ts
  packages/mux-audio/src/CustomAudioElement.js
  packages/mux-audio/src/index.ts
  packages/mux-video/package.json
  packages/mux-video/src/CustomVideoElement.d.ts
  packages/mux-video/src/CustomVideoElement.js
  packages/mux-video/src/index.ts
  yarn.lock
Due: mux-audio, mux-video

fix: add custom-media-element fix
  packages/mux-audio/package.json
  packages/mux-video/package.json
  yarn.lock
Due: mux-audio, mux-video

fix: upgrade to custom-media-element v0.2.0
  packages/mux-audio/package.json
  packages/mux-video/package.json
  packages/mux-video/src/index.ts
  yarn.lock
Due: mux-audio, mux-video

fix: use custom-media-element pkg (#697)
  packages/mux-audio/package.json
  packages/mux-audio/src/CustomAudioElement.d.ts
  packages/mux-audio/src/CustomAudioElement.js
  packages/mux-audio/src/index.ts
  packages/mux-video/package.json
  packages/mux-video/src/CustomVideoElement.d.ts
  packages/mux-video/src/CustomVideoElement.js
  packages/mux-video/src/index.ts
  yarn.lock
Due: mux-audio, mux-video

chore: upgrade to media-chrome 1.0.0-rc.5
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

chore: upgrade to media-chrome 1.0.0-rc.5 (#700)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix(playback-core): stream info should work for mp4 and apply appropriate defaults for unknown types/srcs.
  packages/playback-core/src/index.ts
  packages/playback-core/test/index.test.js
  packages/playback-core/test/util.test.js
Due: playback-core

test(mux-video): Add mp4 specific tests.
  packages/mux-video/test/index.test.js
Due: mux-video

Fix/stream info for mp4 (#702)
  packages/mux-video/test/index.test.js
  packages/playback-core/src/index.ts
  packages/playback-core/test/index.test.js
  packages/playback-core/test/util.test.js
Due: mux-video, playback-core

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix(playback-core, mux-video): Handle native playback edge cases where ended state doesn't work as expected based on small timeline discrepancies.
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
Due: mux-video, playback-core

fix(mux-audio): Handle native playback edge cases where ended state doesn't work as expected based on small timeline discrepancies.
  packages/mux-audio/src/index.ts
Due: mux-audio

fix(playback-core, mux-video, mux-audio): Simplify pseud-ended replay logic.
  packages/mux-audio/src/index.ts
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
Due: mux-audio, mux-video, playback-core

fix(playback-core, mux-video): Handle native playback edge cases wher… (#705)
  packages/mux-audio/src/index.ts
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
Due: mux-audio, mux-video, playback-core

fix(playback-core): bump hls.js version to 1.4.5.
  packages/playback-core/package.json
  yarn.lock
Due: playback-core

fix(mux-player): Upgrade media chrome version to latest.
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix(playback-core): bump media-chrome & hls.js version to latest. (#706)
  packages/mux-player/package.json
  packages/playback-core/package.json
  yarn.lock
Due: mux-player, playback-core

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix(playback-core): Apply pseudo-ended logic on seeked, even if paused.
  packages/playback-core/src/index.ts
Due: playback-core

fix(playback-core): Apply pseudo-ended logic on seeked, even if paused. (#707)
  packages/playback-core/src/index.ts
Due: playback-core

fix(mux-player): media-chrome version bump (occasional ResizeObserver RTE).
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

chore: upgrade turbo
  package.json
  yarn.lock
Due: none

feat: add Mux uploader rsc for Next 13
  packages/mux-uploader-react/package.json
  packages/mux-uploader-react/src/rsc.tsx
  yarn.lock
Due: none

chore: add Next 13 example
  examples/nextjs-13/.eslintrc.json
  examples/nextjs-13/.gitignore
  examples/nextjs-13/README.md
  examples/nextjs-13/app/favicon.ico
  examples/nextjs-13/app/globals.css
  examples/nextjs-13/app/layout.js
  examples/nextjs-13/app/page.js
  examples/nextjs-13/app/page.module.css
  examples/nextjs-13/jsconfig.json
  examples/nextjs-13/next.config.js
  examples/nextjs-13/package.json
  examples/nextjs-13/public/next.svg
  examples/nextjs-13/public/vercel.svg
Due: none

fix: simplify, remove explicit server action
  examples/nextjs-13/next.config.js
  packages/mux-uploader-react/src/rsc.tsx
Due: none

chore: update styles like other examples
  examples/nextjs-13/.gitignore
  examples/nextjs-13/README.md
  examples/nextjs-13/app/MuxUploader/page.js
  examples/nextjs-13/app/globals.css
  examples/nextjs-13/app/layout.js
  examples/nextjs-13/app/page.js
  examples/nextjs-13/app/page.module.css
  examples/nextjs-13/package.json
  examples/nextjs-13/public/images/github-logo.svg
  examples/nextjs-13/public/next.svg
  examples/nextjs-13/public/vercel.svg
  yarn.lock
Due: none

chore: upgrade turbo (#713)
  package.json
  yarn.lock
Due: none

Fix package meta to prevent referencing the wrong type declaration file
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix(mux-player): media chrome version bump.
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

test(mux-player): Update cue shifting test based on changed timing from deferred media chrome resize observer.
  packages/mux-player/test/player.test.js
Due: mux-player

fix(mux-player): media-chrome version bump (occasional ResizeObserver… (#711)
  packages/mux-player/package.json
  packages/mux-player/test/player.test.js
  yarn.lock
Due: mux-player

fix(playback-core): Switch back to using the unminified hls.js module, since this appears to cause edge case issues with initial times after ts segment transmuxing.
  packages/playback-core/src/hls.ts
Due: playback-core

chore(playback-core): Remove commented out code.
  packages/playback-core/src/hls.ts
Due: playback-core

fix(playback-core): Switch back to using the unminified hls.js module… (#718)
  packages/playback-core/src/hls.ts
Due: playback-core

fix(mux-player): media-chrome version bump for resize observer RTE.
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix(playback-core): hls.js version bump to pull in bug fixes.
  packages/playback-core/package.json
  yarn.lock
Due: playback-core

fix(playback-core, mux-player): hls.js & media-chrome version bumps (fixes resize observer RTE and hls.js edge case bugs)
  packages/mux-player/package.json
  packages/playback-core/package.json
  yarn.lock
Due: mux-player, playback-core

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
