Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

account for cuepoint values being strings and needing to be stringified
  packages/playback-core/src/text-tracks.ts
Due: playback-core

fix(playback-core): Fix chapters and cuepoints edge case for active cue.
  packages/playback-core/src/text-tracks.ts
Due: playback-core

test(mux-player): Cleanup async and event logic in tests (particularly chapters and cuepoints.
  packages/mux-player/test/player.test.js
Due: mux-player

feat(mux-uploader): Clean up styling and templating code for mux-uploader for (re)sizing.
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader.ts
Due: none

feat(mux-uploader): Clean up styling and templating code for mux-uploader for (re)sizing. (#922)
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader.ts
Due: none

feat(playback-core, mux-video, mux-player): addChapters interface (#909)
  examples/nextjs-with-typescript/pages/MuxPlayerChapters.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-chapters.html
  examples/vanilla-ts-esm/public/mux-player-cuepoints.html
  packages/mux-player-react/src/index.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/index.ts
  packages/mux-player/src/themes/gerwig/gerwig.html
  packages/mux-player/test/player.test.js
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/text-tracks.ts
  packages/playback-core/src/types.ts
Due: mux-player, mux-player-react, mux-video, playback-core

feat(mux-video-react, mux-audio-react, mux-audio, playback-core): Add clipping props for the rest of the elements.
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-video-react/src/index.tsx
  packages/playback-core/src/types.ts
Due: mux-audio, mux-audio-react, mux-video, mux-video-react, playback-core

docs(mux-player-react, mux-player, mux-video): Update docs for instant clipping props.
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
  packages/mux-video/README.md
Due: mux-player, mux-player-react, mux-video

chore: Update next MuxPlayer page for clipping params.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

feat(mux-player): Apply clipping params to poster and storyboard.
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
Due: mux-player

feat(playback-core, mux-video, mux-player, mux-player-react): Add instant clipping props and attrs.
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
Due: mux-player, mux-player-react, mux-video, playback-core

feat(mux-player, mux-player-react, mux-video, mux-video-react, mux-audio, mux-audio-react, playback-core): pdt clipping (#923)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video/README.md
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

feat(mux-player, mux-video, playback-core): Start scaffolding DRM support for elements (WIP).
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-player, mux-video, playback-core

feat(playback-core): Basic scaffolding of DRM impl for native and hls.js
  packages/playback-core/src/index.ts
Due: playback-core

feat(playback-core): Update placeholder DRM impl for current state. Fix some bugs.
  packages/playback-core/src/index.ts
Due: playback-core

feat(mux-video): Fix drm crud. Update playbackId getter to infer from src for simplicity in playback-core usage.
  packages/mux-video/src/index.ts
Due: mux-video

chore: Add dev:secure for nextjs app to run on https (needed for some DRM test case permutations).
  examples/nextjs-with-typescript/package.json
Due: none

feat(playback-core): Update DRM impl to latest changes.
  packages/playback-core/src/index.ts
Due: playback-core

fix(mux-player): do not assume tokens.
  packages/mux-player/src/template.ts
Due: mux-player

add a thing.
  packages/playback-core/src/text-tracks.ts
Due: playback-core

remove a thing.
  packages/playback-core/src/text-tracks.ts
Due: playback-core

feat(playback-core): Use customDomain with DRM endpoints.
  packages/playback-core/src/index.ts
Due: playback-core

docs(mux-player): Add links to DRM beta page.
  packages/mux-player/REFERENCE.md
Due: mux-player

feat(playback-core): Minor cleanup of DRM crud.
  packages/playback-core/src/index.ts
Due: playback-core

docs(mux-player, mux-player-react): Update reference docs to mention drm.
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
Due: mux-player, mux-player-react

test(mux-player): break up player tests due to playwright memory issues.
  packages/mux-player/test/player.pdt.test.js
  packages/mux-player/test/player.stream-types.test.js
  packages/mux-player/test/player.test.js
  packages/mux-player/test/player.text-tracks.test.js
Due: mux-player

test(mux-player): increase test runner timeout time.
  packages/mux-player/test/web-test-runner.config.mjs
Due: mux-player

test(mux-player): bump timeout for GHA test flake.
  packages/mux-player/test/player.text-tracks.test.js
Due: mux-player

whatevs
  packages/mux-player/test/player.test.js
Due: mux-player

feat(playback-core): only allow mux.com hosts for custom domain.
  packages/playback-core/src/index.ts
Due: playback-core

chore: minor cleanup per PR feedback.
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
Due: mux-video, playback-core

feat: basic drm support (#905)
  examples/nextjs-with-typescript/package.json
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/test/player.pdt.test.js
  packages/mux-player/test/player.stream-types.test.js
  packages/mux-player/test/player.test.js
  packages/mux-player/test/player.text-tracks.test.js
  packages/mux-player/test/web-test-runner.config.mjs
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-player, mux-player-react, mux-video, playback-core

fix(mux-player): Hide cast button by default when using DRM.
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
Due: mux-player

test(mux-player): fix and improve some tests that were missed due to GHA test issues.
  packages/mux-player/test/player.text-tracks.test.js
Due: mux-player

fix(mux-player): Hide cast button by default when using DRM. (#930)
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/test/player.text-tracks.test.js
Due: mux-player

fix: upgrade hls.js, custom-media-element, etc.
  examples/nextjs-with-typescript/package.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  yarn.lock
Due: mux-audio, mux-player, mux-video, playback-core

fix(playback-core): pseudo-ended eval case where media is not attached.
  packages/playback-core/src/index.ts
Due: playback-core

fix: upgrade hls.js, custom-media-element, etc. (#931)
  examples/nextjs-with-typescript/package.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  yarn.lock
Due: mux-audio, mux-player, mux-video, playback-core

fix(playback-core): pseudo-ended eval case where media is not attached. (#932)
  packages/playback-core/src/index.ts
Due: playback-core
