Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

one browser at a time?
  packages/mux-player/test/web-test-runner.config.mjs
Due: mux-player

downgrade playwright
  yarn.lock
Due: none

run browsers in parallel
  packages/mux-player/test/web-test-runner.config.mjs
Due: mux-player

temporarily skip cuepoints test in safari
  packages/mux-player/test/player.test.js
Due: mux-player

update playwright
  yarn.lock
Due: none

debug playwright
  packages/mux-player/package.json
Due: mux-player

skip some tests in safari
  packages/mux-player/test/player.test.js
Due: mux-player

don't debug playwright
  packages/mux-player/package.json
Due: mux-player

add volume to skipped tests
  packages/mux-player/test/player.test.js
Due: mux-player

toFixed volume
  packages/mux-player/test/player.test.js
Due: mux-player

go back to latest media-chrome
  examples/nextjs-with-typescript/pages/MuxPlayerTheme.tsx
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

skip all cuepoint tests on safari
  packages/mux-player/test/player.test.js
Due: mux-player

skip cuepoints tests everywhere
  packages/mux-player/test/player.test.js
Due: mux-player

test: Cross browser tests (#586)
  .github/workflows/ci.yml
  packages/mux-player/package.json
  packages/mux-player/test/errors.test.js
  packages/mux-player/test/player.test.js
  packages/mux-player/test/web-test-runner.config.mjs
  yarn.lock
Due: mux-player

fix: add micro theme export and switcher example
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerTheme.tsx
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/themes/micro.js
  yarn.lock
Due: mux-player

fix: move control CSS vars to theme temporarily
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/styles.css
Due: mux-player

fix: media-live-button hiding issue
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/styles.css
Due: mux-player

fix: tests and docs
  examples/nextjs-with-typescript/pages/MuxPlayerLazy.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/template.ts
  packages/mux-player/test/template.test.js
Due: mux-player

fix: default display css props
  packages/mux-player/src/media-theme-mux.html
Due: mux-player

fix: add micro theme export and switcher example (#594)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerLazy.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerTheme.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/test/template.test.js
  packages/mux-player/themes/micro.js
  yarn.lock
Due: mux-player

fix: package.json to reduce vulnerabilities
  package.json
Due: none

Change default select video text
  packages/mux-uploader/src/mux-uploader-file-select.ts
Due: none

Enable and style DnD by default
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-uploader/src/mux-uploader.ts
Due: none

Example styling to hide dropzone elements
  examples/vanilla-ts-esm/public/mux-uploader-full.html
  packages/mux-uploader/src/mux-uploader-drop.ts
Due: none

don't skip lib check in ts
  packages/mux-audio-react/tsconfig.json
  packages/mux-audio/tsconfig.json
  packages/mux-elements-codemod/tsconfig.json
  packages/mux-player-react/tsconfig.json
  packages/mux-player/tsconfig.json
  packages/mux-uploader-react/tsconfig.json
  packages/mux-uploader/tsconfig.json
  packages/mux-video-react/tsconfig.json
  packages/mux-video/tsconfig.json
  packages/playback-core/tsconfig.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

Allow progress bar height to be set
  packages/mux-uploader/src/mux-uploader-progress.ts
Due: none

Adding modal example
  examples/vanilla-ts-esm/public/mux-uploader-modal.html
Due: none

fix: Cleanup types and type assumptions. May need to revisit errors. Need to resolve mux-audio
  packages/mux-player/src/index.ts
  packages/mux-player/src/types.d.ts
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  types/mux-embed.d.ts
  types/mux.d.ts
Due: mux-player, mux-video, playback-core

fix(mux-audio): Cleanup type declaration.
  packages/mux-audio/src/CustomAudioElement.d.ts
Due: mux-audio

fix: update typedefs, disable skipLibChecks in tsconfig (#601)
  packages/mux-audio-react/tsconfig.json
  packages/mux-audio/src/CustomAudioElement.d.ts
  packages/mux-audio/tsconfig.json
  packages/mux-elements-codemod/tsconfig.json
  packages/mux-player-react/tsconfig.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/tsconfig.json
  packages/mux-uploader-react/tsconfig.json
  packages/mux-uploader/tsconfig.json
  packages/mux-video-react/tsconfig.json
  packages/mux-video/src/index.ts
  packages/mux-video/tsconfig.json
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/tsconfig.json
  types/mux-embed.d.ts
  types/mux.d.ts
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

update all tsconfigs
  packages/mux-audio-react/tsconfig.json
  packages/mux-audio/tsconfig.json
  packages/mux-elements-codemod/tsconfig.json
  packages/mux-player-react/tsconfig.json
  packages/mux-player-react/types/index.d.ts
  packages/mux-player/tsconfig.json
  packages/mux-uploader-react/tsconfig.json
  packages/mux-uploader/tsconfig.json
  packages/mux-video-react/tsconfig.json
  packages/mux-video/tsconfig.json
  tsconfig.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

another one
  packages/mux-player-react/tsconfig.json
Due: mux-player, mux-player-react

fixup
  packages/mux-player-react/tsconfig.json
  packages/mux-player-react/types/index.d.ts
Due: mux-player, mux-player-react

fixup mux-player-react target
  packages/mux-player-react/tsconfig.json
Due: mux-player, mux-player-react

playback-core: copy custom types before building types, move all tsconfig into the tsconfig.json file
  packages/playback-core/package.json
  packages/playback-core/tsconfig.json
Due: playback-core

need index.d.ts in types/ for ts not to complain about things
  types/index.d.ts
Due: none

add prebuild:types step, simplify tsc command (it's all in the tsconfig.json)
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

seems like it isn't actually needed?
  types/index.d.ts
Due: none

remove dist/custom-types before running types
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

restore toplevel tsconfig
  tsconfig.json
Due: none
