Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

Remove old assertion
  packages/mux-uploader/test/uploader.test.js
Due: none

Rexport type for react package
  packages/mux-uploader/src/index.ts
Due: none

Consolidate style
  packages/mux-uploader/src/mux-uploader.ts
Due: none

chore(storyboard-src): add example & nextjs manual config
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  shared/assets/media-assets.json
Due: none

test(mux-player): add prop tests and defaults tests
  packages/mux-player/test/player.test.js
Due: mux-player

chore: updtate storyboard-src test
  packages/mux-player/test/player.test.js
Due: mux-player

feat(mux-player-react): add storyboard-src prop
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

chore(mux-player-react): fix spelling
  packages/mux-player-react/REFERENCE.md
Due: mux-player, mux-player-react

refactor(mux-player): default storyboard-src to undefined
  packages/mux-player/src/index.ts
Due: mux-player

test(mux-player): storyboard-src
  packages/mux-player/test/player.test.js
Due: mux-player

feat(mux-player): add storyboard-src attriubte
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/index.ts
Due: mux-player

chore(mux-player): add newline before comment
  packages/mux-player/src/index.ts
Due: mux-player

refactor(mux-player): respect storyboard token if set
  packages/mux-player/src/index.ts
Due: mux-player

chore(mux-video): add vtt example URL to docs
  packages/mux-player/REFERENCE.md
Due: mux-player

use globalThis
  packages/mux-uploader/src/progress-indicator.ts
Due: none

Rename progress-indicator to progress
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/progress.ts
Due: none

Update template
  packages/mux-uploader/src/mux-uploader.ts
Due: none

Fix test
  packages/mux-uploader/test/progress.test.js
Due: none

Update constants
  packages/mux-uploader/src/constants.ts
Due: none

Address Christian's feedback
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/mux-uploader-progress.ts
Due: none

Include Element in export name
  packages/mux-uploader/src/index.ts
Due: none

chore(mux-uploader): improve element modularity (#539)
  packages/mux-uploader/package.json
  packages/mux-uploader/src/constants.ts
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/mux-uploader-progress.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/progress.test.js
  packages/mux-uploader/test/uploader.test.js
Due: none

chore: add Closed Captions (x3) to media-assets.json
  shared/assets/media-assets.json
Due: none

chore: add Closed Captions (x3) to media-assets.json (#540)
  shared/assets/media-assets.json
Due: none

First pass on file select component
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader.ts
Due: none

Update element name
  packages/mux-uploader/src/mux-uploader-file-select.ts
Due: none

Add slot test
  packages/mux-uploader/test/file-select.test.js
Due: none

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Remove unused import
  packages/mux-uploader/test/file-select.test.js
Due: none

SR Text component with event bus poc
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/mux-uploader-sr-text.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/src/utils/event-bus.ts
  packages/mux-uploader/test/sr-text.test.js
Due: none

Change describe
  packages/mux-uploader/test/file-select.test.js
Due: none

breaking: rename slot
  examples/vanilla-ts-esm/public/mux-uploader-full.html
  examples/vanilla-ts-esm/public/mux-uploader-simple.html
  packages/mux-uploader/README.md
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/file-select.test.js
Due: none

Test click event is passed to file input
  packages/mux-uploader/test/file-select.test.js
Due: none

Assert get/set
  packages/mux-uploader/test/file-select.test.js
Due: none

Mock server early with sinon
  packages/mux-uploader/package.json
  packages/mux-uploader/test/uploader.test.js
  packages/mux-uploader/test/utils/server.js
  packages/mux-uploader/test/web-test-runner.config.mjs
  yarn.lock
Due: none

Use js private
  packages/mux-uploader/src/mux-uploader-file-select.ts
Due: none

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
