Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

increase some test timeouts
  packages/mux-player/test/player.test.js
Due: mux-player

fix: increase some test timeouts (#785)
  packages/mux-player/test/player.test.js
Due: mux-player

mux-theme element display block
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

restore in-block, internalise line-height: 0 to player style
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

increase and hope for the best
  packages/mux-player/test/player.test.js
Due: mux-player

fix: increase poster test timeout (#786)
  packages/mux-player/test/player.test.js
Due: mux-player

switch to new theme
  packages/mux-player/src/index.ts
Due: mux-player

fix selectors
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

feat(mux-player)!: switch to new default theme (#784)
  packages/mux-player/src/index.ts
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

unnecessary change
  README_INTERNAL.md
Due: none

feat(mux-player)!: major version bump (#787)
  README_INTERNAL.md
Due: none

space
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

feat(mux-player)!: major version bump (#788)
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

unnecessary space that the linter doesn't revert
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

feat(mux-player-react)!: bring breaking change in line with mux-player package (#789)
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
Due: mux-player, mux-player-react

fix(mux-player, mux-player-react): Adding accentColor prop and accent-color attr to player.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player, mux-player-react

docs(mux-player, mux-player-react): Document accentColor and accent-color in API references.
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
Due: mux-player, mux-player-react

Fix(mux-player, mux-player-react): add accent color prop attr (#790)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player, mux-player-react

Update UPGRADING_V1_to_V2.md
  packages/mux-player/UPGRADING_V1_to_V2.md
Due: mux-player

Update Mux Player README with 2.0 announcement
  packages/mux-player/README.md
Due: mux-player

Update README.md
  packages/mux-player/README.md
Due: mux-player

Update README.md for 2.0
  packages/mux-player-react/README.md
Due: mux-player, mux-player-react

Update packages/mux-player/UPGRADING_V1_to_V2.md
  packages/mux-player/UPGRADING_V1_to_V2.md
Due: mux-player

chore: updating markdown files for 2.0 release (#791)
  packages/mux-player-react/README.md
  packages/mux-player/README.md
  packages/mux-player/UPGRADING_V1_to_V2.md
Due: mux-player, mux-player-react

example: update alternative theme to classic
  examples/vanilla-ts-esm/package.json
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-theme-classic.html
  examples/vanilla-ts-esm/src/mux-player-classic-theme.ts
  examples/vanilla-ts-esm/src/mux-player-gerwig-theme.ts
  yarn.lock
Due: none

example: update alternative theme to classic (#794)
  examples/vanilla-ts-esm/package.json
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-theme-classic.html
  examples/vanilla-ts-esm/src/mux-player-classic-theme.ts
  examples/vanilla-ts-esm/src/mux-player-gerwig-theme.ts
  yarn.lock
Due: none

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
