Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix(mux-video-react): Don't spread streamType to video to avoid React warnings.
  packages/mux-video-react/src/index.tsx
Due: mux-video, mux-video-react

fix(mux-video-react): Don't spread streamType to video to avoid React warnings (#721)
  packages/mux-video-react/src/index.tsx
Due: mux-video, mux-video-react

Fix package meta to prevent referencing the wrong type declaration file (#715)
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

Fix type field path
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

Add missing transitive peer dependencies
  packages/mux-active-viewer-count/package.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-uploader/package.json
  packages/mux-video/package.json
  shared/test-esm-exports/package.json
Due: mux-audio, mux-player, mux-video

Fix file locations for mux-player-react/lazy
  packages/mux-player-react/package.json
Due: mux-player, mux-player-react

Fix type field path (#725)
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

move default theme into own folder
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/classic/index.ts
Due: mux-player

use generic theme name import
  packages/mux-player/src/template.ts
Due: mux-player

fix theme import
  packages/mux-player/src/themes/classic/index.ts
Due: mux-player

revert to previous theme template reference
  packages/mux-player/src/template.ts
Due: mux-player

use theme getter instead of directly querying attribute
  packages/mux-player/src/index.ts
Due: mux-player

don't set template attr if there's no template, fixes tests expecting it to not exist instead of being an empty string
  packages/mux-player/src/template.ts
Due: mux-player

use globalThis to define theme custom element
  packages/mux-player/src/themes/classic/index.ts
Due: mux-player

try to default to classic theme via theme getter
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/classic/index.ts
Due: mux-player

Add globalThis import
  packages/mux-player/src/themes/classic/index.ts
Due: mux-player

ignore themes output folder
  packages/mux-player/.gitignore
Due: mux-player

fix media theme element import
  packages/mux-player/src/themes/classic/index.ts
Due: mux-player

build themes during main build task
  packages/mux-player/package.json
Due: mux-player

build all themes using the same script, expose via package json
  packages/mux-player/package.json
  packages/mux-player/scripts/build-themes.mjs
  packages/mux-player/src/themes/microvideo/index.ts
  packages/mux-player/src/themes/minimal/index.ts
  yarn.lock
Due: mux-player

gitignore dont ignore src theme files
  packages/mux-player/.gitignore
Due: mux-player

chore: Make vanilla example for themes use mux-player exports.
  examples/vanilla-ts-esm/public/mux-player-theme.html
  examples/vanilla-ts-esm/src/mux-player-microvideo-theme.ts
Due: none

build(mux-player): Update exports and target outdir for themes (move to dist).
  packages/mux-player/package.json
  packages/mux-player/scripts/build-themes.mjs
Due: mux-player

support dev mode in themes script
  packages/mux-player/package.json
  packages/mux-player/scripts/build-themes.mjs
Due: mux-player

fix(mux-player): use optional chaining in theme to ensure SSR does not throw.
  packages/mux-player/src/themes/classic/index.ts
Due: mux-player

svelte example for importing theme
  examples/svelte-kit/src/routes/+page.svelte
  examples/svelte-kit/src/routes/mux-player-theme/+page.svelte
Due: none

fix duplicate entry in package.json after rebase
  packages/mux-player/package.json
Due: mux-player

capitalise first letter of theme name for IIFE global name
  packages/mux-player/scripts/build-themes.mjs
Due: mux-player

rollback esbuild version for mux-player to match adjacent packages
  packages/mux-player/package.json
  packages/mux-player/scripts/build-themes.mjs
  yarn.lock
Due: mux-player

chore: Prepare default theme from Mux Player for export (#668)
  examples/svelte-kit/src/routes/+page.svelte
  examples/svelte-kit/src/routes/mux-player-theme/+page.svelte
  examples/vanilla-ts-esm/public/mux-player-theme.html
  examples/vanilla-ts-esm/src/mux-player-microvideo-theme.ts
  packages/mux-player/.gitignore
  packages/mux-player/package.json
  packages/mux-player/scripts/build-themes.mjs
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/classic/index.ts
  packages/mux-player/src/themes/microvideo/index.ts
  packages/mux-player/src/themes/minimal/index.ts
Due: mux-player

bump media chrome version to 1.2.0 for player
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

feat: implement renditions
  packages/mux-video/package.json
  packages/mux-video/src/index.ts
  packages/playback-core/package.json
  packages/playback-core/src/index.ts
  packages/playback-core/src/renditions.ts
  packages/playback-core/src/types.ts
  shared/assets/media-assets.json
  yarn.lock
Due: mux-video, playback-core

fix: add mediaTracks getters
  packages/mux-player/src/index.ts
  packages/mux-player/src/video-api.ts
Due: mux-player

fix: add gate if no videoTracks support
  packages/playback-core/src/renditions.ts
Due: playback-core

fix: add old example back, media-tracks version
  packages/mux-video/package.json
  shared/assets/media-assets.json
  yarn.lock
Due: mux-video

fix: level index bug
  packages/playback-core/src/renditions.ts
Due: playback-core

fix: use specific types
  packages/playback-core/src/index.ts
  packages/playback-core/src/renditions.ts
Due: playback-core

chore: add vanilla renditions example
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-renditions.html
Due: none

feat: refactor renditions API
  examples/vanilla-ts-esm/public/mux-player-renditions.html
  packages/mux-player/src/index.ts
  packages/mux-player/src/video-api.ts
  packages/mux-video/package.json
  packages/playback-core/package.json
  packages/playback-core/src/index.ts
  packages/playback-core/src/renditions.ts
  yarn.lock
Due: mux-player, mux-video, playback-core

feat: implement renditions API (#708)
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-renditions.html
  packages/mux-player/src/index.ts
  packages/mux-player/src/video-api.ts
  packages/mux-video/package.json
  packages/mux-video/src/index.ts
  packages/playback-core/package.json
  packages/playback-core/src/index.ts
  packages/playback-core/src/renditions.ts
  packages/playback-core/src/types.ts
  shared/assets/media-assets.json
  yarn.lock
Due: mux-player, mux-video, playback-core

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
