Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

fix: update to hls.js@1.2.2
  packages/playback-core/package.json
  shared/test-esm-exports/package.json
  yarn.lock
Due: playback-core

test: update hls.js for tests
  shared/test-esm-exports/package.json
  yarn.lock
Due: none

feat: export gesture-layer as a part
  packages/mux-player-react/README.md
  packages/mux-player/README.md
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
Due: mux-player, mux-player-react

chore: turn off add PRs to project
  .github/workflows/project.yml
Due: none

test: update template tests to expect new gesture-layer part
  packages/mux-player/test/template.test.js
Due: mux-player

fix: audio and nohotkeys props not being removed when set to false
  packages/mux-player/src/index.ts
Due: mux-player

Add exportparts to mux-player so we can style nested video
  packages/mux-player/src/template.ts
Due: mux-player

fix: audio and nohotkeys props not being removed when set to false (#383)
  packages/mux-player/src/index.ts
Due: mux-player

chore: Setup vanilla test scenarios for memory leak.
  examples/vanilla-ts-esm/package.json
  examples/vanilla-ts-esm/public/hls.html
  examples/vanilla-ts-esm/public/playback-core.html
  examples/vanilla-ts-esm/public/test-component.html
  examples/vanilla-ts-esm/src/hls.ts
  examples/vanilla-ts-esm/src/playback-core.ts
  examples/vanilla-ts-esm/src/test-component.ts
Due: none

chore: Update nextjs MuxVideo (react) and mux-video (WC) page for testing memory leak issues.
  examples/nextjs-with-typescript/pages/MuxVideo.tsx
  examples/nextjs-with-typescript/pages/mux-video.tsx
Due: none

fix(playback-core): Make sure event handlers and other references are cleaned up to avoid memory leaks.
  packages/playback-core/src/autoplay.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/tracks.ts
  packages/playback-core/src/util.ts
Due: playback-core

fix: allow modifying the color of the controls shade
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

update docs
  packages/mux-player/README.md
Due: mux-player

fix typing
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

fix: update to hls.js 1.2.3
  packages/playback-core/package.json
  shared/test-esm-exports/package.json
  yarn.lock
Due: playback-core

fix: mux-video memory leak
  packages/mux-video/src/index.ts
Due: mux-video

fix: mux-audio mem leak
  packages/mux-audio/src/index.ts
Due: mux-audio

fix: update to media-chrome 0.10.3
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: mux-video & mux-audio memory leak (#387)
  packages/mux-audio/src/index.ts
  packages/mux-video/src/index.ts
Due: mux-audio, mux-video

feat: add Apple-ish gradient
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

Update packages/mux-player/README.md
  packages/mux-player/README.md
Due: mux-player

fix: update to hls.js 1.2.3 (#386)
  packages/playback-core/package.json
  shared/test-esm-exports/package.json
  yarn.lock
Due: playback-core

fix: update to media-chrome 0.10.4
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: update to media-chrome 0.10.4 (#391)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

feat: add --controls-backdrop-color CSS var to allow changing the backdrop color (#353)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player/README.md
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

fix: fix video CSS part naming and tests
  packages/mux-player/src/template.ts
  packages/mux-player/test/template.test.js
Due: mux-player

fix: Add exportparts to mux-player so we can style nested video (#392)
  packages/mux-player/src/template.ts
  packages/mux-player/test/template.test.js
Due: mux-player

fix(mux-player, mux-player-react): Make types more accurate for event listeners/callbacks.
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/video-api.ts
Due: mux-player, mux-player-react

chore(mux-player-react): Remove unneeded defaulting.
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

chore: Clean up internal types. Fix default exports for dup useCombinedRefs impls.
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio-react/src/use-combined-refs.ts
  packages/mux-player-react/src/useCombinedRefs.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video-react/src/use-combined-refs.ts
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

Fix/react event callback types (#393)
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio-react/src/use-combined-refs.ts
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/useCombinedRefs.ts
  packages/mux-player/src/video-api.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video-react/src/use-combined-refs.ts
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

fix: constant attribute setting of time display
  packages/mux-player/src/media-chrome/time-display.ts
Due: mux-player

fix(playback-core): Use custom teardown event type instead of emptied due to pre-emptive emptied.
  packages/playback-core/src/index.ts
  packages/playback-core/src/tracks.ts
  packages/playback-core/src/util.ts
Due: playback-core
