Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

useComposedRefs support old and new React
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/useCombinedRefs.ts
  packages/mux-player-react/src/useComposedRefs.ts
Due: mux-player, mux-player-react

create event muxmetadata
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
Due: mux-video, playback-core

fix(playback-core): Change default of preferCmcd to 'none' for improved cacheability. Update reference docs to document preferCmcd (et al.).
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
  packages/playback-core/src/index.ts
Due: mux-player, mux-player-react, playback-core

bring back cast button for drm protected videos
  packages/mux-player/src/template.ts
Due: mux-player

fix(playback-core): Change default of preferCmcd to 'none' for improved cacheability. Update reference docs to document preferCmcd (et al.). (#1136)
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
  packages/playback-core/src/index.ts
Due: mux-player, mux-player-react, playback-core

fix: Ensure ref callback cleanup executes on MuxPlayer unmount (#1132)
  packages/mux-player-react/src/common/utils.ts
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/useCombinedRefs.ts
  packages/mux-player-react/src/useComposedRefs.ts
Due: mux-player, mux-player-react

fix: bring back cast button for drm protected videos (#1137)
  packages/mux-player/src/template.ts
Due: mux-player

dispach events only if error is present in state
  packages/playback-core/src/index.ts
Due: playback-core

fix: remove old cast events from mux-video
  packages/mux-video/src/index.ts
Due: mux-video

pr fixes
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/media-tracks.ts
Due: mux-video, playback-core

update tests with correct message for 412 errors
  packages/mux-player/test/errors.test.js
  packages/playback-core/test/errors.test.js
Due: mux-player, playback-core

fix(mux-video-ads, mux-player-react): Clean up news player and ads events and event cbs.
  packages/mux-player-react/src/mux-news-player.tsx
  packages/mux-video-ads/src/index.ts
Due: mux-player, mux-player-react, mux-video

chore: validate event cbs in news player (DO NOT MERGE).
  examples/nextjs-with-typescript/pages/playlist-page.tsx
Due: none

fix(mux-video-ads): Account for initial playback monitoring when initiated from underlying media element.
  packages/mux-video-ads/src/ads-manager.ts
Due: mux-video

feat: news player (#1115)
  .github/workflows/cd-news-player.yml
  examples/nextjs-with-typescript/package.json
  examples/nextjs-with-typescript/pages/MuxPlayerAds.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/nextjs-with-typescript/pages/mux-video-ads-react.tsx
  examples/nextjs-with-typescript/pages/playlist-page.tsx
  examples/nextjs-with-typescript/post-video.css
  examples/nextjs-with-typescript/styles.css
  examples/vanilla-ts-esm/package.json
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-ads.html
  examples/vanilla-ts-esm/public/mux-video-ads.html
  examples/vanilla-ts-esm/src/mux-video-ads.ts
  package-lock.json
  packages/mux-player-react/MuxNewsPlayer.md
  packages/mux-player-react/package.json
  packages/mux-player-react/src/common/utils.ts
  packages/mux-player-react/src/end-screen.css
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/mux-news-player.tsx
  packages/mux-player-react/src/playlist-end-screen.tsx
  packages/mux-player-react/src/themes/news-theme.tsx
  packages/mux-player-react/src/types.d.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/src/video-api.ts
  packages/mux-video-ads/README.md
  packages/mux-video-ads/package.json
  packages/mux-video-ads/src/ads-manager.ts
  packages/mux-video-ads/src/index.ts
  packages/mux-video-ads/src/react.ts
  packages/mux-video-ads/tsconfig.json
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-player, mux-player-react, mux-video, playback-core

cd: fix git add command
  .github/workflows/cd-news-player.yml
Due: none

cd: fix @mux/mux-video-ads dependency install
  .github/workflows/cd-news-player.yml
Due: none

tools: add github user to action
  .github/workflows/cd-news-player.yml
Due: none

cd: fix branch release scripts
  .github/workflows/cd-news-player.yml
Due: none

cd: fix git push command
  .github/workflows/cd-news-player.yml
Due: none

tools: remove production env
  .github/workflows/cd-news-player.yml
Due: none

cd: fix custom dependencies version
  .github/workflows/cd-news-player.yml
  package-lock.json
  packages/mux-video-ads/package.json
Due: mux-video

fix: create ads export in mux-video, renaming
  .github/workflows/cd-news-player.yml
  examples/nextjs-with-typescript/pages/MuxPlayerAds.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/nextjs-with-typescript/pages/mux-video-ads-react.tsx
  examples/nextjs-with-typescript/tsconfig.json
  examples/vanilla-ts-esm/package.json
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-ads.html
  examples/vanilla-ts-esm/public/mux-video-ads.html
  examples/vanilla-ts-esm/src/mux-video-ads.ts
  package-lock.json
  packages/mux-player-react/MuxNewsPlayer.md
  packages/mux-player-react/package.json
  packages/mux-player-react/src/mux-news-player.tsx
  packages/mux-player/src/template.ts
  packages/mux-video-ads/README.md
  packages/mux-video-ads/package.json
  packages/mux-video-ads/src/index.ts
  packages/mux-video-ads/tsconfig.json
  packages/mux-video/package.json
  packages/mux-video/src/ads/ads-video-mixin.ts
  packages/mux-video/src/ads/google-ima-ads-provider.ts
  packages/mux-video/src/ads/index.ts
  packages/mux-video/src/ads/react.ts
  packages/mux-video/src/mux-video-base-element.ts
Due: mux-player, mux-player-react, mux-video

fix: create @mux/mux-video/base for deduplication
  packages/mux-video/package.json
  packages/mux-video/src/ads/index.ts
  packages/mux-video/src/base.ts
  packages/mux-video/src/index.ts
Due: mux-video

fix: use attr hyphenation & fix mediaadbreak UI
  examples/vanilla-ts-esm/public/mux-player-ads.html
  examples/vanilla-ts-esm/public/mux-video-ads.html
  packages/mux-player-react/src/common/utils.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/video-api.ts
  packages/mux-video/src/ads/index.ts
  packages/mux-video/src/ads/mixin.ts
  packages/mux-video/src/ads/react.ts
Due: mux-player, mux-player-react, mux-video

fix: delete cd-news-player.yml, update docs
  .github/workflows/cd-news-player.yml
  examples/nextjs-with-typescript/pages/playlist-page.tsx
  packages/mux-player-react/src/news/README.md
Due: mux-player, mux-player-react

fix: add adTagUrl prop to react
  packages/mux-video/src/ads/react.ts
Due: mux-video

feat: add @mux/mux-player-react/news package
  examples/nextjs-with-typescript/pages/playlist-page.tsx
  packages/mux-player-react/package.json
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/news/README.md
  packages/mux-player-react/src/news/index.tsx
  packages/mux-player-react/src/news/playlist-end-screen.css
  packages/mux-player-react/src/news/playlist-end-screen.tsx
  packages/mux-video/package.json
Due: mux-player, mux-player-react, mux-video

fix: use @mux/mux-video/base for export
  packages/mux-video/src/ads/index.ts
  packages/mux-video/src/index.ts
Due: mux-video

fix: lint error
  packages/mux-video/src/base.ts
Due: mux-video

feat: add ad events, cleanup ads logic
  examples/nextjs-with-typescript/pages/MuxPlayerAds.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerError.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/nextjs-with-typescript/pages/mux-video-ads-react.tsx
  examples/vanilla-ts-esm/public/mux-player-error.html
  packages/mux-player-react/src/index.tsx
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/src/video-api.ts
  packages/mux-video/package.json
  packages/mux-video/src/ads/events.ts
  packages/mux-video/src/ads/google-ima-ads-provider.ts
  packages/mux-video/src/ads/google-ima-client-provider.ts
  packages/mux-video/src/ads/index.ts
  packages/mux-video/src/ads/mixin.ts
  packages/mux-video/src/ads/types.ts
  packages/mux-video/src/base.ts
  packages/mux-video/src/types.ts
  packages/mux-video/test/index.test.js
  packages/playback-core/src/types.ts
Due: mux-player, mux-player-react, mux-video, playback-core

feat: rename ad events to match mux-embed, cleanup
  packages/mux-player-react/src/news/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-video/src/ads/google-ima-ads-provider.ts
  packages/mux-video/src/ads/mixin.ts
Due: mux-player, mux-player-react, mux-video

fix: remove console.logs
  packages/mux-video/src/ads/google-ima-ads-provider.ts
  packages/mux-video/src/ads/mixin.ts
Due: mux-video

fix: cleanup, add missing ad methods
  examples/nextjs-with-typescript/pages/MuxPlayerAds.tsx
  examples/nextjs-with-typescript/pages/mux-video-ads-react.tsx
  examples/nextjs-with-typescript/pages/playlist-page.tsx
  examples/nextjs-with-typescript/post-video.css
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/src/types.d.ts
  packages/mux-video/src/ads/google-ima-ads-provider.ts
  packages/mux-video/src/ads/mixin.ts
Due: mux-player, mux-player-react, mux-video

fix: remove mux-video-element attribute not needed anymore
  packages/mux-player/src/index.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/src/video-api.ts
Due: mux-player

feat: add adblocker bypass option, expose player props, and conditional captions menu (#1127)
  examples/nextjs-with-typescript/pages/MuxPlayerAds.tsx
  examples/nextjs-with-typescript/pages/mux-video-ads-react.tsx
  examples/nextjs-with-typescript/pages/playlist-page.tsx
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/news/README.md
  packages/mux-player-react/src/news/index.tsx
  packages/mux-player-react/src/themes/news-theme.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-video/src/ads/mixin.ts
Due: mux-player, mux-player-react, mux-video

fix: lint and type issues
  examples/nextjs-with-typescript/pages/MuxPlayerCuePoints.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/src/types.ts
  packages/mux-player/src/video-api.ts
  packages/mux-video/src/ads/google-ima-client-provider.ts
  packages/mux-video/src/ads/mixin.ts
Due: mux-player, mux-video

fix: theme issue, improve npm scripts
  examples/nextjs-with-typescript/pages/MuxPlayerAds.tsx
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-video/package.json
Due: mux-player, mux-player-react, mux-video

fix: move news theme to mux-player
  packages/mux-player-react/package.json
  packages/mux-player-react/src/news/index.tsx
  packages/mux-player-react/src/themes/news-theme.tsx
  packages/mux-player-react/src/themes/news.ts
  packages/mux-player/scripts/build-themes.mjs
  packages/mux-player/src/themes/news/index.ts
  packages/mux-player/src/themes/news/news.html
Due: mux-player, mux-player-react

fix: Refactor adBreak handling to use internal state
  packages/mux-player/src/index.ts
Due: mux-player

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
