Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
Due: mux-player, mux-player-react

fix: switch cjs extension to .cjs.js
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

feat: add esm builds for react packages
  packages/mux-audio-react/package.json
  packages/mux-player-react/package.json
  packages/mux-video-react/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

fixup browser builds point at mjs
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-player, mux-video, playback-core

Revert "feat: add esm builds for react packages"
  packages/mux-audio-react/package.json
  packages/mux-player-react/package.json
  packages/mux-video-react/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

chore: Start upgrading CRA to latest.
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app-with-typescript/tsconfig.json
  examples/create-react-app-with-typescript/yarn.lock
  yarn.lock
Due: none

feat(playback-core): Update config values for hls to be more consistent with native playback and to reasonable trim the backbuffer during playback.
  packages/playback-core/src/index.ts
Due: playback-core

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix(mux-player): upgrade Media Chrome to 0.6.5
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: playback core require and default file extension is .cjs.js
  packages/playback-core/package.json
Due: playback-core

docs: remove incorrect section on signed urls
  packages/mux-player/README.md
Due: mux-player

fix: add an error if a token is provided via the playback ID
  packages/mux-player/lang/en.json
  packages/mux-player/src/index.ts
Due: mux-player

fix: stop tracking non-fatal errors in Mux data
  packages/playback-core/src/index.ts
Due: playback-core

chore: use test video without letterboxing
  examples/vanilla-ts-esm/public/mux-player.html
Due: none

feat: vertical align progress bar, second color improvements
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/template.ts
Due: mux-player

feat: vertical align progress bar and improve second color background (#235)
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/template.ts
Due: mux-player

feat(dvr): Initial effort for DVR support.
  packages/mux-player/src/constants.ts
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
  packages/playback-core/src/index.ts
Due: mux-player, playback-core

chore(mux-player): one-off disable for switch case linting no-fallthrough rule.
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

feat: add casting logic without controls
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/castable-video.js
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/video-api.ts
  packages/mux-player/test/player.test.js
  packages/mux-player/test/template.test.js
  packages/mux-player/tsconfig.json
  packages/mux-video/src/CustomVideoElement.js
Due: mux-player, mux-video

fix: nextjs undefined references
  packages/mux-player/src/castable-video.js
  shared/polyfills/window.js
Due: mux-player

feat: upgrade Media Chrome 0.6.6
  packages/mux-player/package.json
  packages/mux-player/src/castable-video.js
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
  yarn.lock
Due: mux-player

chore: hardcode optional castable-video in CustomVideoElement
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
  packages/mux-video/src/CustomVideoElement.js
  shared/castable-video/castable-video.js
  shared/castable-video/package.json
  yarn.lock
Due: mux-player, mux-video

test: fix tests with new markup
  packages/mux-player/package.json
  packages/mux-player/test/player.test.js
  packages/mux-player/test/template.test.js
  yarn.lock
Due: mux-player

fix: keep manual track of id count
  shared/castable-video/castable-video.js
Due: none

fix: castable-video CJS import for next.js
  examples/vanilla-ts-esm/public/mux-player.html
  shared/castable-video/castable-video.js
  shared/castable-video/index.js
  shared/castable-video/index.mjs
  shared/castable-video/package.json
Due: none

feat: pass stream-type to cast-stream-type
  packages/mux-player/src/template.ts
  shared/castable-video/castable-video.js
Due: mux-player
