Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

feat(mux-uploader, mux-uploader-react): Expose way to toggle upchunk useLargeFileWorkaround
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader/src/mux-uploader.ts
Due: none

docs(mux-uploader, mux-uploader-react): Update docs for new feature. Additional docs cleanup.
  packages/mux-uploader-react/README.md
  packages/mux-uploader/README.md
Due: none

chore: Update MuxUploader nextjs demo page to make testing params easier.
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
Due: none

docs(mux-uploader, mux-uploader-react): update docs per PR feedback.
  packages/mux-uploader-react/README.md
  packages/mux-uploader/README.md
Due: none

feat: mux uploader large file fallback (#934)
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
  packages/mux-uploader-react/README.md
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader/README.md
  packages/mux-uploader/src/mux-uploader.ts
Due: none

chore: refactor typescript app for shareable component config pages. Use with both MuxPlayer and MuxUploader pages.
  examples/nextjs-with-typescript/app/page-state/index.ts
  examples/nextjs-with-typescript/components/ComponentCodeRenderer.tsx
  examples/nextjs-with-typescript/components/URLPathRenderer.tsx
  examples/nextjs-with-typescript/components/renderers.tsx
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
  examples/nextjs-with-typescript/styles.css
Due: none

fix(mux-uploader, mux-uploader-react): minor cleanup and improve ProgressTypes usage for MuxUploader (react).
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader/src/mux-uploader.ts
Due: none

chore: apply appropriate mins and steps to numeric MuxUploader values on nextjs page.
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
Due: none

fix(mux-uploader, mux-uploader-react): Minor cleanup (#935)
  examples/nextjs-with-typescript/app/page-state/index.ts
  examples/nextjs-with-typescript/components/ComponentCodeRenderer.tsx
  examples/nextjs-with-typescript/components/URLPathRenderer.tsx
  examples/nextjs-with-typescript/components/renderers.tsx
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
  examples/nextjs-with-typescript/styles.css
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader/src/mux-uploader.ts
Due: none

feat(playback-core): For widevine, prioritize L1 but fall back to L3.
  packages/playback-core/src/index.ts
Due: playback-core

feat(playback-core): For widevine, prioritize L1 but fall back to L3. (#939)
  packages/playback-core/src/index.ts
Due: playback-core

feat: clean up type attr. Handle dynamic updates better. Don't use typescript-specific syntax.
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader-pause.ts
  packages/mux-uploader/src/mux-uploader-progress.ts
  packages/mux-uploader/src/mux-uploader-retry.ts
  packages/mux-uploader/src/mux-uploader-status.ts
  packages/mux-uploader/src/mux-uploader.ts
Due: none

feat: clean up type attr. Handle dynamic updates better. (#937)
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader-pause.ts
  packages/mux-uploader/src/mux-uploader-progress.ts
  packages/mux-uploader/src/mux-uploader-retry.ts
  packages/mux-uploader/src/mux-uploader-status.ts
  packages/mux-uploader/src/mux-uploader.ts
Due: none

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

test(mux-uploader): Update file select visibility test.
  packages/mux-uploader/test/file-select.test.js
Due: none

test(mux-uploader): Skipping test for now to unblock release.
  packages/mux-uploader/test/file-select.test.js
Due: none

test(mux-uploader): Update file select visibility test. (#945)
  packages/mux-uploader/test/file-select.test.js
Due: none

remove hard coded stream types
  examples/create-react-app-with-typescript/src/pages/MuxAudio.tsx
  examples/create-react-app-with-typescript/src/pages/MuxPlayer.tsx
  examples/create-react-app-with-typescript/src/pages/MuxPlayerLazy.tsx
  examples/create-react-app-with-typescript/src/pages/MuxVideo.tsx
  examples/nextjs-with-typescript/pages/MuxAudio.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerChapters.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerCuePoints.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerLazyBlurUp.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerPosterSlot.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerTheme.tsx
  examples/nextjs-with-typescript/pages/MuxVideo.tsx
  packages/mux-player-react/README.md
  packages/mux-video-react/README.md
Due: mux-player, mux-player-react, mux-video, mux-video-react

chore: Update MuxPlayer nextjs page to support preferPlayback field.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs(mux-uploader): Update docs to align with mux-player standards (simple readme + reference docs).
  packages/mux-uploader/README.md
  packages/mux-uploader/REFERENCE.md
Due: none

docs(mux-uploader): Finish reference docs.
  packages/mux-uploader/REFERENCE.md
Due: none

docs(mux-uploader): Fix css parts table for reference docs.
  packages/mux-uploader/REFERENCE.md
Due: none

docs(mux-uploader, mux-uploader-react): update readme.
  packages/mux-uploader-react/README.md
  packages/mux-uploader/README.md
Due: none

docs(mux-uploader, mux-uploader-react): Finish reference docs.
  packages/mux-uploader-react/REFERENCE.md
  packages/mux-uploader/REFERENCE.md
Due: none

docs(mux-uploader-react): Use different link for react example code in reference docs.
  packages/mux-uploader-react/REFERENCE.md
Due: none

docs(mux-uploader-react): Fix cross-reference linking to subcomponent subsections.
  packages/mux-uploader-react/REFERENCE.md
Due: none

docs(mux-uploader-react): copypasta issue
  packages/mux-uploader-react/README.md
Due: none

chore: remove hard coded stream types (#946)
  examples/create-react-app-with-typescript/src/pages/MuxAudio.tsx
  examples/create-react-app-with-typescript/src/pages/MuxPlayer.tsx
  examples/create-react-app-with-typescript/src/pages/MuxPlayerLazy.tsx
  examples/create-react-app-with-typescript/src/pages/MuxVideo.tsx
  examples/nextjs-with-typescript/pages/MuxAudio.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerChapters.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerCuePoints.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerLazyBlurUp.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerPosterSlot.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerTheme.tsx
  examples/nextjs-with-typescript/pages/MuxVideo.tsx
  packages/mux-player-react/README.md
  packages/mux-video-react/README.md
Due: mux-player, mux-player-react, mux-video, mux-video-react

docs(mux-uploader-react): lingering player-specific language.
  packages/mux-uploader-react/REFERENCE.md
Due: none

docs(mux-uploader, mux-uploader-react): Update docs to align with mux-player standards
  packages/mux-uploader-react/README.md
  packages/mux-uploader-react/REFERENCE.md
  packages/mux-uploader/README.md
  packages/mux-uploader/REFERENCE.md
Due: none

feat(mux-uploader, mux-uploader-react)!: Make 1.0.0 official.
  README.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
Due: none

feat(mux-uploader, mux-uploader-react): Make 1.0.0 official. (#953)
  README.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
Due: none

feat(mux-uploader, mux-uploader-react)!: Force version bump based on tooling.
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader/src/mux-uploader.ts
Due: none

feat(mux-uploader, mux-uploader-react)!: Downgrade version for tooling.
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
Due: none

Publish
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
Due: none

docs(mux-player): correct mdn reference link for playbackRate prop
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
Due: mux-player, mux-player-react

fix(playback-core): playready is ending up with a pssh in a pssh. May be an hls.js bug due to multi-drm.
  packages/playback-core/src/index.ts
Due: playback-core

fix(mux-player): use CSS to disable subtitle shifting for iOS in fullscreen.
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix: try out TS Media Chrome
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
