Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

tests: fix tests for media-poster-image
  packages/mux-player/test/player.test.js
  packages/mux-player/test/template.test.js
Due: mux-player

fix: add `--loading-indicator` css var
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/styles.css
Due: mux-player

fix: add --dialog & --media-dialog-display CSS var
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player/src/media-chrome/dialog.ts
  packages/mux-player/src/styles.css
Due: mux-player

fix: add minimal theme and update color css vars
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/template.ts
  packages/mux-player/themes/minimal.js
  yarn.lock
Due: mux-player

fix: use negated template syntax
  packages/mux-player/package.json
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/template.ts
  yarn.lock
Due: mux-player

Minimal theme & default theme enhancements (#618)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/dialog.ts
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/test/player.test.js
  packages/mux-player/test/template.test.js
  packages/mux-player/themes/minimal.js
  yarn.lock
Due: mux-player

fix(playback-core): version bump of hls.js.
  packages/playback-core/package.json
  yarn.lock
Due: playback-core

fix(mux-player): ensure existence of update method for html templateInstance use case.
  packages/mux-player/src/html.ts
Due: mux-player

fix: upgrade MC & integrate media-time-display
  packages/mux-active-viewer-count/package.json
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/time-display.ts
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  yarn.lock
Due: mux-player

fix(playback-core, mux-player): rte and hlsjs version bump (#632)
  packages/mux-player/src/html.ts
  packages/playback-core/package.json
  yarn.lock
Due: mux-player, playback-core

fix: upgrade MC & integrate media-time-display (#631)
  packages/mux-active-viewer-count/package.json
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/time-display.ts
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  yarn.lock
Due: mux-player

fix: capLevel to player size & on fps drop
  packages/playback-core/src/index.ts
Due: playback-core

test(mux-player): Skip buffered/seekable tests for safari/webkit for now (failing on github action but passing locally).
  packages/mux-player/test/player.test.js
Due: mux-player

fix: capLevel to player size & on fps drop (#628)
  packages/mux-player/test/player.test.js
  packages/playback-core/src/index.ts
Due: mux-player, playback-core

fix: add themes folder to NPM
  packages/mux-player/.npmignore
Due: mux-player

fix: add themes folder to NPM (#634)
  packages/mux-player/.npmignore
Due: mux-player

fix: move captions listbox to the front
  packages/mux-player/src/media-theme-mux.html
Due: mux-player

fix: move captions listbox to the front (#635)
  packages/mux-player/src/media-theme-mux.html
Due: mux-player

Publish
  packages/mux-active-viewer-count/CHANGELOG.md
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-elements-codemod/CHANGELOG.md
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore: update mux-active-viewer-count dep version in example
  examples/vanilla-ts-esm/package.json
Due: none

update
  examples/vanilla-ts-esm/package.json
Due: none

chore: update mux-active-viewer-count dep version in example (#636)
  examples/vanilla-ts-esm/package.json
Due: none

fix: delegate events, lazy controller for cue pos
  packages/mux-player/src/index.ts
Due: mux-player

test: fix cue pos test
  packages/mux-player/test/player.test.js
Due: mux-player

fix: upgrade MC
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: delegate events, lazy controller for cue pos (#633)
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/test/player.test.js
  yarn.lock
Due: mux-player

Conditionally render els if they don't exist in DOM
  packages/mux-uploader/src/layouts/block.ts
Due: none

Removing CSS in favor of slots/individual components
  packages/mux-uploader/README.md
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader.ts
Due: none

Refactor to find root element
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader.ts
Due: none

conditional render based on attributes
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader.ts
Due: none

Update tests
  packages/mux-uploader/test/uploader.test.js
Due: none

fix: make getMetadataFromAttrs a private function
  packages/mux-player/src/index.ts
Due: mux-player

fix: forward `theme-` attrs to current theme
  examples/vanilla-ts-esm/public/mux-player-theme.html
  packages/mux-player/src/index.ts
Due: mux-player

fix: add `themeProps` getter / setter
  examples/nextjs-with-typescript/pages/MuxPlayerTheme.tsx
  examples/vanilla-ts-esm/public/mux-player-theme.html
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
Due: mux-player, mux-player-react

Remove dupe test
  packages/mux-uploader/test/uploader.test.js
Due: none

fix: add theme attrs filter list
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
Due: mux-player

test: add some tests
  packages/mux-player/test/player.test.js
Due: mux-player

Player `theme-*` attributes & `themeProps` property (#646)
  examples/nextjs-with-typescript/pages/MuxPlayerTheme.tsx
  examples/vanilla-ts-esm/public/mux-player-theme.html
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/test/player.test.js
Due: mux-player, mux-player-react

feat(mux-uploader): conditional render based on attributes (#645)
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/uploader.test.js
Due: none
