Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

docs: beef up routes + state. various cleanup. Add URL component.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: additional cleanup, including types, start of routes + state relationship in nextjs example.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: temporary suboptimal fix for dynamic muxplayer nextjs example.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerDynamic.tsx
Due: none

docs: fix for server vs. client url error in nextjs examples.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerDynamic.tsx
Due: none

docs: cleanup ssr vs. client location for nextjs example.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: More UI state updates including more CSS state mgmt for nextjs example. Add placeholder and other props.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/styles.css
Due: none

docs: actually add components module to repo for nextjs example...
  examples/nextjs-with-typescript/components/renderers.tsx
Due: none

docs: start moving components to separate module in nextjs example.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: Just inline default state values per luwes recommend.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: add new noc hotkey to nextjs example.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: more ui state updates for nextjs.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: Add more props to nextjs example state.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: Make type-specific renderers for next state mgmt.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: Add volume change callback for muted state in nextjs example.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

fix(mux-player-react): remove vestigial tertiaryColor from types.
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

docs: additional state mgmt ui for nextjs demo.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: placeholder for playbackRate state in nextjs demo.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: Migrate to reducer and state for props mgmt in nextjs example.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: Add copy to clipboard for code renderer & cleanup label for nextjs example.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: first pass impl of MuxPlayer code renderer for nextjs example.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: Mux Player: make small READMEs and big REFERENCES (#412)
  packages/mux-player-react/README.md
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/README.md
  packages/mux-player/REFERENCE.md
Due: mux-player, mux-player-react

fix(mux-player-react): Make currentTime prop work.
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

docs: update nextjs state ui to include currentTime.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

fix: add default disabled control styles
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

feat: disable controls if no playback-id is provided
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

fix: pass src attr to media-theme-mux
  packages/mux-player/src/template.ts
Due: mux-player

fix types
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

src->hasSrc prop
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
