Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

chore: Adding color pickers for primary & secondary colors to nextjs MuxPlayer page.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

feat(mux-player): Add basic chromes for audio only live & dvr.
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/styles.css
Due: mux-player

docs: update mux-player & mux-player-react docs for audio prop/attr.
  packages/mux-player-react/README.md
  packages/mux-player/README.md
Due: mux-player, mux-player-react

ci: add SHA hash to canary versions
  package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

ci: ignore alpha versions too for semver increase
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

ci: add SHA hash to canary versions (#246)
  package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

docs: Update docs to reference official Mux documentation. Add release status to top level docs.
  README.md
  packages/mux-player-react/README.md
  packages/mux-player/README.md
Due: mux-player, mux-player-react

feat(mux-player): Add chromecast button for audio only chromes.
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

ci: remove --yes flag
  .github/workflows/ci.yml
Due: none

fix(mux-player): Add cc btn to Vod XS chrome.
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

ci: remove --yes flag (#248)
  .github/workflows/ci.yml
Due: none

ci: fix publish --access public
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

ci: use npm run deploy:canary
  .github/workflows/ci.yml
Due: none

ci: fix publish --access public (#250)
  .github/workflows/ci.yml
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix(mux-player): Add cc btn to Vod XS chrome. (#249)
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

ci: use npm client for lerna run
  package.json
Due: none

ci: use npm client for lerna run (#251)
  package.json
Due: none

feat(mux-uploader): Initial implementation of the mux-uploader element.
  examples/vanilla-ts-esm/package.json
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-uploader-full.html
  examples/vanilla-ts-esm/public/mux-uploader-widget.html
  examples/vanilla-ts-esm/src/mux-uploader.ts
  packages/mux-uploader/.npmignore
  packages/mux-uploader/README.md
  packages/mux-uploader/package.json
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-uploader/test/uploader.test.js
  packages/mux-uploader/test/web-test-runner.config.mjs
  packages/mux-uploader/tsconfig.json
  yarn.lock
Due: none

chore(mux-uploader): Unused CSS
  packages/mux-uploader/src/index.ts
Due: none

docs(mux-uploader): README
  packages/mux-uploader/README.md
Due: none

chore(mux-uploader): yarn.lock
  yarn.lock
Due: none

chore(mux-uploader): update yarn.lock to include mux-uploader dependencies
  yarn.lock
Due: none

chore(mux-uploader): to-do item for upchunk and testing environment
  packages/mux-uploader/test/uploader.test.js
Due: none

chore(mux-uploader) Update usage section
  packages/mux-uploader/README.md
Due: none

chore(mux-uploader): Remove unused test runners.
  packages/mux-uploader/test/web-test-runner.config.mjs
Due: none

feat(mux-video): Add basic support for custom video domains.
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
Due: mux-video, playback-core

docs: enable cast docs
  packages/mux-player-react/README.md
  packages/mux-player/README.md
Due: mux-player, mux-player-react

feat(mux-player): Add basic support for custom video domains.
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
Due: mux-player
