Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

chore(mux-viewer-count): Update vanilla example for smoke testing.
  examples/vanilla-ts-esm/public/mux-viewer-count.html
Due: none

test(mux-viewer-count): Fix stub test case.
  packages/mux-viewer-count/test/index.test.js
Due: none

Remove status property
  examples/create-react-app-with-typescript/src/pages/MuxUploader.tsx
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
  examples/vanilla-ts-esm/public/mux-uploader-full.html
  examples/vanilla-ts-esm/public/mux-uploader-simple.html
  packages/mux-uploader-react/README.md
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader/README.md
  packages/mux-uploader/test/file-select.test.js
  packages/mux-uploader/test/progress.test.js
  packages/mux-uploader/test/sr-text.test.js
  packages/mux-uploader/test/uploader-drop.test.js
  packages/mux-uploader/test/uploader.test.js
Due: none

Allow hiding percentage status with css
  packages/mux-uploader/src/mux-uploader-progress.ts
Due: none

Document CSS variable
  packages/mux-uploader/README.md
Due: none

feat(mux-viewer-count): Add basic dynamic attr/prop updating. Add simple 'beefier' template.
  packages/mux-viewer-count/src/index.ts
Due: none

fix(mux-viewer-count): rename registered component. Basic cleanup.
  packages/mux-viewer-count/src/index.ts
Due: none

chore(mux-viewer-count): Beef up vanilla example.
  examples/vanilla-ts-esm/public/mux-viewer-count.html
Due: none

feat: Support for cuepoints API using metadata tracks (WIP).
  packages/mux-video/src/CustomVideoElement.js
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/tracks.ts
Due: mux-video, playback-core

feat: Add support for activeCuePoint.
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/tracks.ts
Due: mux-video, playback-core

chore(playback-core): Give root test module appropriate name.
  packages/playback-core/test/index.test.js
Due: playback-core

chore(playback-core): Minor fix for wildcard for test file matching in script.
  packages/playback-core/package.json
Due: playback-core

feat(mux-video, playback-core): Add initialization and event mgmt for cuepointchange. Clean up relationships.
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/tracks.ts
  packages/playback-core/src/types.ts
Due: mux-video, playback-core

fix(mux-video): Fix the activeCuePoint getter.
  packages/mux-video/src/index.ts
Due: mux-video

feat(cuepoints): Clean up cuepoints impl around the edges, add comments, and expand test coverage.
  packages/playback-core/src/tracks.ts
  packages/playback-core/test/tracks.test.js
Due: playback-core

test(playback-core): Start adding cuepoints tests.
  packages/playback-core/test/tracks.test.js
Due: playback-core

feat(playback-core): Add function for active cuepoint change callback. Update addEventListenerWithTeardown to support alternative targets (NOTE: hacky TS def).
  packages/playback-core/src/tracks.ts
  packages/playback-core/src/util.ts
Due: playback-core

test(playback-core): Add additional cuepoints tests.
  packages/playback-core/test/tracks.test.js
Due: playback-core

fix(playback-core): Update defaulting for linting compliance.
  packages/playback-core/src/tracks.ts
Due: playback-core

feat(mux-player): Add cuepoints API to mux-player.
  packages/mux-player/src/index.ts
Due: mux-player

test(mux-video, mux-player): Add tests for cuePoints API.
  packages/mux-player/test/player.test.js
  packages/mux-video/test/index.test.js
Due: mux-player, mux-video

fix(playback-core, mux-video, mux-player): Simplify cuepointchange impl. Add more test assertions for event.
  packages/mux-player/test/player.test.js
  packages/mux-video/src/index.ts
  packages/mux-video/test/index.test.js
  packages/playback-core/src/index.ts
  packages/playback-core/src/tracks.ts
Due: mux-player, mux-video, playback-core

fix(mux-video): remove unneeded changes from CustomVideoElement.
  packages/mux-video/src/CustomVideoElement.js
Due: mux-video

chore: Add cuePoints example to vanilla for mux-player.
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-cuepoints.html
Due: none

chore: Remove no longer needed api type defs for CuePoints eventing mgmt.
  packages/playback-core/src/types.ts
Due: playback-core

chore: remove commented out test code.
  packages/mux-video/src/index.ts
Due: mux-video

docs(mux-player): Add reference docs for CuePoints.
  packages/mux-player/REFERENCE.md
Due: mux-player

docs(mux-video): Add CuePoints docs for mux-video.
  packages/mux-video/README.md
Due: mux-video

Consolidate duplicate functionality
  packages/mux-uploader/src/mux-uploader-status.ts
Due: none

Add to exports
  packages/mux-uploader/src/index.ts
Due: none

Test success case
  packages/mux-uploader/test/status.test.js
  packages/mux-uploader/test/uploader.test.js
Due: none

Add tests for error and reset
  packages/mux-uploader/test/status.test.js
Due: none

chore(mux-player, mux-video, playback-core): Rename CuePoint timestamp prop to time. Automatically init() mux-player in addCuePoints().
  examples/vanilla-ts-esm/public/mux-player-cuepoints.html
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/index.ts
  packages/mux-player/test/player.test.js
  packages/mux-video/README.md
  packages/mux-video/src/index.ts
  packages/mux-video/test/index.test.js
  packages/playback-core/src/tracks.ts
  packages/playback-core/src/types.ts
  packages/playback-core/test/tracks.test.js
Due: mux-player, mux-video, playback-core

feat(mux-player, mux-video, playback-core): Add API for CuePoints metadata.
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-cuepoints.html
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/index.ts
  packages/mux-player/test/player.test.js
  packages/mux-video/README.md
  packages/mux-video/src/index.ts
  packages/mux-video/test/index.test.js
  packages/playback-core/package.json
  packages/playback-core/src/index.ts
  packages/playback-core/src/tracks.ts
  packages/playback-core/src/types.ts
  packages/playback-core/src/util.ts
  packages/playback-core/test/index.test.js
  packages/playback-core/test/tracks.test.js
Due: mux-player, mux-video, playback-core

Remove mentions of type attribute
  examples/create-react-app-with-typescript/src/pages/MuxUploader.tsx
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
  examples/vanilla-ts-esm/public/mux-uploader-full.html
  packages/mux-uploader-react/README.md
Due: none

Move progress formatting to util
  packages/mux-uploader/src/mux-uploader-progress.ts
  packages/mux-uploader/src/utils/progress.ts
Due: none

chore(mux-uploader)!: refactor percentage progress into progress component (#555)
  examples/create-react-app-with-typescript/src/pages/MuxUploader.tsx
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
  examples/vanilla-ts-esm/public/mux-uploader-full.html
  examples/vanilla-ts-esm/public/mux-uploader-simple.html
  packages/mux-uploader-react/README.md
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader/README.md
  packages/mux-uploader/src/constants.ts
  packages/mux-uploader/src/mux-uploader-progress.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/src/utils/progress.ts
  packages/mux-uploader/test/file-select.test.js
  packages/mux-uploader/test/progress.test.js
  packages/mux-uploader/test/sr-text.test.js
  packages/mux-uploader/test/uploader-drop.test.js
  packages/mux-uploader/test/uploader.test.js
Due: none

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core
