Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

Adding dynamicChunkSize to mux-uploader and mux-uploader-react
  packages/mux-uploader-react/README.md
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader/README.md
  packages/mux-uploader/package.json
  packages/mux-uploader/src/index.ts
  yarn.lock
Due: none

Hey look it works, now!
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader/src/index.ts
Due: none

readme
  packages/mux-uploader-react/README.md
  packages/mux-uploader/README.md
Due: none

Bump upchunk to 2.6
  packages/mux-uploader/package.json
  yarn.lock
Due: none

feat(mux-player-react): add missing event listeners
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

docs(mux-player-react): refer mux-player's doc about event listeners
  packages/mux-player-react/README.md
Due: mux-player, mux-player-react

ci: fix upgrading canary deps
  scripts/publish.sh
Due: none

ci: fix getting last version for canary
  scripts/publish.sh
Due: none

ci: remove unneeded package build for canaries
  .github/workflows/ci.yml
Due: none

ci: fix lerna ls command for only packages
  scripts/publish.sh
Due: none

build(mux-uploader, mux-uploader-react): make sure unpublished and local polyfills package is bundled for uploader builds.
  packages/mux-uploader/package.json
Due: none

ci: fix upgrading canary deps (#339)
  .github/workflows/ci.yml
  scripts/publish.sh
Due: none

build(mux-uploader, mux-uploader-react): make sure unpublished and local polyfills package is bundled for uploader builds. (#344)
  packages/mux-uploader/package.json
Due: none

ci: try fix hangup w/ 1 build for releases
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

ci: try fix hangup w/ 1 build for releases (#345)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore: add top-level npmignore
  .npmignore
Due: none

chore: update npmignore files
  packages/mux-audio/.npmignore
  packages/mux-elements-codemod/.npmignore
  packages/mux-player-react/.npmignore
  packages/mux-player/.npmignore
  packages/mux-uploader-react/.npmignore
  packages/mux-uploader/.npmignore
  packages/mux-video-react/.npmignore
  packages/mux-video/.npmignore
  packages/playback-core/.npmignore
Due: mux-audio, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

ci: fix hanging caused by yarn install
  scripts/publish.sh
Due: none

ci: fix hanging caused by yarn install (#347)
  scripts/publish.sh
Due: none

feat(mux-player): Add support for configurable playbackrates. Update types to use a generic component type.
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

feat(mux-player): Add support for hiding the duration display.
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/time-display.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

chore: Update next MuxPlayer test page to configur defaultShowRemainingTime.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

feat(mux-player-react): Add defaultShowRemainingTime to mux-player-react.
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

chore: Update next demo page for MuxPlayer to use playbackRates and hideDuration.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

feat(mux-player-react): Add support for hideDuration and playbackRates.
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

feat(mux-player): Add support for showing remaining time by default.
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/time-display.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

chore(mux-player, mux-player-react): Update readmes for new control props and attrs plus general readme cleanup.
  packages/mux-player-react/README.md
  packages/mux-player/README.md
Due: mux-player, mux-player-react

chore: Remove UI and code for hide-duration functionality from nextjs player page.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

chore(mux-player): Use established convention for boolean checks in attributeChangedCallback for time-display.
  packages/mux-player/src/media-chrome/time-display.ts
Due: mux-player

refactor(mux-player): better regex pattern matching for controls list to attribute for duration.
  packages/mux-player/src/template.ts
Due: mux-player

feat(mux-player, mux-player-react): make hide-duration a controlsList value.
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player, mux-player-react

fix(mux-player): Extra type safety, because tests are confused.
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/template.ts
Due: mux-player

0.2.0
  package.json
Due: none

ci: try yarn for publish
  package.json
  scripts/publish.sh
Due: none

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
