Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

use mux video hosted mp4s for test pages.
  examples/create-react-app-with-typescript/src/pages/VideoVanilla.tsx
  examples/vanilla-ts-esm/public/vanilla-video-add-text-track-create-element.html
  examples/vanilla-ts-esm/public/vanilla-video-add-text-track.html
  examples/vanilla-ts-esm/public/vanilla-video.html
Due: none

a buncha permutations for vtt issues
  examples/create-react-app-with-typescript/public/tears_of_steal.vtt
  examples/create-react-app-with-typescript/public/tears_of_steal_v2.vtt
  examples/create-react-app-with-typescript/public/tears_of_steal_v3.vtt
  examples/create-react-app-with-typescript/src/App.tsx
  examples/create-react-app-with-typescript/src/pages/HlsVanilla.tsx
  examples/create-react-app-with-typescript/src/pages/MuxVideo.tsx
  examples/create-react-app-with-typescript/src/pages/VideoVanilla.tsx
  examples/create-react-app-with-typescript/src/pages/index.tsx
  examples/nextjs-with-typescript/package.json
  examples/nextjs-with-typescript/pages/HlsVanilla.tsx
Due: none

vanilla test cases - vanilla-video does not work, vanilla-video-add-text-track works.
  examples/vanilla-ts-esm/public/tears_of_steal.vtt
  examples/vanilla-ts-esm/public/tears_of_steal_v2.vtt
  examples/vanilla-ts-esm/public/tears_of_steal_v3.vtt
  examples/vanilla-ts-esm/public/vanilla-video-add-text-track.html
  examples/vanilla-ts-esm/public/vanilla-video.html
Due: none

updates to test pages.
  examples/vanilla-ts-esm/public/vanilla-video-add-text-track-create-element.html
  examples/vanilla-ts-esm/public/vanilla-video.html
Due: none

change path for static vtt based on cra updates.
  examples/create-react-app-with-typescript/src/pages/VideoVanilla.tsx
Due: none

adding video vanilla test page to nextjs. adding public/static assets for vtts.
  examples/nextjs-with-typescript/pages/VideoVanilla.tsx
  examples/nextjs-with-typescript/public/tears_of_steal.vtt
  examples/nextjs-with-typescript/public/tears_of_steal_v2.vtt
  examples/nextjs-with-typescript/public/tears_of_steal_v3.vtt
Due: none

change cra static vtt to v2 to remove cue dups.
  examples/create-react-app-with-typescript/src/pages/VideoVanilla.tsx
Due: none

try making CI=false in CRA to allow vercel deploys to work with warnings.
  examples/create-react-app-with-typescript/package.json
Due: none

(hopefully) reliable repo example in vanilla.
  examples/vanilla-ts-esm/public/vanilla-video-2.html
Due: none

simplified example for vanilla + FF text track render.
  examples/vanilla-ts-esm/public/vanilla-video-2.html
Due: none

ci: move to separate workflow
  .github/workflows/cd.yml
Due: none

ci: fix release command I think lerna can't be called like that without installing it globally
  .github/workflows/cd.yml
  package.json
Due: none

ci: add production environment w/ reviewers
  .github/workflows/cd.yml
Due: none

ci: make player's prereleases this is needed until they graduate https://github.com/lerna/lerna/tree/main/commands/version#--conventional-graduate
  .github/workflows/cd.yml
Due: none

ci: update readme internal
  README_INTERNAL.md
Due: none

ci: fix up commands for CD
  .github/workflows/cd.yml
  package.json
Due: none

feat(mux-player): Add dev logs w/ doc urls
  packages/mux-player/lang/en.json
  packages/mux-player/lang/nl.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/utils.ts
  scripts/esbuilder/esbuilder.js
Due: mux-player

chore(mux-player): reword error msg for viewer
  packages/mux-player/src/index.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

docs(mux-player): add starting error docs
  errors/403-forbidden.md
  errors/404-not-found.md
  errors/412-live-stream-inactive.md
Due: none

docs: update readme internal
  README_INTERNAL.md
Due: none

chore: isolate getErrorLogs fn for testing
  packages/mux-player/src/errors.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

chore: add token and stream type dev warnings
  packages/mux-player/src/errors.ts
  packages/mux-player/src/index.ts
Due: mux-player

chore: remove explicit attribute callback calls tests still pass, I don't think this is needed but it was causing double rendering
  packages/mux-player/src/index.ts
Due: mux-player

chore: fix stream type in vanilla example
  examples/vanilla-ts-esm/public/mux-player.html
Due: none

build:silence vercel comments on github
  examples/vercel.json
Due: none

build:silence vercel comments on github
  vercel.json
Due: none

chore: run i18n and update lang
  package.json
  packages/mux-player/lang/en.json
  packages/mux-player/lang/nl.json
Due: mux-player

test: add coverage for error handling
  packages/mux-player/src/errors.ts
  packages/mux-player/src/index.ts
  packages/mux-player/test/errors.test.js
Due: mux-player

chore: add detailed network error for native HLS
  packages/mux-player/src/errors.ts
  packages/mux-player/src/index.ts
  packages/mux-player/test/errors.test.js
Due: mux-player

docs: Clean up versions and remove env-key from example code in open elements.
  packages/mux-audio-react/README.md
  packages/mux-audio/README.md
  packages/mux-player-react/README.md
  packages/mux-player/README.md
  packages/mux-video-react/README.md
  packages/mux-video/README.md
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

add autoplay getter
  packages/mux-video/src/index.ts
Due: mux-video

add some typing
  packages/mux-video/src/index.ts
Due: mux-video
