Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

Add missing transitive peer dependencies (#724)
  packages/mux-active-viewer-count/package.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-uploader/package.json
  packages/mux-video/package.json
  shared/test-esm-exports/package.json
Due: mux-audio, mux-player, mux-video

fix: types allow CSS vars in React player style
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

fix: yarn dev for mux-player-react
  package.json
Due: none

fix: yarn dev for mux-player-react (#736)
  package.json
Due: none

additional live demo on new theme vanilla page
  examples/vanilla-ts-esm/public/mux-player-theme-2023.html
Due: none

example markup and style for centered unmute button
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

feat: New default theme (#709)
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-theme-2023.html
  examples/vanilla-ts-esm/public/mux-player.html
  examples/vanilla-ts-esm/src/mux-player-2023-theme.ts
  packages/mux-player/.gitignore
  packages/mux-player/package.json
  packages/mux-player/scripts/build-themes.mjs
  packages/mux-player/src/index.ts
  packages/mux-player/src/themes/2023/2023.html
  packages/mux-player/src/themes/2023/index.ts
Due: mux-player

react player re-export themes from base player package
  packages/mux-player-react/package.json
  packages/mux-player-react/src/themes/2023.ts
  packages/mux-player-react/src/themes/classic.ts
  packages/mux-player-react/src/themes/microvideo.ts
  packages/mux-player-react/src/themes/minimal.ts
Due: mux-player, mux-player-react

feat: add quality selector
  packages/mux-player/src/index.ts
  packages/mux-player/src/themes/classic/classic.html
Due: mux-player

fix: upgrade media-chrome v1.2.3
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: add rendition "Quality" header
  examples/vanilla-ts-esm/public/mux-player-renditions.html
  packages/mux-player/src/themes/classic/classic.html
Due: mux-player

fix: add rendition selectmenu css vars
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player/src/styles.css
Due: mux-player

chore: remove flaky tests
  packages/mux-player/test/player.test.js
Due: mux-player

export theme names explicitly
  packages/mux-player-react/package.json
  packages/mux-player-react/src/themes/2023.ts
  packages/mux-player-react/src/themes/classic.ts
  packages/mux-player-react/src/themes/microvideo.ts
  packages/mux-player-react/src/themes/minimal.ts
Due: mux-player, mux-player-react

feat: add quality selector (#734)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/vanilla-ts-esm/public/mux-player-renditions.html
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/styles.css
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/test/player.test.js
  yarn.lock
Due: mux-player

feat(mux-player-react): re-export themes from player package (#737)
  packages/mux-player-react/package.json
  packages/mux-player-react/src/themes/2023.ts
  packages/mux-player-react/src/themes/classic.ts
  packages/mux-player-react/src/themes/microvideo.ts
  packages/mux-player-react/src/themes/minimal.ts
Due: mux-player, mux-player-react

Publish
  packages/mux-active-viewer-count/CHANGELOG.md
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

feat: add a poster slot for progressive enhancemen t and using responsive images. it will also load the poster faster as it doesn't have to wait on the mux-player JS bundle to load
  packages/mux-player/src/template.ts
  packages/mux-player/test/template.test.js
Due: mux-player

fix(mux-player): version bump for media-chrome (fixes first frame render mismatches for UI theme).
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix(mux-player): version bump for media-chrome (fixes first frame ren… (#740)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

feat: add a poster slot for progressive enhancement (#738)
  packages/mux-player/src/template.ts
  packages/mux-player/test/template.test.js
Due: mux-player

feat: add audio tracks API
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-audio-tracks.html
  packages/playback-core/src/index.ts
  packages/playback-core/src/media-tracks.ts
  packages/playback-core/src/text-tracks.ts
  packages/playback-core/test/tracks.test.js
Due: playback-core

fix: type mismatch between native / shim
  packages/mux-player/src/video-api.ts
Due: mux-player

Revert "feat: add a poster slot for progressive enhancement (#738)"
  packages/mux-player/src/template.ts
  packages/mux-player/test/template.test.js
Due: mux-player

fix: Reverting packages type (defaults to cjs) for accuracy per node docs. Fix mux-uploader dist and package.
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

fix: upgrade media-tracks
  packages/mux-video/package.json
  packages/playback-core/package.json
  yarn.lock
Due: mux-video, playback-core

fix: upgrade media-tracks (#744)
  packages/mux-video/package.json
  packages/playback-core/package.json
  yarn.lock
Due: mux-video, playback-core

fix: Reverting packages type (defaults to cjs) for accuracy per node … (#745)
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

fix(mux-player-react): Don't declare lazy exports that don't exist.
  packages/mux-player-react/package.json
Due: mux-player, mux-player-react

fix(mux-player-react): Don't declare lazy exports that don't exist. (#746)
  packages/mux-player-react/package.json
Due: mux-player, mux-player-react

rendition selector and select style tweaks
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

feat: add poster slot for progressive enhancement
  examples/vanilla-ts-esm/public/mux-player-audio.html
  examples/vanilla-ts-esm/public/mux-player-poster-slot.html
  packages/mux-player/package.json
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/2023/2023.html
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/test/template.test.js
  yarn.lock
Due: mux-player

fix: add Next.js poster slot example
  examples/nextjs-with-typescript/pages/MuxPlayerPosterSlot.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

feat: add audio tracks API (#742)
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-audio-tracks.html
  packages/playback-core/src/index.ts
  packages/playback-core/src/media-tracks.ts
  packages/playback-core/src/text-tracks.ts
  packages/playback-core/test/tracks.test.js
Due: playback-core

chore: update reference
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
Due: mux-player, mux-player-react

feat: add poster slot for progressive enhancement (#747)
  examples/nextjs-with-typescript/pages/MuxPlayerPosterSlot.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-poster-slot.html
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/package.json
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/2023/2023.html
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/test/template.test.js
  yarn.lock
Due: mux-player, mux-player-react

fix warning
  packages/mux-video-react/src/index.tsx
Due: mux-video, mux-video-react

bump media chrome version
  packages/mux-player/package.json
  yarn.lock
Due: mux-player
