Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

break not return
  packages/mux-video/src/index.ts
Due: mux-video

don't set autoplay if it's to the same value
  packages/mux-video/src/index.ts
Due: mux-video

WIP
  packages/mux-video/src/CustomVideoElement.d.ts
  packages/mux-video/src/index.ts
Due: mux-video

add autoplay setter/getter to customvideoelement type
  packages/mux-video/src/CustomVideoElement.d.ts
  packages/mux-video/src/index.ts
Due: mux-video

fix: add patched template-parts fork Fixes the Safari bug
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

feat: add beaconCollectionDomain option to replace beaconDomain
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-player-react/src/index.tsx
  packages/mux-player/README.md
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/index.ts
  packages/playback-core/package.json
  packages/playback-core/src/index.ts
  types/mux-embed.d.ts
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

style: typescript definitions should use semi-colon
  packages/mux-audio/src/index.ts
  packages/mux-video/src/index.ts
Due: mux-audio, mux-video

refactor(mux-embed-types): Clean up our mux-embed typings and related, basing them on anticipating declaration file for mux-embed.
  packages/mux-audio/src/index.ts
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  types/mux-embed.d.ts
  types/mux.d.ts
Due: mux-audio, mux-video, playback-core

add some tests
  packages/mux-video/test/player.test.js
Due: mux-video

ci: only try deploy on new tags
  .github/workflows/cd.yml
Due: none

fix(mux-video): initial muted autoplay attribute should autoplay muted (#148)
  packages/mux-video/src/CustomVideoElement.d.ts
  packages/mux-video/src/index.ts
  packages/mux-video/test/player.test.js
Due: mux-video

chore(nextjs-with-typescript): make player never scale out of the viewport
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

feat: Improve error handling / messaging (#132)
  errors/403-forbidden.md
  errors/404-not-found.md
  errors/412-live-stream-inactive.md
  examples/vanilla-ts-esm/public/mux-player.html
  package.json
  packages/mux-player/lang/en.json
  packages/mux-player/lang/nl.json
  packages/mux-player/src/errors.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/src/utils.ts
  packages/mux-player/test/errors.test.js
  scripts/esbuilder/esbuilder.js
Due: mux-player

fix: update media-chrome to 0.5.4
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

feat(mux-player): move captions up when controls are showing
  packages/mux-player/src/index.ts
  packages/mux-player/test/player.test.js
Due: mux-player

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

Add manual trigger action
  .github/workflows/cd.yml
Due: none

Update cd.yml
  .github/workflows/cd.yml
Due: none

chore(cd.yml): NODE_AUTH_TOKEN (#154)
  .github/workflows/cd.yml
Due: none

chore(cd.yml): setup-node requires registry-url
  .github/workflows/cd.yml
Due: none

chore: add -no-verify-access for lerna
  package.json
Due: none

chore: dash-dash
  package.json
Due: none

chore: do build/test/publish in one step
  .github/workflows/cd.yml
Due: none

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
Due: mux-player, mux-player-react

Revert "Publish"
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
Due: mux-player, mux-player-react

chore(mux-video-react): open-process should be a devDependency.
  packages/mux-video-react/package.json
Due: mux-video, mux-video-react

build: rm --ignore-scripts.
  .github/workflows/ci.yml
Due: none

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
