Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: vertical alignment of UI controls
  packages/mux-player/src/media-theme-mux/icons/airplay.svg
  packages/mux-player/src/media-theme-mux/icons/captions-off.svg
  packages/mux-player/src/media-theme-mux/icons/captions-on.svg
  packages/mux-player/src/media-theme-mux/icons/cast-enter.svg
  packages/mux-player/src/media-theme-mux/icons/cast-exit.svg
  packages/mux-player/src/media-theme-mux/icons/fullscreen-enter.svg
  packages/mux-player/src/media-theme-mux/icons/fullscreen-exit.svg
  packages/mux-player/src/media-theme-mux/icons/pause.svg
  packages/mux-player/src/media-theme-mux/icons/pip-enter.svg
  packages/mux-player/src/media-theme-mux/icons/pip-exit.svg
  packages/mux-player/src/media-theme-mux/icons/play.svg
  packages/mux-player/src/media-theme-mux/icons/seek-backward.svg
  packages/mux-player/src/media-theme-mux/icons/seek-forward.svg
  packages/mux-player/src/media-theme-mux/icons/volume-high.svg
  packages/mux-player/src/media-theme-mux/icons/volume-low.svg
  packages/mux-player/src/media-theme-mux/icons/volume-medium.svg
  packages/mux-player/src/media-theme-mux/icons/volume-off.svg
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

Placeholder support on mux-player and MuxPlayerReact
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/svelte-kit/src/routes/mux-player.svelte
  packages/mux-player-react/README.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/README.md
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player, mux-player-react

Oops no need to commit that test
  examples/svelte-kit/src/routes/mux-player.svelte
Due: none

Oops didn't mean to delete that either
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

fix: vertical alignment of UI controls (#394)
  packages/mux-player/src/media-chrome/time-display.ts
  packages/mux-player/src/media-theme-mux/icons/airplay.svg
  packages/mux-player/src/media-theme-mux/icons/captions-off.svg
  packages/mux-player/src/media-theme-mux/icons/captions-on.svg
  packages/mux-player/src/media-theme-mux/icons/cast-enter.svg
  packages/mux-player/src/media-theme-mux/icons/cast-exit.svg
  packages/mux-player/src/media-theme-mux/icons/fullscreen-enter.svg
  packages/mux-player/src/media-theme-mux/icons/fullscreen-exit.svg
  packages/mux-player/src/media-theme-mux/icons/pause.svg
  packages/mux-player/src/media-theme-mux/icons/pip-enter.svg
  packages/mux-player/src/media-theme-mux/icons/pip-exit.svg
  packages/mux-player/src/media-theme-mux/icons/play.svg
  packages/mux-player/src/media-theme-mux/icons/seek-backward.svg
  packages/mux-player/src/media-theme-mux/icons/seek-forward.svg
  packages/mux-player/src/media-theme-mux/icons/volume-high.svg
  packages/mux-player/src/media-theme-mux/icons/volume-low.svg
  packages/mux-player/src/media-theme-mux/icons/volume-medium.svg
  packages/mux-player/src/media-theme-mux/icons/volume-off.svg
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

chore: manual version change, pair player versions
  packages/mux-player/package.json
Due: mux-player

chore: manual version, pair uploaders
  packages/mux-uploader/package.json
Due: none

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-elements-codemod/CHANGELOG.md
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore: manual update beta version to 1.0.0-beta.0
  examples/create-react-app-with-typescript/package.json
  examples/nextjs-with-typescript/package.json
  examples/svelte-kit/package.json
  examples/vanilla-ts-esm/package.json
  examples/vue-with-typescript/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
Due: mux-player, mux-player-react

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
Due: mux-player, mux-player-react

Update CHANGELOG.md
  packages/mux-player/CHANGELOG.md
Due: mux-player

Update CHANGELOG.md
  packages/mux-player-react/CHANGELOG.md
Due: mux-player, mux-player-react

observedAttributes, getter, setter
  packages/mux-player/src/video-api.ts
Due: mux-player

Update to sveltekit rc
  examples/svelte-kit/+layout.svelte
  examples/svelte-kit/.eslintignore
  examples/svelte-kit/.prettierignore
  examples/svelte-kit/.prettierrc
  examples/svelte-kit/README.md
  examples/svelte-kit/package.json
  examples/svelte-kit/src/app.d.ts
  examples/svelte-kit/src/hooks.ts
  examples/svelte-kit/src/routes/+page.svelte
  examples/svelte-kit/src/routes/mux-audio/+page.svelte
  examples/svelte-kit/src/routes/mux-player/+page.svelte
  examples/svelte-kit/src/routes/mux-video/+page.svelte
  examples/svelte-kit/tsconfig.json
  examples/svelte-kit/vite.config.ts
Due: none

fix: src unloading
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/index.ts
  packages/mux-player/src/video-api.ts
  packages/mux-player/test/player.test.js
Due: mux-player

Update dependencies
  package.json
  yarn.lock
Due: none

squashin bugs
  examples/svelte-kit/package.json
  examples/svelte-kit/src/app.html
  examples/svelte-kit/src/hooks.server.ts
  examples/svelte-kit/src/routes/+layout.svelte
  examples/svelte-kit/src/routes/+page.svelte
  examples/svelte-kit/src/routes/mux-audio/+page.svelte
  examples/svelte-kit/src/routes/mux-player/+page.svelte
  examples/svelte-kit/src/routes/mux-video/+page.svelte
  examples/svelte-kit/svelte.config.js
Due: none

Moving attributes to the correct class
  packages/mux-player/src/index.ts
  packages/mux-player/src/video-api.ts
Due: mux-player

ok that was easier to fix than i thought
  packages/mux-player/test/template.test.js
Due: mux-player

fix: src unloading (#400)
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/index.ts
  packages/mux-player/src/video-api.ts
  packages/mux-player/test/player.test.js
Due: mux-player

feat(mux-player/mux-player-react) expose media-chrome-poster's `placeholder-src` attribute (#395)
  packages/mux-player-react/README.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/README.md
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/test/template.test.js
Due: mux-player, mux-player-react

chore: update svelte-kit example to svelte-kit rc (#401)
  examples/svelte-kit/.eslintignore
  examples/svelte-kit/.prettierignore
  examples/svelte-kit/.prettierrc
  examples/svelte-kit/README.md
  examples/svelte-kit/package.json
  examples/svelte-kit/src/app.d.ts
  examples/svelte-kit/src/app.html
  examples/svelte-kit/src/hooks.server.ts
  examples/svelte-kit/src/routes/+layout.svelte
  examples/svelte-kit/src/routes/+page.svelte
  examples/svelte-kit/src/routes/mux-audio/+page.svelte
  examples/svelte-kit/src/routes/mux-player/+page.svelte
  examples/svelte-kit/src/routes/mux-video/+page.svelte
  examples/svelte-kit/svelte.config.js
  examples/svelte-kit/tsconfig.json
  examples/svelte-kit/vite.config.ts
  package.json
  yarn.lock
Due: none

fix: allow autoplay to change in mux-video-react, fixes #396
  packages/mux-video-react/src/index.tsx
Due: mux-video, mux-video-react

Get placeholder out of VideoApiAttributes
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

fix: ignore Safari for captions movement.
  packages/mux-player/src/index.ts
Due: mux-player

feat: add `prefer-playback` attribute
  packages/mux-audio-react/README.md
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-audio/test/player.test.js
  packages/mux-player-react/README.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/test/player.test.js
  packages/mux-video-react/README.md
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/index.ts
  packages/mux-video/test/player.test.js
  packages/playback-core/package.json
  packages/playback-core/src/autoplay.ts
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/tracks.ts
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: prefer native if explicitly set
  packages/playback-core/src/index.ts
Due: playback-core

fix: remove `prefer-mse` attribute / prop
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-player-react/README.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/README.md
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video/README.md
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

feat: add `prefer-playback` attribute (#402)
  packages/mux-audio-react/README.md
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-audio/test/player.test.js
  packages/mux-player-react/README.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/README.md
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/test/player.test.js
  packages/mux-video-react/README.md
  packages/mux-video-react/src/index.tsx
  packages/mux-video/README.md
  packages/mux-video/src/index.ts
  packages/mux-video/test/player.test.js
  packages/playback-core/package.json
  packages/playback-core/src/autoplay.ts
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/tracks.ts
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

feat: remove deprecated .hls and .video props
  packages/mux-audio/src/index.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/video-api.ts
  packages/mux-video/src/index.ts
Due: mux-audio, mux-player, mux-video

feat: remove deprecated .hls and .video props (#408)
  packages/mux-audio/src/index.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/video-api.ts
  packages/mux-video/src/index.ts
Due: mux-audio, mux-player, mux-video

Add placeholders for on-demand assets
  shared/assets/media-assets.json
Due: none

fix: hide fullscreen button when fullscreen is unavailable
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

add iframe example
  examples/nextjs-with-typescript/pages/MuxPlayerIframe.tsx
  examples/nextjs-with-typescript/pages/index.tsx
Due: none

fix: hide fullscreen button when fullscreen is unavailable (#410)
  examples/nextjs-with-typescript/pages/MuxPlayerIframe.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

fix: ignore Safari for captions movement. (#404)
  packages/mux-player/src/index.ts
Due: mux-player

fix: tweak hls.js config for improved memory management and QoE
  packages/playback-core/src/index.ts
Due: playback-core

docs: Mux Player: make small READMEs and big REFERENCES
  packages/mux-player-react/README.md
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/README.md
  packages/mux-player/REFERENCE.md
Due: mux-player, mux-player-react

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
