Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

feat: add way to set and render MC themes (#561)
  examples/nextjs-with-typescript/pages/MuxPlayerTheme.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-theme.html
  packages/mux-player-react/src/index.tsx
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/test/player.test.js
  yarn.lock
Due: mux-player, mux-player-react

Update documentation
  README.md
  packages/mux-viewer-count/CHANGELOG.md
  packages/mux-viewer-count/README.md
Due: none

Add a getter for #views
  packages/mux-viewer-count/src/index.ts
Due: none

Fix updating `this.#views`
  packages/mux-viewer-count/src/index.ts
Due: none

Rename the component and the poll interval attribute, and implement minimum poll interval
  packages/mux-active-viewer-count/.npmignore
  packages/mux-active-viewer-count/CHANGELOG.md
  packages/mux-active-viewer-count/README.md
  packages/mux-active-viewer-count/package.json
  packages/mux-active-viewer-count/src/index.ts
  packages/mux-active-viewer-count/test/index.test.js
  packages/mux-active-viewer-count/test/web-test-runner.config.mjs
  packages/mux-active-viewer-count/tsconfig.json
  packages/mux-viewer-count/README.md
Due: none

A few more renames
  README.md
  examples/vanilla-ts-esm/package.json
  examples/vanilla-ts-esm/public/mux-active-viewer-count.html
  examples/vanilla-ts-esm/src/mux-active-viewer-count.ts
  examples/vanilla-ts-esm/src/mux-viewer-count.ts
  packages/mux-active-viewer-count/test/index.test.js
Due: none

Fix typo in `README.md`
  README.md
Due: none

Set poll interval to 15 seconds if it is too short
  packages/mux-active-viewer-count/src/index.ts
Due: none

Remove extra CSS
  examples/vanilla-ts-esm/public/mux-active-viewer-count.html
Due: none

Get rid of `async` for now
  packages/mux-active-viewer-count/src/index.ts
Due: none

fix: test uploader change
  package.json
Due: none

Add releasing process detail
  README_INTERNAL.md
Due: none

Whoopsie
  README_INTERNAL.md
Due: none

chore: ignore uploader packages for versioning (#587)
  package.json
Due: none

README tweaks
  packages/mux-uploader/README.md
Due: none

README changes
  packages/mux-uploader/README.md
Due: none

do a less precise check for currentTime
  packages/mux-player/test/player.test.js
Due: mux-player

run playwright in mux-player tests if 'yarn test' is given '--all' flag
  packages/mux-player/package.json
  packages/mux-player/test/web-test-runner.config.mjs
  yarn.lock
Due: mux-player

Ignore ResizeObserver errors and Safari's very descriptive 'Script error.'
  packages/mux-player/test/player.test.js
Due: mux-player

conditionally skip cue shifting tests on safari
  packages/mux-player/test/player.test.js
Due: mux-player

safari needs an extra tick for the cues to clear
  packages/mux-player/test/player.test.js
Due: mux-player

run mux-player tests with all browsers on CI
  .github/workflows/ci.yml
Due: none

install playwright explicitly in CI
  .github/workflows/ci.yml
Due: none

webkit/safari fixes
  packages/mux-player/test/player.test.js
Due: mux-player

Revert "webkit/safari fixes"
  packages/mux-player/test/player.test.js
Due: mux-player

less precise check for safari/webkit
  packages/mux-player/test/player.test.js
Due: mux-player

test on CI 😭
  packages/mux-player/test/player.test.js
Due: mux-player

add timeout
  packages/mux-player/test/player.test.js
Due: mux-player

catch play promise, dont pollute log with expected error
  packages/mux-player/test/player.test.js
Due: mux-player

add stream-type to all mux-player instances
  packages/mux-player/test/player.test.js
Due: mux-player

update to media-chrome canary which includes a play promise handler
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

new theme location
  examples/nextjs-with-typescript/pages/MuxPlayerTheme.tsx
Due: none

increase timeout
  packages/mux-player/test/player.test.js
Due: mux-player

preload
  packages/mux-player/test/player.test.js
Due: mux-player

don't log expected error
  packages/mux-player/test/errors.test.js
Due: mux-player

update timeout, add explainer comment
  packages/mux-player/test/player.test.js
Due: mux-player

more timeouts
  packages/mux-player/test/player.test.js
Due: mux-player

more timeout?
  packages/mux-player/test/web-test-runner.config.mjs
Due: mux-player

update playwright
  yarn.lock
Due: none
