Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

build: remove tag trigger for cd github action. Add conventional commits and related args to lerna publish script.
  .github/workflows/cd.yml
  package.json
Due: none

Publish
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
Due: mux-video, mux-video-react

chore: update README_INTERNAL to current steps
  README_INTERNAL.md
Due: none

build(build-when-needed): Update scripts to not redundantly build.
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  package.json
Due: none

Update README_INTERNAL.md
  README_INTERNAL.md
Due: none

chore: add release notes param to version:update
  .github/workflows/cd.yml
  package.json
Due: none

chore: use comporator range to fix yarn.lock issue
  examples/create-react-app-with-typescript/package.json
  examples/nextjs-with-typescript/package.json
  examples/svelte-kit/package.json
  examples/vanilla-ts-esm/package.json
  examples/vue-with-typescript/package.json
  package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

Add note for GH_TOKEN in readme internal
  README_INTERNAL.md
Due: none

chore: use comparator range to fix yarn.lock issue (#162)
  examples/create-react-app-with-typescript/package.json
  examples/nextjs-with-typescript/package.json
  examples/svelte-kit/package.json
  examples/vanilla-ts-esm/package.json
  examples/vue-with-typescript/package.json
  package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

chore: add release notes param to version:update (#161)
  .github/workflows/cd.yml
  README_INTERNAL.md
  package.json
Due: none

feat(mux-player): new iteration on error handling
  errors/403-expired-token.md
  errors/403-incorrect-aud-value.md
  errors/403-malformatted-token.md
  errors/403-playback-id-mismatch.md
  errors/412-live-stream-inactive.md
  errors/412-not-playable.md
  errors/invalid-stream-type.md
  errors/media-decode-error.md
  errors/media-src-not-supported.md
  errors/missing-signed-tokens.md
  packages/mux-player/src/errors.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/logger.ts
Due: mux-player

fix(mux-player): temp fix conditional render bug
  packages/mux-player/src/template.ts
  packages/mux-player/test/template.test.js
Due: mux-player

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

improv(mux-player): use redundant_streams feature for non-signed URLs
  packages/mux-player/src/helpers.ts
  packages/mux-player/test/helpers.test.js
Due: mux-player

docs: we do use semantic releases/commits now
  CONTRIBUTING.md
Due: none

fix: devLog links to GH base URL
  packages/mux-player/src/logger.ts
Due: mux-player

fix(mux-player): Make sure internal state monitoring setup happens after relevant elements exist.
  packages/mux-player/src/index.ts
Due: mux-player

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
Due: mux-player, mux-player-react

feat(mux-player): Seek to live button impl with live edge window detection and play on seek/seek on play behavior.
  packages/mux-player/src/constants.ts
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

feat(mux-player): Don't use disabled to toggle seek to live btn functionality.
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
Due: mux-player

feat(mux-player): Add more seek to live behavior tests. Add event for inLiveWindow change.
  packages/mux-player/src/index.ts
  packages/mux-player/test/player.test.js
Due: mux-player

feat(player): Add inLiveWindow getter to player. Start tests for seek to live button behaviors.
  packages/mux-player/src/index.ts
  packages/mux-player/test/player.test.js
Due: mux-player

style(mux-player): clean up no shadow lint rule.
  packages/mux-player/src/template.ts
Due: mux-player

chore:add errored playback scenarios to shared media-assets.json
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  shared/assets/media-assets.json
Due: none

feat(mux-player): use aria-disabled instead of non-standard attr. Add consts/code comments. fix css var.
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
Due: mux-player

fix(mux-video): prevent forward custom attrs
  packages/mux-video/src/CustomVideoElement.js
Due: mux-video

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
