Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: chrome caption positioning workaround with a timer (#438)
  packages/mux-player/src/index.ts
Due: mux-player

chore: graduate mux-player and mux-player-react
  package.json
Due: none

fix: preload property in mux-player (#435)
  examples/nextjs-with-typescript/pages/mux-video.tsx
  examples/nextjs-with-typescript/styles.css
  packages/mux-player/src/index.ts
  packages/mux-player/src/video-api.ts
  packages/mux-player/test/player.test.js
  packages/playback-core/test/player.test.js
Due: mux-player, playback-core

chore: package versioning doesn't need --conventional-graduate anymore
  package.json
Due: none

docs(mux-player-react): Update reference docs.
  packages/mux-player-react/REFERENCE.md
Due: mux-player, mux-player-react

docs(mux-player): Update reference docs to be exhaustive, accurate, and more maintainable.
  packages/mux-player/REFERENCE.md
Due: mux-player

fix(mux-player): Add missing setter for defaultHiddenCaptions prop.
  packages/mux-player/src/index.ts
Due: mux-player

fix(mux-player): Clean up crossOrigin and playsInline usage while respecting defaults/availability.
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/video-api.ts
Due: mux-player

chore: graduate mux-player and mux-player-react (#442)
  package.json
Due: none

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-elements-codemod/CHANGELOG.md
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

test: fix buggy preload test
  packages/playback-core/test/player.test.js
Due: playback-core

test: fix buggy preload test (#445)
  packages/playback-core/test/player.test.js
Due: playback-core

chore: package versioning doesn't need --conventional-graduate anymore (#443)
  package.json
Due: none

feat: add ability to unset poster
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/video-api.ts
  packages/mux-player/test/player.test.js
  packages/mux-player/test/template.test.js
Due: mux-player

chore: add getter / setter comments
  packages/mux-player/src/index.ts
Due: mux-player

test: add playsinline and crossOrigin tests
  packages/mux-player/test/player.test.js
Due: mux-player

test: fix core preload tests
  packages/mux-player/test/player.test.js
  packages/playback-core/test/player.test.js
Due: mux-player, playback-core

fix: add poster part
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
Due: mux-player

Everything's easier with a wrapper
  packages/mux-player-react/src/ConditionalSuspense.tsx
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

fix: cleanup, uniform template attribute handling
  packages/mux-player/src/template.ts
  packages/mux-player/test/template.test.js
Due: mux-player

Fix Types
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

Ehh we don't need cra anyways
  examples/create-react-app-with-typescript/src/App.tsx
  examples/create-react-app-with-typescript/src/pages/MuxPlayerLazy.tsx
Due: none

Heck yeah we're back!
  packages/mux-player-react/src/ConditionalSuspense.tsx
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

docs: update poster reference
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
Due: mux-player, mux-player-react

fix: upgrade media chrome v0.13.0
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

feat: add ability to unset poster (#447)
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/video-api.ts
  packages/mux-player/test/player.test.js
  packages/mux-player/test/template.test.js
  packages/playback-core/test/player.test.js
  yarn.lock
Due: mux-player, mux-player-react, playback-core

fix: turn off backdrop color when controls are disabled
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

Revert "Ehh we don't need cra anyways"
  examples/create-react-app-with-typescript/src/App.tsx
  examples/create-react-app-with-typescript/src/pages/MuxPlayerLazy.tsx
Due: none

fix: turn off backdrop color when controls are disabled (#451)
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

chore: add lerna ignoreChanges file patterns
  lerna.json
Due: none

chore: add lerna ignoreChanges file patterns (#453)
  lerna.json
Due: none

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
Due: mux-player, mux-player-react

fix: also add media-object-fit/position to video
  packages/mux-video/src/CustomVideoElement.js
Due: mux-video

fix: also add media-object-fit/position to video (#455)
  packages/mux-video/src/CustomVideoElement.js
Due: mux-video

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
Due: mux-player, mux-player-react, mux-video

chore: add scrollable options in nextjs/MuxPlayer
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/styles.css
Due: none

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
