Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

fix: disable cast button
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

hasSrc type
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

rename src to has-src attribute on media-theme-mux
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
Due: mux-player

another fix
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

feat: disable hotkeys and gestures if no playback-id
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

chore: alternating rows dark colorscheme color
  examples/nextjs-with-typescript/styles.css
Due: none

chore: remove line ending whitespace
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

chore: width/overflow of code renderer section in nextjs example
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/styles.css
Due: none

chore: url renderer styles update
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/styles.css
Due: none

chore: Update some of the nextjs styles for dark colorscheme and overflow (#420)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/styles.css
Due: none

chore: make uniform w/ other examples
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/mux-player.tsx
Due: none

chore: make uniform w/ other examples (#423)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/mux-player.tsx
Due: none

copy disabled/aria-disabled to the underlying media-time-display
  packages/mux-player/src/media-chrome/time-display.ts
Due: mux-player

feat: update media-chrome to 0.12.0
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

dim live button as well
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
Due: mux-player

update test
  packages/mux-player/src/template.ts
  packages/mux-player/test/template.test.js
Due: mux-player

move hasSrc into getProps
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
Due: mux-player

update test name
  packages/mux-player/test/template.test.js
Due: mux-player

consolidate attributeChangedCallback in time-display
  packages/mux-player/src/media-chrome/time-display.ts
Due: mux-player

add hasSrc to types
  packages/mux-player/src/types.d.ts
Due: mux-player

add has-src to template test
  packages/mux-player/test/template.test.js
Due: mux-player

better seek-live button with in-live-window attribute
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
Due: mux-player

simplify aria-disabled condition
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
Due: mux-player

feat: disable some controls when there isn't a playback-id (#416)
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/time-display.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/test/template.test.js
  yarn.lock
Due: mux-player

feat: simple focus trap/passthrough for dialog
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/dialog.ts
Due: mux-player

chore: move autoplay types
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: playback-core

chore: move type helper to types file
  packages/playback-core/src/types.ts
  packages/playback-core/src/util.ts
Due: playback-core

fix: move types to separate file too noisy working in index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: playback-core

fix: move not exported utils to util file
  packages/playback-core/src/index.ts
  packages/playback-core/src/util.ts
Due: playback-core

fix: move getStreamTypeConfig to index
  packages/playback-core/src/index.ts
  packages/playback-core/src/util.ts
Due: playback-core

fix: preload playback core change
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/index.ts
  packages/playback-core/src/autoplay.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/preload.ts
  packages/playback-core/src/types.ts
Due: mux-audio, mux-audio-react, mux-video, mux-video-react, playback-core

test: add playback core tests
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  packages/playback-core/test/player.test.js
  packages/playback-core/test/web-test-runner.config.mjs
  yarn.lock
Due: mux-audio, mux-player, mux-video, playback-core

BREAKING CHANGE: fix setting preload after play breaking change for the playback-core pkg because setupAutoplay is removed
  packages/playback-core/src/preload.ts
Due: playback-core

chore: add type keyword
  packages/playback-core/src/index.ts
  packages/playback-core/src/util.ts
Due: playback-core

fix: fetch error bug / add error test
  packages/playback-core/package.json
  packages/playback-core/src/index.ts
  packages/playback-core/test/player.test.js
Due: playback-core

fix: subsequent preload changes
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/preload.ts
  packages/playback-core/src/types.ts
Due: mux-video, playback-core

fix: preload bugs, add more tests
  packages/mux-video/src/index.ts
  packages/mux-video/test/player.test.js
  packages/playback-core/src/preload.ts
Due: mux-video, playback-core
