Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

test: move playerSoftwareInfo display above player, show as name@version
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

Added optional call to support backwards compat with custom media element
  packages/mux-video/src/base.ts
Due: mux-video

bumped castable-video, custom-media-element, media-tracks and media-chrome dependencies
  package-lock.json
  packages/mux-player/package.json
  packages/mux-video/package.json
Due: mux-player, mux-video

updated package lock
  package-lock.json
Due: none

fix: Patch Memory Leaks (#1285)
  .gitignore
  examples/memory-leak-test/README.md
  examples/memory-leak-test/build-elements.sh
  examples/memory-leak-test/package.json
  examples/memory-leak-test/public/index.html
  examples/memory-leak-test/public/mux-player-leak-test.html
  examples/memory-leak-test/public/mux-player-react-leak-test.html
  examples/memory-leak-test/public/mux-video-leak-test.html
  examples/memory-leak-test/public/styles.css
  examples/memory-leak-test/setup-local.sh
  examples/memory-leak-test/src/mux-player-react.tsx
  examples/memory-leak-test/src/mux-player.ts
  examples/memory-leak-test/src/mux-video.ts
  examples/memory-leak-test/teardown-local.sh
  package-lock.json
  packages/mux-player/package.json
  packages/mux-player/src/base.ts
  packages/mux-video/package.json
  packages/mux-video/src/base.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/media-tracks.ts
Due: mux-player, mux-video, playback-core

fix: Added attributes used in toMuxVideoURL to attribute changed callback (#1286)
  packages/mux-audio/src/index.ts
  packages/mux-video/src/base.ts
Due: mux-audio, mux-video

chore: Added comment explaining why iOS WebViews wont use native by default (#1284)
  packages/playback-core/src/index.ts
Due: playback-core

Updated media-chrome and ran npm i
  package-lock.json
  packages/mux-player/package.json
Due: mux-player

fix: Update media-chrome to prevent errors on reconnection (#1300)
  package-lock.json
  packages/mux-player/package.json
Due: mux-player

Modified getMediaPlaylistFromMultivariantPlaylist to accept relative urls
  packages/playback-core/src/index.ts
  packages/playback-core/src/util.ts
  packages/playback-core/test/url.test.js
Due: playback-core

Added case for relative master src, restructured code
  packages/playback-core/src/index.ts
Due: playback-core

Added relative master playlist test
  packages/playback-core/test/url.test.js
Due: playback-core

Addressed Cursor reviews, possible redirects and redundant conditional
  packages/playback-core/src/index.ts
Due: playback-core

Restructured again into util functions
  packages/playback-core/src/index.ts
  packages/playback-core/src/util.ts
  packages/playback-core/test/url.test.js
Due: playback-core

Fixed tracks tests for cases where metadata loads before we expect it to
  packages/playback-core/test/tracks.test.js
Due: playback-core

Added playback token to <mux-player> template
  packages/mux-player/src/template.ts
Due: mux-player

Support relative master playlists
  packages/playback-core/src/index.ts
  packages/playback-core/src/util.ts
Due: playback-core

Fixed test and toAbsoluteUrl comment to account for the function changes done
  packages/playback-core/src/util.ts
  packages/playback-core/test/url.test.js
Due: playback-core

resolve TypeScript errors with moduleResolution nodenext and skipLibCheck false
  package-lock.json
  packages/mux-video/package.json
  packages/mux-video/src/ads/index.ts
  packages/playback-core/src/types.ts
Due: mux-video, playback-core

feat: add ABR startup quality attributes
  packages/mux-player/src/base.ts
  packages/mux-player/src/template.ts
  packages/mux-video/src/base.ts
  packages/playback-core/src/autoplay.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/test/index.test.js
Due: mux-player, mux-video, playback-core

fix: prevent deferred autoplay from muting already-playing session
  packages/playback-core/src/autoplay.ts
Due: playback-core

fix: handle user-initiated play during preload buffering
  packages/playback-core/src/autoplay.ts
Due: playback-core

chore: add ABR startup test harness
  examples/vanilla-ts-esm/public/abr-startup-test.html
Due: none

feat: add ABR startup attributes to mux-audio, React wrappers, and docs
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-player-astro/REFERENCE.md
  packages/mux-player-astro/src/types.ts
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/types.ts
  packages/mux-player/REFERENCE.md
  packages/mux-video-react/src/index.tsx
  packages/mux-video/README.md
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

Added "|| ^6.0.0" to peerDeps and upgraded astro dependencies on relevant packages
  examples/astro/package.json
  packages/mux-player-astro/package.json
  packages/mux-uploader-astro/package.json
Due: mux-player

Ran npm i
  package-lock.json
Due: none

Added a warning when tracks are being added before player init
  packages/mux-video/src/base.ts
Due: mux-video

Moved @mux/mux-player-astro and @mux/mux-uploader-astro to point to local builds
  examples/astro/package.json
  package-lock.json
Due: none

feat: Expose hls.js bandwidth estimator min-sample-duration as a configurable attribute
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/min-bandwidth-sample-duration-ms-test.html
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-audio/test/player.test.js
  packages/mux-player-astro/REFERENCE.md
  packages/mux-player-astro/src/types.ts
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/types.ts
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/base.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.ts
  packages/mux-player/test/player.test.js
  packages/mux-video-react/src/index.tsx
  packages/mux-video/README.md
  packages/mux-video/src/base.ts
  packages/mux-video/test/index.test.js
  packages/playback-core/src/index.ts
  packages/playback-core/src/sane-abr-controller.ts
  packages/playback-core/src/types.ts
  packages/playback-core/test/index.test.js
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: use * for workspace-sibling deps to unblock canary releases
  examples/astro/package.json
  examples/memory-leak-test/package.json
  examples/nextjs-with-typescript/package.json
  examples/svelte-kit/package.json
  examples/vanilla-ts-esm/package.json
  examples/vue-with-typescript/package.json
  package-lock.json
  packages/mux-player/package.json
  packages/playback-core/package.json
Due: mux-player, playback-core

fix: tear down preload play/pause listeners on source change
  packages/playback-core/src/autoplay.ts
Due: playback-core

refactor: move minPreloadSegments logic to dedicated module
  packages/playback-core/src/autoplay.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/min-preload.ts
Due: playback-core

refactor: move initialEstimateSegments logic to min-preload module
  packages/playback-core/src/index.ts
  packages/playback-core/src/min-preload.ts
Due: playback-core

refactor: remove ineffective internalRateUpdate flag in min-preload
  packages/playback-core/src/min-preload.ts
Due: playback-core

fix: restore playbackRate on teardown in setupMinPreload
  packages/playback-core/src/min-preload.ts
Due: playback-core

feat: Add ABR startup quality attributes (#1315)
  examples/vanilla-ts-esm/public/abr-startup-test.html
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-player-astro/REFERENCE.md
  packages/mux-player-astro/src/types.ts
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/types.ts
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/base.ts
  packages/mux-player/src/template.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video/README.md
  packages/mux-video/src/base.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/min-preload.ts
  packages/playback-core/src/types.ts
  packages/playback-core/test/index.test.js
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
