Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

feat(mux-player): Add delimiter for live + title case.
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

docs(mux-player, mux-player-react): Update READMEs to include title.
  packages/mux-player-react/README.md
  packages/mux-player/README.md
Due: mux-player, mux-player-react

test(mux-player): Add basic title test.
  packages/mux-player/test/player.test.js
Due: mux-player

fix(mux-player): Update live indicator position per new designs.
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

feat(mux-player-react): Add title type for MuxPlayer (react).
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

fix(mux-player): Re-add poster to theme template (lost in rebase merge).
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

feat(mux-player): Add title UI to Mux Player.
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

fix(mux-player): Add font sizes to title for different permutations.
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

chore(mux-player): Add seek live css vars to controls customization list.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

chore(mux-player, mux-player-react): Update nextjs player page to style audio vs. non-audio differently. Add UI for title.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/styles.css
Due: none

chore(mux-player): ignore lint rule.
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

chore(mux-player): Add code comment on ad hoc temporary part mapping.
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

fix(mux-player): Use css vars in theme to hide unavailable controls.
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

chore: manual revert due to github permissions.
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-elements-codemod/CHANGELOG.md
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

ci: try out turborepo
  .gitignore
  package.json
  turbo.json
  yarn.lock
Due: none

ci: add turbo repo creds
  .github/workflows/ci.yml
Due: none

ci: with cache now?!
  .github/workflows/ci.yml
Due: none

ci: upgrade turborepo to latest version
  package.json
  yarn.lock
Due: none

ci: try out turborepo (#255)
  .github/workflows/ci.yml
  .gitignore
  package.json
  turbo.json
  yarn.lock
Due: none

fix: cjs main entrypoint for React pkgs
  packages/mux-player-react/package.json
  packages/mux-uploader-react/package.json
  packages/mux-video-react/package.json
Due: mux-player, mux-player-react, mux-video, mux-video-react

fix: cjs main entrypoint for React pkgs (#360)
  packages/mux-player-react/package.json
  packages/mux-uploader-react/package.json
  packages/mux-video-react/package.json
Due: mux-player, mux-player-react, mux-video, mux-video-react

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
Due: mux-player, mux-player-react, mux-video, mux-video-react

fix(mux-player-react): explicitly add className to typescript types for mux-player-react (different impl from MuxVideo and MuxAudio).
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

tools: upgrade esbuild, use new --watch=forever instead of open-process hack evanw/esbuild#1885
  examples/vanilla-ts-esm/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  scripts/esbuilder/esbuilder.js
  scripts/esbuilder/package.json
  scripts/open-process/open-process.js
  scripts/open-process/package.json
  shared/test-esm-exports/package.json
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: don't throw an error when removing tokens or playback id
  packages/mux-player/src/index.ts
  packages/mux-player/src/utils.ts
Due: mux-player

tools: upgrade esbuild, use new --watch=forever (#366)
  examples/vanilla-ts-esm/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  scripts/esbuilder/esbuilder.js
  scripts/esbuilder/package.json
  scripts/open-process/open-process.js
  scripts/open-process/package.json
  shared/test-esm-exports/package.json
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: startTime on iOS when preload=auto
  examples/vanilla-ts-esm/public/mux-player.html
  packages/playback-core/src/index.ts
  packages/playback-core/src/util.ts
Due: playback-core

tools: use esbuilder outfile naming for other pkgs
  packages/mux-player/package.json
  scripts/esbuilder/esbuilder.js
Due: mux-player

tools: add watch logs to esbuilder
  scripts/esbuilder/esbuilder.js
Due: none

tools: fix dev dependency
  packages/mux-player/package.json
Due: mux-player

tools: upgrade Turborepo to 1.4.6
  package.json
  yarn.lock
Due: none
