Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

fix: error message was not passed back to player
  packages/mux-audio/src/CustomAudioElement.js
  packages/mux-video/src/CustomVideoElement.js
Due: mux-audio, mux-video

fix: clear state on other src related attrs
  packages/mux-player/src/index.ts
  packages/mux-player/test/player.test.js
Due: mux-player

fix: make height larger for touch temporarily until we have a fix in media-chrome
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

doc: Fix typo in mux-video documentation
  packages/mux-video/README.md
Due: mux-video

fix: put progress bar above controls
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

chore: fix secondary-color, right spacing
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/src/utils.ts
Due: mux-player

chore: fix eslint warn
  packages/mux-player/src/helpers.ts
Due: mux-player

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore: update examples for thumbnailTime.
  examples/nextjs-with-typescript/next-env.d.ts
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/vanilla-ts-esm/public/mux-player.html
Due: none

feat(mux-player-react): Add thumbnail-time support to mux-player-react. Document prop.
  packages/mux-player-react/README.md
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

feat(mux-player): Add thumbnail-time support to mux-player. Document attr&prop. Warn when used with thumbnail-token.
  packages/mux-player/README.md
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

fix(mux-player-react): Missing preload prop type def.
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

chore: remove all Dylans.
  examples/vanilla-ts-esm/public/mux-player.html
Due: none

fix(mux-player): Ensure that the externally set poster attr is used iff it's set.
  packages/mux-player/src/index.ts
Due: mux-player

build(mux-player): Use released template-parts instead of github. Point directly at published modules until template-parts fixes this in a later release.
  packages/mux-player/package.json
  packages/mux-player/src/html.ts
  yarn.lock
Due: mux-player

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
Due: mux-player, mux-player-react

fix: bump media-chrome dep for fullscreen bugfix
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

improv: log the version in the [mux-player] log prefix
  packages/mux-player/src/logger.ts
Due: mux-player

chore: bump template-parts to 0.5.3 and fix imports
  packages/mux-player/package.json
  packages/mux-player/src/html.ts
  yarn.lock
Due: mux-player

chore: add mux.com to README_INTERNAL list for Mux Player releases
  README_INTERNAL.md
Due: none

chore: update Mux Player unpkg link to stay current
  packages/mux-player/README.md
Due: mux-player

fix: get CRA 5 working w/ minimal changes
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app-with-typescript/yarn.lock
  packages/playback-core/package.json
  yarn.lock
Due: playback-core

fix: bump LIVE_SEGMENT_SECS to 5
  packages/mux-player/src/helpers.ts
Due: mux-player
