Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

feat(mux-uploader): Simplify mux-uploader-drop styling. Update vanilla uploader example to demo usage with simplified styling.
  examples/vanilla-ts-esm/public/mux-uploader-full.html
  packages/mux-uploader/src/mux-uploader-drop.ts
Due: none

chore(mux-uploader-react): Add simple commented out example for formatProgress to nextjs MuxUploader page.
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
Due: none

feat(mux-uploader): move some dom elements around to make eventual overlay (re)styling a bit easier.
  packages/mux-uploader/src/mux-uploader-drop.ts
Due: none

feat(mux-uploader-react): Add event callbacks. Clean up props mapping.
  packages/mux-uploader-react/src/index.tsx
Due: none

chore(mux-uploader): update vanilla example for reference of slot-based customization.
  examples/vanilla-ts-esm/public/mux-uploader-full.html
Due: none

chore: minor cleanup now that there is no nested drop.
  packages/mux-uploader/src/index.ts
Due: none

chore(mux-uploader): Update vanilla widget example for full width while uploading.
  examples/vanilla-ts-esm/public/mux-uploader-widget.html
Due: none

chore: update vanilla uploader example to reference formatProgress usage.
  examples/vanilla-ts-esm/public/mux-uploader-full.html
Due: none

fix(mux-uploader): Fix syntax in README for components.
  packages/mux-uploader/README.md
Due: none

fix(mux-uploader): Refactor overlay behavior for drop. Remove z-index assumptions from uploader. Rename overlay text attr to overlay-text for clarity.
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/mux-uploader-drop.ts
Due: none

chore(mux-uploader-react): Add event handler examples to nextjs MuxUploader page.
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
Due: none

chore(mux-uploader): remove extraneous code.
  packages/mux-uploader/src/index.ts
Due: none

feat: Add formatProgress method for customization. Bugfix for default uploader button.
  packages/mux-uploader/src/index.ts
Due: none

chore(mux-uploader): clean up some interim comments, including commenting out css in uploader drop for now.
  packages/mux-uploader/src/mux-uploader-drop.ts
Due: none

fix(mux-uploader): Remove pink background color.
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
Due: none

fix(mux-uploader): Simplify drop internal DOM structure to have more predictable layout & styling.
  packages/mux-uploader/src/mux-uploader-drop.ts
Due: none

chore(mux-player): Rely on media chrome availability states where appropriate. Remove unneeded code from mux-player. Update tests.
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/test/template.test.js
Due: mux-player

Publish
  packages/mux-elements-codemod/CHANGELOG.md
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
Due: mux-player, mux-player-react

feat(playback-core, mux-player): Add support to removeTextTrack. Remove all identified tracks on hls destroy. Add methods to mux-player.
  packages/mux-player/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/tracks.ts
Due: mux-player, playback-core

ci: fix Slack alert message
  .github/workflows/cd.yml
Due: none

fix: use MediaTheme from media-chrome
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  types/media-chrome.d.ts
Due: mux-player

feat: add ability to choose a theme via attribute
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/html.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

chore: remove temporary simple theme in example
  examples/vanilla-ts-esm/public/mux-player.html
Due: none

feat(mux-uploader, mux-uploader-react): Reset state to allow users to re-select same file when retrying a failed upload. Add error messaging for when url is unset.
  packages/mux-uploader/src/index.ts
Due: none

chore: update blogpost url
  .github/workflows/deprecate.yml
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-uploader/src/index.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/index.ts
Due: mux-audio, mux-audio-react, mux-video, mux-video-react

feat(mux-player): Add textTracks prop alongside add/remove tracks methods.
  packages/mux-player/src/index.ts
Due: mux-player

fix: remove removed theme attrs
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

feat: add ability to choose a Media Theme via attribute (#269)
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/html.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  types/media-chrome.d.ts
Due: mux-player

ci: fix Slack alert message (#292)
  .github/workflows/cd.yml
Due: none

fix: add scope deprecation warning
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-uploader/src/index.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/index.ts
Due: mux-audio, mux-audio-react, mux-video, mux-video-react

chore: add a deprecation manually dispatched script
  .github/workflows/deprecate.yml
Due: none

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

build: push up deprecate to main to use as github action.
  .github/workflows/deprecate.yml
Due: none

fix: tweak things for the new MC time range
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/template.ts
Due: mux-player

build: rm deprecate now that we're done.
  .github/workflows/deprecate.yml
Due: none

test: add fun random color w/ complement
  examples/vanilla-ts-esm/public/mux-player.html
Due: none

fix: improve keyboard selection
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player
