Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

style(mux-player): clean up no shadow lint rule.
  packages/mux-player/src/template.ts
Due: mux-player

feat(mux-player): Add more seek to live behavior tests. Add event for inLiveWindow change.
  packages/mux-player/src/index.ts
  packages/mux-player/test/player.test.js
Due: mux-player

Revert "fix(mux-player): Make sure internal state monitoring setup happens after relevant elements exist."
  packages/mux-player/src/index.ts
Due: mux-player

fix(mux-player): fix CE children not upgraded
  packages/mux-player/src/index.ts
Due: mux-player

chore:add errored playback scenarios to shared media-assets.json
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  shared/assets/media-assets.json
Due: none

fix: avoid typeerror but log failed upgrade
  packages/mux-player/src/index.ts
Due: mux-player

fix(mux-video): prevent forward custom attrs (#172)
  packages/mux-video/src/CustomVideoElement.js
Due: mux-video

fix: child custom element mux-video upgraded after mux-player (#171)
  packages/mux-player/src/index.ts
Due: mux-player

chore: un-nest seek to live test describe
  packages/mux-player/test/player.test.js
Due: mux-player

chore: disable hls.js debug in tests, too noisy
  packages/mux-audio/test/player.test.js
  packages/mux-player/test/player.test.js
  packages/mux-video/test/player.test.js
Due: mux-audio, mux-player, mux-video

chore: make coverage files replace silent
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-video/package.json
Due: mux-audio, mux-player, mux-video

test: fix stream-type warnings
  packages/mux-player/test/player.test.js
Due: mux-player

test: add playback id change test
  packages/mux-player/test/player.test.js
Due: mux-player

fix: clear some state on playbackId change
  packages/mux-player/src/index.ts
  packages/mux-player/test/player.test.js
Due: mux-player

fix: primary color should be also used for the text color on controls
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/styles.css
  packages/mux-player/src/time-display.ts
Due: mux-player

DO NOT MERGE: add test pages for vanilla demo for different layers and how they respond to sizing constraints (or no sizing constraints). Update player styles.css to experiment with sizing behavior.
  examples/vanilla-ts-esm/package.json
  examples/vanilla-ts-esm/public/mux-player.html
  examples/vanilla-ts-esm/public/mux-video-with-media-chrome.html
  examples/vanilla-ts-esm/public/video.html
  examples/vanilla-ts-esm/src/mux-video.ts
  packages/mux-player/src/styles.css
Due: mux-player

chore: fix mux-audio and mux-video examples
  examples/vanilla-ts-esm/public/mux-audio.html
  examples/vanilla-ts-esm/public/mux-video.html
Due: none

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
Due: mux-player, mux-player-react, mux-video

chore: update README_INTERNAL
  README_INTERNAL.md
Due: none

fix: clear some state on playbackId change (#174)
  packages/mux-audio/package.json
  packages/mux-audio/test/player.test.js
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/test/player.test.js
  packages/mux-video/package.json
  packages/mux-video/test/player.test.js
Due: mux-audio, mux-player, mux-video

chore: update builds to meet devs where they are
  .gitignore
  package.json
  packages/mux-audio-react/.npmignore
  packages/mux-audio-react/package.json
  packages/mux-audio/.npmignore
  packages/mux-audio/README.md
  packages/mux-audio/package.json
  packages/mux-audio/src/CustomAudioElement.js
  packages/mux-audio/src/index.ts
  packages/mux-audio/test/web-test-runner.config.mjs
  packages/mux-player-react/.npmignore
  packages/mux-player-react/package.json
  packages/mux-player/.npmignore
  packages/mux-player/README.md
  packages/mux-player/package.json
  packages/mux-player/src/dom-polyfills.ts
  packages/mux-player/src/html.ts
  packages/mux-player/test/web-test-runner.config.mjs
  packages/mux-video-react/.npmignore
  packages/mux-video-react/package.json
  packages/mux-video/.npmignore
  packages/mux-video/README.md
  packages/mux-video/package.json
  packages/mux-video/src/CustomVideoElement.js
  packages/mux-video/src/index.ts
  packages/mux-video/test/web-test-runner.config.mjs
  packages/playback-core/.npmignore
  packages/playback-core/package.json
  packages/playback-core/src/index.ts
  scripts/esbuilder/esbuilder.js
  shared/polyfills/README.md
  shared/polyfills/index.js
  shared/polyfills/index.mjs
  shared/polyfills/package.json
  shared/polyfills/window.js
  shared/test-esm-exports/README.md
  shared/test-esm-exports/hls.mjs
  shared/test-esm-exports/mux-embed.mjs
  shared/test-esm-exports/package.json
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore: set vanilla-ts-esm port to 8004
  examples/vanilla-ts-esm/package.json
Due: none

fix(mux-player): metadata fields should be set based on 'external'/attr values in mux-player.
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

fix(mux-player): adding test for metadata attrs.
  packages/mux-player/test/player.test.js
Due: mux-player

test(mux-player): adjusting waitUntil timeout for test failing in github action env.
  packages/mux-player/test/player.test.js
Due: mux-player

fix: prevent non-fatal error events propagating
  packages/mux-player/src/index.ts
  packages/mux-player/test/errors.test.js
Due: mux-player

test: add error data for non-fatal
  packages/mux-player/test/errors.test.js
Due: mux-player

fix: prevent non-fatal error events propagating (#179)
  packages/mux-player/src/index.ts
  packages/mux-player/test/errors.test.js
Due: mux-player

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: get polyfill from playback core in mux-player
  packages/mux-player/src/index.ts
Due: mux-player

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
Due: mux-player, mux-player-react

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
