Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

whatevs
  packages/playback-core/src/index.ts
Due: playback-core

TESTING CODE LOGS ET AL.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/playback-core/src/index.ts
Due: playback-core

MORE TESTING AND HOPEFUL FIX
  packages/playback-core/src/index.ts
  packages/playback-core/src/util.ts
Due: playback-core

let us try that again.
  packages/playback-core/src/index.ts
  packages/playback-core/src/util.ts
Due: playback-core

like daft punk, one more time.
  packages/playback-core/src/index.ts
Due: playback-core

try to avoid extra ended events.
  packages/playback-core/src/index.ts
Due: playback-core

fix(playback-core): pseudo ended stalled last frag (#867)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/playback-core/src/index.ts
Due: playback-core

chore(turbo-repo): upgrade
  package.json
  yarn.lock
Due: none

fix(custom-media-element): fix default chapters and metadata tracks
  packages/mux-video/package.json
  yarn.lock
Due: mux-video

fix(custom-media-element): fix chapters & metadata tracks (#871)
  package.json
  packages/mux-video/package.json
  yarn.lock
Due: mux-video

upgrade media chrome to 2.2.5
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

mux-embed to 5.1.0
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

chore(mux-player): upgrade media chrome to 2.2.5 (#873)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: polish new time preview w/ shifting arrow
  packages/mux-player/package.json
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
  yarn.lock
Due: mux-player

fix: polish new time preview w/ shifting arrow (#884)
  packages/mux-player/package.json
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
  yarn.lock
Due: mux-player

fix: polish, use easing gradients
  examples/vanilla-ts-esm/public/mux-player-renditions.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

Revert "fix: polish, use easing gradients"
  examples/vanilla-ts-esm/public/mux-player-renditions.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix: polish, use easing gradients (#885)
  examples/vanilla-ts-esm/public/mux-player-renditions.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

feat(playback-core): implement seekablechange for more reliable tracking of seekable (see Media Chrome + MediaStore usage).
  packages/playback-core/src/index.ts
Due: playback-core

fix(playback-core): Update autoplay logic to be smarter about stream types and startTime conditions.
  packages/playback-core/src/autoplay.ts
Due: playback-core

chore: removing unnecessary bubbles from seekablechange for consistency with similar native media events, per PR feedback.
  packages/playback-core/src/index.ts
Due: playback-core

fix(playback-core): live seek and media chrome upgrade (#883)
  packages/playback-core/src/autoplay.ts
  packages/playback-core/src/index.ts
Due: playback-core

feat(mux-player): version bump to Media Chrome v3.1.0.
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

feat(mux-player): version bump to Media Chrome v3.1.0. (#886)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix(mux-player): More cleanup for DVR in media chrome (so another version bump).
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix(mux-player): More cleanup for DVR in media chrome (#887)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

feat(mux-player): Keyboard seek offsets now update with component offset props.
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

feat(mux-player): Keyboard seek offsets now update with component offset props. (#888)
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

docs(mux-player, mux-player-react): Updating docs to reflect keyboard nav seek offset behavior.
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
Due: mux-player, mux-player-react

docs(mux-player, mux-player-react): Updating docs to reflect keyboard… (#889)
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
Due: mux-player, mux-player-react

feat(mux-player-react): Remove commented out code (feat to force minor version bump).
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

feat(mux-player-react): Remove commented out code (feat to force mino… (#890)
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

fix(playback-core): Make sure we do not apply holdback to seekable when live streams have ended.
  packages/playback-core/src/index.ts
Due: playback-core

fix(playback-core): make sure we signal seekable change when duration changes.
  packages/playback-core/src/index.ts
Due: playback-core

fix(playback-core): Make sure we do not apply holdback to seekable when live streams have ended. (#891)
  packages/playback-core/src/index.ts
Due: playback-core
