Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

also removing mux video from intrinsic elements
  packages/mux-player-react/src/types.ts
Due: mux-player, mux-player-react

improve hls usage for dynamic buffering
  packages/playback-core/src/preload.ts
Due: playback-core

remove unnecesary check
  packages/playback-core/src/preload.ts
Due: playback-core

fix behaviour on Safari
  packages/playback-core/src/preload.ts
Due: playback-core

add fullscreenElement to MuxPlayer example
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

update uploaderEl type
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader-pause.ts
  packages/mux-uploader/src/mux-uploader-retry.ts
  packages/mux-uploader/src/mux-uploader-sr-text.ts
  packages/mux-uploader/src/mux-uploader-status.ts
Due: none

fix: default to MSE for Chrome with native HLS
  package-lock.json
  packages/playback-core/src/index.ts
Due: playback-core

fix: add globalThis to access navigator
  packages/playback-core/src/index.ts
Due: playback-core

fix: more robust parseInt of browserBrand.version
  packages/playback-core/src/index.ts
Due: playback-core

fix: default to MSE for Chrome with native HLS (#1221)
  package-lock.json
  packages/playback-core/src/index.ts
Due: playback-core

- add nomutedpref prop to mux player - remove novolumepref from MuxPlayer example (when refreshing the page this value doesn't persist so it's not possible to see the expected behavior)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-astro/src/types.ts
  packages/mux-player-react/src/types.ts
  packages/mux-player/src/base.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.ts
Due: mux-player, mux-player-react

improve code and example
  examples/nextjs-with-typescript/pages/MuxPlayerBufferingControl.tsx
  packages/mux-player/src/base.ts
  packages/mux-player/src/types.ts
  packages/mux-video/src/base.ts
  packages/mux-video/src/types.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/preload.ts
Due: mux-player, mux-video, playback-core

add no muted pref documentation
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
Due: mux-player, mux-player-react

add fullscreen element documentation
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
Due: mux-player, mux-player-react

feat: add nomutedpref prop to mux player (#1222)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-astro/src/types.ts
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/types.ts
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/base.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.ts
Due: mux-player, mux-player-react

feat: add support to define custom fullscreen element (#1217)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/types.ts
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/base.ts
  packages/mux-player/src/types.ts
Due: mux-player, mux-player-react

fix: avoid prerender errors caused by date access
  packages/playback-core/src/index.ts
Due: playback-core

bump-media-chrome
  examples/nextjs-with-typescript/package.json
  packages/mux-player/package.json
Due: mux-player

fix: chrome version check to shouldDefaultToMSE
  packages/playback-core/src/index.ts
Due: playback-core

fix: chrome version check to shouldDefaultToMSE (#1229)
  packages/playback-core/src/index.ts
Due: playback-core

fix: Add MENU_ITEM constant for styling of menu items with CSS (#1212)
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

removing support for web component
  packages/mux-player-react/src/types.ts
Due: mux-player, mux-player-react

restoring previous implementation
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

change approach similar to media-chrome
  packages/mux-uploader/lang/de.json
  packages/mux-uploader/lang/en.json
  packages/mux-uploader/lang/es.json
  packages/mux-uploader/lang/fr.json
  packages/mux-uploader/package.json
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/lang/de.ts
  packages/mux-uploader/src/lang/en.ts
  packages/mux-uploader/src/lang/es.ts
  packages/mux-uploader/src/lang/fr.ts
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader-pause.ts
  packages/mux-uploader/src/mux-uploader-retry.ts
  packages/mux-uploader/src/mux-uploader-sr-text.ts
  packages/mux-uploader/src/mux-uploader-status.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/src/utils/i18n.ts
Due: none

add langCode to supportedLocales and support for it, pt and zh
  packages/mux-uploader/src/lang/it.ts
  packages/mux-uploader/src/lang/pt.ts
  packages/mux-uploader/src/lang/zh.ts
  packages/mux-uploader/src/utils/i18n.ts
Due: none

fix text update logic
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader-pause.ts
  packages/mux-uploader/src/mux-uploader-retry.ts
  packages/mux-uploader/src/mux-uploader-sr-text.ts
  packages/mux-uploader/src/mux-uploader-status.ts
  packages/mux-uploader/src/mux-uploader.ts
Due: none

removed locale fallback to 'en' in updateText methods for MuxUploader components
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader-pause.ts
  packages/mux-uploader/src/mux-uploader-retry.ts
  packages/mux-uploader/src/mux-uploader-sr-text.ts
  packages/mux-uploader/src/mux-uploader-status.ts
Due: none

feat: player disable tracking and cookies reactive (#1214)
  packages/mux-video/src/base.ts
Due: mux-video

fix failing tests, added tests for mux-uploader-pause and translation tests (English by default, Spanish and French by passing the locale attribute)
  packages/mux-uploader/test/file-select.test.js
  packages/mux-uploader/test/pause.test.js
  packages/mux-uploader/test/retry.test.js
  packages/mux-uploader/test/status.test.js
  packages/mux-uploader/test/uploader-drop.test.js
  packages/mux-uploader/test/uploader.test.js
Due: none

feat: Add internationalization support to MuxUploader (#1220)
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/lang/de.ts
  packages/mux-uploader/src/lang/en.ts
  packages/mux-uploader/src/lang/es.ts
  packages/mux-uploader/src/lang/fr.ts
  packages/mux-uploader/src/lang/it.ts
  packages/mux-uploader/src/lang/pt.ts
  packages/mux-uploader/src/lang/zh.ts
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader-pause.ts
  packages/mux-uploader/src/mux-uploader-retry.ts
  packages/mux-uploader/src/mux-uploader-sr-text.ts
  packages/mux-uploader/src/mux-uploader-status.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/src/utils/i18n.ts
  packages/mux-uploader/test/file-select.test.js
  packages/mux-uploader/test/pause.test.js
  packages/mux-uploader/test/retry.test.js
  packages/mux-uploader/test/status.test.js
  packages/mux-uploader/test/uploader-drop.test.js
  packages/mux-uploader/test/uploader.test.js
Due: none

Add display names to React Components
  packages/mux-video/src/ads/react.ts
  packages/mux-video/src/react.ts
Due: mux-video

fix: Add display names to React Components (#1237)
  packages/mux-video/src/ads/react.ts
  packages/mux-video/src/react.ts
Due: mux-video

fix: suppress non-fatal getErrorFromHlsErrorData() errors
  packages/playback-core/src/index.ts
Due: playback-core

extra comments
  packages/playback-core/src/index.ts
Due: playback-core

fix: suppressing non fatal errors (#1239)
  packages/playback-core/src/index.ts
Due: playback-core

feat: typed CSSProperties for mux-player custom CSS vars (#1216)
  packages/mux-player-react/src/lazy.tsx
  packages/mux-player-react/src/types.ts
Due: mux-player, mux-player-react

Update packages/playback-core/src/index.ts
  packages/playback-core/src/index.ts
Due: playback-core

feat: allowing users to cap the maximum default resolution
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-react/src/types.ts
  packages/mux-player/src/base.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.ts
  packages/mux-video/src/base.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/min-cap-level-controller.ts
  packages/playback-core/src/types.ts
Due: mux-player, mux-player-react, mux-video, playback-core

cleaning code
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/playback-core/src/index.ts
  packages/playback-core/src/min-cap-level-controller.ts
Due: playback-core

changing to preferLowerResolution
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/mux-player.tsx
  packages/mux-player-react/src/types.ts
  packages/mux-player/src/base.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.ts
  packages/mux-video/src/base.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/min-cap-level-controller.ts
  packages/playback-core/src/types.ts
Due: mux-player, mux-player-react, mux-video, playback-core

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
