Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

Update CHANGELOG.md
  packages/mux-player-react/CHANGELOG.md
Due: mux-player, mux-player-react

Update CHANGELOG.md
  packages/mux-player/CHANGELOG.md
Due: mux-player

fix(mux-video): remove duplicate word in prefer-playback docs
  packages/mux-video/README.md
Due: mux-video

fix(mux-video): remove duplicate word in prefer-playback docs (#1274)
  packages/mux-video/README.md
Due: mux-video

Update CHANGELOG.md
  packages/mux-player-astro/CHANGELOG.md
Due: mux-player

Copied Webkit Fairplay module
  packages/playback-core/src/webkit-fairplay.d.ts
  packages/playback-core/src/webkit-fairplay.ts
Due: playback-core

Renamed setupEmeNativeFairplayDRM and connected webkit fallback
  packages/playback-core/src/index.ts
Due: playback-core

Added comments with DRM setup steps
  packages/playback-core/src/index.ts
Due: playback-core

Added more comments and moved code to follow 'step' order
  packages/playback-core/src/index.ts
Due: playback-core

(WIP) Fixing fallback function
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/src/webkit-fairplay.ts
Due: playback-core

Switched fallback approach
  packages/mux-audio/src/index.ts
  packages/mux-video/src/base.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/src/webkit-fairplay.ts
Due: mux-audio, mux-video, playback-core

Preparing setupEmeNativeFairplayDRM to move into anew file
  packages/playback-core/src/index.ts
Due: playback-core

Moved EME logic to it's own module
  packages/playback-core/src/eme-fairplay.ts
  packages/playback-core/src/index.ts
Due: playback-core

Reorganized Webkit code and added comments
  packages/playback-core/src/webkit-fairplay.ts
Due: playback-core

Moved teardown event setup inside DRM setup. Fixed more comments
  packages/playback-core/src/eme-fairplay.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/webkit-fairplay.ts
Due: playback-core

Lint fixes
  packages/playback-core/src/eme-fairplay.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/webkit-fairplay.ts
Due: playback-core

Combined interfaces into a common one
  packages/playback-core/src/eme-fairplay.ts
  packages/playback-core/src/webkit-fairplay.ts
Due: playback-core

Comments and added a {once:true} option on webkit teardown for consitency with eme.
  packages/playback-core/src/index.ts
  packages/playback-core/src/webkit-fairplay.ts
Due: playback-core

Moved listeners to be removed first and then close the session.
  packages/playback-core/src/webkit-fairplay.ts
Due: playback-core

fix(core): Add WebKit FairPlay DRM fallback for AirPlay on newer OS versions (#1277)
  packages/mux-audio/src/index.ts
  packages/mux-video/src/base.ts
  packages/playback-core/src/eme-fairplay.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/src/webkit-fairplay.d.ts
  packages/playback-core/src/webkit-fairplay.ts
Due: mux-audio, mux-video, playback-core

Added comment explaining why WebViews wont use native by default
  packages/playback-core/src/index.ts
Due: playback-core

Added fixes for memory leaks for playback-core, mux-video and mux-player packages
  packages/mux-player/package.json
  packages/mux-player/src/base.ts
  packages/mux-video/src/ads/index.ts
  packages/mux-video/src/base.ts
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/media-tracks.ts
Due: mux-player, mux-video, playback-core

Removed unnecessary media tracks clean
  packages/mux-video/src/ads/index.ts
  packages/mux-video/src/index.ts
Due: mux-video

Added attributes used in toMuxVideoURL to attribute changed callback
  packages/mux-audio/src/index.ts
  packages/mux-video/src/base.ts
Due: mux-audio, mux-video

Added memory leak manual test
  .gitignore
  examples/memory-leak-test/README.md
  examples/memory-leak-test/build-elements.sh
  examples/memory-leak-test/package.json
  examples/memory-leak-test/public/index.html
  examples/memory-leak-test/public/mux-player-leak-test.html
  examples/memory-leak-test/public/mux-player-react-leak-test.html
  examples/memory-leak-test/public/mux-video-leak-test.html
  examples/memory-leak-test/public/styles.css
  examples/memory-leak-test/setup-local.sh
  examples/memory-leak-test/src/mux-player-react.tsx
  examples/memory-leak-test/src/mux-player.ts
  examples/memory-leak-test/src/mux-video.ts
  examples/memory-leak-test/teardown-local.sh
  package-lock.json
Due: none

updated package-lock
  package-lock.json
Due: none

test: add slow proxy to next app for slow storyboard blocking playback startup (main branch)
  examples/nextjs-with-typescript/pages/api/storyboard-proxy.ts
Due: none

fix: disable browser caching on storyboard proxy endpoint
  examples/nextjs-with-typescript/pages/api/storyboard-proxy.ts
Due: none

test: show playerSoftwareName and playerSoftwareVersion in MuxPlayer harness UI
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none
