Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

extend json parsing to different formats, improve the rendering of logo
  packages/playback-core/src/index.ts
Due: playback-core

create event muxmetadata
  packages/playback-core/src/index.ts
Due: playback-core

pr fixes
  packages/playback-core/src/index.ts
  packages/playback-core/src/media-tracks.ts
Due: playback-core

feat: add free plan logo logic
  examples/nextjs-with-typescript/pages/MuxPlayerFreeLogo.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  packages/playback-core/src/index.ts
  packages/playback-core/src/media-tracks.ts
  packages/playback-core/src/util.ts
  packages/playback-core/test/index.test.js
Due: playback-core

fix: lint issues, remove unused code
  packages/playback-core/src/index.ts
  packages/playback-core/src/util.ts
Due: playback-core

fix: add support for native Mux metadata
  examples/nextjs-with-typescript/pages/MuxPlayerFreeLogo.tsx
  packages/playback-core/src/index.ts
Due: playback-core

fix: add logo transition, fixes and cleanup
  examples/nextjs-with-typescript/pages/MuxPlayerFreeLogo.tsx
  packages/mux-video/src/assets/mux-logo.ts
Due: mux-video

fix: parse session data from hls playlist
  packages/playback-core/src/index.ts
Due: playback-core

fix: remove unneeded fetchMetadata util
  examples/nextjs-with-typescript/pages/MuxPlayerFreeLogo.tsx
  packages/playback-core/src/index.ts
  packages/playback-core/src/util.ts
Due: playback-core

fix: add custom domain check for metadata fetch
  packages/playback-core/src/index.ts
Due: playback-core

fix: improve session data parsing
  packages/playback-core/src/index.ts
  packages/playback-core/tsconfig.json
Due: playback-core

feat: add free plan logo (#1140)
  examples/nextjs-with-typescript/pages/MuxPlayerFreeLogo.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  packages/mux-video/src/assets/mux-logo.ts
  packages/mux-video/src/base.ts
  packages/playback-core/src/index.ts
  packages/playback-core/test/index.test.js
  packages/playback-core/tsconfig.json
Due: mux-video, playback-core

fix(mux-player-react news): on demand ad tag url (#1144)
  examples/nextjs-with-typescript/pages/MuxNewsPlayer.tsx
  packages/mux-player-react/src/news/index.tsx
  packages/mux-player-react/src/news/playlist-end-screen.tsx
Due: mux-player, mux-player-react

fix(playback-core): prefer uri value for chapters session metadata when available.
  packages/playback-core/src/index.ts
Due: playback-core

chore(playback-core): unnecessary escape character in regex for attribute parsing.
  packages/playback-core/src/index.ts
Due: playback-core

chore(playback-core): Simplify parser logic via regex per recommendation from @luwes.
  packages/playback-core/src/index.ts
Due: playback-core

fix(playback-core): prefer uri value for chapters session metadata when available. (#1145)
  packages/playback-core/src/index.ts
Due: playback-core

fix: support URI and VALUE for session data
  packages/playback-core/src/index.ts
Due: playback-core

fix: support URI and VALUE for session data (#1146)
  packages/playback-core/src/index.ts
Due: playback-core

fix: typeerror getLogoHTML of undefined
  packages/mux-video/src/ads/mixin/index.ts
  packages/mux-video/src/base.ts
Due: mux-video

chore: increase test attempts to 10
  .github/workflows/cd.yml
Due: none

fix(playback-core): fix metadata type error
  packages/playback-core/src/index.ts
Due: playback-core

test: fix pdt local tests failing
  packages/mux-video/test/index.test.js
Due: mux-video

fix(playback-core): fix metadata type error (#1151)
  packages/mux-video/test/index.test.js
  packages/playback-core/src/index.ts
Due: mux-video, playback-core

tools: upgrade Node version to v22.17.0
  .github/workflows/ci.yml
  .nvmrc
Due: none

tools: fix React hoist issue
  examples/nextjs-with-typescript/tsconfig.json
  package-lock.json
  package.json
Due: none

test: turbo run tests serially to avoid flakiness I had a lot better results passing tests when running them serially locally.
  package.json
Due: none

test: increase timeout, playwright in all pkgs
  package-lock.json
  packages/mux-active-viewer-count/package.json
  packages/mux-audio/package.json
  packages/mux-audio/test/web-test-runner.config.mjs
  packages/mux-elements-codemod/package.json
  packages/mux-player/test/web-test-runner.config.mjs
  packages/mux-uploader/package.json
  packages/mux-uploader/test/web-test-runner.config.mjs
  packages/mux-video/package.json
  packages/mux-video/test/web-test-runner.config.mjs
  packages/playback-core/package.json
  packages/playback-core/test/tracks.test.js
  packages/playback-core/test/web-test-runner.config.mjs
Due: mux-audio, mux-player, mux-video, playback-core

test: upgrade Node v22, tests serial in Turbo, new package-lock (#1154)
  .github/workflows/ci.yml
  .nvmrc
  examples/nextjs-with-typescript/tsconfig.json
  package-lock.json
  package.json
  packages/mux-active-viewer-count/package.json
  packages/mux-audio/package.json
  packages/mux-audio/test/web-test-runner.config.mjs
  packages/mux-elements-codemod/package.json
  packages/mux-player/test/web-test-runner.config.mjs
  packages/mux-uploader/package.json
  packages/mux-uploader/test/web-test-runner.config.mjs
  packages/mux-video/package.json
  packages/mux-video/test/web-test-runner.config.mjs
  packages/playback-core/package.json
  packages/playback-core/test/tracks.test.js
  packages/playback-core/test/web-test-runner.config.mjs
Due: mux-audio, mux-player, mux-video, playback-core

fix: type error in metadata response
  packages/playback-core/src/index.ts
Due: playback-core

fix: type error in metadata response (#1156)
  packages/playback-core/src/index.ts
Due: playback-core

tools: add claude pr assistant
  .github/workflows/claude.yml
Due: none

tools: add claude pr assistant (#1158)
  .github/workflows/claude.yml
Due: none

docs(mux-player news): Update docs for new functionality.
  packages/mux-player-react/src/news/README.md
Due: mux-player, mux-player-react

docs(mux-player news): Update docs for new functionality. (#1159)
  packages/mux-player-react/src/news/README.md
Due: mux-player, mux-player-react

fix: upgrade hls.js to 1.6.6, rm workaround MTA (multi-track audio)
  package-lock.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  packages/playback-core/src/media-tracks.ts
Due: mux-audio, mux-player, mux-video, playback-core

fix: remove unneeded exports it's handled by the wildcard at the bottom
  packages/mux-video/package.json
Due: mux-video

tools: test depends on own build now because of base modules
  turbo.json
Due: none

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
