Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

feat(mux-player-react): Add basic support for custom video domains.
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

chore: update examples to demo custom video domains. Add example custom video domain asset to media-assets.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/vanilla-ts-esm/public/mux-player.html
  shared/assets/media-assets.json
Due: none

chore: add cast scripts to Next example
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/mux-player.tsx
Due: none

test(mux-player): update and expand helper tests to include function interface changes and custom domain support.
  packages/mux-player/test/helpers.test.js
Due: mux-player

fix: add castState which is needed in media-chrome
  shared/castable-video/castable-video.js
Due: none

ci: try out turborepo
  .gitignore
  package.json
  packages/mux-uploader/package.json
  turbo.json
  yarn.lock
Due: none

ci: add turbo repo creds
  .github/workflows/ci.yml
Due: none

ci: with cache now?!
  .github/workflows/ci.yml
Due: none

feat: Handle inferred mux data env key for custom domain cases.
  packages/mux-player/src/template.ts
  packages/playback-core/src/index.ts
Due: mux-player, playback-core

feat(mux-video): Add basic support for custom video domains.
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
Due: mux-video, playback-core

feat(mux-player): Add basic support for custom video domains.
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
Due: mux-player

fix: preload=metadata now triggers loadedmetadata
  packages/playback-core/src/index.ts
Due: playback-core

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/docs_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

build(mux-uploader): Add mux-uploader to the prerelease set for build scripts.
  package.json
Due: none

build(mux-uploader): Add deploy:canary script for mux-uploader.
  packages/mux-uploader/package.json
Due: none

ci: improve publish canary script
  .github/workflows/ci.yml
  package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  scripts/publish.sh
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore: add uploader to prerelease flow
  package.json
Due: none

fix: enable cast docs + cast fix (#253)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/mux-player.tsx
  packages/mux-player-react/README.md
  packages/mux-player/README.md
  shared/castable-video/castable-video.js
Due: mux-player, mux-player-react

ci: improve publish canary script (#266)
  .github/workflows/ci.yml
  package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  scripts/publish.sh
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: upgrade Media Chrome v0.6.9
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: upgrade Media Chrome v0.6.9 (#267)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

chore: fix canary release
  scripts/publish.sh
Due: none

chore: fix canary release (#268)
  scripts/publish.sh
Due: none

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix(mux-uploader): Make progress, errors, completion accessible to VoiceOver.
  packages/mux-uploader/src/index.ts
Due: none

chore(mux-uploader): Clean up aria and event handlers.
  packages/mux-uploader/src/index.ts
Due: none

docs(mux-uploader): Update README to replace copy pasta from mux-player.
  packages/mux-uploader/README.md
Due: none

fix(mux-uploader): Remove unnecessary ids.
  examples/vanilla-ts-esm/public/mux-uploader-full.html
  examples/vanilla-ts-esm/public/mux-uploader-widget.html
Due: none

chore(mux-uploader): Rename custom event and log new TO-DO items re: slots.
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/mux-uploader-drop.ts
Due: none

docs(mux-uploader): Update README with more examples. Clarify attributes.
  packages/mux-uploader/README.md
Due: none
