Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix(mux-video): bail out of #requestLoad() when not yet connected
  packages/mux-video/src/base.ts
Due: mux-video

fix(mux-video): skip disable-tracking unload/reload when disconnected
  packages/mux-video/src/base.ts
Due: mux-video

fix: vendor mux-embed types to resolve nodenext moduleResolution errors
  packages/mux-video/src/ads/index.ts
  packages/playback-core/package.json
  packages/playback-core/scripts/vendor-mux-embed-types.mjs
  packages/playback-core/src/types.ts
  packages/playback-core/src/vendor/mux-embed.ts
Due: mux-video, playback-core

chore: ignore vendored mux-embed types in prettier
  .prettierignore
  packages/playback-core/src/vendor/mux-embed.ts
Due: playback-core

chore: update package-lock.json dependencies
  package-lock.json
Due: none

chore: add src/vendor to .eslintignore in playback-core
  packages/playback-core/.eslintignore
Due: playback-core

refactor: update mux-embed package discovery logic to prevent infinite loops and improve error handling
  packages/playback-core/scripts/vendor-mux-embed-types.mjs
Due: playback-core

Adds clarity surrounding metadata-* attribute for HTML Mux Player
  packages/mux-player/REFERENCE.md
Due: mux-player

fix: correct "upading" typo in DRM error message
  packages/playback-core/lang/en.json
  packages/playback-core/src/eme-fairplay.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/webkit-fairplay.ts
Due: playback-core

Add clarity surrounding metadata-* attribute for HTML Mux Player (#1327)
  packages/mux-player/REFERENCE.md
Due: mux-player

chore: add vendor verification script and update CI workflow to include vendor verification step
  .github/workflows/ci.yml
  packages/playback-core/package.json
  packages/playback-core/scripts/vendor-mux-embed-types.mjs
  packages/playback-core/scripts/verify-vendor-drift.mjs
Due: playback-core

chore: update mux-embed source reference to version 5.16.1
  packages/playback-core/src/vendor/mux-embed.ts
Due: playback-core

chore: untrack vendored mux-embed types and remove drift verification
  .github/workflows/ci.yml
  .gitignore
  package.json
  packages/playback-core/package.json
  packages/playback-core/scripts/verify-vendor-drift.mjs
  packages/playback-core/src/vendor/mux-embed.ts
Due: playback-core

fix: resolve TypeScript errors with moduleResolution nodenext and skipLibCheck false (#1313)
  .gitignore
  .prettierignore
  package-lock.json
  package.json
  packages/mux-video/package.json
  packages/mux-video/src/ads/index.ts
  packages/playback-core/.eslintignore
  packages/playback-core/package.json
  packages/playback-core/scripts/vendor-mux-embed-types.mjs
  packages/playback-core/src/types.ts
Due: mux-video, playback-core

fix: correct typo in DRM CDM error message (#1328)
  packages/playback-core/lang/en.json
  packages/playback-core/src/eme-fairplay.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/webkit-fairplay.ts
Due: playback-core

fix: Added a warning when tracks are being added before player init (#1317)
  packages/mux-video/src/base.ts
Due: mux-video

fix(mux-player): propagate metadata-* attrs synchronously to fix race on first Mux Data beacon
  packages/mux-player/src/base.ts
  packages/mux-video/src/base.ts
Due: mux-player, mux-video

fix: remove inline onclick CSP violation in retry link
  packages/mux-player/src/base.ts
  packages/mux-player/src/errors.ts
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
Due: mux-player, playback-core

fix: remove inline onclick CSP violation in retry link (#1332)
  packages/mux-player/src/base.ts
  packages/mux-player/src/errors.ts
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
Due: mux-player, playback-core

fix: defer load() until connected to prevent metadata race on first Mux Data beacon (#1326)
  packages/mux-player/src/base.ts
Due: mux-player

fix: moved filter drop shadow to parent class
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix: moved filter drop shadow to parent class (#1337)
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix(ci): publish canaries from CD workflow to satisfy npm trusted publishing
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

refactor: removed comments
  .github/workflows/cd.yml
Due: none

fix: replace inline event handlers with addEventListener to comply with strict CSP
  packages/mux-player/src/base.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.ts
  packages/mux-player/test/template.test.js
Due: mux-player

fix: add scheduleNetworkRecovery to recover from fatal network errors.
  packages/mux-player/src/errors.ts
  packages/mux-player/test/errors.test.js
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
  packages/playback-core/test/index.test.js
Due: mux-player, playback-core

fix: address bugbot feedback
  packages/playback-core/src/index.ts
Due: playback-core

fix: treat HTTP code 0 (failed request, no real status) as a connectivity error
  packages/playback-core/src/index.ts
Due: playback-core

fix: make scheduleNetworkRecovery idempotent while a retry is pending, and clear the timer handle when it fires so the counter actually advances
  packages/playback-core/src/index.ts
Due: playback-core

test: http status 0
  packages/playback-core/test/index.test.js
Due: playback-core

fix: enhance network recovery mechanism with bounded retries and addressing playing event and loading on a broken connection
  packages/playback-core/src/index.ts
  packages/playback-core/test/index.test.js
Due: playback-core

refactor: move network recovery logic into it's own module
  packages/playback-core/src/index.ts
  packages/playback-core/src/network-recovery.ts
  packages/playback-core/src/types.ts
  packages/playback-core/test/index.test.js
  packages/playback-core/test/network-recovery.test.js
Due: playback-core

feat: add maxReconnectRetries attribute
  packages/mux-player/src/base.ts
  packages/mux-player/src/template.ts
  packages/mux-video/src/base.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/network-recovery.ts
  packages/playback-core/src/types.ts
  packages/playback-core/test/network-recovery.test.js
Due: mux-player, mux-video, playback-core

fix: replace inline event handlers with addEventListener to comply wi… (#1342)
  packages/mux-player/src/base.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.ts
  packages/mux-player/test/template.test.js
Due: mux-player

fix: wait for hls.js to give up before retrying again
  packages/playback-core/src/network-recovery.ts
  packages/playback-core/test/network-recovery.test.js
Due: playback-core

docs: add max-reconnect-retries doc
  packages/mux-video/README.md
Due: mux-video

fix: keep network recovery armed on manifest loaded to avoid broken state and repeated startLoad calls
  packages/playback-core/src/network-recovery.ts
  packages/playback-core/test/network-recovery.test.js
Due: playback-core

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
