Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: for sure cleanup & revert preload after seek
  packages/playback-core/src/index.ts
Due: playback-core

docs(mux-uploader): Remove outdated instructions.
  packages/mux-uploader/README.md
Due: none

docs(mux-uploader-react): Update styling instructions for react.
  packages/mux-uploader-react/README.md
Due: none

docs/update Mux-uploader README and add gifs for step-by-step customization
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-uploader-simple.html
  packages/mux-uploader/README.md
  packages/mux-uploader/screenshots/custom-button.gif
  packages/mux-uploader/screenshots/custom-drop-bg.gif
  packages/mux-uploader/screenshots/custom-progress-bar.gif
  packages/mux-uploader/screenshots/custom-status-text.gif
  packages/mux-uploader/screenshots/default-everything.gif
Due: none

docs(mux-uploader): Add GCS uploader URL to simple example.
  examples/vanilla-ts-esm/public/mux-uploader-simple.html
Due: none

docs(mux-uploader-react): Fix typo.
  packages/mux-uploader-react/README.md
Due: none

docs(mux-uploader-react): Update attr name from url to endpoint in README.
  packages/mux-uploader-react/README.md
Due: none

docs(mux-uploader): Make instructions for authenticated url more clear.
  packages/mux-uploader/README.md
Due: none

docs(mux-uploader): Remove type 'bar' and add docs for success and upload error events.
  packages/mux-uploader/README.md
Due: none

docs(mux-uploader): Cleanup.
  packages/mux-uploader/README.md
Due: none

fix: use once: true
  packages/playback-core/src/index.ts
Due: playback-core

tools: esbuilder improv + Turbo upgrade (#370)
  package.json
  packages/mux-player/package.json
  scripts/esbuilder/esbuilder.js
  yarn.lock
Due: mux-player

[Docs] mux-uploader and MuxUploader usage and styling instructions (#333)
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-uploader-simple.html
  packages/mux-uploader-react/README.md
  packages/mux-uploader/README.md
  packages/mux-uploader/screenshots/custom-button.gif
  packages/mux-uploader/screenshots/custom-drop-bg.gif
  packages/mux-uploader/screenshots/custom-progress-bar.gif
  packages/mux-uploader/screenshots/custom-status-text.gif
  packages/mux-uploader/screenshots/default-everything.gif
Due: none

fix: startTime on iOS when preload=auto (#368)
  examples/vanilla-ts-esm/public/mux-player.html
  packages/playback-core/src/index.ts
  packages/playback-core/src/util.ts
Due: playback-core

fix: template parts issue
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

fix: template parts issue (#371)
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

feat: always prefer MSE on android
  packages/playback-core/src/index.ts
Due: playback-core

chore: add workflow to auto-add issues to project
  .github/workflows/project.yml
Due: none

refactor: consolidate DEFAULT_PREFER_MSE and HLS_SUPPORTED
  packages/playback-core/src/index.ts
Due: playback-core

chore: move eligible files to github folder
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
Due: none

chore: move .husky to scripts folder
  package.json
  scripts/.husky/pre-commit
Due: none

chore: move types to shared folder
  packages/mux-audio-react/tsconfig.json
  packages/mux-audio/tsconfig.json
  packages/mux-elements-codemod/tsconfig.json
  packages/mux-player-react/tsconfig.json
  packages/mux-player/tsconfig.json
  packages/mux-uploader-react/tsconfig.json
  packages/mux-uploader/tsconfig.json
  packages/mux-video-react/tsconfig.json
  packages/mux-video/tsconfig.json
  packages/playback-core/tsconfig.json
  shared/types/media-chrome.d.ts
  shared/types/mux-embed.d.ts
  shared/types/mux.d.ts
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore: move husky to .config folder with idea more config files can live there soon
  .config/.husky/pre-commit
  package.json
Due: none

chore: remove unneeded root tsconfig
  tsconfig.json
Due: none

chore: move images/ to shared/ folder
  packages/mux-audio-react/README.md
  packages/mux-video-react/README.md
  packages/mux-video/README.md
  shared/images/env-key.png
Due: mux-audio, mux-audio-react, mux-video, mux-video-react

chore: add workflow to auto-add issues to project (#373)
  .github/workflows/project.yml
Due: none

refactor: consolidate DEFAULT_PREFER_MSE and HLS_SUPPORTED (#374)
  packages/playback-core/src/index.ts
Due: playback-core

fix: update to media-chrome 0.10.2
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: update to media-chrome 0.10.2 (#377)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix(playback-core): Set both player_software (old key) and player_software_name (new key) in mux data options to sidestep inconsistencies in Mux Data views.
  packages/playback-core/src/index.ts
Due: playback-core

fix: update to hls.js@1.2.1
  packages/playback-core/package.json
  yarn.lock
Due: playback-core

test: update hls.js for tests
  shared/test-esm-exports/package.json
  yarn.lock
Due: none

fix: update to hls.js@1.2.2
  packages/playback-core/package.json
  shared/test-esm-exports/package.json
  yarn.lock
Due: playback-core

fix: types for testing
  packages/mux-player/src/index.ts
Due: mux-player

fix: update PlaybackEngine types
  packages/mux-audio/src/index.ts
  packages/mux-player/src/index.ts
  packages/mux-video/src/index.ts
Due: mux-audio, mux-player, mux-video

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
