Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

Swap generic
  packages/mux-uploader/src/mux-uploader-file-select.ts
Due: none

feat(mux-player): add storyboard-src attribute and corresponding prop (#522)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/index.ts
  packages/mux-player/test/player.test.js
  shared/assets/media-assets.json
Due: mux-player, mux-player-react

test(mux-uploader): mock server early with sinon (#544)
  packages/mux-uploader/package.json
  packages/mux-uploader/test/uploader.test.js
  packages/mux-uploader/test/utils/server.js
  packages/mux-uploader/test/web-test-runner.config.mjs
  yarn.lock
Due: none

chore(mux-uploader): move file-select to own component (#542)
  examples/vanilla-ts-esm/public/mux-uploader-full.html
  examples/vanilla-ts-esm/public/mux-uploader-simple.html
  packages/mux-uploader/README.md
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/file-select.test.js
Due: none

Use sinon for testing
  packages/mux-uploader/test/sr-text.test.js
Due: none

Favor native events
  packages/mux-uploader/src/mux-uploader-sr-text.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/src/utils/element-utils.ts
  packages/mux-uploader/src/utils/event-bus.ts
Due: none

Simplify setting uploader el
  packages/mux-uploader/src/mux-uploader-sr-text.ts
Due: none

Shuffling around types
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/src/types.ts
Due: none

Revert "Shuffling around types"
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/src/types.ts
Due: none

chore(mux-uploader): move screenreader text to own component (#548)
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/mux-uploader-sr-text.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/src/utils/element-utils.ts
  packages/mux-uploader/test/sr-text.test.js
Due: none

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-elements-codemod/CHANGELOG.md
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

add captions-menu-button css vars to example page
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

css vars
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/styles.css
Due: mux-player

use media-captions-menu-button
  packages/mux-player/src/media-theme-mux.html
Due: mux-player

move timeout into test it function
  packages/mux-player/test/player.test.js
Due: mux-player

increase cue shifting test timeout
  packages/mux-player/test/player.test.js
Due: mux-player

supply appropriate styles for the captions-menu-button
  packages/mux-player/src/media-theme-mux.html
Due: mux-player

describe must take a function(){} not an arrow function for describe level methods
  packages/mux-player/test/player.test.js
Due: mux-player

default dusplay for the captions-menu-button is contents
  packages/mux-player/src/styles.css
Due: mux-player

Revert "move timeout into test it function"
  packages/mux-player/test/player.test.js
Due: mux-player

chore: bump to latest hls.js
  packages/playback-core/package.json
  yarn.lock
Due: playback-core

import media-captions-menu-button directly
  packages/mux-player/src/index.ts
Due: mux-player

upgrade to media-chrome canary with media-captions-menu-button
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

upgrade media-chrome canary
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

chore: bump to latest hls.js (#550)
  packages/playback-core/package.json
  yarn.lock
Due: playback-core

build: Fix issue where packages with no dependents get added as dependencies in canary releases.
  scripts/publish.sh
Due: none

build: Fix issue where packages with no dependents get added as dependencies in canary releases. (#552)
  scripts/publish.sh
Due: none

Refactor percentage progress to progress component
  packages/mux-uploader/src/constants.ts
  packages/mux-uploader/src/mux-uploader-progress.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/progress.test.js
Due: none

Test reset
  packages/mux-uploader/test/progress.test.js
Due: none

Test reset event
  packages/mux-uploader/test/uploader.test.js
Due: none

Cleaning up event listeners
  packages/mux-uploader/src/mux-uploader-progress.ts
  packages/mux-uploader/src/mux-uploader.ts
Due: none

Increase delay
  packages/mux-uploader/test/sr-text.test.js
Due: none

fix: bring back play button to the control bar for small player size
  packages/mux-player/src/media-theme-mux.html
Due: mux-player

fix(mux-uploader): Bump upchunk for min and max bug that impacts dynamic chunk sizing.
  packages/mux-uploader/package.json
  yarn.lock
Due: none

fix(mux-uploader): Bump upchunk for min and max bug that impacts dynamic chunk sizing. (#557)
  packages/mux-uploader/package.json
  yarn.lock
Due: none

fix: bring back play button to the control bar for small player size (#556)
  packages/mux-player/src/media-theme-mux.html
Due: mux-player

feat(mux-viewer-count): Web component for viewer count
  packages/mux-viewer-counts/.npmignore
  packages/mux-viewer-counts/CHANGELOG.md
  packages/mux-viewer-counts/README.md
  packages/mux-viewer-counts/package.json
  packages/mux-viewer-counts/src/index.ts
  packages/mux-viewer-counts/test/index.test.js
  packages/mux-viewer-counts/test/web-test-runner.config.mjs
  packages/mux-viewer-counts/tsconfig.json
Due: none
