Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

fix(playback-core): upgrade mux-embed
  packages/playback-core/package.json
  yarn.lock
Due: playback-core

fix(playback-core): upgrade mux-embed (#989)
  packages/playback-core/package.json
  yarn.lock
Due: playback-core

fix: upgrade media-chrome
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: upgrade media-chrome (#990)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

not so token changes
  packages/mux-player-react/src/themes/classic.ts
  packages/mux-player-react/src/themes/gerwig.ts
  packages/mux-player-react/src/themes/microvideo.ts
  packages/mux-player-react/src/themes/minimal.ts
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player, mux-player-react

chore(mux-player,mux-player-react)!: major version update (#992)
  packages/mux-player-react/src/themes/classic.ts
  packages/mux-player-react/src/themes/gerwig.ts
  packages/mux-player-react/src/themes/microvideo.ts
  packages/mux-player-react/src/themes/minimal.ts
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player, mux-player-react

here we go again
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/html.ts
Due: mux-player, mux-player-react

dry run instructions
  README_INTERNAL.md
Due: none

chore(mux-player, mux-player-react)!: breaking change take 2 (#994)
  README_INTERNAL.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/html.ts
Due: mux-player, mux-player-react

Publish
  packages/mux-active-viewer-count/CHANGELOG.md
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-elements-codemod/CHANGELOG.md
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

test(mux-player): Basic POC and impl for web-test-runner + SauceLabs.
  packages/mux-player/package.json
  packages/mux-player/test/web-test-runner.saucelabs.config.mjs
  yarn.lock
Due: mux-player

test(mux-player): Add saucelabs testing to default test npm script. Early exit process if no saucelabs creds found.
  packages/mux-player/package.json
  packages/mux-player/test/web-test-runner.saucelabs.config.mjs
Due: mux-player

build: add sauce labs creds to GHA yamls for tests.
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

readme update for 3.0
  packages/mux-player/README.md
Due: mux-player

react readme
  packages/mux-player-react/README.md
Due: mux-player, mux-player-react

Update packages/mux-player/README.md
  packages/mux-player/README.md
Due: mux-player

Update packages/mux-player-react/README.md
  packages/mux-player-react/README.md
Due: mux-player, mux-player-react

build: refactor GHA for env var pickup. Cleanup Sauce Labs exit status cases.
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  packages/mux-player/test/web-test-runner.saucelabs.config.mjs
Due: mux-player

build: round 3 attempt to get env vars passed on GHAs.
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

chore(mux-player, mux-player-react): Readme updated for 3.0 (#995)
  packages/mux-player-react/README.md
  packages/mux-player/README.md
Due: mux-player, mux-player-react

build: github failing on GHA env.
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

test changes only (DO NOT MERGE)
  .github/workflows/ci.yml
  packages/mux-player/test/web-test-runner.saucelabs.config.mjs
Due: mux-player

fix(playback-core): Explicitly moving minimum version of mux-embed to 5.3.1 due to build issues in more complex build setups.
  packages/playback-core/package.json
  yarn.lock
Due: playback-core

fix(playback-core): Explicitly moving minimum version of mux-embed to 5.3.1 due to build issues in more complex build setups. (#996)
  packages/playback-core/package.json
  yarn.lock
Due: playback-core

fix(mux-audio-react, mux-video-react): Update tokens props for playback core expectations.
  packages/mux-audio-react/src/index.tsx
  packages/mux-video-react/src/index.tsx
Due: mux-audio, mux-audio-react, mux-video, mux-video-react

test(playback-core): Add tests for parseJwt.
  packages/playback-core/test/util.test.js
Due: playback-core

feat(playback-core): Work on granular errors for Mux Data (DRM) (WIP).
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/request-errors.ts
  packages/playback-core/src/util.ts
Due: playback-core

feat(playback-core, mux-video): More iterations on error handling for DRM and hopefully playback. Expose tokens as props. Some cleanup.
  packages/mux-video/src/index.ts
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/request-errors.ts
  packages/playback-core/src/types.ts
  packages/playback-core/src/util.ts
Due: mux-video, playback-core

feat(playback-core): Start added non-200 DRM response code for errors.
  packages/playback-core/src/index.ts
Due: playback-core

feat(mux-audio-react, mux-audio, mux-video-react, mux-video, playback-core): Clean up tokens and playback ID API and usage across elements and core.
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-player/src/index.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/request-errors.ts
  packages/playback-core/src/types.ts
Due: mux-audio, mux-audio-react, mux-player, mux-video, mux-video-react, playback-core

fix(playback-core): start cleaning up i18n stuff in migrated error messaging.
  packages/playback-core/src/request-errors.ts
  packages/playback-core/src/util.ts
Due: playback-core

chore(mux-player, playback-core): more error string cleanup. migrate to playback-core i18n.
  packages/mux-player/src/errors.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/logger.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/utils.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/request-errors.ts
  packages/playback-core/src/util.ts
Due: mux-player, playback-core

chore(playback-core): More cleanup of error message logic.
  packages/playback-core/src/request-errors.ts
Due: playback-core

chore(mux-player, playback-core): Major overhaul to continue effort moving core error translation to playback-core.
  packages/mux-player/src/errors.ts
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/utils.ts
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/request-errors.ts
Due: mux-player, playback-core

chore(playback-core): Cleanup of error message templates and usage. Export for use in e.g. mux-player.
  packages/playback-core/src/index.ts
  packages/playback-core/src/request-errors.ts
  packages/playback-core/src/util.ts
Due: playback-core

feat(playback-core): Add tests for request errors. Cleanup request errors, including added resp info.
  packages/playback-core/src/request-errors.ts
  packages/playback-core/src/util.ts
  packages/playback-core/test/errors.test.js
Due: playback-core

chore(playback-core): minor cleanup and comments.
  packages/playback-core/src/index.ts
  packages/playback-core/src/request-errors.ts
Due: playback-core

feat(mux-player, playback-core): Continue improving error mgmt and migrating core architecture to playback-core.
  packages/mux-player/src/errors.ts
  packages/mux-player/src/index.ts
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/request-errors.ts
Due: mux-player, playback-core

feat(playback-core): Add additional granular errors for DRM (hls.js cases).
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/util.ts
Due: playback-core
