Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore: don't ignore mux-uploader anymore
  package.json
Due: none

fix(mux-player-react): Don't "reset" currentTime to 0 unintentionally. (#663)
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore(mux-uploader-react): Update types (WIP).
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader-react/src/mux-uploader-drop.tsx
  packages/mux-uploader-react/src/mux-uploader-file-select.tsx
  packages/mux-uploader-react/src/mux-uploader-progress.tsx
  packages/mux-uploader-react/src/mux-uploader-retry.tsx
  packages/mux-uploader-react/src/mux-uploader-status.tsx
Due: none

Reduce cache size by ignoring `.next/cache` from turborepo
  turbo.json
Due: none

Update turbo to v1.9.1
  package.json
  yarn.lock
Due: none

Migrate turbo.json to the latest spec
  turbo.json
Due: none

Add undeclared dependencies
  examples/nextjs-with-typescript/package.json
  packages/mux-uploader/package.json
Due: none

Add undeclared dependencies (round 2)
  packages/mux-audio-react/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-uploader-react/package.json
  packages/mux-video-react/package.json
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

chore(mux-uploader-react): Export new modules for React use (#659)
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader-react/src/mux-uploader-drop.tsx
  packages/mux-uploader-react/src/mux-uploader-file-select.tsx
  packages/mux-uploader-react/src/mux-uploader-progress.tsx
  packages/mux-uploader-react/src/mux-uploader-retry.tsx
  packages/mux-uploader-react/src/mux-uploader-status.tsx
Due: none

Correct package dependencies (#666)
  examples/nextjs-with-typescript/package.json
  packages/mux-audio-react/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

Turborepo related chores (#665)
  package.json
  turbo.json
  yarn.lock
Due: none

fix: force theme to be ltr direction
  packages/mux-player/src/styles.css
Due: mux-player

fix: force theme to be ltr direction (#670)
  packages/mux-player/src/styles.css
Due: mux-player

chore: don't ignore mux-uploader anymore (#664)
  package.json
Due: none

chore: numerically sort version numbers for canary release
  scripts/publish.sh
Due: none

chore: numerically sort version numbers for canary release (#671)
  scripts/publish.sh
Due: none

chore: add capture names for jq canary script
  scripts/publish.sh
Due: none

chore: add capture names for jq canary script (#672)
  scripts/publish.sh
Due: none

fix: use webkit pseudo element for captions movement, where available
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux.html
  packages/mux-video/src/CustomVideoElement.js
Due: mux-player, mux-video

update test
  packages/mux-player/test/player.test.js
Due: mux-player

chore: new brand
  examples/create-react-app-with-typescript/public/images/mux-logo.webp
  examples/create-react-app-with-typescript/public/images/mux-logo@2x.webp
  examples/nextjs-with-typescript/public/images/mux-logo.webp
  examples/nextjs-with-typescript/public/images/mux-logo@2x.webp
  examples/svelte-kit/static/images/mux-logo.webp
  examples/svelte-kit/static/images/mux-logo@2x.webp
  examples/vanilla-ts-esm/public/images/mux-logo.webp
  examples/vanilla-ts-esm/public/images/mux-logo@2x.webp
  examples/vue-with-typescript/public/images/mux-logo.webp
  examples/vue-with-typescript/public/images/mux-logo@2x.webp
Due: none

chore: add SVG light/dark mode logo
  README.md
Due: none

chore: replace A Mux-flavored with Mux
  README.md
Due: none

fix up transitions
  packages/mux-player/src/media-theme-mux.html
  packages/mux-video/src/CustomVideoElement.js
Due: mux-player, mux-video

bring back media-paused
  packages/mux-player/src/media-theme-mux.html
Due: mux-player

fix: use webkit pseudo element for captions movement, where available (#674)
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/test/player.test.js
  packages/mux-video/src/CustomVideoElement.js
Due: mux-player, mux-video

chore: add SVG light/dark mode logo (#675)
  README.md
Due: none

chore: update brand, fix nextjs demo app
  examples/nextjs-with-typescript/pages/_app.tsx
  examples/nextjs-with-typescript/public/images/mux-logo.webp
  examples/nextjs-with-typescript/public/images/mux-logo@2x.webp
  examples/nextjs-with-typescript/styles.css
Due: none

chore: new brand update sveltekit
  examples/svelte-kit/src/app.css
  examples/svelte-kit/src/lib/header/Header.svelte
  examples/svelte-kit/static/images/mux-logo.webp
  examples/svelte-kit/static/images/mux-logo@2x.webp
Due: none

chore: new brand update vanilla
  examples/vanilla-ts-esm/public/images/mux-logo.webp
  examples/vanilla-ts-esm/public/images/mux-logo@2x.webp
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-audio.html
  examples/vanilla-ts-esm/public/mux-player-audio.html
  examples/vanilla-ts-esm/public/mux-player-cuepoints.html
  examples/vanilla-ts-esm/public/mux-player-theme.html
  examples/vanilla-ts-esm/public/mux-player.html
  examples/vanilla-ts-esm/public/mux-uploader-modal.html
  examples/vanilla-ts-esm/public/mux-uploader-simple.html
  examples/vanilla-ts-esm/public/mux-video.html
  examples/vanilla-ts-esm/public/styles.css
Due: none

chore: new brand update CRA
  examples/create-react-app-with-typescript/public/images/mux-logo.webp
  examples/create-react-app-with-typescript/public/images/mux-logo@2x.webp
  examples/create-react-app-with-typescript/src/App.tsx
  examples/create-react-app-with-typescript/src/index.css
Due: none

chore: new brand update vue
  examples/vue-with-typescript/public/images/mux-logo.webp
  examples/vue-with-typescript/public/images/mux-logo@2x.webp
  examples/vue-with-typescript/src/App.vue
  examples/vue-with-typescript/src/assets/base.css
Due: none

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-elements-codemod/CHANGELOG.md
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

fix(mux-uploader): Don't reset state when endpoint is changed.
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/uploader.test.js
Due: none

fix(mux-uploader): Don't reset state when endpoint is changed. (#677)
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/uploader.test.js
Due: none

Reflect state across multiple components
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader.ts
Due: none

Adding test coverage
  packages/mux-uploader/test/uploader-drop.test.js
  packages/mux-uploader/test/uploader.test.js
Due: none

chore(mux-uploader): Reflect state across multiple components (#678)
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/uploader-drop.test.js
  packages/mux-uploader/test/uploader.test.js
Due: none

chore: update mux-video-react example to use ref to toggle playback
  examples/nextjs-with-typescript/pages/MuxVideo.tsx
Due: none

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
