Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: rename Micro to Microvideo (#617)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerTheme.tsx
  packages/mux-player/package.json
  packages/mux-player/themes/micro.js
  packages/mux-player/themes/microvideo.js
  yarn.lock
Due: mux-player

Show upload button on reset event
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/file-select.test.js
Due: none

Change style selectors
  packages/mux-uploader/src/mux-uploader-drop.ts
Due: none

chore(mux-uploader): general code tidy-up (#579)
  examples/vanilla-ts-esm/public/mux-uploader-full.html
  examples/vanilla-ts-esm/public/mux-uploader-modal.html
  examples/vanilla-ts-esm/public/mux-uploader-simple.html
  packages/mux-uploader/README.md
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader-progress.ts
  packages/mux-uploader/src/mux-uploader-retry.ts
  packages/mux-uploader/src/mux-uploader-status.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/file-select.test.js
Due: none

feat: use player_error_context for details like timestamps
  packages/mux-player/src/errors.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/test/errors.test.js
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
  types/mux-embed.d.ts
Due: mux-player, playback-core

chore: bump to latest mux-embed
  packages/playback-core/package.json
  yarn.lock
Due: playback-core

test: fix turbo dependency copy polyfills
  package.json
  turbo.json
Due: none

Propose fix for conditionally rendering drop
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/uploader.test.js
Due: none

test: fix turbo dependency copy polyfills (#622)
  package.json
  turbo.json
Due: none

Test noDrop setter
  packages/mux-uploader/test/uploader.test.js
Due: none

add error context to the console.warn message and use the error context in mux player's error translator
  packages/mux-player/src/index.ts
  packages/mux-player/src/logger.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

fix: use Mux Data player_error_context to get better error grouping in the Mux Data dashboard
  packages/mux-player/src/errors.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/logger.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/test/errors.test.js
  packages/playback-core/package.json
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
  types/mux-embed.d.ts
  yarn.lock
Due: mux-player, playback-core

Fixing dropzone styling regressions
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-uploader/src/mux-uploader-progress.ts
Due: none

Address attr feedback
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader.ts
Due: none

fix: live view due targetLiveWindow change related https://github.com/muxinc/media-chrome/pull/494
  packages/mux-player/src/media-theme-mux.html
Due: mux-player

Fix test
  packages/mux-uploader/test/uploader.test.js
Due: none

fix: live view due targetLiveWindow change (#627)
  packages/mux-player/src/media-theme-mux.html
Due: mux-player

fix(mux-uploader): conditionally render mux-uploader-drop (#623)
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/uploader.test.js
Due: none

Style tweaks
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-uploader/src/mux-uploader-progress.ts
Due: none

fix(mux-uploader): fixing dropzone styling regressions (#625)
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-uploader/src/mux-uploader-progress.ts
Due: none

fix(playback-core): Tweak hls config for ll-hls to increase likelihood of higher quality playback.
  packages/playback-core/package.json
  packages/playback-core/src/index.ts
  yarn.lock
Due: playback-core

fix(playback-core): Tweak hls config for ll-hls to increase likelihood of higher quality playback. Use hls@1.4.0-beta.1 (#629)
  packages/playback-core/package.json
  packages/playback-core/src/index.ts
  yarn.lock
Due: playback-core

chore(mux-player-react): More cleanup/polish for cuepoints example.
  examples/nextjs-with-typescript/pages/MuxPlayerCuePointsMeditate.tsx
  examples/nextjs-with-typescript/pages/_app.tsx
  examples/nextjs-with-typescript/public/images/ucla-health-logo.svg
  examples/nextjs-with-typescript/styles.css
Due: none

chore: Additional cleanup.
  examples/nextjs-with-typescript/pages/MuxPlayerCuePointsMeditate.tsx
Due: none

chore(mux-player-react): Cleanup.
  examples/nextjs-with-typescript/pages/MuxPlayerCuePointsMeditate.tsx
Due: none

chore(mux-player-react): Add meditation + cuepoints example.
  examples/nextjs-with-typescript/pages/MuxPlayerCuePointsMeditate.tsx
Due: none

styling pass
  examples/nextjs-with-typescript/pages/MuxPlayerCuePointsMeditate.tsx
Due: none

chore: cleanup styles for meditate example.
  examples/nextjs-with-typescript/pages/MuxPlayerCuePointsMeditate.module.css
  examples/nextjs-with-typescript/pages/MuxPlayerCuePointsMeditate.tsx
Due: none

update polyfills usage
  packages/mux-active-viewer-count/package.json
  packages/mux-active-viewer-count/src/index.ts
Due: none

chore: Update additional language to direct to the UCLA Mindful application, per request from Diana.
  examples/nextjs-with-typescript/pages/MuxPlayerCuePointsMeditate.tsx
  examples/nextjs-with-typescript/pages/index.tsx
Due: none

prelease mux-active-viewer-count
  package.json
Due: none

Update packages/mux-active-viewer-count/src/index.ts
  packages/mux-active-viewer-count/src/index.ts
Due: none

feat: Mux active viewer count (#560)
  README.md
  examples/vanilla-ts-esm/package.json
  examples/vanilla-ts-esm/public/mux-active-viewer-count.html
  examples/vanilla-ts-esm/src/mux-active-viewer-count.ts
  package.json
  packages/mux-active-viewer-count/.npmignore
  packages/mux-active-viewer-count/CHANGELOG.md
  packages/mux-active-viewer-count/README.md
  packages/mux-active-viewer-count/package.json
  packages/mux-active-viewer-count/src/index.ts
  packages/mux-active-viewer-count/test/index.test.js
  packages/mux-active-viewer-count/test/web-test-runner.config.mjs
  packages/mux-active-viewer-count/tsconfig.json
Due: none

chore: publish-release doesn't take conventional-prerelease
  package.json
Due: none

chore: publish-release doesn't take conventional-prerelease (#630)
  package.json
Due: none

chore: feng shui.
  examples/nextjs-with-typescript/pages/MuxPlayerCuePointsMeditate.tsx
Due: none

docs(mux-player-react): mux player meditate (#612)
  examples/nextjs-with-typescript/pages/MuxPlayerCuePointsMeditate.module.css
  examples/nextjs-with-typescript/pages/MuxPlayerCuePointsMeditate.tsx
  examples/nextjs-with-typescript/pages/_app.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/nextjs-with-typescript/public/images/ucla-health-logo.svg
  examples/nextjs-with-typescript/styles.css
Due: none

fix: remove unneeded default theme styles
  packages/mux-player/src/media-theme-mux.html
Due: mux-player

fix: use poster slot for progressive enhancement
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/template.ts
Due: mux-player

fix: move partials out of controller
  packages/mux-player/src/media-theme-mux.html
Due: mux-player

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
