Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

chore: update canary release script, fix numbering (#1042)
  .github/workflows/ci.yml
  lerna.json
  package.json
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  scripts/publish.sh
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore: add id-token permission for NPM provenance
  .github/workflows/ci.yml
Due: none

chore: fix wet-run prerelease SHA hash bump
  .github/workflows/ci.yml
Due: none

chore: fix random package.json typos
  packages/mux-active-viewer-count/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-video-react/package.json
Due: mux-video, mux-video-react

chore: fix wet-run preid sorting bug
  .github/workflows/ci.yml
Due: none

chore: run npm pkg fix / fix canary release
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore: no CI for release please bot this also prevents releasing canaries at the same time as when a production release is made
  .github/workflows/ci.yml
Due: none

chore: no CI for release please bot (#1043)
  .github/workflows/ci.yml
Due: none

test: clean up annoying browser logs
  packages/mux-active-viewer-count/test/web-test-runner.config.mjs
  packages/mux-audio/test/web-test-runner.config.mjs
  packages/mux-player/test/web-test-runner.config.mjs
  packages/mux-uploader/test/web-test-runner.config.mjs
  packages/mux-video/test/web-test-runner.config.mjs
  packages/playback-core/test/web-test-runner.config.mjs
Due: mux-audio, mux-player, mux-video, playback-core

test: clean up browser logs (#1044)
  packages/mux-active-viewer-count/test/web-test-runner.config.mjs
  packages/mux-audio/test/web-test-runner.config.mjs
  packages/mux-player/test/web-test-runner.config.mjs
  packages/mux-uploader/test/web-test-runner.config.mjs
  packages/mux-video/test/web-test-runner.config.mjs
  packages/playback-core/test/web-test-runner.config.mjs
Due: mux-audio, mux-player, mux-video, playback-core

fix: cap level controller import in cjs build
  packages/playback-core/src/index.ts
  packages/playback-core/src/min-cap-level-controller.ts
Due: playback-core

fix: cap level controller import in cjs build (#1045)
  packages/playback-core/src/index.ts
  packages/playback-core/src/min-cap-level-controller.ts
Due: playback-core

chore: fix CI gate for GH actions bot
  .github/workflows/ci.yml
Due: none

feat: add `@mux/mux-video/react` import related https://github.com/muxinc/next-video/pull/303
  examples/nextjs-with-typescript/pages/index.tsx
  examples/nextjs-with-typescript/pages/mux-video-react.tsx
  packages/mux-video/package.json
  packages/mux-video/src/react.ts
  yarn.lock
Due: mux-video

feat: add `@mux/mux-video/react` import (#1047)
  examples/nextjs-with-typescript/pages/index.tsx
  examples/nextjs-with-typescript/pages/mux-video-react.tsx
  packages/mux-video/package.json
  packages/mux-video/src/react.ts
  yarn.lock
Due: mux-video

fix: mux-video/react import issue
  packages/mux-video/package.json
  packages/mux-video/src/react.ts
Due: mux-video

fix: mux-video/react import issue (#1049)
  packages/mux-video/package.json
  packages/mux-video/src/react.ts
Due: mux-video

chore: check what PR user login is
  .github/workflows/ci.yml
Due: none

chore: prevent main CI run from bot
  .github/workflows/ci.yml
Due: none

fix: upgrade dev, esbuild, TS
  .gitignore
  examples/astro/package.json
  examples/create-react-app-with-typescript/package.json
  examples/nextjs-with-typescript/next-env.d.ts
  examples/svelte-kit/package.json
  examples/vanilla-ts-esm/package.json
  examples/vue-with-typescript/package.json
  package.json
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  scripts/esbuilder/package.json
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: try new playwright
  package.json
Due: none

fix: upgrade deps, hls.js, custom-media-element, mux-embed
  examples/nextjs-with-typescript/package.json
  package.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  yarn.lock
Due: mux-audio, mux-player, mux-video, playback-core

chore: fix missing output for vanilla example
  turbo.json
Due: none

chore: add auto retries for test GH action job
  .github/workflows/ci.yml
Due: none

chore: fix yaml format
  .github/workflows/ci.yml
Due: none

fix: upgrade deps custom-media-element, hls.js, mux-embed, ... (#1052)
  .github/workflows/ci.yml
  .gitignore
  examples/astro/package.json
  examples/create-react-app-with-typescript/package.json
  examples/nextjs-with-typescript/next-env.d.ts
  examples/nextjs-with-typescript/package.json
  examples/svelte-kit/package.json
  examples/vanilla-ts-esm/package.json
  examples/vue-with-typescript/package.json
  package.json
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  scripts/esbuilder/package.json
  turbo.json
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

docs: cleanup
  README.md
  README_INTERNAL.md
Due: none

chore: linked versions for player, audio, video, uploader
  .github/release-please/release-please-config.json
Due: none

chore: linked versions for player, video, audio, uploader (#1054)
  .github/release-please/release-please-config.json
  README.md
  README_INTERNAL.md
Due: none

fix: Updated mux-player imports to fix errors with bundle
  packages/mux-player/src/themes/classic/index.ts
  packages/mux-player/src/themes/gerwig/index.ts
Due: mux-player

feat: add proudlyDisplayMuxBadge prop for React
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

chore: document use and example
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerLazy.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/types.d.ts
Due: mux-player

Add bool toggle
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

Add attribute
  packages/mux-player/REFERENCE.md
Due: mux-player

Remove stray pipe
  packages/mux-player/REFERENCE.md
Due: mux-player

Fix markdown
  packages/mux-player/REFERENCE.md
Due: mux-player

Undo accidental change
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

fix: Mux-player imports (#1056)
  packages/mux-player/src/themes/classic/index.ts
  packages/mux-player/src/themes/gerwig/index.ts
Due: mux-player

fix(playback-core): Update hls.js version to fix multi-DRM playready bug.
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  yarn.lock
Due: mux-audio, mux-player, mux-video, playback-core

fix(playback-core): Update hls.js version to fix multi-DRM playready bug. (#1060)
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  yarn.lock
Due: mux-audio, mux-player, mux-video, playback-core
