Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

feat(playback-core, mux-video): Initial impl of manifest manipulation support.
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
Due: mux-video, playback-core

fix(playback-core): Use correct param and equiv prop name for rendition sort order.
  packages/playback-core/src/index.ts
Due: playback-core

feat(mux-player): Add manifest manipulation support to mux player via props and attrs.
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

feat(mux-player-react): Add manifest manipulation support to react via props.
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

docs: Update nextjs MuxPlayer page to handle manifest manipulation props.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

don't allow clicks on bg gradients
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix: Don't allow clicks on bg gradients (#797)
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix(mux-player, playback-core): Fix updates to url generation, usage, and tests.
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-player/test/helpers.test.js
  packages/playback-core/test/index.test.js
Due: mux-player, playback-core

feat: Cleaning up and simplifying mux video url crud.
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/test/helpers.test.js
  packages/mux-player/test/player.test.js
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/test/index.test.js
Due: mux-audio, mux-audio-react, mux-player, mux-video, mux-video-react, playback-core

test(mux-player): Add additional assertion for max resolution search params test.
  packages/mux-player/test/player.test.js
Due: mux-player

test(playback-core): Add more tests to toMuxVideoURL to cover new cases.
  packages/playback-core/src/index.ts
  packages/playback-core/test/index.test.js
Due: playback-core

docs(mux-player-react, mux-player, mux-video): document new mux video url props and attrs.
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
  packages/mux-video/README.md
Due: mux-player, mux-player-react, mux-video

feat: Manifest manipulation and other media stream query param props.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/test/helpers.test.js
  packages/mux-player/test/player.test.js
  packages/mux-video-react/src/index.tsx
  packages/mux-video/README.md
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/test/index.test.js
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

add volume slider to live controls, live preview player in example
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

feat: Add volume slider to live controls (#800)
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

feat(mux-player): use selectmenu for new player theme.
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

feat(mux-player): fix styling and customization of playback rate selectmenu usage in theme.
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix(mux-player): playback rate selectmenu button styles.
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix(mux-player): playback rate parts and template naming.
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

feat(mux-player): use playback rate selectmenu for new player theme. (#802)
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix: upgrade media-chrome 1.4.5 + rate row style
  packages/mux-player/package.json
  packages/mux-player/src/themes/gerwig/gerwig.html
  yarn.lock
Due: mux-player

fix: upgrade media-chrome 1.4.5 + rate row style (#803)
  packages/mux-player/package.json
  packages/mux-player/src/themes/gerwig/gerwig.html
  yarn.lock
Due: mux-player

remove opacity
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix(mux-player): Use solid accent color in rate menu (#804)
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix: upgrade MC + style tweaks
  packages/mux-player/package.json
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
  yarn.lock
Due: mux-player

fix: upgrade MC + style tweaks (#805)
  packages/mux-player/package.json
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
  yarn.lock
Due: mux-player

unnecessary change
  packages/mux-player-react/src/useIsBrowser.ts
Due: mux-player, mux-player-react

Update Yarn to v4
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/project.yml
  .yarnrc.yml
  package.json
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  scripts/create-release-notes/package.json
  scripts/esbuilder/package.json
  scripts/i18n-utils/package.json
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

feat(mux-player-react): Force bump (#806)
  packages/mux-player-react/src/useIsBrowser.ts
Due: mux-player, mux-player-react

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
Due: mux-player, mux-player-react

fix(mux-player): Add additional parts for export. Use constants. Update tests.
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
  packages/mux-player/test/template.test.js
Due: mux-player

fix(mux-player): Add additional parts for export. Use constants. Upda… (#813)
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
  packages/mux-player/test/template.test.js
Due: mux-player

chore: next.js MuxPlayer demo page missing import for classic theme.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

chore: next.js MuxPlayer demo page missing import for classic theme. (#814)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

fix(mux-player): attr mismatch to make sure controls and loading indicator don't overlap. Update nextjs MuxPlayer page to simplify testing styles
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix(mux-player): attr mismatch to make sure controls and loading indi… (#815)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix(mux-player): Switch to constants instead of inline strings for Media Chrome attribute names. Fix name mismatch for props.
  packages/mux-player/src/index.ts
Due: mux-player

fix: setting custom playbackrates fix #812
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix(mux-player): media chrome attr name mismatches (#816)
  packages/mux-player/src/index.ts
Due: mux-player

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
