Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

fix: update to media-chrome 0.15.1 (#484)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

feat: first iteration on player redesign
  examples/vanilla-ts-esm/public/mux-player-audio.html
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
Due: mux-player

fix: fix test and improve templates
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/test/template.test.js
Due: mux-player

fix: remove unneeded time range CSS this is handled in Media Chrome now
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

fix: put higher time range back in for mobile
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

fix: upgrade Media Chrome to v0.16.0
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

tools: add BBB for white background testing
  shared/assets/media-assets.json
Due: none

fix: center controls height
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

fix: title not showing after new render w/ title
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

fix: hide top bar gradient if no title is present
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

fix: add pointer events none to top bar
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

fix: make inner padding of seek buttons smaller when player is large
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

fix: remove controlbar play btn small live & dvr
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

fix: remove padding-2 div
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

fix: spacer height audio/live glitch
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

fix: audio live mode
  packages/mux-player/src/styles.css
Due: mux-player

fix: live extra small variants
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

feat: first iteration on player design update (#486)
  examples/vanilla-ts-esm/public/mux-player-audio.html
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/test/template.test.js
  shared/assets/media-assets.json
  yarn.lock
Due: mux-player

exports media loading indicator
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
  packages/mux-player/test/template.test.js
Due: mux-player

feat(mux-video): Add prefer cmcd attr and prop.
  packages/mux-video/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-video, playback-core

feat(playback-core): Add preferCmcd support to allow for cmcd query params (default) vs. headers.
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: playback-core

feat(mux-player-react): Add prefer cmcd prop.
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

docs(mux-player-react): Add stealth docs for prefer cmcd prop.
  packages/mux-player-react/REFERENCE.md
Due: mux-player, mux-player-react

feat(mux-player): Add prefer cmcd attr and prop.
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
Due: mux-player

docs(mux-player): Add stealth docs for prefer cmcd attr and prop.
  packages/mux-player/REFERENCE.md
Due: mux-player

chore: update next example MuxPlayer page to expose preferCmcd.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

fix(playback-core): Prefer deterministic value for cid/video_id (instead of UUID).
  packages/playback-core/src/index.ts
Due: playback-core

chore(mux-player): Use logger instead of console.
  packages/mux-player/src/index.ts
Due: mux-player

adds part to mxp-dialog and exposes it
  packages/mux-player/src/template.ts
  packages/mux-player/test/template.test.js
Due: mux-player

Integration testing workflow
  .github/workflows/integration-tests/createSummary.js
  .github/workflows/integration-tests/integration-tests.yml
Due: none
