Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

Hide el on file ready
  packages/mux-uploader/src/mux-uploader-file-select.ts
Due: none

Fix test
  packages/mux-uploader/test/file-select.test.js
Due: none

Add file-ready to event mapping
  packages/mux-uploader/src/mux-uploader.ts
Due: none

Use controller pattern to handle events
  packages/mux-uploader/src/mux-uploader-progress.ts
Due: none

Add transition for width
  packages/mux-uploader/src/mux-uploader-progress.ts
Due: none

Establish pattern for default slot content
  packages/mux-uploader/package.json
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader-file-select/buttonFragment.html
  packages/mux-uploader/src/mux-uploader.ts
Due: none

feat: add attribute on mux-player and mux-video that accpets a value for '720p'
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/test/player.test.js
  packages/mux-video/README.md
  packages/mux-video/src/index.ts
  packages/mux-video/test/index.test.js
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/test/index.test.js
Due: mux-player, mux-video, playback-core

Reorg templates
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/src/templates/mux-uploader-file-select.html
  packages/mux-uploader/src/templates/mux-uploader.ts
  packages/mux-uploader/test/web-test-runner.config.mjs
Due: none

Add test for default content
  packages/mux-uploader/test/file-select.test.js
Due: none

Polyfill document
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/src/templates/mux-uploader.ts
Due: none

Remove dead styles
  packages/mux-uploader/src/templates/mux-uploader.ts
Due: none

docs: update mux-player and mux player react reference
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
Due: mux-player, mux-player-react

add max resolution option to NextJS demo app
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

fix(mux-viewer-count): Add A11Y. Default contents to allow tab focus.
  packages/mux-viewer-count/src/index.ts
Due: none

Prefer strings
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/src/templates/mux-uploader-file-select.html
Due: none

Revert loader mods
  packages/mux-uploader/package.json
  packages/mux-uploader/test/web-test-runner.config.mjs
Due: none

tests: refactor toMuxVideo to use URL constructor, no need for nested conditional
  packages/mux-player/src/helpers.ts
  packages/playback-core/src/index.ts
Due: mux-player, playback-core

Update packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/REFERENCE.md
Due: mux-player, mux-player-react

fix typescript for React
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

Shorthand hex val
  packages/mux-uploader/src/mux-uploader-file-select.ts
Due: none

fix(mux-uploader): Establish pattern for default slot content (#580)
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/test/file-select.test.js
Due: none

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix(playback-core): Explicitly remove textTracks we've added, even for native (non-hls.js) playback.
  packages/playback-core/src/index.ts
Due: playback-core

fix(playback-core): Explicitly remove textTracks we've added, even for native (non-hls.js) playback. (#583)
  packages/playback-core/src/index.ts
Due: playback-core

feat: add attribute max-resolution on mux-player and mux-video (#581)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/test/player.test.js
  packages/mux-video/README.md
  packages/mux-video/src/index.ts
  packages/mux-video/test/index.test.js
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/test/index.test.js
Due: mux-player, mux-player-react, mux-video, playback-core

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore: switch to GitHub issue form template for bug reports
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

CR updates
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore: feature request
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore: switch docs request to forms
  .github/ISSUE_TEMPLATE/docs_request.md
  .github/ISSUE_TEMPLATE/docs_request.yml
Due: none

chore: switch to using GitHub forms for issue creation (#584)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/docs_request.md
  .github/ISSUE_TEMPLATE/docs_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore: add YT theme example
  examples/vanilla-ts-esm/public/mux-player-theme.html
  packages/mux-player/src/index.ts
Due: mux-player

fix: add theme getter via customElements.get
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

fix: rename .theme getter to .mediaTheme
  packages/mux-player/src/index.ts
  packages/mux-player/test/player.test.js
Due: mux-player

fix: set default colors in theme itself
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux.html
Due: mux-player

fix: and simplify theme colors
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/template.ts
Due: mux-player

fix: add Next.js Mux player YT theme
  examples/nextjs-with-typescript/pages/MuxPlayerTheme.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/vanilla-ts-esm/public/index.html
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  yarn.lock
Due: mux-player

fix: Mux player React types errors
  examples/nextjs-with-typescript/pages/MuxPlayerTheme.tsx
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

fix: media-theme expanding bug
  packages/mux-player/src/styles.css
Due: mux-player

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
