Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

test: allow some more time for timeupdate event
  packages/mux-video/test/index.test.js
Due: mux-video

fix: upgrade hls.js to 1.6.6, rm workaround MTA (multi-track audio) (#1162)
  package-lock.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/mux-video/test/index.test.js
  packages/playback-core/package.json
  packages/playback-core/src/media-tracks.ts
  turbo.json
Due: mux-audio, mux-player, mux-video, playback-core

fix(mux-player-react): Update order of props setting so playback id always comes first to resolve session-based expectations (e.g. mux data metadata).
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

fix(mux-player-react): Update order of props setting so playback id always comes first to resolve session-based expectations (e.g. mux data metadata). (#1164)
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

Add mux-player-astro
  examples/astro/astro.config.mjs
  examples/astro/package.json
  examples/astro/src/components/DefaultHeader.astro
  examples/astro/src/components/Welcome.astro
  examples/astro/src/pages/mux-player-ads.astro
  examples/astro/src/pages/mux-player-astro.astro
  examples/astro/src/pages/mux-player-audio-tracks.astro
  examples/astro/src/pages/mux-player-audio.astro
  examples/astro/src/pages/mux-player-chapters.astro
  examples/astro/src/pages/mux-player-classic-theme.astro
  examples/astro/src/pages/mux-player-cuepoints.astro
  examples/astro/src/pages/mux-player-error.astro
  examples/astro/src/pages/mux-player-microvideo-theme.astro
  examples/astro/src/pages/mux-player-poster-slot.astro
  examples/astro/src/pages/mux-player-react-lazy.astro
  examples/astro/src/pages/mux-player-react.astro
  examples/astro/src/pages/mux-player-renditions.astro
  package-lock.json
  packages/mux-player-astro/package.json
  packages/mux-player-astro/src/MuxPlayer.astro
  packages/mux-player-astro/src/ads/MuxPlayer.astro
  packages/mux-player-astro/src/ads/index.ts
  packages/mux-player-astro/src/index.ts
  packages/mux-player-astro/src/themes/classic/classic.astro
  packages/mux-player-astro/src/themes/classic/index.ts
  packages/mux-player-astro/src/themes/gerwig/gerwig.astro
  packages/mux-player-astro/src/themes/gerwig/index.ts
  packages/mux-player-astro/src/themes/microvideo/index.ts
  packages/mux-player-astro/src/themes/microvideo/microvideo.astro
  packages/mux-player-astro/src/themes/minimal/index.ts
  packages/mux-player-astro/src/themes/minimal/minimal.astro
  packages/mux-player-astro/src/themes/news/index.ts
  packages/mux-player-astro/src/themes/news/news.astro
  packages/mux-player-astro/src/types.ts
  packages/mux-player-astro/src/utils.ts
  packages/mux-player-astro/tsconfig.json
Due: mux-player

Add Astro uploader component
  examples/astro/package.json
  examples/astro/src/components/Welcome.astro
  examples/astro/src/pages/mux-uploader-full.astro
  examples/astro/src/pages/mux-uploader-modal.astro
  examples/astro/src/pages/mux-uploader-simple.astro
  package-lock.json
  packages/mux-player-astro/src/MuxPlayer.astro
  packages/mux-uploader-astro/package.json
  packages/mux-uploader-astro/src/MuxUploader.astro
  packages/mux-uploader-astro/src/index.ts
  packages/mux-uploader-astro/src/types.ts
  packages/mux-uploader-astro/src/utils.ts
  packages/mux-uploader-astro/tsconfig.json
Due: mux-player

Add readme
  packages/mux-player-astro/README.md
  packages/mux-player-astro/src/MuxPlayer.astro
  packages/mux-player-astro/src/types.ts
  packages/mux-uploader-astro/README.md
Due: mux-player

Clean up example site config
  examples/astro/astro.config.mjs
Due: none

chore: Add an application level player react component that uses hls.js directly and supports Mux Video DRM.
  examples/nextjs-with-typescript/certificates/localhost-key.pem
  examples/nextjs-with-typescript/certificates/localhost.pem
  examples/nextjs-with-typescript/components/SimpleVideoPlayer.tsx
  examples/nextjs-with-typescript/package.json
  examples/nextjs-with-typescript/pages/SimpleVideoPlayer.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  package-lock.json
Due: none

revert package-lock.json
  package-lock.json
Due: none

build: fix package-lock.json for npm ci usage.
  package-lock.json
Due: none

chore: another attempt to manually amend package-lock.json due to npm ci + GHA fails.
  .prettierignore
  package-lock.json
Due: none

Add gradient behind `video-title`
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

I think this applies to classic, too
  packages/mux-player/src/themes/classic/classic.html
Due: mux-player

Add keydown event listener in MuxPlayerElement to prevent spacebar shortcut when nohotkeys is enabled
  packages/mux-player/src/base.ts
Due: mux-player

modified keydownHandler in MuxPlayerElement to maintain controls accessibility
  packages/mux-player/src/base.ts
  packages/mux-player/src/utils.ts
Due: mux-player

use inert to disable shortcuts when nohotkeys is enabled
  packages/mux-player/src/base.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/utils.ts
Due: mux-player

chore: Chapters examples to demonstrate functionality with native playback.
  examples/nextjs-with-typescript/pages/MuxPlayerChapters.tsx
  examples/vanilla-ts-esm/public/mux-player-chapters.html
Due: none

fix: news theme responsive issues
  packages/mux-player/src/themes/news/news.html
Due: mux-player

fix: news theme responsive issues (#1178)
  packages/mux-player/src/themes/news/news.html
Due: mux-player

fix(mux-player-react): Stop-gap solution to some architectural layer + src-related prop setting causing early and incorrect playback-core initialization.
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

added disableEndedCallback prop to control the behavior of the ended event callback
  packages/mux-player-react/src/types.ts
  packages/mux-player/src/base.ts
  packages/playback-core/src/index.ts
Due: mux-player, mux-player-react, playback-core

fix(mux-player-react): Stop-gap solution to some architectural layer + src-related prop setting causing early and incorrect playback-core initialization. (#1180)
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

Expose centered-layout (formerly centered-chrome) in classic and gerwig themes
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

Fix: Disable spacebar shortcut if `nohotkeys` enabled (#1173)
  packages/mux-player/src/template.ts
Due: mux-player

change naming and add prop to MuxPlayer example in nextjs
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-react/src/types.ts
  packages/mux-player/src/base.ts
  packages/playback-core/src/index.ts
Due: mux-player, mux-player-react, playback-core

pr fix
  packages/mux-player/src/template.ts
Due: mux-player

feat(classic-theme): display video-title attribute with shadow support
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

add disable-pseudo-ended prop to mux-video
  packages/mux-player/src/base.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.ts
  packages/mux-video/src/base.ts
Due: mux-player, mux-video

remove error dialog for audio only
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

Update lockfile
  package-lock.json
Due: none

Fix: Remove error dialog for audio only (#1190)
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

new lock
  package-lock.json
Due: none

new lock 2
  package-lock.json
Due: none

new lock 3
  package-lock.json
Due: none

Update lockfile again
  package-lock.json
Due: none

Feat: classic theme video title (#1187)
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

remove customEvent and fix types
  packages/mux-video/src/base.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-video, playback-core

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
