Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

update retry logic for NETWORK_NOT_READY errors
  packages/mux-player/src/errors.ts
  packages/playback-core/src/index.ts
Due: mux-player, playback-core

rename attr to "allow-ad-blocker"
  examples/nextjs-with-typescript/pages/playlist-page.tsx
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/mux-news-player.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-video-ads/src/index.ts
Due: mux-player, mux-player-react, mux-video

add min-width to rendition menu and prevent the checkmark to cause the text jump
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

prevent not showing ads on allowAdBlocker attr case
  examples/nextjs-with-typescript/pages/MuxPlayerAds.tsx
  examples/nextjs-with-typescript/pages/mux-video-ads-react.tsx
  examples/nextjs-with-typescript/pages/playlist-page.tsx
  packages/mux-video-ads/src/index.ts
  packages/mux-video/src/index.ts
Due: mux-video

ensure ref callback cleanup executes on MuxPlayer unmount
  packages/mux-player-react/src/common/utils.ts
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/useCombinedRefs.ts
Due: mux-player, mux-player-react

fix: rendition-menu visual improvements (#1131)
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

cd: make release by workflow_dispatch
  .github/workflows/cd-news-player.yml
Due: none

pr fixes
  packages/mux-video/src/index.ts
  packages/playback-core/src/media-tracks.ts
Due: mux-video, playback-core

feat: add adblocker bypass option, expose player props, and conditional captions menu (#1127)
  examples/nextjs-with-typescript/pages/MuxPlayerAds.tsx
  examples/nextjs-with-typescript/pages/mux-video-ads-react.tsx
  examples/nextjs-with-typescript/pages/playlist-page.tsx
  packages/mux-player-react/MuxNewsPlayer.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/mux-news-player.tsx
  packages/mux-player-react/src/themes/news-theme.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-video-ads/src/index.ts
  packages/mux-video/src/index.ts
Due: mux-player, mux-player-react, mux-video

cd: add news player workflow
  .github/workflows/cd-news-player.yml
Due: none

feat: news player (#1115)
  .github/workflows/cd-news-player.yml
  examples/nextjs-with-typescript/package.json
  examples/nextjs-with-typescript/pages/MuxPlayerAds.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/nextjs-with-typescript/pages/mux-video-ads-react.tsx
  examples/nextjs-with-typescript/pages/playlist-page.tsx
  examples/nextjs-with-typescript/post-video.css
  examples/nextjs-with-typescript/styles.css
  examples/vanilla-ts-esm/package.json
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-ads.html
  examples/vanilla-ts-esm/public/mux-video-ads.html
  examples/vanilla-ts-esm/src/mux-video-ads.ts
  package-lock.json
  packages/mux-player-react/MuxNewsPlayer.md
  packages/mux-player-react/package.json
  packages/mux-player-react/src/common/utils.ts
  packages/mux-player-react/src/end-screen.css
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/mux-news-player.tsx
  packages/mux-player-react/src/playlist-end-screen.tsx
  packages/mux-player-react/src/themes/news-theme.tsx
  packages/mux-player-react/src/types.d.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/src/video-api.ts
  packages/mux-video-ads/README.md
  packages/mux-video-ads/package.json
  packages/mux-video-ads/src/ads-manager.ts
  packages/mux-video-ads/src/index.ts
  packages/mux-video-ads/src/react.ts
  packages/mux-video-ads/tsconfig.json
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-player, mux-player-react, mux-video, playback-core

cd: fix git push command
  .github/workflows/cd-news-player.yml
Due: none

cd: fix git add command
  .github/workflows/cd-news-player.yml
Due: none

cd: fix @mux/mux-video-ads dependency install
  .github/workflows/cd-news-player.yml
Due: none

cd: fix branch release scripts
  .github/workflows/cd-news-player.yml
Due: none

tools: add github user to action
  .github/workflows/cd-news-player.yml
Due: none

tools: remove production env
  .github/workflows/cd-news-player.yml
Due: none

cd: fix custom dependencies version
  .github/workflows/cd-news-player.yml
  package-lock.json
  packages/mux-player-react/package.json
  packages/mux-video-ads/package.json
Due: mux-player, mux-player-react, mux-video

fix: create ads export in mux-video, renaming
  .github/workflows/cd-news-player.yml
  examples/nextjs-with-typescript/pages/MuxPlayerAds.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/nextjs-with-typescript/pages/mux-video-ads-react.tsx
  examples/nextjs-with-typescript/tsconfig.json
  examples/vanilla-ts-esm/package.json
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-ads.html
  examples/vanilla-ts-esm/public/mux-video-ads.html
  examples/vanilla-ts-esm/src/mux-video-ads.ts
  package-lock.json
  packages/mux-player-react/MuxNewsPlayer.md
  packages/mux-player-react/package.json
  packages/mux-player-react/src/mux-news-player.tsx
  packages/mux-player/src/template.ts
  packages/mux-video-ads/README.md
  packages/mux-video-ads/package.json
  packages/mux-video-ads/src/index.ts
  packages/mux-video-ads/tsconfig.json
  packages/mux-video/package.json
  packages/mux-video/src/ads/ads-video-mixin.ts
  packages/mux-video/src/ads/google-ima-ads-provider.ts
  packages/mux-video/src/ads/index.ts
  packages/mux-video/src/ads/react.ts
  packages/mux-video/src/mux-video-base-element.ts
Due: mux-player, mux-player-react, mux-video

fix: add adTagUrl prop to react
  packages/mux-video/src/ads/react.ts
Due: mux-video

fix: lint error
  packages/mux-video/src/base.ts
Due: mux-video

fix: create @mux/mux-video/base for deduplication
  packages/mux-video/package.json
  packages/mux-video/src/ads/index.ts
  packages/mux-video/src/base.ts
  packages/mux-video/src/index.ts
Due: mux-video

feat: add @mux/mux-player-react/news package
  examples/nextjs-with-typescript/pages/playlist-page.tsx
  packages/mux-player-react/package.json
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/news/README.md
  packages/mux-player-react/src/news/index.tsx
  packages/mux-player-react/src/news/playlist-end-screen.css
  packages/mux-player-react/src/news/playlist-end-screen.tsx
  packages/mux-video/package.json
Due: mux-player, mux-player-react, mux-video

fix: use attr hyphenation & fix mediaadbreak UI
  examples/vanilla-ts-esm/public/mux-player-ads.html
  examples/vanilla-ts-esm/public/mux-video-ads.html
  packages/mux-player-react/src/common/utils.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/video-api.ts
  packages/mux-video/src/ads/index.ts
  packages/mux-video/src/ads/mixin.ts
  packages/mux-video/src/ads/react.ts
Due: mux-player, mux-player-react, mux-video

fix: use @mux/mux-video/base for export
  packages/mux-video/src/ads/index.ts
  packages/mux-video/src/index.ts
Due: mux-video

fix: delete cd-news-player.yml, update docs
  .github/workflows/cd-news-player.yml
  examples/nextjs-with-typescript/pages/playlist-page.tsx
  packages/mux-player-react/src/news/README.md
Due: mux-player, mux-player-react

fix: remove mux-video-element attribute not needed anymore
  packages/mux-player/src/index.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/src/video-api.ts
Due: mux-player

fix: remove console.logs
  packages/mux-video/src/ads/google-ima-ads-provider.ts
  packages/mux-video/src/ads/mixin.ts
Due: mux-video

feat: add adblocker bypass option, expose player props, and conditional captions menu (#1127)
  examples/nextjs-with-typescript/pages/MuxPlayerAds.tsx
  examples/nextjs-with-typescript/pages/mux-video-ads-react.tsx
  examples/nextjs-with-typescript/pages/playlist-page.tsx
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/news/README.md
  packages/mux-player-react/src/news/index.tsx
  packages/mux-player-react/src/themes/news-theme.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-video/src/ads/mixin.ts
Due: mux-player, mux-player-react, mux-video

feat: rename ad events to match mux-embed, cleanup
  packages/mux-player-react/src/news/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-video/src/ads/google-ima-ads-provider.ts
  packages/mux-video/src/ads/mixin.ts
Due: mux-player, mux-player-react, mux-video

fix: cleanup, add missing ad methods
  examples/nextjs-with-typescript/pages/MuxPlayerAds.tsx
  examples/nextjs-with-typescript/pages/mux-video-ads-react.tsx
  examples/nextjs-with-typescript/pages/playlist-page.tsx
  examples/nextjs-with-typescript/post-video.css
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/src/types.d.ts
  packages/mux-video/src/ads/google-ima-ads-provider.ts
  packages/mux-video/src/ads/mixin.ts
Due: mux-player, mux-player-react, mux-video

update useCombinedRefs implementation for React 18 and 19 compatibility
  packages/mux-player-react/src/common/utils.ts
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/useCombinedRefs.ts
  packages/mux-player-react/src/useCombinedRefsNew.ts
  packages/mux-player-react/src/useCombinedRefsOld.ts
Due: mux-player, mux-player-react

remove unnecessary attachMedia and recoverMediaError
  packages/playback-core/src/index.ts
Due: playback-core

add support for metadata when url its mp4 from mux
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/media-tracks.ts
Due: mux-video, playback-core

updateLogo refactor
  packages/mux-video/src/index.ts
Due: mux-video

improve error dialog clearing
  packages/playback-core/src/index.ts
Due: playback-core

`useCombinedRefs` support for new and old React
  packages/mux-player-react/src/common/utils.ts
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/useCombinedRefs.ts
  packages/mux-player-react/src/useCombinedRefsNew.ts
  packages/mux-player-react/src/useCombinedRefsOld.ts
Due: mux-player, mux-player-react

extend json parsing to different formats, improve the rendering of logo
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
Due: mux-video, playback-core

Update packages/playback-core/src/index.ts
  packages/playback-core/src/index.ts
Due: playback-core

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
