Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

Remove case
  packages/mux-player/src/index.ts
Due: mux-player

Add to ThemeAttributeNames
  packages/mux-player/src/index.ts
Due: mux-player

Remove from media controller
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

Prefer aTimeout
  packages/mux-player/test/player.test.js
Due: mux-player

feat: implement Mux badge (#988)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerLazy.tsx
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/gerwig/gerwig.html
  packages/mux-player/src/types.d.ts
  packages/mux-player/test/player.test.js
Due: mux-player, mux-player-react

fix: update broken link in reference
  packages/mux-player/REFERENCE.md
Due: mux-player

docs: update broken link in reference (#1063)
  packages/mux-player/REFERENCE.md
Due: mux-player

fix: add missing menu part fix #1065
  packages/mux-player/src/template.ts
Due: mux-player

fix: upgrade MC, fix theme flicker
  packages/mux-player/package.json
  packages/mux-player/src/styles.css
  yarn.lock
Due: mux-player

fix: add display to theme and poster element
  packages/mux-player/src/styles.css
Due: mux-player

fix: media error NaN flicker
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

test: fix tests with fixture util
  packages/mux-active-viewer-count/test/web-test-runner.config.mjs
  packages/mux-audio/test/web-test-runner.config.mjs
  packages/mux-player/test/web-test-runner.config.mjs
  packages/mux-uploader/test/web-test-runner.config.mjs
  packages/mux-video/test/web-test-runner.config.mjs
  packages/playback-core/test/index.test.js
  packages/playback-core/test/tracks.test.js
  packages/playback-core/test/web-test-runner.config.mjs
Due: mux-audio, mux-player, mux-video, playback-core

test: remove default muted
  packages/playback-core/test/index.test.js
Due: playback-core

test: skip autoplay muted to unblock
  packages/playback-core/test/index.test.js
  packages/playback-core/test/tracks.test.js
Due: playback-core

example: fix small cumulative layout shift
  examples/nextjs-with-typescript/pages/MuxPlayerPosterSlot.tsx
  examples/vanilla-ts-esm/public/mux-player-poster-slot.html
Due: none

fix(playback-core, mux-audio, mux-video): Complete reimplementation of 'pseudo-ended' logic to improve reliability, false positives, and false negatives.
  packages/mux-audio/src/index.ts
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
Due: mux-audio, mux-video, playback-core

fix: upgrade Media Chrome to 4.5.0
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: upgrade MC, fix theme flicker (#1067)
  examples/nextjs-with-typescript/pages/MuxPlayerPosterSlot.tsx
  examples/vanilla-ts-esm/public/mux-player-poster-slot.html
  packages/mux-active-viewer-count/test/web-test-runner.config.mjs
  packages/mux-audio/test/web-test-runner.config.mjs
  packages/mux-player/package.json
  packages/mux-player/src/styles.css
  packages/mux-player/src/themes/gerwig/gerwig.html
  packages/mux-player/test/web-test-runner.config.mjs
  packages/mux-uploader/test/web-test-runner.config.mjs
  packages/mux-video/test/web-test-runner.config.mjs
  packages/playback-core/test/index.test.js
  packages/playback-core/test/tracks.test.js
  packages/playback-core/test/web-test-runner.config.mjs
  yarn.lock
Due: mux-audio, mux-player, mux-video, playback-core

fix: add missing menu part (#1066)
  packages/mux-player/src/template.ts
Due: mux-player

Add additional configurability to mux-uploader progress bar
  examples/vanilla-ts-esm/public/mux-uploader-modal.html
  packages/mux-uploader-react/src/mux-uploader-progress.tsx
  packages/mux-uploader/REFERENCE.md
  packages/mux-uploader/src/mux-uploader-progress.ts
Due: none

Update upchunk
  packages/mux-uploader/package.json
  yarn.lock
Due: none

fix(playback-core, mux-audio, mux-video): WIP for seeking cases. Updates for looping for pseudo-ended.
  packages/playback-core/src/index.ts
Due: playback-core

Update upchunk to v3.5.0 (#1070)
  packages/mux-uploader/package.json
  yarn.lock
Due: none

fix(mux-uploader-react): Use correct custom element name and rename internal
  packages/mux-uploader-react/src/mux-uploader-pause.tsx
Due: none

make error dialog not accessible when hidden
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

feat: add additional custom properties to mux-uploader progress bar (#1069)
  examples/vanilla-ts-esm/public/mux-uploader-modal.html
  packages/mux-uploader-react/src/mux-uploader-progress.tsx
  packages/mux-uploader/REFERENCE.md
  packages/mux-uploader/src/mux-uploader-progress.ts
Due: none

fix(mux-uploader-react): Use correct custom element name and rename i… (#1073)
  packages/mux-uploader-react/src/mux-uploader-pause.tsx
Due: none

cd: try out dependabot for Mux dependencies
  .github/dependabot.yml
Due: none

tools: try out dependabot for Mux dependencies (#1078)
  .github/dependabot.yml
Due: none

tools: update default commit message prefix
  .github/dependabot.yml
Due: none

WIP mux-video + google ima
  packages/mux-video/src/google-ima-video-element-mixin.ts
  packages/mux-video/src/index.ts
Due: mux-video

example PLUS HACK IN ADTAGURL IN PLAYER TEMPLATE.
  examples/vanilla-ts-esm/public/mux-player-google-ima.html
  packages/mux-player/src/template.ts
Due: mux-player

ad basic api for ad break times.
  packages/mux-video/src/google-ima-video-element-mixin.ts
Due: mux-video

WIP add basic impl for ad tag url to mux-player (probably move to separate def) and update example
  examples/vanilla-ts-esm/public/mux-player-google-ima.html
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-video/src/index.ts
Due: mux-player, mux-video

more types cleanup and minor changes.
  packages/mux-video/src/google-ima-video-element-mixin.ts
Due: mux-video

cleanup google ima types for external consumption and builds (e.g. mux-player).
  packages/mux-video/src/google-ima-html5-sdk.d.ts
  packages/mux-video/src/google-ima-video-element-mixin.ts
Due: mux-video

first pass on type defs for google ima sdk.
  packages/mux-video/src/google-ima-video-element-mixin.ts
Due: mux-video

try to see if this fixes silly template test fails.
  packages/mux-player/src/template.ts
Due: mux-player

chore: update vanilla example page title for google ima usage.
  examples/vanilla-ts-esm/public/mux-player-google-ima.html
Due: none

volume control for ads.
  packages/mux-video/src/google-ima-video-element-mixin.ts
Due: mux-video

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
