Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

build: upgrade mux-embed to use exposed generateUUID().
  packages/playback-core/package.json
  yarn.lock
Due: playback-core

chore: Add experimentalCmcd prop to nextjs MuxPlayer example page.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

feat(mux-player-react): Add experimentalCmcd prop.
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

build: update test-esm-exports to use * peer dependencies to keep versions in sync with 'real boi' code.
  shared/test-esm-exports/package.json
  yarn.lock
Due: none

docs(mux-player, mux-player-react): Add undocumented doc entries for experimental cmcd props/attrs
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
Due: mux-player, mux-player-react

Disable transitions on poster and vertical layer
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

fix: don't register prop --controls-backdrop-color
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

feat(playback-core): Add experimental flag for enabling cmcd (disabled by default).
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: playback-core

feat(mux-video): Expose experimental cmcd prop and attr.
  packages/mux-video/src/index.ts
Due: mux-video

feat(mux-player): Expose and propagate experimental cmcd prop and attr.
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
Due: mux-player

feat(playback-core): Add CMCD support (mutative).
  packages/playback-core/src/index.ts
Due: playback-core

feat(playback-core): Abstract video_id derivation and make more consistent use of playback-id.
  packages/playback-core/src/index.ts
  types/mux.d.ts
Due: playback-core

fix: don't register prop --controls-backdrop-color (#480)
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

fix: update to media-chrome 0.15.0
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: update to media-chrome 0.15.0 (#483)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

chore: Add disableCookies to nextjs MuxPlayer page.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

feat(mux-audio): Add disable cookies attr and prop.
  packages/mux-audio/src/index.ts
Due: mux-audio

feat(mux-player-react): Add disable cookies prop.
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

feat(mux-audio-react): Add disable cookies prop.
  packages/mux-audio-react/src/index.tsx
Due: mux-audio, mux-audio-react

feat(mux-video-react): Add disable cookies prop.
  packages/mux-video-react/src/index.tsx
Due: mux-video, mux-video-react

feat(mux-video): Add disable cookies attr and prop.
  packages/mux-video/src/index.ts
Due: mux-video

feat(playback-core): Support disableCookies for mux-embed.
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: playback-core

feat(mux-player): Add disable cookies attr and prop.
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
Due: mux-player

docs: move from unpkg to jsdelivr for CDN install
  packages/mux-audio/README.md
  packages/mux-uploader/README.md
  packages/mux-video/README.md
Due: mux-audio, mux-video

fix: add jsdelivr alias to pkg.json
  packages/mux-audio/README.md
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-uploader/README.md
  packages/mux-uploader/package.json
  packages/mux-video/README.md
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-player, mux-video, playback-core

docs: move from unpkg to jsdelivr for CDN install (#482)
  packages/mux-audio/README.md
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-uploader/README.md
  packages/mux-uploader/package.json
  packages/mux-video/README.md
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-player, mux-video, playback-core

fix: update to media-chrome 0.15.1
  packages/mux-player/package.json
  yarn.lock
Due: mux-player
