Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

docs: Update workspace-level readme for all packages and release statuses.
  README.md
Due: none

fix: should have focus outline on dialog's close button
  packages/mux-player/src/media-chrome/dialog.ts
Due: mux-player

whitespace
  packages/mux-player/src/media-chrome/dialog.ts
Due: mux-player

fix: should have focus outline on dialog's close button (#472)
  packages/mux-player/src/media-chrome/dialog.ts
Due: mux-player

fix: playbackrate & volume attribute removal
  packages/mux-player/src/video-api.ts
Due: mux-player

fix: playbackRate not working on mux-player-react #462
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-react/src/common/utils.ts
Due: mux-player, mux-player-react

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update README.md
  README.md
Due: none

fix: lazy placeholder lower specificity styles (#465)
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

fix: playbackRate not working on mux-player-react (#470)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-react/src/common/utils.ts
  packages/mux-player/src/video-api.ts
Due: mux-player, mux-player-react

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
Due: mux-player, mux-player-react

fix: check JWT before setting poster and storyboard urls
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/utils.ts
  packages/mux-player/test/helpers.test.js
  shared/assets/media-assets.json
Due: mux-player

feat: add storyboard getter on player
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/test/player.test.js
Due: mux-player

feat: conditionally use title for title metadata
  packages/mux-player/src/template.ts
Due: mux-player

strip empty strings from metadata values provided to mux.monitor
  packages/playback-core/src/index.ts
Due: playback-core

typescript (╯°□°）╯︵ ┻━┻
  packages/playback-core/src/index.ts
Due: playback-core

only video_title
  packages/playback-core/src/index.ts
Due: playback-core

null check
  packages/playback-core/src/index.ts
Due: playback-core

feat: conditionally use title for title metadata (#475)
  packages/mux-player/src/template.ts
  packages/playback-core/src/index.ts
Due: mux-player, playback-core

fix: potential duplicate rendering of template()
  packages/mux-player/src/html.ts
  packages/mux-player/test/template.test.js
Due: mux-player

fix: use delegated events for monitorLiveWindow
  packages/mux-player/src/index.ts
Due: mux-player

tests: fix template tests
  packages/mux-player/test/template.test.js
Due: mux-player

Moving Mux Player React Lazy to the wrapper approach
  packages/mux-player-react/README.md
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

Update README.md
  packages/mux-player-react/README.md
Due: mux-player, mux-player-react

Use CSS variable to properly scope placeholder styles
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

oh look we're affected by this api change too!
  examples/nextjs-with-typescript/styles.css
Due: none

Apply styles to wrapper properly; unset player styles; scope styles
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

Don't expose custom property in type
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

Unused import
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

semver notice
  packages/mux-player-react/README.md
Due: mux-player, mux-player-react

fix: lazy placeholder properly scoped styles (#478)
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

feat(playback-core): Add CMCD support (mutative).
  packages/playback-core/src/index.ts
Due: playback-core

feat(playback-core): Abstract video_id derivation and make more consistent use of playback-id.
  packages/playback-core/src/index.ts
  types/mux.d.ts
Due: playback-core

feat(mux-player): Expose and propagate experimental cmcd prop and attr.
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
Due: mux-player

feat(mux-video): Expose experimental cmcd prop and attr.
  packages/mux-video/src/index.ts
Due: mux-video

feat(playback-core): Add experimental flag for enabling cmcd (disabled by default).
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: playback-core

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
