Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

chore(mux-uploader): Removing CSS in favor of slots/individual components (#641)
  packages/mux-uploader/README.md
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader.ts
Due: none

chore: upgrade hls.js to 1.4.0 rc 1
  packages/playback-core/package.json
  yarn.lock
Due: playback-core

fix: upgrade hls.js to 1.4.0 rc 1 (#652)
  packages/playback-core/package.json
  yarn.lock
Due: playback-core

feat(stream-type): Infer stream type in playback core (hls.js only).
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/src/util.ts
Due: playback-core

feat(mux-video): Add inferred streamType to mux-video.
  packages/mux-video/src/index.ts
Due: mux-video

feat(mux-player): Temporarily strip out externally set stream type crud.
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
Due: mux-player

feat(playback-core): Ensure streamtypechange and targetlivewindowchange propagate past web component boundaries.
  packages/playback-core/src/index.ts
Due: playback-core

chore(mux-player): comment out logging for expected externally set stream type (should no longer be a requirement).
  packages/mux-player/src/index.ts
Due: mux-player

feat(playback-core, mux-video): Add liveEdgeStart support.
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-video, playback-core

chore: Remove streamType from media-assets for now for testing.
  shared/assets/media-assets.json
Due: none

feat(playback-core, mux-video): Initial pass at targetLiveWindow impl (native and hls.js).
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/src/util.ts
Due: mux-video, playback-core

feat(playback-core): infer for native playback case as well.
  packages/playback-core/src/index.ts
Due: playback-core

feat(mux-video): Add basic setters for new m-ui-ext APIs (as overrides).
  packages/mux-video/src/index.ts
Due: mux-video

chore: Don't set streamType based on media asset selection in NextJS MuxPlayer demo page.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

feat(mux-player, mux-video, playback-core): Re-adding explicit setting streamType et al. support based on new m-ui-ext inferred impls.
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
Due: mux-player, mux-video, playback-core

fix(playback-core): use number instead of Number for targetLiveWindow and liveEdgeStart types.
  packages/playback-core/src/types.ts
Due: playback-core

fix(mux-player): Refactor storyboard for new inferred stream type. Ensure re-render on streamtypechange. Get streamType from mux-video prop.
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux.html
Due: mux-player

chore(playback-core): Minor code cleanup.
  packages/playback-core/src/index.ts
Due: playback-core

test(mux-player): Update player tests that should now wait for streamtypechange.
  packages/mux-player/test/player.test.js
Due: mux-player

feat(playback-core, mux-player): hande live edge for native playback. fix edge case when attempting to use seekable before ready. Fix tests.
  packages/mux-player/src/template.ts
  packages/mux-player/test/player.test.js
  packages/mux-player/test/template.test.js
  packages/playback-core/src/index.ts
Due: mux-player, playback-core

test(mux-player): Update seek live tests for reliability of test conditions.
  packages/mux-player/test/player.test.js
Due: mux-player

test(mux-player): improve reliability of wait time for seek to live tests.
  packages/mux-player/test/player.test.js
  packages/playback-core/src/index.ts
Due: mux-player, playback-core

fix(playback-core): Respect preload none for stream info fetching in native playback case.
  packages/playback-core/src/index.ts
Due: playback-core

feat(mux-video, mux-player): Use external castable-video with new m-ui-ext streamType support.
  packages/mux-player/src/template.ts
  packages/mux-video/package.json
  shared/castable-video/castable-video.js
  shared/castable-video/package.json
  yarn.lock
Due: mux-player, mux-video

chore: Various code cleanup based on no longer needed code with inferred streamType et al.
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
Due: mux-player

chore: clean up nextjs example to fully remove explicit stream type for media-assets.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

feat(mux-player): Add liveEdgeStart getter to mux-player just in case there are desired use cases.
  packages/mux-player/src/index.ts
Due: mux-player

feat(mux-player-react): Add new props to ts defs.
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

docs(mux-player, mux-player-react): Update docs including error docs for new stream types and related.
  errors/invalid-stream-type.md
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/README.md
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/index.ts
Due: mux-player, mux-player-react

fix(mux-player): Do not automatically seek to live on play for DVR.
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/template.ts
Due: mux-player

fix(mux-player): Clean up relationships between deprecated stream types and new properties.
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
Due: mux-player

chore: Update nextjs MuxPlayer example to add enums for new stream type and related.
  examples/nextjs-with-typescript/components/renderers.tsx
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

fix(mux-player): tweak no seek to live condition for inferred stream types.
  packages/mux-player/src/template.ts
Due: mux-player

Update packages/mux-player/src/index.ts
  packages/mux-player/src/index.ts
Due: mux-player

Update errors/invalid-stream-type.md
  errors/invalid-stream-type.md
Due: none

chore: Add deprecated stream type error md.
  errors/deprecated-stream-type.md
Due: none

test(mux-player): Tighten no seek on play condition and update template tests appropriately.
  packages/mux-player/src/template.ts
  packages/mux-player/test/template.test.js
Due: mux-player

docs(mux-video): Update mux video docs.
  packages/mux-video/README.md
Due: mux-video

fix(mux-player): liveEdgeStart not liveEdgeOffset.
  packages/mux-player/src/index.ts
Due: mux-player
