Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

feat: isolate ads video mixin, cleanup
  package-lock.json
  packages/mux-player-react/src/news/index.tsx
  packages/mux-video/package.json
  packages/mux-video/src/ads/index.ts
  packages/mux-video/src/ads/mixin/events.ts
  packages/mux-video/src/ads/mixin/google-ima-client-ad.ts
  packages/mux-video/src/ads/mixin/google-ima-client-provider.ts
  packages/mux-video/src/ads/mixin/index.ts
  packages/mux-video/src/ads/mixin/types.ts
  packages/mux-video/src/ads/types.ts
Due: mux-player, mux-player-react, mux-video

feat: move resize observer, add more ad events
  packages/mux-video/src/ads/mixin/events.ts
  packages/mux-video/src/ads/mixin/google-ima-client-provider.ts
  packages/mux-video/src/ads/mixin/index.ts
  packages/mux-video/src/ads/mixin/types.ts
Due: mux-video

fix: remove unneeded div
  packages/mux-player-react/src/news/index.tsx
Due: mux-player, mux-player-react

fix: remove storyboard track when adBreak is true this fixed a bug on iOS with preferPlayback="mse" where the ad would not play. removing the track fixed the issue!
  packages/mux-player/src/template.ts
Due: mux-player

fix: prevent seek and play during ad break
  packages/mux-video/src/ads/mixin/google-ima-client-provider.ts
  packages/mux-video/src/ads/mixin/index.ts
Due: mux-video

fix: add more ad events to react player
  examples/nextjs-with-typescript/pages/MuxNewsPlayer.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerAds.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/nextjs-with-typescript/pages/mux-video-ads-react.tsx
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/news/README.md
  packages/mux-video/README.md
  packages/mux-video/src/ads/README.md
  packages/mux-video/src/ads/mixin/google-ima-client-provider.ts
Due: mux-player, mux-player-react, mux-video

fix: fix props order, add onEnded in news player
  packages/mux-player-react/src/news/index.tsx
Due: mux-player, mux-player-react

fix: add dev scripts back in
  packages/mux-player-react/package.json
  packages/mux-video/package.json
Due: mux-player, mux-player-react, mux-video

fix: add video api element interface back in
  packages/mux-player/src/video-api.ts
Due: mux-player

feat: isolate ads player logic, fixes and cleanup
  examples/nextjs-with-typescript/pages/MuxNewsPlayer.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerAds.tsx
  examples/nextjs-with-typescript/pages/mux-video-ads-react.tsx
  package-lock.json
  packages/mux-player-react/package.json
  packages/mux-player-react/src/ads.tsx
  packages/mux-player-react/src/declaration.d.ts
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/news/index.tsx
  packages/mux-player-react/src/types.ts
  packages/mux-player-react/src/useEventCallbackEffect.ts
  packages/mux-player-react/types/index.d.ts
  packages/mux-player/package.json
  packages/mux-player/src/ads/index.ts
  packages/mux-player/src/ads/mixin/index.ts
  packages/mux-player/src/ads/mixin/types.ts
  packages/mux-player/src/base.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.ts
  packages/mux-video/package.json
  packages/mux-video/src/ads/index.ts
  packages/mux-video/src/ads/mixin/index.ts
  packages/mux-video/src/ads/mixin/types.ts
  packages/mux-video/src/types.ts
  packages/playback-core/src/types.ts
Due: mux-player, mux-player-react, mux-video, playback-core

fix(mux-video-ads): Account for changes to ads playback starting with new videoHasPlayed logic.
  packages/mux-video-ads/src/ads-manager.ts
  packages/mux-video-ads/src/index.ts
Due: mux-video

fix: adsLoader not available, Mux data issue
  packages/mux-video/src/ads/mixin/index.ts
Due: mux-video

Fix/newsplayer event cbs (#1139)
  examples/nextjs-with-typescript/pages/playlist-page.tsx
  packages/mux-player-react/src/mux-news-player.tsx
  packages/mux-video-ads/src/ads-manager.ts
  packages/mux-video-ads/src/index.ts
Due: mux-player, mux-player-react, mux-video

fix: bug where ads played again on adbreakend
  examples/nextjs-with-typescript/pages/MuxPlayerAds.tsx
  packages/mux-video/src/ads/mixin/index.ts
Due: mux-video

fix: add title to metadata
  packages/mux-player-react/src/news/index.tsx
Due: mux-player, mux-player-react

fix: remove non functioning try / catch
  packages/mux-video/src/ads/mixin/index.ts
Due: mux-video

example: Mux player test assets env for Mux data
  examples/nextjs-with-typescript/pages/MuxNewsPlayer.tsx
Due: none

fix: iOS mse track element bug
  packages/mux-player/src/ads/mixin/index.ts
Due: mux-player

docs: update mux-video readme
  packages/mux-video/src/ads/README.md
Due: mux-video

fix: adBreak timing and pause content on start ad
  examples/nextjs-with-typescript/pages/MuxNewsPlayer.tsx
  packages/mux-player-react/src/news/index.tsx
  packages/mux-video/src/ads/mixin/google-ima-client-provider.ts
  packages/mux-video/src/ads/mixin/index.ts
  packages/mux-video/src/ads/mixin/types.ts
Due: mux-player, mux-player-react, mux-video

example: fix vanilla ads examples
  examples/vanilla-ts-esm/public/mux-player-ads.html
  examples/vanilla-ts-esm/public/mux-video-ads.html
  examples/vanilla-ts-esm/src/mux-player-ads.ts
Due: none

fix: reset state on emptied and destroy
  packages/mux-video/src/ads/mixin/index.ts
Due: mux-video

feat: retry logic for 412 not playable errors (#1106)
  packages/mux-player/src/errors.ts
  packages/mux-player/test/errors.test.js
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/request-errors.ts
  packages/playback-core/test/errors.test.js
Due: mux-player, playback-core

fix: reset ads when src changes
  packages/mux-video/src/ads/mixin/index.ts
Due: mux-video

fix(mux-player, news): Cleanup of news player and playlist component. Start adding support for async fetch of ad tag url string.
  packages/mux-player-react/src/news/index.tsx
  packages/mux-player-react/src/news/playlist-end-screen.tsx
Due: mux-player, mux-player-react

chore(mux-player news): Update next.js newsplayer example to use adTagUrl callbacks to test new functionality.
  examples/nextjs-with-typescript/pages/MuxNewsPlayer.tsx
  packages/mux-player-react/src/news/index.tsx
Due: mux-player, mux-player-react

fix: ad-tag-url observe, add unload ads
  packages/mux-player/src/ads/mixin/index.ts
  packages/mux-video/src/ads/mixin/google-ima-client-provider.ts
  packages/mux-video/src/ads/mixin/index.ts
  packages/mux-video/src/ads/mixin/types.ts
Due: mux-player, mux-video

fix: update example w/ ad-tag-url input
  examples/nextjs-with-typescript/pages/MuxPlayerAds.tsx
Due: none

fix: play freeze on too early destroy ads manager
  packages/mux-video/src/ads/mixin/google-ima-client-provider.ts
Due: mux-video

chore: remove testing console logs.
  packages/mux-player-react/src/news/index.tsx
Due: mux-player, mux-player-react

chore: Updated next.js news player example for different permutations of sync vs. async adTagUrl resolution.
  examples/nextjs-with-typescript/pages/MuxNewsPlayer.tsx
Due: none

chore: example formatting rules consistency.
  examples/nextjs-with-typescript/pages/MuxNewsPlayer.tsx
Due: none

feat: show Mux logo for free plan videos using session metadata from hls
  packages/mux-video/src/base.ts
  packages/playback-core/src/media-tracks.ts
Due: mux-video, playback-core

pr fixes
  packages/playback-core/src/media-tracks.ts
Due: playback-core

add support for metadata when url its mp4 from mux
  packages/playback-core/src/index.ts
  packages/playback-core/src/media-tracks.ts
Due: playback-core
