Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

improv: default width: 100% in shadowDOM lets see if this has any bad side-effects
  packages/mux-player/src/styles.css
Due: mux-player

Some first steps
  examples/nextjs-with-typescript/pages/MuxPlayerLazy.tsx
  packages/mux-player-react/package.json
  packages/mux-player-react/src/BrowserOnlySuspense.tsx
  packages/mux-player-react/src/lazy.tsx
  packages/mux-player-react/src/useIsBrowser.ts
  packages/mux-player-react/tsconfig.json
Due: mux-player, mux-player-react

magic
  packages/mux-player-react/package.json
Due: mux-player, mux-player-react

feat: default width: 100% in shadowDOM lets see if this has any bad side-effects (#413)
  packages/mux-player/src/styles.css
Due: mux-player

This kinda works!
  examples/create-react-app-with-typescript/src/App.tsx
  examples/create-react-app-with-typescript/src/pages/MuxPlayerLazy.tsx
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

Fix build
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

More build "fixing"
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

fix: tweak hls.js config for improved memory management and QoE (#411)
  packages/playback-core/src/index.ts
Due: playback-core

docs: add nice vanilla examples
  examples/vanilla-ts-esm/public/images/github-logo.svg
  examples/vanilla-ts-esm/public/images/mux-logo.webp
  examples/vanilla-ts-esm/public/images/mux-logo@2x.webp
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-audio.html
  examples/vanilla-ts-esm/public/mux-player-audio.html
  examples/vanilla-ts-esm/public/mux-player.html
  examples/vanilla-ts-esm/public/mux-uploader-full.html
  examples/vanilla-ts-esm/public/mux-uploader-simple.html
  examples/vanilla-ts-esm/public/mux-uploader-widget.html
  examples/vanilla-ts-esm/public/mux-video.html
  examples/vanilla-ts-esm/public/styles.css
Due: none

fix: mux-player audio height bugs
  examples/vanilla-ts-esm/public/mux-player-audio.html
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

docs: add Mux styles to Create React app
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app-with-typescript/public/images/github-logo.svg
  examples/create-react-app-with-typescript/public/images/mux-logo.webp
  examples/create-react-app-with-typescript/public/images/mux-logo@2x.webp
  examples/create-react-app-with-typescript/public/index.html
  examples/create-react-app-with-typescript/src/App.tsx
  examples/create-react-app-with-typescript/src/index.css
  examples/create-react-app-with-typescript/src/logo.svg
  examples/create-react-app-with-typescript/src/pages/MuxAudio.tsx
  examples/create-react-app-with-typescript/src/pages/MuxPlayer.tsx
  examples/create-react-app-with-typescript/src/pages/MuxUploader.tsx
  examples/create-react-app-with-typescript/src/pages/MuxVideo.tsx
  examples/create-react-app-with-typescript/src/pages/index.tsx
  examples/create-react-app-with-typescript/src/pages/mux-player.tsx
  examples/create-react-app-with-typescript/src/pages/mux-video.tsx
Due: none

docs: add Mux style to Svelte kit
  examples/svelte-kit/.editorconfig
  examples/svelte-kit/src/app.html
  examples/svelte-kit/src/lib/header/Header.svelte
  examples/svelte-kit/src/routes/+layout.svelte
  examples/svelte-kit/src/routes/+page.svelte
  examples/svelte-kit/src/routes/mux-audio/+page.svelte
  examples/svelte-kit/src/routes/mux-player/+page.svelte
  examples/svelte-kit/src/routes/mux-video/+page.svelte
  examples/svelte-kit/static/images/github-logo.svg
  examples/svelte-kit/static/images/mux-logo.webp
  examples/svelte-kit/static/images/mux-logo@2x.webp
  examples/svelte-kit/static/styles.css
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-audio.html
  examples/vanilla-ts-esm/public/mux-player-audio.html
  examples/vanilla-ts-esm/public/mux-player.html
  examples/vanilla-ts-esm/public/mux-uploader-simple.html
  examples/vanilla-ts-esm/public/mux-video.html
  examples/vanilla-ts-esm/public/styles.css
Due: none

chore: fine tune dark mode
  examples/vanilla-ts-esm/public/mux-uploader-full.html
  examples/vanilla-ts-esm/public/mux-uploader-simple.html
  examples/vanilla-ts-esm/public/styles.css
Due: none

docs: update default video to new playback id `23s11nz72DsoN657h4314PjKKjsF2JG33eBQQt6B95I`
  examples/create-react-app-with-typescript/src/pages/MuxPlayer.tsx
  examples/create-react-app-with-typescript/src/pages/MuxVideo.tsx
  examples/nextjs-with-typescript/pages/MuxVideo.tsx
  examples/nextjs-with-typescript/pages/mux-video.tsx
  examples/svelte-kit/src/routes/mux-player/+page.svelte
  examples/svelte-kit/src/routes/mux-video/+page.svelte
  examples/vanilla-ts-esm/public/mux-player.html
  examples/vanilla-ts-esm/public/mux-video.html
  examples/vue-with-typescript/src/views/MuxPlayerView.vue
  examples/vue-with-typescript/src/views/MuxVideoView.vue
Due: none

docs: add Mux styles to Next.js examples but not Mux player examples
  examples/nextjs-with-typescript/pages/MuxAudio.tsx
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
  examples/nextjs-with-typescript/pages/MuxVideo.tsx
  examples/nextjs-with-typescript/pages/_app.js
  examples/nextjs-with-typescript/pages/_app.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/nextjs-with-typescript/pages/mux-audio.tsx
  examples/nextjs-with-typescript/pages/mux-video.tsx
  examples/nextjs-with-typescript/public/images/github-logo.svg
  examples/nextjs-with-typescript/public/images/mux-logo.webp
  examples/nextjs-with-typescript/public/images/mux-logo@2x.webp
  examples/nextjs-with-typescript/styles.css
Due: none

docs: add Mux styles to Vue examples
  examples/vue-with-typescript/index.html
  examples/vue-with-typescript/public/images/github-logo.svg
  examples/vue-with-typescript/public/images/mux-logo.webp
  examples/vue-with-typescript/public/images/mux-logo@2x.webp
  examples/vue-with-typescript/src/App.vue
  examples/vue-with-typescript/src/assets/base.css
  examples/vue-with-typescript/src/components/TheWelcome.vue
  examples/vue-with-typescript/src/views/MuxAudioView.vue
  examples/vue-with-typescript/src/views/MuxPlayerView.vue
  examples/vue-with-typescript/src/views/MuxVideoView.vue
Due: none

docs: relative GH links and add Installation instructions
  packages/mux-player-react/README.md
  packages/mux-player/README.md
Due: mux-player, mux-player-react

docs: relative GH links
  packages/mux-player-react/REFERENCE.md
Due: mux-player, mux-player-react

docs: another relative GH link
  packages/mux-player-react/REFERENCE.md
Due: mux-player, mux-player-react

docs: Update packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/REFERENCE.md
Due: mux-player, mux-player-react

docs: remove references to non-existent sections and update docs for prefer-playback instead of prefer-mse
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
Due: mux-player, mux-player-react

docs: remove reference to metadata section
  packages/mux-player-react/REFERENCE.md
Due: mux-player, mux-player-react

docs: remove reference to tokens section
  packages/mux-player-react/REFERENCE.md
Due: mux-player, mux-player-react

fix: update to media-chrome 0.11.0
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: update to media-chrome 0.11.0 (#415)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix(mux-player): Start making VideoApiElement conform to HTMLVideoElement interface.
  packages/mux-player/src/video-api.ts
Due: mux-player

fix: update to media-chrome 0.11.1
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: update to media-chrome 0.11.1 (#417)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

one more comment
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

fix(mux-player-react): remove vestigial tertiaryColor from types.
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

docs: Migrate to reducer and state for props mgmt in nextjs example.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: Add volume change callback for muted state in nextjs example.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: Make type-specific renderers for next state mgmt.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: Add more props to nextjs example state.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: additional state mgmt ui for nextjs demo.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: more ui state updates for nextjs.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: first pass impl of MuxPlayer code renderer for nextjs example.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: Add copy to clipboard for code renderer & cleanup label for nextjs example.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

docs: placeholder for playbackRate state in nextjs demo.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none
