Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: color fixes for two tone variant
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

fix: upgrade Media Chrome
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: add player audio example and fixup styles
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-audio.html
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

fix: upgrade MC v0.8.0
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

feat(playback-core): prefer remove() and append() for elements.
  packages/playback-core/src/tracks.ts
Due: playback-core

feat(mux-player): Add textTracks prop alongside add/remove tracks methods.
  packages/mux-player/src/index.ts
Due: mux-player

feat(playback-core, mux-player): Add support to removeTextTrack. Remove all identified tracks on hls destroy. Add methods to mux-player.
  packages/mux-player/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/tracks.ts
Due: mux-player, playback-core

docs(mux-player, mux-player-react): Add customDomain and custom-domain to docs. Add beaconCollectionDomain to react docs (still beta but adding for parity). Formatting.
  packages/mux-player-react/README.md
  packages/mux-player/README.md
Due: mux-player, mux-player-react

shorten prefer-mse explanation
  packages/mux-video/README.md
Due: mux-video

fix: upgrade MC to v0.8.0 and adjust time range styles (#294)
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-audio.html
  packages/mux-player/package.json
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/template.ts
  yarn.lock
Due: mux-player

docs: remove `controls` attribute/prop as it's currently a noop
  packages/mux-player/README.md
Due: mux-player

fix: upgrade MC v0.8.1
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: add Mux flavor cast icon & fix xs size bug
  packages/mux-player/src/media-theme-mux/icons.ts
  packages/mux-player/src/media-theme-mux/icons/cast-enter.svg
  packages/mux-player/src/media-theme-mux/icons/cast-exit.svg
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

fix: upgrade MC v0.8.1 (#298)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: add Mux flavor cast icon & fix xs size bug (#299)
  packages/mux-player/src/media-theme-mux/icons.ts
  packages/mux-player/src/media-theme-mux/icons/cast-enter.svg
  packages/mux-player/src/media-theme-mux/icons/cast-exit.svg
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

feat: add defaultMuted, defaultPlaybackRate props
  packages/mux-player/src/video-api.ts
  packages/mux-player/test/player.test.js
Due: mux-player

fix: remove React default props
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

fix: defaultPlaybackRate behavior
  packages/mux-player/src/video-api.ts
  packages/mux-uploader/package.json
Due: mux-player

fix: add default muted and playbackRate Reacttypes
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

docs: update readme for defaultMuted and defaultPlaybackRate
  packages/mux-player-react/README.md
  packages/mux-player/README.md
Due: mux-player, mux-player-react

feat: add defaultMuted, defaultPlaybackRate props (#252)
  packages/mux-player-react/README.md
  packages/mux-player/README.md
  packages/mux-player/src/video-api.ts
  packages/mux-player/test/player.test.js
  packages/mux-uploader/package.json
Due: mux-player, mux-player-react

fix(mux-player): Clean up how metadata is set from mux-player to underlying mux-video element. Force upgrades and init when setting metadata.
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
Due: mux-player

chore: Derive metadata object based on mediaAsset for nextjs app (for testing purposes).
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

feat(mux-uploader): Support endoing.
  packages/mux-uploader/src/index.ts
Due: none

feat(mux-uploader): Add endpoint support for promise callback.
  packages/mux-uploader/src/index.ts
Due: none

feat(mux-uploader): Clean up mux-uploader-drop + overlay and active logic now that we support descendants.
  packages/mux-uploader/src/mux-uploader-drop.ts
Due: none

chore: fix canary releases - update deps too
  scripts/publish.sh
Due: none

fix(mux-uploader, mux-uploader-react): Add support for endpoint to react version. Clean up type defs, including css vars (drop component only). Remove unnecessary capture for DandD events.
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader-react/src/mux-uploader-drop.tsx
  packages/mux-uploader/src/mux-uploader-drop.ts
Due: none

chore(mux-uploader, mux-uploader-react): Update examples based on new api (e.g. endpoint).
  examples/create-react-app-with-typescript/src/pages/MuxUploader.tsx
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
  examples/vanilla-ts-esm/public/mux-uploader-full.html
Due: none

chore: add sleep until pkg is available
  scripts/publish.sh
Due: none

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
