Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

Filter ended event when ad break
  packages/mux-video-ads/src/index.ts
Due: mux-video

IOS integration (#8)
  examples/nextjs-with-typescript/components/playlist.tsx
  packages/mux-video-ads/src/ads-manager.ts
  packages/mux-video-ads/src/index.ts
Due: mux-video

Add responsive for post video screen
  examples/nextjs-with-typescript/post-video.css
Due: none

Fix playback issues (events, native iOS) (#9)
  examples/nextjs-with-typescript/pages/MuxPlayerAds.tsx
  examples/vanilla-ts-esm/public/mux-player-ads.html
  packages/mux-player-react/src/index.tsx
  packages/mux-video-ads/src/ads-manager.ts
  packages/mux-video-ads/src/index.ts
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-player, mux-player-react, mux-video, playback-core

Handle picture in picture (#10)
  packages/mux-video-ads/src/index.ts
Due: mux-video

Add usage documentation
  packages/mux-player-react/NewsweekMuxPlayer.md
Due: mux-player, mux-player-react

Fix css import in end screen component
  packages/mux-player-react/src/end-screen.css
  packages/mux-player-react/src/playlist-end-screen.tsx
Due: mux-player, mux-player-react

Move Playlist component to mux-player-react
  examples/nextjs-with-typescript/components/playlist-post-video.tsx
  examples/nextjs-with-typescript/components/playlist.tsx
  examples/nextjs-with-typescript/pages/playlist-page.tsx
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/playlist-end-screen.tsx
  packages/mux-player-react/src/playlist.tsx
  packages/mux-player-react/src/styles.css
  packages/mux-player-react/src/themes/newsweek-theme.tsx
  packages/mux-player-react/src/types.d.ts
Due: mux-player, mux-player-react

Update component name
  examples/nextjs-with-typescript/pages/playlist-page.tsx
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/newsweek-mux-player.tsx
  packages/mux-player-react/src/playlist-end-screen.tsx
Due: mux-player, mux-player-react

Apply suggested changes
  examples/nextjs-with-typescript/pages/playlist-page.tsx
  packages/mux-player-react/NewsweekMuxPlayer.md
  packages/mux-player-react/package.json
  packages/mux-player-react/src/newsweek-mux-player.tsx
Due: mux-player, mux-player-react

Update doc
  packages/mux-player-react/NewsweekMuxPlayer.md
Due: mux-player, mux-player-react

docs: update newsweek mux player docs
  packages/mux-player-react/NewsweekMuxPlayer.md
Due: mux-player, mux-player-react

tools: add publish dist folders to branch GH flow
  .github/workflows/cd-newsweek.yml
Due: none

fix: versions
  examples/vanilla-ts-esm/package.json
  package-lock.json
  packages/mux-player-react/package.json
  packages/mux-video-ads/package.json
Due: mux-player, mux-player-react, mux-video

fix: theme import issue
  examples/nextjs-with-typescript/pages/MuxPlayerAds.tsx
  packages/mux-player-react/package.json
Due: mux-player, mux-player-react

fix: lint issues
  packages/mux-video-ads/src/ads-manager.ts
  packages/mux-video-ads/src/index.ts
Due: mux-video

test: remove tests scripts mux-video-ads
  packages/mux-video-ads/package.json
Due: mux-video

Add mux-video-ads README file
  packages/mux-video-ads/README.md
Due: mux-video

fix: change naming to news player
  .github/workflows/cd-news-player.yml
  examples/nextjs-with-typescript/pages/MuxPlayerAds.tsx
  examples/nextjs-with-typescript/pages/playlist-page.tsx
  packages/mux-player-react/MuxNewsPlayer.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/mux-news-player.tsx
  packages/mux-player-react/src/playlist-end-screen.tsx
  packages/mux-player-react/src/themes/news-theme.tsx
Due: mux-player, mux-player-react

Add links to examples
  packages/mux-video-ads/README.md
Due: mux-video

tools: update gh action
  .github/workflows/cd-newsweek.yml
Due: none

fix: merge conflict issues
  package-lock.json
  packages/mux-video-ads/package.json
Due: mux-video

feat: news player (#1115)
  .github/workflows/cd-news-player.yml
  examples/nextjs-with-typescript/package.json
  examples/nextjs-with-typescript/pages/MuxPlayerAds.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/nextjs-with-typescript/pages/mux-video-ads-react.tsx
  examples/nextjs-with-typescript/pages/playlist-page.tsx
  examples/nextjs-with-typescript/post-video.css
  examples/nextjs-with-typescript/styles.css
  examples/vanilla-ts-esm/package.json
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/mux-player-ads.html
  examples/vanilla-ts-esm/public/mux-video-ads.html
  examples/vanilla-ts-esm/src/mux-video-ads.ts
  package-lock.json
  packages/mux-player-react/MuxNewsPlayer.md
  packages/mux-player-react/package.json
  packages/mux-player-react/src/common/utils.ts
  packages/mux-player-react/src/end-screen.css
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/mux-news-player.tsx
  packages/mux-player-react/src/playlist-end-screen.tsx
  packages/mux-player-react/src/themes/news-theme.tsx
  packages/mux-player-react/src/types.d.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/src/video-api.ts
  packages/mux-video-ads/README.md
  packages/mux-video-ads/package.json
  packages/mux-video-ads/src/ads-manager.ts
  packages/mux-video-ads/src/index.ts
  packages/mux-video-ads/src/react.ts
  packages/mux-video-ads/tsconfig.json
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-player, mux-player-react, mux-video, playback-core

tools: remove production env
  .github/workflows/cd-news-player.yml
Due: none

tools: add github user to action
  .github/workflows/cd-news-player.yml
Due: none

cd: fix branch release scripts
  .github/workflows/cd-news-player.yml
Due: none

cd: fix git add command
  .github/workflows/cd-news-player.yml
Due: none

cd: fix git push command
  .github/workflows/cd-news-player.yml
Due: none

cd: fix @mux/mux-video-ads dependency install
  .github/workflows/cd-news-player.yml
Due: none

cd: fix custom dependencies version
  .github/workflows/cd-news-player.yml
  package-lock.json
  packages/mux-player-react/package.json
  packages/mux-video-ads/package.json
Due: mux-player, mux-player-react, mux-video

Suppress Mux Player React hydration warning
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

tools: remove busted GH workflow
  .github/workflows/project.yml
Due: none

tools: use new GH template syntax
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

tools: remove busted GH workflow (#1119)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/project.yml
Due: none

Live stream vs video specific error messaging for NETWORK_NOT_READY
  packages/mux-player/src/errors.ts
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/request-errors.ts
Due: mux-player, playback-core

fix: remove default playerInitTime
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

fix: suppress Mux Player React hydration warning (#1116)
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

feat: add adblocker bypass option, expose player props, and conditional captions menu
  examples/nextjs-with-typescript/pages/mux-video-ads-react.tsx
  examples/nextjs-with-typescript/pages/playlist-page.tsx
  packages/mux-player-react/MuxNewsPlayer.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/mux-news-player.tsx
  packages/mux-player-react/src/themes/news-theme.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-video-ads/src/index.ts
Due: mux-player, mux-player-react, mux-video

pr fix: remove private variable and observedAttributes
  packages/mux-video-ads/src/index.ts
Due: mux-video

feat: show Mux logo for free plan videos using session metadata from hls
  packages/mux-video/src/index.ts
  packages/playback-core/src/media-tracks.ts
Due: mux-video, playback-core
