Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

fix: setting custom playbackrates (#819)
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix(mux-player-react): missing token props (#821)
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

fix(mux-player): upgrade media chrome to get fix for android tap issues on controls show and hide.
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

build(mux-player): Use tilde semver matches for media-chrome for more precise versioning control.
  packages/mux-player/package.json
Due: mux-player

fix(mux-player): upgrade media chrome to get fix for android tap issue… (#824)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix(playback-core): Strip out everything but vid and cid from CMCD value to improve cache hits (at least due to buffer flushes, looping refetches, etc.).
  packages/playback-core/src/index.ts
Due: playback-core

fix(playback-core): narrow cmcd for cache (#825)
  packages/playback-core/src/index.ts
Due: playback-core

allow audio files
  packages/mux-uploader/src/mux-uploader.ts
Due: none

fix(mux-player): add controller CSS part #728
  packages/mux-player/src/themes/gerwig/gerwig.html
  yarn.lock
Due: mux-player

fix(mux-player): add controller CSS part (#828)
  packages/mux-player/src/themes/gerwig/gerwig.html
  yarn.lock
Due: mux-player

chore: Update engines support for newer versions.
  package.json
Due: none

experiment: use manual and locally created @types/mux-embed type project.
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  types/mux-embed.d.ts
Due: playback-core

fix(playback-core): Test triple-slash reference using mux-embed provided types. Use hls.js directly.
  packages/playback-core/src/autoplay.ts
  packages/playback-core/src/hls.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/media-tracks.ts
  packages/playback-core/src/text-tracks.ts
  packages/playback-core/src/types.ts
Due: playback-core

change ts reference path based on current planed dist location for mux-embed.d.ts.
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: playback-core

remove unnecessary mux-embed dependencies from projects outside of playback-core. validate against experimental tag of mux-embed with types.
  packages/mux-active-viewer-count/package.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-uploader/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  shared/test-esm-exports/package.json
  yarn.lock
Due: mux-audio, mux-player, mux-video, playback-core

chore(playback-core): ignore linting errors for use of triple-slash-reference.
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: playback-core

overflow hidden media theme
  packages/mux-player/src/styles.css
Due: mux-player

feat(mux-uploader): Allow audio files to upload (#826)
  packages/mux-uploader/src/mux-uploader.ts
Due: none

Update `engines` and `packageManager` fields in `package.json`
  package.json
Due: none

first pass
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

feat(mux-player): clean up opt in controls css to rely on css variables for ease of use.
  packages/mux-player/src/styles.css
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

feat(mux-player): allow forcibly showing buttons that we usually hide at small sizes (#827)
  packages/mux-player/src/styles.css
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

Add disablePictureInPicture to player prop types
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

feat(mux-player, mux-player-react): Add extraPlaylistParams prop and attr.
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
Due: mux-player, mux-player-react

chore(mux-player, mux-player-react): Rename prop and attr based on feedback.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/test/player.test.js
  packages/playback-core/src/index.ts
  packages/playback-core/test/index.test.js
Due: mux-player, mux-player-react, playback-core

feat(mux-player): Resolved unset case for extra-playlist-params. Added tests. Added commented out example usage in next MuxPlayer page.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/test/player.test.js
Due: mux-player

feat(mux-player, mux-player-react): Add extra-source-params/extraSourceParams attr/prop for advanced usage.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/test/player.test.js
  packages/playback-core/src/index.ts
  packages/playback-core/test/index.test.js
Due: mux-player, mux-player-react, playback-core

fix: Adding unofficial _hlsConfig to media elements and playback core.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/MuxVideo.tsx
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: Adding unofficial _hlsConfig to media elements and playback core. (#833)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/MuxVideo.tsx
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

Fix type location
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

fix(mux-player-react): add disablePictureInPicture to TS def
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

fix: ts error due to duplicate same dependency fixes #836
  packages/mux-video/package.json
  packages/playback-core/package.json
  packages/playback-core/src/media-tracks.ts
  yarn.lock
Due: mux-video, playback-core

fix: ts error due to duplicate same dependency (#837)
  packages/mux-video/package.json
  packages/playback-core/package.json
  packages/playback-core/src/media-tracks.ts
  yarn.lock
Due: mux-video, playback-core

Update `engines` and `packageManager` fields in `package.json` (#832)
  package.json
Due: none

fix(mux-video-react): Don't spread disableCookies to video to avoid warnings (#749)
  packages/mux-video-react/src/index.tsx
Due: mux-video, mux-video-react

fix: upgrade media-chrome
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: upgrade dependencies
  packages/mux-active-viewer-count/package.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-uploader/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  shared/test-esm-exports/package.json
  yarn.lock
Due: mux-audio, mux-player, mux-video, playback-core

chore: upgrade turbo
  package.json
  yarn.lock
Due: none

fix: upgrade media-chrome + turbo (#838)
  package.json
  packages/mux-active-viewer-count/package.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-uploader/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  shared/test-esm-exports/package.json
  yarn.lock
Due: mux-audio, mux-player, mux-video, playback-core

chore: upgrade esbuild + add logging to JS api
  examples/vanilla-ts-esm/package.json
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-player/scripts/build-themes.mjs
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  scripts/esbuilder/esbuilder.js
  scripts/esbuilder/package.json
  shared/test-esm-exports/package.json
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core
