Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

remove package from deps
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-uploader/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-player, mux-video, playback-core

copy polyfills in mux-video
  packages/mux-video/package.json
Due: mux-video

add polyfills to eslint ignore
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-video/package.json
Due: mux-audio, mux-player, mux-video

ignore two eslint rules
  shared/polyfills/index.ts
Due: none

Revert "add polyfills to eslint ignore"
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-video/package.json
Due: mux-audio, mux-player, mux-video

clean and what not
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-uploader/package.json
  packages/mux-video/package.json
Due: mux-audio, mux-player, mux-video

use shx commands
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-uploader/package.json
  packages/mux-video/package.json
Due: mux-audio, mux-player, mux-video

no more shared-polyfills module
  types/shared-polyfills.d.ts
Due: none

allow triple slash references in playback-core
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: playback-core

copy before tests as well
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-uploader/package.json
  packages/mux-video/package.json
Due: mux-audio, mux-player, mux-video

don't remove on copy
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-uploader/package.json
  packages/mux-video/package.json
Due: mux-audio, mux-player, mux-video

more reliable events test
  packages/mux-audio/test/player.test.js
Due: mux-audio

improve test reliability
  packages/mux-video/test/index.test.js
Due: mux-video

Update createSummary.js
  .github/external-testing/createSummary.js
Due: none

on CI, set concurrency to 1
  .github/workflows/ci.yml
Due: none

copypolyfills via turborepo
  .github/workflows/ci.yml
  package.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-uploader/package.json
  packages/mux-video/package.json
  turbo.json
Due: mux-audio, mux-player, mux-video

update turborepo build
  turbo.json
Due: none

CR updates
  .gitignore
  packages/mux-player/src/media-chrome/dialog.ts
  types/mux-embed.d.ts
Due: mux-player

add other exported props to mux-embed muxProps
  types/mux-embed.d.ts
Due: none

fix(mux-player): tighten up types for events on MuxPlayerElement.
  packages/mux-player/src/index.ts
Due: mux-player

feat(mux-player-react): Add CuePoint events support to MuxPlayer (react).
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

chore: Add CuePoitns example to Next.js app.
  examples/nextjs-with-typescript/pages/MuxPlayerCuePoints.tsx
  examples/nextjs-with-typescript/pages/index.tsx
Due: none

chore: Add some 4k-specific stuff with defaults for internal sharing.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

feat(mux-player-react): mux player react cuepoint handlers (#605)
  examples/nextjs-with-typescript/pages/MuxPlayerCuePoints.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
Due: mux-player, mux-player-react

fix: use default import for React
  packages/mux-uploader-react/package.json
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader-react/src/mux-uploader-drop.tsx
  packages/mux-uploader-react/src/useCombinedRefs.ts
  packages/mux-uploader-react/src/useObjectPropEffect.ts
Due: none

fix: make getMetadataFromAttrs a private function
  packages/mux-player/src/index.ts
Due: mux-player

fix: forward `theme-` attrs to current theme
  packages/mux-player/src/index.ts
Due: mux-player

README pass
  packages/mux-uploader/README.md
Due: none

one liner
  packages/mux-uploader/README.md
Due: none

Link to modal
  packages/mux-uploader/README.md
Due: none

#controller -> #abortController
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader-progress.ts
  packages/mux-uploader/src/mux-uploader-retry.ts
  packages/mux-uploader/src/mux-uploader-status.ts
Due: none

fix: use Media Chrome display CSS vars
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/styles.css
Due: mux-player

fix: upgrade MC v0.19.0
  examples/vanilla-ts-esm/public/mux-player-theme.html
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: turbo.json for copypolyfills
  turbo.json
Due: none

fix: Cannot assume activeCues removed precisely in Chromium browsers (note: should file chromium bug).
  packages/playback-core/src/tracks.ts
Due: playback-core

fix: Cannot assume activeCues removed precisely in Chromium browsers … (#616)
  packages/playback-core/src/tracks.ts
Due: playback-core

fix: use Media Chrome display CSS vars (#613)
  examples/vanilla-ts-esm/public/mux-player-theme.html
  packages/mux-player/package.json
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/styles.css
  turbo.json
  yarn.lock
Due: mux-player

fix: rename Micro to Microvideo requires https://github.com/muxinc/media-chrome/pull/504
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerTheme.tsx
  packages/mux-player/package.json
  packages/mux-player/themes/micro.js
  packages/mux-player/themes/microvideo.js
Due: mux-player

fix: upgrade MC
  packages/mux-player/package.json
  yarn.lock
Due: mux-player
