Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

update toplevel tsconfig
  tsconfig.json
Due: none

custom-types shenanigans
  packages/mux-audio-react/package.json
  packages/mux-audio-react/tsconfig.json
  packages/mux-audio/package.json
  packages/mux-audio/tsconfig.json
  packages/mux-elements-codemod/package.json
  packages/mux-elements-codemod/tsconfig.json
  packages/mux-player-react/package.json
  packages/mux-player-react/tsconfig.json
  packages/mux-player/package.json
  packages/mux-player/tsconfig.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader-react/tsconfig.json
  packages/mux-uploader/package.json
  packages/mux-uploader/tsconfig.json
  packages/mux-video-react/package.json
  packages/mux-video-react/tsconfig.json
  packages/mux-video/package.json
  packages/mux-video/tsconfig.json
  packages/playback-core/package.json
  packages/playback-core/tsconfig.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore: Add release process detail (#588)
  README_INTERNAL.md
Due: none

chore: prove sprouted children + nextjs is ok for media-chrome web components.
  examples/nextjs-with-typescript/pages/media-chrome-sprouted.tsx
  examples/nextjs-with-typescript/public/vtt/bbb-en-cc.vtt
  examples/nextjs-with-typescript/public/vtt/elephantsdream/captions.ar.vtt
  examples/nextjs-with-typescript/public/vtt/elephantsdream/captions.en.vtt
  examples/nextjs-with-typescript/public/vtt/elephantsdream/captions.ja.vtt
  examples/nextjs-with-typescript/public/vtt/elephantsdream/captions.ru.vtt
  examples/nextjs-with-typescript/public/vtt/elephantsdream/captions.sv.vtt
  examples/nextjs-with-typescript/public/vtt/en-cc-bbb.vtt
  examples/nextjs-with-typescript/public/vtt/en-cc.vtt
  examples/nextjs-with-typescript/public/vtt/en-sub.vtt
  examples/nextjs-with-typescript/public/vtt/es-sub.vtt
  examples/nextjs-with-typescript/public/vtt/storyboard.vtt
Due: none

more real example with actual issue plus workaround
  examples/nextjs-with-typescript/pages/media-chrome-sprouted.tsx
Due: none

wip playback-core
  packages/playback-core/api-extractor.json
  packages/playback-core/etc/playback-core.api.md
  packages/playback-core/package.json
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/temp/playback-core.api.json
  packages/playback-core/temp/playback-core.api.md
  packages/playback-core/tsconfig.json
Due: playback-core

wip mux-video
  packages/mux-video/package.json
  packages/mux-video/tsconfig.json
Due: mux-video

wip mux-player
  packages/mux-player/src/media-chrome/dialog.ts
  packages/mux-player/src/media-chrome/time-display.ts
  packages/mux-player/tsconfig.json
Due: mux-player

add default export for mux-embed
  types/mux-embed.d.ts
Due: none

update playback-core
  packages/playback-core/package.json
Due: playback-core

update react packages
  packages/mux-audio-react/package.json
  packages/mux-uploader-react/package.json
  packages/mux-video-react/package.json
Due: mux-audio, mux-audio-react, mux-video, mux-video-react

mux-audio ref
  packages/mux-audio/package.json
  packages/mux-audio/src/index.ts
  packages/mux-audio/tsconfig.json
Due: mux-audio

mux-video shared-polyfills ref
  packages/mux-video/package.json
  packages/mux-video/src/index.ts
Due: mux-video

mux-player shared-polyfills
  packages/mux-player/package.json
  packages/mux-player/src/dialog.ts
  packages/mux-player/src/html.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/dialog.ts
  packages/mux-player/src/media-chrome/time-display.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/video-api.ts
Due: mux-player

mux-uploader shared-polyfills
  packages/mux-uploader/package.json
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader-progress.ts
  packages/mux-uploader/src/mux-uploader-retry.ts
  packages/mux-uploader/src/mux-uploader-sr-text.ts
  packages/mux-uploader/src/mux-uploader-status.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/tsconfig.json
Due: none

update mux-player-react
  packages/mux-player-react/package.json
  packages/mux-player-react/tsconfig.json
Due: mux-player, mux-player-react

playback-core api extractor
  packages/playback-core/api-extractor.json
  packages/playback-core/etc/playback-core.api.md
Due: playback-core

tsconfig updates
  packages/mux-audio-react/tsconfig.json
  packages/mux-elements-codemod/tsconfig.json
  packages/mux-uploader-react/tsconfig.json
  packages/mux-video-react/tsconfig.json
Due: mux-audio, mux-audio-react, mux-video, mux-video-react

remove api-extractor
  packages/playback-core/temp/playback-core.api.json
  packages/playback-core/temp/playback-core.api.md
Due: playback-core

update shared-polyfills types
  shared/polyfills/index.d.ts
Due: none

captions-selectmenu
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/styles.css
Due: mux-player

media-chrome canary with selectmenu
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

update parts and css vars in the example page
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player/src/media-theme-mux.html
Due: mux-player

update css var again
  packages/mux-player/src/media-theme-mux.html
Due: mux-player

remove button part from captions-selectmenu element
  packages/mux-player/src/media-theme-mux.html
Due: mux-player

update media-chrome
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

update <m-c>
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

apply z-index to the listbox directly as there isn't a part anymore
  packages/mux-player/src/media-theme-mux.html
Due: mux-player

skip tests
  packages/mux-player/test/player.test.js
Due: mux-player

fix: switch to media-captions-selectmenu (#595)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux.html
  packages/mux-player/src/styles.css
  packages/mux-player/test/player.test.js
  yarn.lock
Due: mux-player

Make the simple case simpler
  examples/vanilla-ts-esm/public/mux-uploader-simple.html
Due: none

Change button wording
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/test/file-select.test.js
Due: none

Add document polyfill
  packages/mux-uploader/src/mux-uploader.ts
Due: none

amient shared-polyfills module
  packages/mux-player/package.json
  types/shared-polyfills.d.ts
Due: mux-player

remove amient module from shared-polyfills
  shared/polyfills/index.d.ts
Due: none

update shared-polyfills
  types/shared-polyfills.d.ts
Due: none

update other packages based on shared-polyfills
  packages/mux-audio/package.json
  packages/mux-uploader/package.json
  packages/mux-video/package.json
Due: mux-audio, mux-video

remove /// reference in mux-player
  packages/mux-player/package.json
  packages/mux-player/src/dialog.ts
  packages/mux-player/src/html.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/dialog.ts
  packages/mux-player/src/media-chrome/time-display.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/video-api.ts
Due: mux-player

update polyfills
  shared/polyfills/README.md
  shared/polyfills/index.d.ts
  shared/polyfills/index.ts
  shared/polyfills/package.json
Due: none

copy polyfills into relevant modules
  .gitignore
  packages/mux-audio/package.json
  packages/mux-audio/src/CustomAudioElement.js
  packages/mux-audio/src/index.ts
  packages/mux-player/package.json
  packages/mux-player/src/dialog.ts
  packages/mux-player/src/html.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/dialog.ts
  packages/mux-player/src/media-chrome/time-display.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/video-api.ts
  packages/mux-uploader/package.json
  packages/mux-uploader/src/layouts/block.ts
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader-progress.ts
  packages/mux-uploader/src/mux-uploader-retry.ts
  packages/mux-uploader/src/mux-uploader-sr-text.ts
  packages/mux-uploader/src/mux-uploader-status.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-video/src/CustomVideoElement.js
  packages/mux-video/src/index.ts
Due: mux-audio, mux-player, mux-video

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
