Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

rendition selector style updates
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

bump MC to 1.3.0
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

bump mc again
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

option selected font weight
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

new icons and style tweaks
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

feat: 2023 Theme rendition selector (#751)
  packages/mux-player/package.json
  packages/mux-player/src/themes/2023/2023.html
  yarn.lock
Due: mux-player

fix: use Hls AUDIO_TRACKS_UPDATED event to prevent duplicate audio tracks from different groups
  examples/vanilla-ts-esm/public/mux-player-audio-tracks.html
  packages/playback-core/src/media-tracks.ts
Due: playback-core

feat: add audio track selectmenu
  packages/mux-player/package.json
  packages/mux-player/src/styles.css
  packages/mux-player/src/themes/classic/classic.html
  yarn.lock
Due: mux-player

feat: add audio track select menu (#750)
  examples/vanilla-ts-esm/public/mux-player-audio-tracks.html
  packages/mux-player/package.json
  packages/mux-player/src/styles.css
  packages/mux-player/src/themes/classic/classic.html
  packages/playback-core/src/media-tracks.ts
  yarn.lock
Due: mux-player, playback-core

optically center play button icon in centered controls
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

shift seek forward icon text
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

remove unused overridden css vars
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

tweak time range bar colour definitions
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

fix: quality switch on alt audio related https://github.com/video-dev/hls.js/issues/5749
  packages/playback-core/src/index.ts
  packages/playback-core/src/media-tracks.ts
Due: playback-core

fix(playback-core): Remove package.json type (defaults to CJS) for compliant package def.
  packages/playback-core/package.json
Due: playback-core

fix(playback-core): Remove package.json type (defaults to CJS) for co… (#755)
  packages/playback-core/package.json
Due: playback-core

fix: quality switch on alt audio (#754)
  packages/playback-core/src/index.ts
  packages/playback-core/src/media-tracks.ts
Due: playback-core

fix: upgrade media-chrome
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: remove unneeded CSS
  packages/mux-player/src/themes/2023/2023.html
  packages/mux-player/src/themes/classic/classic.html
Due: mux-player

chore: add audio-track-selectmenu css var
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

fix: unavailable state for audio track button (#756)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player/package.json
  packages/mux-player/src/themes/2023/2023.html
  packages/mux-player/src/themes/classic/classic.html
  yarn.lock
Due: mux-player

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

feat(mux-player): 2023 theme style updates and fixes (#753)
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

feat(mux-player-react): meaningless commit, forced minor version bump
  packages/mux-player-react/README.md
Due: mux-player, mux-player-react

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
Due: mux-player, mux-player-react

fix(mux-player): Adding MTA audio track selection to fancy new theme.
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

chore(mux-player-react): Cleanup for theme selection in next.js MuxPlayer demo page. Add 2023 theme as selection option.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

chore: MuxPlayer next.js demo - make sure deselect all from EnumMultiSelectRenderer does not cause RTEs.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

chore: MuxPlayer next.js page - add audio track css options.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

Fix/audio selectmenu 2023 theme (#757)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player/src/themes/2023/2023.html
Due: mux-player

fix(mux-player): Make sure to use the title as the default value for video_title in Mux Data appropriately.
  packages/mux-player/src/index.ts
Due: mux-player

fix(mux-player): Make sure to use the title as the default value for … (#758)
  packages/mux-player/src/index.ts
Due: mux-player

fix(playback-core): hls.js version bump. Only update audioTracks if there is more than one (for now). Less presumptuous videoRenditions existence.
  packages/playback-core/package.json
  packages/playback-core/src/media-tracks.ts
  yarn.lock
Due: playback-core

fix(mux-video): ensure mux (data) has been added to element before reading props from it.
  packages/mux-video/src/index.ts
Due: mux-video

chore: update dev dependency versions for mux-embed and hls.js for easier maintainability. version bump mux-embed.
  packages/mux-active-viewer-count/package.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-uploader/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  shared/test-esm-exports/package.json
  yarn.lock
Due: mux-audio, mux-player, mux-video, playback-core

Fix/mta ll hls bugs (#759)
  packages/mux-active-viewer-count/package.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-uploader/package.json
  packages/mux-video/package.json
  packages/mux-video/src/index.ts
  packages/playback-core/package.json
  packages/playback-core/src/media-tracks.ts
  shared/test-esm-exports/package.json
  yarn.lock
Due: mux-audio, mux-player, mux-video, playback-core

Publish
  packages/mux-active-viewer-count/CHANGELOG.md
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

add us some npm keywords
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

chore: Add NPM keywords (#760)
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

fix(mux-video): Make sure to reload/initialize core when (re)connecting to DOM.
  packages/mux-video/src/index.ts
Due: mux-video
