Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

chore: upgrade esbuild + add logging to JS api (#839)
  examples/vanilla-ts-esm/package.json
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-player/scripts/build-themes.mjs
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  scripts/esbuilder/esbuilder.js
  scripts/esbuilder/package.json
  shared/test-esm-exports/package.json
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: upgrade media-chrome v2 & castable-video v1
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/mux-video/src/index.ts
  yarn.lock
Due: mux-player, mux-video

fix: casting icon
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

chore: upgrade turbo
  package.json
  yarn.lock
Due: none

fix: upgrade media-chrome v2 & castable-video v1 (#840)
  package.json
  packages/mux-player/package.json
  packages/mux-player/src/themes/gerwig/gerwig.html
  packages/mux-video/package.json
  packages/mux-video/src/index.ts
  yarn.lock
Due: mux-player, mux-video

fix(mux-player): gerwig theme misapplying opt in controls selector.
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix: remove unneeded code fixes #830
  packages/mux-player/src/index.ts
Due: mux-player

fix(mux-player, mux-player-react): Fix audio only styling.
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix: scale down captions so not stick to sides
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

chore: Add defaultDuration to nextjs MuxPlayer demo page.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

feat(mux-player, mux-player-react): Add defaultDuration/default-duration support.
  packages/mux-player-react/src/index.tsx
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
  packages/mux-player/src/types.d.ts
Due: mux-player, mux-player-react

docs(mux-player, mux-player-react): Update reference docs for default-duration / defaultDuration.
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
Due: mux-player, mux-player-react

fix: remove unneeded captions movement code (#842)
  packages/mux-player/src/index.ts
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix: audio controls CSS
  examples/vanilla-ts-esm/public/mux-player-audio.html
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix: prevent CSS color being overridden internally
  packages/mux-player/src/index.ts
Due: mux-player

examples: remove unneeded cast framework script
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerLazy.tsx
  examples/nextjs-with-typescript/pages/mux-player.tsx
  examples/vanilla-ts-esm/public/mux-player-audio-tracks.html
  examples/vanilla-ts-esm/public/mux-player-audio.html
  examples/vanilla-ts-esm/public/mux-player-cuepoints.html
  examples/vanilla-ts-esm/public/mux-player-poster-slot.html
  examples/vanilla-ts-esm/public/mux-player-renditions.html
  examples/vanilla-ts-esm/public/mux-player-theme-classic.html
  examples/vanilla-ts-esm/public/mux-player-theme.html
  examples/vanilla-ts-esm/public/mux-player.html
Due: none

examples: remove unneeded cast framework script (#845)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerLazy.tsx
  examples/nextjs-with-typescript/pages/mux-player.tsx
  examples/vanilla-ts-esm/public/mux-player-audio-tracks.html
  examples/vanilla-ts-esm/public/mux-player-audio.html
  examples/vanilla-ts-esm/public/mux-player-cuepoints.html
  examples/vanilla-ts-esm/public/mux-player-poster-slot.html
  examples/vanilla-ts-esm/public/mux-player-renditions.html
  examples/vanilla-ts-esm/public/mux-player-theme-classic.html
  examples/vanilla-ts-esm/public/mux-player-theme.html
  examples/vanilla-ts-esm/public/mux-player.html
Due: none

feat(mux-player, mux-player-react): default duration (#844)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/classic/classic.html
  packages/mux-player/src/themes/gerwig/gerwig.html
  packages/mux-player/src/types.d.ts
Due: mux-player, mux-player-react

fix: audio controls CSS (#843)
  examples/vanilla-ts-esm/public/mux-player-audio.html
  packages/mux-player/src/index.ts
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

Publish
  packages/mux-active-viewer-count/CHANGELOG.md
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-elements-codemod/CHANGELOG.md
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: upgrade external deps, allow patches uniform
  packages/mux-active-viewer-count/package.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-uploader/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  shared/test-esm-exports/package.json
  yarn.lock
Due: mux-audio, mux-player, mux-video, playback-core

fix: start-time for live streams
  packages/mux-player/src/template.ts
  packages/playback-core/src/autoplay.ts
  packages/playback-core/src/index.ts
Due: mux-player, playback-core

fix: upgrade external deps, allow patches uniform (#850)
  packages/mux-active-viewer-count/package.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-uploader/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  shared/test-esm-exports/package.json
  yarn.lock
Due: mux-audio, mux-player, mux-video, playback-core

chore: upgrade Turbo
  package.json
  yarn.lock
Due: none

fix: esbuild warning, not reachable code
  packages/playback-core/src/util.ts
Due: playback-core

chore: add output log for dev scripts
  packages/mux-player/scripts/build-themes.mjs
  scripts/esbuilder/esbuilder.js
Due: mux-player

fix: target-live-window unneeded sprout fix #748
  examples/vanilla-ts-esm/public/mux-player-theme-classic.html
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/index.ts
Due: mux-player

fix: target-live-window unneeded sprout (#852)
  examples/vanilla-ts-esm/public/mux-player-theme-classic.html
  examples/vanilla-ts-esm/public/mux-player.html
  package.json
  packages/mux-player/scripts/build-themes.mjs
  packages/mux-player/src/index.ts
  packages/playback-core/src/util.ts
  scripts/esbuilder/esbuilder.js
  yarn.lock
Due: mux-player, playback-core

fix: media-tracks types not polluting global HTMLMediaElement
  packages/mux-player/tsconfig.json
  packages/mux-video/package.json
  packages/mux-video/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/tsconfig.json
  yarn.lock
Due: mux-player, mux-video, playback-core

fix: media-tracks types not polluting global HTMLMediaElement (#855)
  packages/mux-player/tsconfig.json
  packages/mux-video/package.json
  packages/mux-video/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/tsconfig.json
  yarn.lock
Due: mux-player, mux-video, playback-core

Correct unused or unlisted dependencies
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

fix: upgrade custom-media-element
  packages/mux-audio/package.json
  packages/mux-video/package.json
  yarn.lock
Due: mux-audio, mux-video

fix: upgrade custom-media-element (#858)
  packages/mux-audio/package.json
  packages/mux-video/package.json
  yarn.lock
Due: mux-audio, mux-video

Publish
  packages/mux-active-viewer-count/CHANGELOG.md
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix(mux-player): upgrade media chrome to fix subtitles selection edge cases.
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix(mux-player): upgrade media chrome to fix subtitles selection edge cases (#862)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
Due: mux-player, mux-player-react

test(playback-core): Account for browser-specific cases where they provide their own default error message in our error tests.
  packages/playback-core/test/index.test.js
Due: playback-core

test(playback-core): Account for browser-specific cases where they pr… (#866)
  packages/playback-core/test/index.test.js
Due: playback-core

fix(playback-core): Account for time discrepancies in hls.js transmuxing and potential gaps, resulting in stalls in last frag playback and no ended.
  packages/playback-core/src/index.ts
Due: playback-core
