Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore: fix var access
  scripts/publish.sh
Due: none

chore: fix jq version
  scripts/publish.sh
Due: none

chore: fix getting new version from yarn's version command
  scripts/publish.sh
Due: none

chore: update .nvmrc
  .nvmrc
Due: none

chore: run yarn version with --no-git-tag-version in dry-run mode
  scripts/publish.sh
Due: none

chore: add dry-run to canary
  scripts/publish.sh
Due: none

feat: add hotkeys blocklist integration
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

fix: streamType typescript issue
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

fix: when StreamType is any live, turn off arrow hotkeys
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

docs: add hotkeys to README
  packages/mux-player/README.md
Due: mux-player

fix: lowercase hotkeys property
  packages/mux-player/src/index.ts
Due: mux-player

fix: add hotkeys to mux-player-react types
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

chore: add hotkeys select to nextjs demo page
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

chore: add media-chrome canary for easier testing
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

docs: update hotkeys cases
  packages/mux-player/README.md
Due: mux-player

fix: re-import AttributeTokenList
  packages/mux-player/src/index.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

refactor: lowercase private property name
  packages/mux-player/src/index.ts
Due: mux-player

fix: add hotkeys to MuxPlayerProps type
  packages/mux-player/src/types.d.ts
Due: mux-player

chore: update to media-chrome@0.10.0
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

feat: Add hotkeys blocklist and turn off hotkey seeking when any live (#341)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player-react/src/index.tsx
  packages/mux-player/README.md
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  yarn.lock
Due: mux-player, mux-player-react

feat(mux-player): Add Media Chrome poster to player theme.
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
Due: mux-player

chore: fix mux-audio dev build
  packages/mux-audio/package.json
Due: mux-audio

chore: add esm builds to react packages
  packages/mux-audio-react/package.json
  packages/mux-player-react/package.json
  packages/mux-uploader-react/package.json
  packages/mux-video-react/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

chore: fix type watching and set preserve watch output
  packages/mux-audio-react/package.json
  packages/mux-audio-react/tsconfig.json
  packages/mux-audio/package.json
  packages/mux-audio/tsconfig.json
  packages/mux-elements-codemod/tsconfig.json
  packages/mux-player-react/package.json
  packages/mux-player-react/tsconfig.json
  packages/mux-player/package.json
  packages/mux-player/tsconfig.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader-react/tsconfig.json
  packages/mux-uploader/package.json
  packages/mux-uploader/tsconfig.json
  packages/mux-video-react/package.json
  packages/mux-video-react/tsconfig.json
  packages/mux-video/package.json
  packages/mux-video/tsconfig.json
  packages/playback-core/package.json
  packages/playback-core/tsconfig.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: polyfills mutating global
  packages/mux-audio/package.json
  packages/mux-audio/src/CustomAudioElement.js
  packages/mux-audio/src/index.ts
  packages/mux-player/package.json
  packages/mux-player/src/dialog.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/dialog.ts
  packages/mux-player/src/media-chrome/time-display.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/video-api.ts
  packages/mux-uploader/package.json
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-video/package.json
  packages/mux-video/src/CustomVideoElement.js
  packages/mux-video/src/index.ts
  packages/playback-core/package.json
  shared/castable-video/castable-video.js
  shared/polyfills/README.md
  shared/polyfills/index.js
  shared/polyfills/index.mjs
  shared/polyfills/package.json
  shared/polyfills/src/index.ts
  shared/polyfills/tsconfig.json
  shared/polyfills/window.js
Due: mux-audio, mux-player, mux-video, playback-core

fix: move @mux/polyfills to dev deps because this package is not published
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-uploader/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  packages/playback-core/src/index.ts
Due: mux-audio, mux-player, mux-video, playback-core

fix: make polyfills be bundled in
  packages/mux-audio/package.json
  packages/mux-audio/src/CustomAudioElement.js
  packages/mux-audio/src/index.ts
  packages/mux-player/package.json
  packages/mux-player/src/dialog.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/dialog.ts
  packages/mux-player/src/media-chrome/time-display.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/video-api.ts
  packages/mux-uploader/package.json
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-video/package.json
  packages/mux-video/src/CustomVideoElement.js
  packages/mux-video/src/index.ts
  packages/playback-core/package.json
  shared/castable-video/index.js
  shared/castable-video/index.mjs
  shared/castable-video/package.json
  shared/polyfills/README.md
  shared/polyfills/index.d.ts
  shared/polyfills/index.js
  shared/polyfills/package.json
  shared/polyfills/tsconfig.json
Due: mux-audio, mux-player, mux-video, playback-core

fix: polyfills mutating global (#355)
  packages/mux-audio/package.json
  packages/mux-audio/src/CustomAudioElement.js
  packages/mux-audio/src/index.ts
  packages/mux-player/package.json
  packages/mux-player/src/dialog.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/dialog.ts
  packages/mux-player/src/media-chrome/time-display.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/video-api.ts
  packages/mux-uploader/package.json
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-video/package.json
  packages/mux-video/src/CustomVideoElement.js
  packages/mux-video/src/index.ts
  packages/playback-core/package.json
  packages/playback-core/src/index.ts
  shared/castable-video/castable-video.js
  shared/castable-video/index.js
  shared/castable-video/index.mjs
  shared/castable-video/package.json
  shared/polyfills/README.md
  shared/polyfills/index.d.ts
  shared/polyfills/index.js
  shared/polyfills/index.mjs
  shared/polyfills/package.json
  shared/polyfills/window.js
Due: mux-audio, mux-player, mux-video, playback-core

feat(mux-player): Add title UI to Mux Player.
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

chore(mux-player, mux-player-react): Update nextjs player page to style audio vs. non-audio differently. Add UI for title.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/styles.css
Due: none

feat(mux-player-react): Add title type for MuxPlayer (react).
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

chore(mux-player): ignore lint rule.
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

fix(mux-player): Re-add poster to theme template (lost in rebase merge).
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

chore(mux-player): Add code comment on ad hoc temporary part mapping.
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

chore(mux-player): Add seek live css vars to controls customization list.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

fix(mux-player): Add font sizes to title for different permutations.
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
