Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

feat: add casting logic without cast-button (#237)
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/package.json
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/src/video-api.ts
  packages/mux-player/tsconfig.json
  packages/mux-video/src/CustomVideoElement.js
  shared/castable-video/castable-video.js
  shared/castable-video/index.js
  shared/castable-video/index.mjs
  shared/castable-video/package.json
  shared/polyfills/window.js
  yarn.lock
Due: mux-player, mux-video

fix: subtitles for M3U8 playlists
  shared/castable-video/castable-video.js
  shared/castable-video/package.json
Due: none

fix: loading new sources while casting
  shared/castable-video/castable-video.js
Due: none

fix: resume session on browser refresh / wifi
  shared/castable-video/castable-video.js
Due: none

feat: add cast-button and upgrade media chrome
  packages/mux-player/package.json
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  yarn.lock
Due: mux-player

fix: attempt fix loading spinner issue on Vercel
  shared/castable-video/castable-video.js
  shared/castable-video/package.json
Due: none

fix: DomException Timeranges bug
  packages/mux-player/src/helpers.ts
Due: mux-player

fix: resume session currentTime sync bug
  shared/castable-video/castable-video.js
Due: none

fix: weird bug resume success but media undefined
  shared/castable-video/castable-video.js
Due: none

fix: attrs not available in constructor
  packages/mux-player/src/index.ts
Due: mux-player

feat(mux-player): Add audio-only support. Update vanilla example for audio use case.
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
Due: mux-player

feat(mux-player): minor cleanup for audio only UI.
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

feat(mux-player-react): Add audio only. Cleanup StreamTypes source of truth.
  packages/mux-player-react/package.json
  packages/mux-player-react/src/index.tsx
Due: mux-player, mux-player-react

chore: Add audio only example to media-assets. Add audio only handling for nextjs MuxPlayer demo page.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  shared/assets/media-assets.json
Due: none

feat: subtitles for M3U8 playlists, resume session, add cast-button (#239)
  packages/mux-player/package.json
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  shared/castable-video/castable-video.js
  shared/castable-video/package.json
  yarn.lock
Due: mux-player

fix: attrs not available in constructor (#240)
  packages/mux-player/src/index.ts
Due: mux-player

fix: lower captions offset for safari
  packages/mux-player/src/index.ts
Due: mux-player

fix: don't shift captions on live, unless secondary color is set
  packages/mux-player/src/index.ts
Due: mux-player

fix: don't shift captions on iphones
  packages/mux-player/src/index.ts
Due: mux-player

chore: listen to 0.0.0.0 for vanilla dev build
  examples/vanilla-ts-esm/package.json
Due: none

refactor: use StreamTypes for checking stream type in captions movement logic
  packages/mux-player/src/index.ts
Due: mux-player

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: importing castable-video
  packages/mux-player/src/index.ts
  packages/mux-video/src/CustomVideoElement.js
  shared/castable-video/package.json
Due: mux-player, mux-video

Publish
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
Due: mux-player, mux-player-react, mux-video

ci: add canary deploy
  .github/workflows/ci.yml
  package.json
Due: none

ci: add registry-url
  .github/workflows/ci.yml
Due: none

ci: add canary deploy (#243)
  .github/workflows/ci.yml
  package.json
Due: none

fix(mux-player): Update theme css to better account for audio vs. non-audio styling.
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

chore: Adding color pickers for primary & secondary colors to nextjs MuxPlayer page.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
