Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

tools: upgrade Svelte kit
  examples/svelte-kit/package.json
  yarn.lock
Due: none

tools: fix svelte kit used a new command in Vercel cd ../../ && yarn build --filter 'demo-svelte-kit-with-typescript'
  examples/svelte-kit/package.json
  examples/svelte-kit/src/hooks.server.ts
  examples/svelte-kit/src/lib/header/Header.svelte
  examples/svelte-kit/svelte.config.js
  yarn.lock
Due: none

tools: upgrade tslib
  examples/svelte-kit/package.json
  yarn.lock
Due: none

tools: add @sveltejs/adapter-vercel
  examples/svelte-kit/package.json
  yarn.lock
Due: none

tools: use @sveltejs/adapter-vercel
  examples/svelte-kit/package.json
  examples/svelte-kit/svelte.config.js
  yarn.lock
Due: none

tools: add .vercel folder to Turbo cache related https://github.com/vercel/turbo/issues/1123
  turbo.json
Due: none

Addressing ts errors (#526)
  packages/mux-uploader/src/index.ts
Due: none

chore: allow Node v18.12.0 LTS w/ NPM v8.19.2
  package.json
Due: none

fix: MuxVideoReact memory leak
  packages/mux-video-react/src/index.tsx
Due: mux-video, mux-video-react

fix: MuxAudioReact mem leak
  packages/mux-audio-react/src/index.tsx
Due: mux-audio, mux-audio-react

chore: remove unneeded NPM version
  package.json
Due: none

Add basic init test
  packages/mux-uploader/test/uploader.test.js
Due: none

Remove outdated comment
  packages/mux-uploader/test/uploader.test.js
Due: none

Add sinon
  packages/mux-uploader/package.json
  yarn.lock
Due: none

Increase timeout
  packages/mux-uploader/test/web-test-runner.config.mjs
Due: none

Attempting to mock server
  packages/mux-uploader/test/uploader.test.js
Due: none

chore: read node version from nvmrc for workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

chore: read node version from nvmrc for workflows (#537)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

chore: update to node 18.12.1 in nvmrc
  .nvmrc
Due: none

chore: update downlevel-dts
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore: update yarn.lock dependencies
  yarn.lock
Due: none

chore: fix ts type error
  packages/mux-player-react/src/common/utils.ts
  packages/mux-uploader-react/src/common/utils.ts
  packages/playback-core/src/types.ts
Due: mux-player, mux-player-react, playback-core

chore: upgrade @types/node
  examples/create-react-app-with-typescript/package.json
  examples/vue-with-typescript/package.json
  yarn.lock
Due: none

chore: update all typescript to the same version
  examples/create-react-app-with-typescript/package.json
  examples/svelte-kit/package.json
  examples/vanilla-ts-esm/package.json
  examples/vue-with-typescript/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore: align isKeyOf across files
  packages/playback-core/src/types.ts
Due: playback-core

mock server without sinon
  packages/mux-uploader/package.json
  packages/mux-uploader/test/uploader.test.js
  packages/mux-uploader/test/web-test-runner.config.mjs
  yarn.lock
Due: none

Add coverage for mux-uploader-drop
  packages/mux-uploader/test/uploader-drop.test.js
Due: none

Rename middleware
  packages/mux-uploader/test/web-test-runner.config.mjs
Due: none

chore: fix linting
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/index.ts
Due: mux-audio, mux-audio-react, mux-video, mux-video-react

chore: update typescript-eslint
  examples/svelte-kit/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-video, mux-video-react, playback-core

Revert "chore: align isKeyOf across files"
  packages/playback-core/src/types.ts
Due: playback-core

Ensure no endpoint fails
  packages/mux-uploader/test/uploader.test.js
Due: none

Revert "Revert "chore: align isKeyOf across files""
  packages/playback-core/src/types.ts
Due: playback-core

ignore @typescript-eslint/ban-types
  packages/playback-core/src/types.ts
Due: playback-core

chore: update node version and some relevant dependencies (#538)
  .nvmrc
  examples/create-react-app-with-typescript/package.json
  examples/svelte-kit/package.json
  examples/vanilla-ts-esm/package.json
  examples/vue-with-typescript/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/package.json
  packages/mux-audio/src/index.ts
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-player-react/src/common/utils.ts
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader-react/src/common/utils.ts
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video-react/src/index.tsx
  packages/mux-video/package.json
  packages/mux-video/src/index.ts
  packages/playback-core/package.json
  packages/playback-core/src/types.ts
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

Add notes
  packages/mux-uploader/test/uploader.test.js
  packages/mux-uploader/test/web-test-runner.config.mjs
Due: none

test(mux-uploader): add basic init test (#536)
  packages/mux-uploader/test/uploader-drop.test.js
  packages/mux-uploader/test/uploader.test.js
  packages/mux-uploader/test/web-test-runner.config.mjs
Due: none

Update dev watch scripts
  packages/mux-uploader/package.json
Due: none

Break progress indicator out to own component
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/progress-indicator.ts
Due: none

Refactoring module loading
  packages/mux-uploader/src/constants.ts
  packages/mux-uploader/src/index.ts
  packages/mux-uploader/src/mux-uploader.ts
  packages/mux-uploader/src/progress-indicator.ts
  packages/mux-uploader/test/progress-indicator.test.js
  packages/mux-uploader/test/uploader.test.js
Due: none
