Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

feat: add errorTranslator prop & muxVideo.error property (#195)
  packages/mux-player/src/errors.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/logger.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.d.ts
  packages/mux-player/src/utils.ts
  packages/mux-video/src/index.ts
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
  scripts/i18n-utils/i18n-utils.js
  types/mux.d.ts
Due: mux-player, mux-video, playback-core

test: fix timeout issue of test
  packages/mux-player/test/errors.test.js
  packages/mux-player/test/player.test.js
  packages/mux-video/test/player.test.js
Due: mux-player, mux-video

fix: fix preload=metadata failing to load video
  packages/playback-core/src/index.ts
Due: playback-core

fix: custom video events handling (#203)
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-audio/package.json
  packages/mux-audio/src/CustomAudioElement.d.ts
  packages/mux-audio/src/CustomAudioElement.js
  packages/mux-audio/src/index.ts
  packages/mux-audio/test/player.test.js
  packages/mux-player/src/index.ts
  packages/mux-player/src/video-api.ts
  packages/mux-player/test/errors.test.js
  packages/mux-player/test/player.test.js
  packages/mux-video/package.json
  packages/mux-video/src/CustomVideoElement.d.ts
  packages/mux-video/src/CustomVideoElement.js
  packages/mux-video/src/index.ts
  packages/mux-video/test/player.test.js
Due: mux-audio, mux-player, mux-video

fix: preload=metadata with autoplay
  packages/playback-core/src/index.ts
Due: playback-core

fix: live autoplay with preload=metadata should wait for new data
  packages/playback-core/src/autoplay.ts
Due: playback-core

fix: playback core should handle seek to live on first play
  packages/mux-player/src/index.ts
  packages/mux-player/test/player.test.js
Due: mux-player

chore: Update yarn.lock
  yarn.lock
Due: none

chore: upgrade mc 0.6.1
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

Publish
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: fullscreen controls layout
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/index.ts
Due: mux-player

fix: move hasPlayed into mux-player
  packages/mux-player/src/index.ts
  packages/mux-player/src/video-api.ts
Due: mux-player

test: make seek to live play button test work
  packages/mux-player/test/player.test.js
Due: mux-player

test: lower timeout back to previous levels
  packages/mux-player/test/player.test.js
Due: mux-player

refactor: switch to an event from interval for seek to live on first play
  packages/playback-core/src/autoplay.ts
Due: playback-core

chore: Start upgrading CRA to latest.
  examples/create-react-app-with-typescript/README.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app-with-typescript/tsconfig.json
  examples/create-react-app-with-typescript/yarn.lock
  examples/nextjs-with-typescript/next-env.d.ts
  yarn.lock
Due: none

fix: fullscreen controls layout (#208)
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/index.ts
Due: mux-player

fix: only seek to live on first play for non-native hls
  packages/playback-core/src/autoplay.ts
Due: playback-core

fix: make sure we only seek with a finite number
  packages/playback-core/src/autoplay.ts
Due: playback-core

fix: clear state on other src related attrs
  packages/mux-player/src/index.ts
  packages/mux-player/test/player.test.js
Due: mux-player

fix: playback-core initialize() running 3 times on player load instead of 1
  packages/mux-audio/src/CustomAudioElement.js
  packages/mux-audio/src/index.ts
  packages/mux-video/src/CustomVideoElement.js
  packages/mux-video/src/index.ts
Due: mux-audio, mux-video

fix: delay load media to allow prop updates
  packages/mux-audio/src/CustomAudioElement.js
  packages/mux-audio/src/index.ts
  packages/mux-player/README.md
  packages/mux-player/src/video-api.ts
  packages/mux-video/src/CustomVideoElement.js
  packages/mux-video/src/index.ts
Due: mux-audio, mux-player, mux-video

test: add more async source tests
  packages/mux-audio/test/player.test.js
  packages/mux-video/test/player.test.js
Due: mux-audio, mux-video

fix: fresh src value for mux-audio and mux-video
  packages/mux-audio/src/index.ts
  packages/mux-video/src/index.ts
Due: mux-audio, mux-video

fix: fix 3x init of playback-core if `src` used
  packages/mux-audio/src/CustomAudioElement.js
  packages/mux-audio/src/index.ts
  packages/mux-video/src/CustomVideoElement.js
  packages/mux-video/src/index.ts
Due: mux-audio, mux-video

fix: put progress bar above controls
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
Due: mux-player

fix: fix 3x init of playback-core if `src` used (#213)
  packages/mux-audio/src/CustomAudioElement.js
  packages/mux-audio/src/index.ts
  packages/mux-video/src/CustomVideoElement.js
  packages/mux-video/src/index.ts
Due: mux-audio, mux-video

chore: fix secondary-color, right spacing
  examples/vanilla-ts-esm/public/mux-player.html
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/media-theme-mux/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/src/utils.ts
Due: mux-player

chore: fix eslint warn
  packages/mux-player/src/helpers.ts
Due: mux-player

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
