Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

chore: move autoplay types
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: playback-core

chore: move type helper to types file
  packages/playback-core/src/types.ts
  packages/playback-core/src/util.ts
Due: playback-core

chore: add type keyword
  packages/playback-core/src/index.ts
  packages/playback-core/src/util.ts
Due: playback-core

fix: preload for mux-audio, add tests
  packages/mux-audio/src/index.ts
  packages/mux-audio/test/player.test.js
  packages/mux-video/src/index.ts
  packages/playback-core/test/web-test-runner.config.mjs
Due: mux-audio, mux-video, playback-core

tools: eslint update
  packages/.eslintrc.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  shared/castable-video/package.json
  shared/polyfills/package.json
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-video, mux-video-react, playback-core

tools: eslint update (#428)
  packages/.eslintrc.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  shared/castable-video/package.json
  shared/polyfills/package.json
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-video, mux-video-react, playback-core

BREAKING CHANGE: move error setup to separate file
  packages/mux-video/src/index.ts
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/tracks.ts
  packages/playback-core/src/types.ts
  packages/playback-core/test/player.test.js
Due: mux-video, playback-core

fix: move startTime logic to file, remove weakmap
  examples/nextjs-with-typescript/pages/mux-video.tsx
  packages/playback-core/src/index.ts
  packages/playback-core/src/start-time.ts
Due: playback-core

fix: move loading to preload file
  packages/playback-core/src/index.ts
  packages/playback-core/src/preload.ts
Due: playback-core

fix: default preload prop browser WC bug
  packages/mux-player/src/video-api.ts
Due: mux-player

tools: improve turborepo filter ability
  package.json
  turbo.json
Due: none

tools: remove arg separator -- turbo don't need
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

tools: cleanup, exclude build:types for yarn test
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  turbo.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

Support for relative paths
  packages/playback-core/src/index.ts
Due: playback-core

tools: improve turborepo filter ability (#431)
  package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  turbo.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

tools: fix uploader types
  packages/mux-uploader/package.json
Due: none

fix: playback-id or src nil value
  packages/mux-player/src/index.ts
  packages/mux-player/test/player.test.js
Due: mux-player

fix: put back property same value gating
  packages/mux-player/src/index.ts
Due: mux-player

tools: fix uploader types (#434)
  packages/mux-uploader/package.json
Due: none

fix: playback-id or src nil value (#430)
  packages/mux-player/src/index.ts
  packages/mux-player/test/player.test.js
Due: mux-player

fix: turbo build clean bug
  turbo.json
Due: none

ci: add explicit clean task
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

fix: turbo build clean bug (#436)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  turbo.json
Due: none

Add viewport option to mux player lazy
  packages/mux-player-react/src/ConditionalSuspense.tsx
  packages/mux-player-react/src/Spinner.tsx
  packages/mux-player-react/src/lazy.tsx
  packages/mux-player-react/src/useIsIntersecting.ts
Due: mux-player, mux-player-react

Enable --splitting flag for esm
  packages/mux-player-react/package.json
Due: mux-player, mux-player-react

Spin spinner back into lazy
  packages/mux-player-react/src/Spinner.tsx
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

Make onIntersection optional
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

fix: disable all controls when the dialog is open
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
  packages/mux-player/src/template.ts
  packages/mux-player/test/template.test.js
Due: mux-player

fix: swap title property setting
  packages/mux-player/src/index.ts
Due: mux-player

WIP chrome workaround #2
  packages/mux-player/src/index.ts
Due: mux-player

swap to rAF
  packages/mux-player/src/index.ts
Due: mux-player

no need for raf
  packages/mux-player/src/index.ts
Due: mux-player

fix: preload property in mux-player
  examples/nextjs-with-typescript/pages/mux-video.tsx
  examples/nextjs-with-typescript/styles.css
  packages/mux-player/src/index.ts
  packages/mux-player/src/video-api.ts
  packages/mux-player/test/player.test.js
  packages/playback-core/test/player.test.js
Due: mux-player, playback-core

test: use default preload from video element
  packages/mux-player/test/player.test.js
Due: mux-player

fix: use CSS.registerProperty on vars to declare them as colors
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

ignore types
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

Don't fail on relative paths (#432)
  packages/playback-core/src/index.ts
Due: playback-core

fix: use CSS.registerProperty on vars to declare them as colors (#441)
  packages/mux-player/src/media-theme-mux/media-theme-mux.ts
Due: mux-player

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
