Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

build(playback-core): attempt to refactor esbuilder et al. to work for playback-core lang crud.
  packages/playback-core/package.json
  packages/playback-core/src/util.ts
  packages/playback-core/tsconfig.json
  scripts/esbuilder/esbuilder.js
Due: playback-core

fix(playback-core): Cleanup error categories.
  packages/playback-core/src/index.ts
Due: playback-core

feat(playback-core): Update native fairplay DRM impl to translate equivalent error cases consistent with hls.js error monitoring and translation.
  packages/playback-core/src/index.ts
Due: playback-core

feat(playback-core): Add equivalent error translation for native DRM as hls.js translations.
  packages/playback-core/src/index.ts
Due: playback-core

feat(mux-player): Update error dialog cases to work for multiple categories. Update tests.
  packages/mux-player/src/errors.ts
  packages/mux-player/src/index.ts
  packages/mux-player/test/errors.test.js
Due: mux-player

chore(mux-player): remove vestigial i18n lang crud from mux-player.
  packages/mux-player/lang/en.json
  packages/mux-player/lang/nl.json
  packages/mux-player/src/utils.ts
Due: mux-player

chore(mux-player): remove console.error (was for testing).
  packages/mux-player/src/index.ts
Due: mux-player

feat(playback-core): Add en lang.json file.
  packages/playback-core/lang/en.json
Due: playback-core

chore: formatting.
  scripts/create-release-notes/create-release-notes.js
Due: none

Add a test for rendering
  packages/mux-player/test/player.test.js
Due: mux-player

fix(playback-core): Edge case where errors would not surface for invalid src.
  packages/playback-core/src/index.ts
  packages/playback-core/test/index.test.js
Due: playback-core

feat(playback-core): error handling rearchitecture (including more granular and DRM error cases)
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-player/lang/en.json
  packages/mux-player/lang/nl.json
  packages/mux-player/src/errors.ts
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/logger.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/utils.ts
  packages/mux-player/test/errors.test.js
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/index.ts
  packages/playback-core/lang/en.json
  packages/playback-core/package.json
  packages/playback-core/src/errors.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/request-errors.ts
  packages/playback-core/src/types.ts
  packages/playback-core/src/util.ts
  packages/playback-core/test/errors.test.js
  packages/playback-core/test/index.test.js
  packages/playback-core/test/util.test.js
  packages/playback-core/tsconfig.json
  scripts/create-release-notes/create-release-notes.js
  scripts/esbuilder/esbuilder.js
Due: mux-audio, mux-audio-react, mux-player, mux-video, mux-video-react, playback-core

fix(playback-core): Handle cases where subs or cc media playlist is default (based on hls.js assumptions).
  packages/playback-core/src/text-tracks.ts
Due: playback-core

fix(playback-core): Account for same naming woes when switching or toggling subs or CCs.
  packages/playback-core/src/text-tracks.ts
Due: playback-core

fix(playback-core): use a better 'source of truth' for hlsTrackId identification when tracks change.
  packages/playback-core/src/text-tracks.ts
Due: playback-core

fix(playback-core): Handle cases where subs or cc media playlist is default (based on hls.js assumptions). (#997)
  packages/playback-core/src/text-tracks.ts
Due: playback-core

fix: chapters disappearing after preload none
  packages/playback-core/src/text-tracks.ts
Due: playback-core

Update packages/playback-core/src/text-tracks.ts
  packages/playback-core/src/text-tracks.ts
Due: playback-core

fix: chapters disappearing after preload none (#998)
  packages/playback-core/src/text-tracks.ts
Due: playback-core

fix: menu CSS vars to hide menu button
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

fix: upgrade Media Chrome 4.1.5
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: menu CSS vars to hide menu button (#999)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-player/package.json
  packages/mux-player/src/styles.css
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/gerwig/gerwig.html
  yarn.lock
Due: mux-player

chore: Add support for complex object updates to nextjs MuxPlayer page state.
  examples/nextjs-with-typescript/app/page-state/index.ts
Due: none

chore: Handle complex objects (depth=1) in state mgmt architecture and renderers. Add preferPlayback and all tokens to UI state renderers.
  examples/nextjs-with-typescript/components/renderers.tsx
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

chore: nextjs mux player improvements (#1000)
  examples/nextjs-with-typescript/app/page-state/index.ts
  examples/nextjs-with-typescript/components/renderers.tsx
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
Due: none

test(mux-player): Basic POC and impl for web-test-runner + SauceLabs.
  packages/mux-player/package.json
  packages/mux-player/test/web-test-runner.saucelabs.config.mjs
  yarn.lock
Due: mux-player

build: add sauce labs creds to GHA yamls for tests.
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

test(mux-player): Add saucelabs testing to default test npm script. Early exit process if no saucelabs creds found.
  packages/mux-player/package.json
  packages/mux-player/test/web-test-runner.saucelabs.config.mjs
Due: mux-player

build: round 3 attempt to get env vars passed on GHAs.
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

build: refactor GHA for env var pickup. Cleanup Sauce Labs exit status cases.
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  packages/mux-player/test/web-test-runner.saucelabs.config.mjs
Due: mux-player

build: github failing on GHA env.
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

test changes only (DO NOT MERGE)
  .github/workflows/ci.yml
  packages/mux-player/test/web-test-runner.saucelabs.config.mjs
Due: mux-player

test(mux-player): back out GHA sauce labs integration changes.
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  packages/mux-player/package.json
  packages/mux-player/test/web-test-runner.saucelabs.config.mjs
Due: mux-player

test(mux-player): minor tweaks to tests to improve reliability.
  packages/mux-player/test/player.test.js
Due: mux-player

fix: upgrade Media Chrome v4.2.1
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

feat(playback-core, mux-video, mux-audio, mux-video-react, mux-audio-react, mux-player, mux-player-react): Add asset start and end time props and attrs.
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/index.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: upgrade Media Chrome v4.2.1 (#1001)
  packages/mux-player/package.json
  yarn.lock
Due: mux-player

fix: CRA homepage link
  examples/create-react-app-with-typescript/package.json
Due: none

feat(playback-core, mux-video, mux-audio, mux-video-react, mux-audio-react, mux-player, mux-player-react): Add asset start and end time props and attrs. (#1002)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/index.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core
