Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

more typescriptrobatics.
  packages/mux-video/src/google-ima-html5-sdk.ts
Due: mux-video

cleanup ad break code.
  packages/mux-video/src/google-ima-video-element-mixin.ts
Due: mux-video

basic autoplay and ready state for ads
  packages/mux-video/src/google-ima-video-element-mixin.ts
Due: mux-video

basic postroll impl
  packages/mux-video/src/google-ima-video-element-mixin.ts
Due: mux-video

ad state and various cleanups.
  packages/mux-video/src/google-ima-video-element-mixin.ts
Due: mux-video

prove out mux player ad-specific UI.
  packages/mux-player/src/index.ts
  packages/mux-player/src/media-chrome/ads/media-ad-count-display.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/themes/gerwig/gerwig.html
  packages/mux-player/src/types.d.ts
Due: mux-player

update vanilla ads example to demo new UI.
  examples/vanilla-ts-esm/public/mux-player-google-ima.html
Due: none

add resizing logic for IMA crud.
  packages/mux-player/src/index.ts
  packages/mux-video/src/google-ima-video-element-mixin.ts
  packages/mux-video/src/resize-observer.ts
Due: mux-player, mux-video

fix linting errors
  packages/mux-video/src/google-ima-video-element-mixin.ts
Due: mux-video

force exit pip on ad play.
  packages/mux-player/src/index.ts
  packages/mux-player/src/themes/gerwig/gerwig.html
  packages/mux-video/src/google-ima-video-element-mixin.ts
Due: mux-player, mux-video

account for user active+inactive (NOTE: Needs followup for ad clicks).
  packages/mux-player/src/index.ts
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

more acrobatics for different playback scenarios
  packages/mux-player/src/themes/gerwig/gerwig.html
  packages/mux-video/src/google-ima-video-element-mixin.ts
Due: mux-player, mux-video

bug fix for ad counter.
  packages/mux-video/src/google-ima-video-element-mixin.ts
Due: mux-video

for now no autohide of any controls during adbreak.
  packages/mux-player/src/themes/gerwig/gerwig.html
Due: mux-player

minor cleanup
  examples/vanilla-ts-esm/public/mux-player-google-ima.html
  packages/mux-video/src/google-ima-video-element-mixin.ts
Due: mux-video

general cleanup using more official APIs instead of data structures.
  packages/mux-video/src/google-ima-html5-sdk.ts
  packages/mux-video/src/google-ima-video-element-mixin.ts
Due: mux-video

minor improvements for ad state and state change events.
  packages/mux-video/src/google-ima-video-element-mixin.ts
Due: mux-video

update example for preroll + MSE (iPhone problem case validation)
  examples/vanilla-ts-esm/public/mux-player-google-ima.html
Due: none

tools: add more internal deps
  .github/dependabot.yml
Due: none

tools: add more internal deps (#1083)
  .github/dependabot.yml
Due: none

tools: replace yarn v1 with NPM
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  README_INTERNAL.md
  examples/create-react-app-with-typescript/package.json
  examples/vanilla-ts-esm/package.json
  package-lock.json
  package.json
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-elements-codemod/src/index.ts
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  scripts/esbuilder/esbuilder.js
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

tools: fix lint
  package-lock.json
  package.json
Due: none

test: skip failing audio test
  packages/mux-audio/test/player.test.js
  packages/mux-video/test/index.test.js
Due: mux-audio, mux-video

test: use fixed playwright
  package-lock.json
  package.json
Due: none

tools: replace yarn v1 with NPM (#1085)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  README_INTERNAL.md
  examples/create-react-app-with-typescript/package.json
  examples/vanilla-ts-esm/package.json
  package-lock.json
  package.json
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-audio/test/player.test.js
  packages/mux-elements-codemod/package.json
  packages/mux-elements-codemod/src/index.ts
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/mux-video/test/index.test.js
  packages/playback-core/package.json
  scripts/esbuilder/esbuilder.js
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

example: remove deprecated CRA example
  examples/create-react-app-with-typescript/.gitignore
  examples/create-react-app-with-typescript/README.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app-with-typescript/public/favicon.ico
  examples/create-react-app-with-typescript/public/images/github-logo.svg
  examples/create-react-app-with-typescript/public/index.html
  examples/create-react-app-with-typescript/public/logo192.png
  examples/create-react-app-with-typescript/public/logo512.png
  examples/create-react-app-with-typescript/public/manifest.json
  examples/create-react-app-with-typescript/public/robots.txt
  examples/create-react-app-with-typescript/src/App.css
  examples/create-react-app-with-typescript/src/App.test.tsx
  examples/create-react-app-with-typescript/src/App.tsx
  examples/create-react-app-with-typescript/src/index.css
  examples/create-react-app-with-typescript/src/index.tsx
  examples/create-react-app-with-typescript/src/pages/MuxAudio.tsx
  examples/create-react-app-with-typescript/src/pages/MuxPlayer.tsx
  examples/create-react-app-with-typescript/src/pages/MuxPlayerLazy.tsx
  examples/create-react-app-with-typescript/src/pages/MuxUploader.tsx
  examples/create-react-app-with-typescript/src/pages/MuxVideo.tsx
  examples/create-react-app-with-typescript/src/pages/index.tsx
  examples/create-react-app-with-typescript/src/react-app-env.d.ts
  examples/create-react-app-with-typescript/src/reportWebVitals.ts
  examples/create-react-app-with-typescript/src/setupTests.ts
  examples/create-react-app-with-typescript/tsconfig.json
  package-lock.json
Due: none

example: remove deprecated CRA example (#1086)
  examples/create-react-app-with-typescript/.gitignore
  examples/create-react-app-with-typescript/README.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app-with-typescript/public/favicon.ico
  examples/create-react-app-with-typescript/public/images/github-logo.svg
  examples/create-react-app-with-typescript/public/index.html
  examples/create-react-app-with-typescript/public/logo192.png
  examples/create-react-app-with-typescript/public/logo512.png
  examples/create-react-app-with-typescript/public/manifest.json
  examples/create-react-app-with-typescript/public/robots.txt
  examples/create-react-app-with-typescript/src/App.css
  examples/create-react-app-with-typescript/src/App.test.tsx
  examples/create-react-app-with-typescript/src/App.tsx
  examples/create-react-app-with-typescript/src/index.css
  examples/create-react-app-with-typescript/src/index.tsx
  examples/create-react-app-with-typescript/src/pages/MuxAudio.tsx
  examples/create-react-app-with-typescript/src/pages/MuxPlayer.tsx
  examples/create-react-app-with-typescript/src/pages/MuxPlayerLazy.tsx
  examples/create-react-app-with-typescript/src/pages/MuxUploader.tsx
  examples/create-react-app-with-typescript/src/pages/MuxVideo.tsx
  examples/create-react-app-with-typescript/src/pages/index.tsx
  examples/create-react-app-with-typescript/src/react-app-env.d.ts
  examples/create-react-app-with-typescript/src/reportWebVitals.ts
  examples/create-react-app-with-typescript/src/setupTests.ts
  examples/create-react-app-with-typescript/tsconfig.json
  package-lock.json
Due: none

fix: upgrade dependencies (castable-video, ...)
  examples/vanilla-ts-esm/package.json
  package-lock.json
  package.json
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  scripts/esbuilder/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: upgrade dependencies (castable-video, ...) (#1087)
  examples/vanilla-ts-esm/package.json
  package-lock.json
  package.json
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-elements-codemod/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  scripts/esbuilder/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix(playback-core): Remove redundant FPS DRM generateRequest() for native playback.
  packages/playback-core/src/index.ts
Due: playback-core

fix(playback-core): Remove redundant FPS DRM generateRequest() for native playback. (#1088)
  packages/playback-core/src/index.ts
Due: playback-core

feat:Add optional Mux Logo to <mux-video>
  examples/svelte-kit/src/routes/mux-video/+page.svelte
  packages/mux-video/src/index.ts
Due: mux-video

build: Make CD github action look more like CI github action for tests (uses playwright and retries). This is to avoid painful consequences of failures wrt release-me side effects.
  .github/workflows/cd.yml
Due: none

build: Make CD github action look more like CI github action for tests (uses playwright and retries). (#1092)
  .github/workflows/cd.yml
Due: none

fix: upgrade media-chrome
  package-lock.json
  packages/mux-player/package.json
Due: mux-player

test: add if condition for running release steps
  .github/workflows/cd.yml
Due: none

fix: upgrade media-chrome (#1094)
  package-lock.json
  packages/mux-player/package.json
Due: mux-player

pr fixes, add logo in svg
  examples/svelte-kit/src/routes/mux-video/+page.svelte
  packages/mux-video/src/assets/muxLogo.ts
  packages/mux-video/src/index.ts
Due: mux-video
