Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

Added disable cap level option
  packages/mux-player/src/base.ts
  packages/mux-video/src/base.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-player, mux-video, playback-core

generate storyboard URL after stream type is determined, avoiding Safari issues using MSE & on-demand
  packages/mux-player/src/base.ts
Due: mux-player

Fix default-hidden-captions handling for native HLS by disabling tracks on add
  packages/mux-player/src/base.ts
Due: mux-player

restore turbo
  turbo.json
Due: none

simplified workaround
  packages/mux-player/src/base.ts
Due: mux-player

remove line
  packages/mux-player/src/base.ts
Due: mux-player

fix: avoid prerender errors caused by date access (#1226)
  packages/playback-core/src/index.ts
Due: playback-core

fix test
  packages/mux-player/src/base.ts
Due: mux-player

fix storyboard tests and type errors
  packages/mux-audio/src/index.ts
  packages/mux-player/src/base.ts
  packages/mux-player/test/player.test.js
  packages/mux-video/src/base.ts
Due: mux-audio, mux-player, mux-video

remove return on getter and revert test changes
  packages/mux-player/src/base.ts
  packages/mux-player/test/player.test.js
Due: mux-player

remove lines
  packages/mux-player/test/player.test.js
Due: mux-player

remove hasLoaded flag and use media's currentSrc instead
  packages/mux-player/src/base.ts
Due: mux-player

fix: Resolve infinite loading state in Safari with MSE and on-demand stream type (#1257)
  packages/mux-audio/src/index.ts
  packages/mux-player/src/base.ts
  packages/mux-player/test/player.test.js
  packages/mux-video/src/base.ts
Due: mux-audio, mux-player, mux-video

Reworked enabled/disabled logic
  examples/nextjs-with-typescript/pages/mux-video-react.tsx
  packages/mux-player/src/base.ts
  packages/mux-video/src/base.ts
  packages/playback-core/src/index.ts
Due: mux-player, mux-video, playback-core

Fixes for vanilla cases
  packages/mux-player/src/base.ts
  packages/mux-video/src/base.ts
Due: mux-player, mux-video

Code cleanup and added docs
  examples/nextjs-with-typescript/components/renderers.tsx
  examples/nextjs-with-typescript/pages/mux-player.tsx
  examples/nextjs-with-typescript/pages/mux-video-react.tsx
  packages/mux-player-react/src/lazy.tsx
  packages/mux-player/src/base.ts
  packages/mux-player/src/template.ts
  packages/mux-video/src/ads/react.ts
  packages/mux-video/src/base.ts
  packages/mux-video/src/react.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-player, mux-player-react, mux-video, playback-core

feat(playback-core, mux-video, mux-video-react, mux-player, mux-player-react): clean up of rendition capping
  examples/nextjs-with-typescript/components/renderers.tsx
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/mux-player.tsx
  examples/nextjs-with-typescript/pages/mux-video-react.tsx
  packages/mux-player-react/src/lazy.tsx
  packages/mux-player/src/base.ts
  packages/mux-player/src/template.ts
  packages/mux-player/test/player.test.js
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/base.ts
  packages/mux-video/test/index.test.js
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/test/index.test.js
Due: mux-player, mux-player-react, mux-video, mux-video-react, playback-core

docs: update docs for capLevelToPlayerSize
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
  packages/mux-video-react/README.md
  packages/mux-video/README.md
Due: mux-player, mux-player-react, mux-video, mux-video-react

chore: rename prop to capRenditionToPlayerSize based on PR feedback
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/mux-player.tsx
  examples/nextjs-with-typescript/pages/mux-video-react.tsx
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/lazy.tsx
  packages/mux-player-react/src/types.ts
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/base.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.ts
  packages/mux-player/test/player.test.js
  packages/mux-video-react/README.md
  packages/mux-video-react/src/index.tsx
  packages/mux-video/README.md
  packages/mux-video/src/base.ts
  packages/mux-video/test/index.test.js
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/test/index.test.js
Due: mux-player, mux-player-react, mux-video, mux-video-react, playback-core

docs: attempt to balance being succinct vs. accurate and sufficiently informative in dev docs, per PR feedback. Remove hls.js references
  packages/mux-player-react/REFERENCE.md
  packages/mux-player/REFERENCE.md
  packages/mux-video-react/README.md
  packages/mux-video/README.md
Due: mux-player, mux-player-react, mux-video, mux-video-react

test: refactor tests to use minMaxResolution static key for checking cap controller type (build + test issues with prior impl)
  packages/mux-player/test/player.test.js
  packages/mux-video/test/index.test.js
  packages/playback-core/test/index.test.js
Due: mux-player, mux-video, playback-core

feat: cap-rendition-to-player-size (#1263)
  examples/nextjs-with-typescript/components/renderers.tsx
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/mux-player.tsx
  examples/nextjs-with-typescript/pages/mux-video-react.tsx
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/lazy.tsx
  packages/mux-player-react/src/types.ts
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/base.ts
  packages/mux-player/src/template.ts
  packages/mux-player/src/types.ts
  packages/mux-player/test/player.test.js
  packages/mux-video-react/README.md
  packages/mux-video-react/src/index.tsx
  packages/mux-video/README.md
  packages/mux-video/src/base.ts
  packages/mux-video/test/index.test.js
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/test/index.test.js
Due: mux-player, mux-player-react, mux-video, mux-video-react, playback-core

Added webkit fairplay patch to fallback to legacy key system
  packages/playback-core/src/webkit-fairplay.d.ts
  packages/playback-core/src/webkit-fairplay.ts
Due: playback-core

Added useWebkitFairplay property to fallback to legacy FPS
  packages/mux-player/src/base.ts
  packages/mux-video/src/base.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-player, mux-video, playback-core

WIP - First round
  .gitignore
  packages/mux-video/src/base.ts
  packages/playback-core/src/eme-fariplay.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/src/webkit-fairplay.d.ts
  packages/playback-core/src/webkit-fairplay.ts
Due: mux-video, playback-core

Cleaned up logic and added error reporting
  packages/playback-core/src/eme-fariplay.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/webkit-fairplay.ts
Due: playback-core

Added drmTypeCb to webkit fairplay. Testing fallback options
  packages/mux-video/src/base.ts
  packages/playback-core/src/eme-fariplay.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/src/webkit-fairplay.d.ts
  packages/playback-core/src/webkit-fairplay.ts
Due: mux-video, playback-core

Fixed issue on fallback
  packages/playback-core/src/eme-fariplay.ts
  packages/playback-core/src/webkit-fairplay.ts
Due: playback-core

CI lint fixes
  packages/playback-core/src/eme-fariplay.ts
  packages/playback-core/src/webkit-fairplay.ts
Due: playback-core

CI lint fix
  packages/playback-core/src/webkit-fairplay.ts
Due: playback-core

Added simple testing for webkit keys
  packages/playback-core/package.json
  packages/playback-core/test/drm/webkit-fariplay.test.js
  packages/playback-core/test/helpers/event-listener-mock.js
Due: playback-core

UX improvements on fallback
  packages/mux-video/src/base.ts
  packages/playback-core/src/index.ts
Due: mux-video, playback-core

fix: add Mux Data SDK packages to Dependabot allow-list
  .github/dependabot.yml
  package-lock.json
  packages/mux-video/package.json
Due: mux-video

fix: add Mux Data SDK packages to Dependabot allow-list (#1267)
  .github/dependabot.yml
  package-lock.json
  packages/mux-video/package.json
Due: mux-video

fix(mux-player): correct nohotkeys docs wording
  packages/mux-player/REFERENCE.md
Due: mux-player

fix(mux-player): correct nohotkeys docs wording (#1270)
  packages/mux-player/REFERENCE.md
Due: mux-player

Add release note referencing 3.11.1
  packages/mux-player-astro/CHANGELOG.md
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player/CHANGELOG.md
Due: mux-player, mux-player-react

fix(mux-player-react): correct nohotkeys docs wording
  packages/mux-player-react/REFERENCE.md
Due: mux-player, mux-player-react

fix(mux-player-react): correct nohotkeys docs wording (#1272)
  packages/mux-player-react/REFERENCE.md
Due: mux-player, mux-player-react

Update CHANGELOG.md
  packages/mux-player-astro/CHANGELOG.md
Due: mux-player

Path conditions:
  mux-audio: any of: packages/mux-audio
  mux-audio-react: any of: packages/mux-audio-react
  mux-player: any of: packages/mux-player
  mux-player-react: any of: packages/mux-player-react
  mux-video: any of: packages/mux-video
  mux-video-react: any of: packages/mux-video-react
  playback-core: any of: packages/playback-core
