Repository muxinc/elements: changes, and which Codecov flags are due for each by the changed paths.
All: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      mux-audio:
        target: auto
        flags:
          - mux-audio
      mux-audio-react:
        target: auto
        flags:
          - mux-audio-react
      mux-player:
        target: auto
        flags:
          - mux-player
      mux-player-react:
        target: auto
        flags:
          - mux-player-react
      mux-video:
        target: auto
        flags:
          - mux-video
      mux-video-react:
        target: auto
        flags:
          - mux-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  mux-audio:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio
  mux-audio-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-audio-react
  mux-player:
    paths: #note, accepts globs, not regexes
      - packages/mux-player
  mux-player-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-player-react
  mux-video:
    paths: #note, accepts globs, not regexes
      - packages/mux-video
  mux-video-react:
    paths: #note, accepts globs, not regexes
      - packages/mux-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

fix(mux-player-react/lazy): display placeholder before JS load
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

fix(mux-player-react/lazy): display placeholder before JS load (#895)
  packages/mux-player-react/src/lazy.tsx
Due: mux-player, mux-player-react

example: update lazy + blurup example
  examples/nextjs-with-typescript/package.json
  examples/nextjs-with-typescript/pages/MuxPlayerLazyBlurUp.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  yarn.lock
Due: none

chore: upgrade Node v20 & GH action workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .nvmrc
Due: none

example: update lazy + blurup example (#896)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .nvmrc
  examples/nextjs-with-typescript/package.json
  examples/nextjs-with-typescript/pages/MuxPlayerLazyBlurUp.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  yarn.lock
Due: none

chore: move some CRA deps to dev deps helps with inspecting upgrades for real dependencies
  examples/create-react-app-with-typescript/package.json
  scripts/esbuilder/package.json
Due: none

fix: upgrade media-chrome & custom-media-element
  packages/mux-audio/package.json
  packages/mux-player/package.json
  yarn.lock
Due: mux-audio, mux-player

fix: upgrade React & React types
  examples/create-react-app-with-typescript/package.json
  examples/nextjs-with-typescript/package.json
  package.json
  packages/mux-active-viewer-count/package.json
  packages/mux-active-viewer-count/tsconfig.json
  packages/mux-audio-react/package.json
  packages/mux-player-react/package.json
  packages/mux-player-react/src/lazy.tsx
  packages/mux-uploader-react/package.json
  packages/mux-uploader-react/src/mux-uploader-retry.tsx
  packages/mux-uploader-react/src/mux-uploader-status.tsx
  packages/mux-video-react/package.json
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

chore: remove unused deps in that pkg closes #857
  packages/mux-active-viewer-count/package.json
  packages/mux-audio/package.json
  packages/mux-player/package.json
  packages/mux-uploader/package.json
  packages/mux-video/package.json
  yarn.lock
Due: mux-audio, mux-player, mux-video

fix: upgrade mux-embed v5.2.0
  packages/playback-core/package.json
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  shared/test-esm-exports/package.json
  types/mux-embed.d.ts
  yarn.lock
Due: playback-core

chore: remove unneeded test-esm-exports
  packages/mux-active-viewer-count/package.json
  packages/mux-active-viewer-count/test/web-test-runner.config.mjs
  packages/mux-audio/package.json
  packages/mux-audio/test/web-test-runner.config.mjs
  packages/mux-player/package.json
  packages/mux-player/test/web-test-runner.config.mjs
  packages/mux-uploader/package.json
  packages/mux-uploader/test/web-test-runner.config.mjs
  packages/mux-video/package.json
  packages/mux-video/test/web-test-runner.config.mjs
  packages/playback-core/package.json
  packages/playback-core/test/web-test-runner.config.mjs
  shared/test-esm-exports/README.md
  shared/test-esm-exports/hls.mjs
  shared/test-esm-exports/mux-embed.mjs
  shared/test-esm-exports/package.json
Due: mux-audio, mux-player, mux-video, playback-core

fix: upgrade mux-embed v5.2.0 & media-chrome v3.2.0 (#897)
  examples/create-react-app-with-typescript/package.json
  examples/nextjs-with-typescript/package.json
  package.json
  packages/mux-active-viewer-count/package.json
  packages/mux-active-viewer-count/test/web-test-runner.config.mjs
  packages/mux-active-viewer-count/tsconfig.json
  packages/mux-audio-react/package.json
  packages/mux-audio/package.json
  packages/mux-audio/test/web-test-runner.config.mjs
  packages/mux-player-react/package.json
  packages/mux-player-react/src/lazy.tsx
  packages/mux-player/package.json
  packages/mux-player/test/web-test-runner.config.mjs
  packages/mux-uploader-react/package.json
  packages/mux-uploader-react/src/mux-uploader-retry.tsx
  packages/mux-uploader-react/src/mux-uploader-status.tsx
  packages/mux-uploader/package.json
  packages/mux-uploader/test/web-test-runner.config.mjs
  packages/mux-video-react/package.json
  packages/mux-video/package.json
  packages/mux-video/test/web-test-runner.config.mjs
  packages/playback-core/package.json
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
  packages/playback-core/test/web-test-runner.config.mjs
  scripts/esbuilder/package.json
  shared/test-esm-exports/README.md
  shared/test-esm-exports/hls.mjs
  shared/test-esm-exports/mux-embed.mjs
  shared/test-esm-exports/package.json
  types/mux-embed.d.ts
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix: add mux-embed types reference
  packages/playback-core/src/types.ts
Due: playback-core

fix: add mux-embed types reference (#899)
  packages/playback-core/src/types.ts
Due: playback-core

feat: add `disable-tracking` attribute and prop
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

docs(mux-video): document new attributes
  packages/mux-video/README.md
Due: mux-video

feat: add `disable-tracking` attribute and prop (#900)
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  packages/mux-audio-react/src/index.tsx
  packages/mux-audio/src/index.ts
  packages/mux-player-react/REFERENCE.md
  packages/mux-player-react/src/index.tsx
  packages/mux-player/REFERENCE.md
  packages/mux-player/src/helpers.ts
  packages/mux-player/src/index.ts
  packages/mux-player/src/template.ts
  packages/mux-video-react/src/index.tsx
  packages/mux-video/README.md
  packages/mux-video/src/index.ts
  packages/playback-core/src/index.ts
  packages/playback-core/src/types.ts
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

feat(playback-core, mux-video, mux-audio, mux-player): Upgrade hls.js to latest minor version.
  packages/mux-audio/package.json
  packages/mux-audio/src/index.ts
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  yarn.lock
Due: mux-audio, mux-player, mux-video, playback-core

fix: Add className types for all Mux Uploader react subcomponents.
  examples/nextjs-with-typescript/pages/MuxUploaderSeparateComponents.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader-react/src/mux-uploader-drop.tsx
  packages/mux-uploader-react/src/mux-uploader-file-select.tsx
  packages/mux-uploader-react/src/mux-uploader-progress.tsx
  packages/mux-uploader-react/src/mux-uploader-retry.tsx
  packages/mux-uploader-react/src/mux-uploader-status.tsx
Due: none

fix: Add className types for all Mux Uploader react subcomponents. (#903)
  examples/nextjs-with-typescript/pages/MuxUploaderSeparateComponents.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader-react/src/mux-uploader-drop.tsx
  packages/mux-uploader-react/src/mux-uploader-file-select.tsx
  packages/mux-uploader-react/src/mux-uploader-progress.tsx
  packages/mux-uploader-react/src/mux-uploader-retry.tsx
  packages/mux-uploader-react/src/mux-uploader-status.tsx
Due: none

feat(playback-core, mux-video, mux-audio, mux-player): Upg hls.js (#902)
  packages/mux-audio/package.json
  packages/mux-audio/src/index.ts
  packages/mux-player/package.json
  packages/mux-video/package.json
  packages/playback-core/package.json
  yarn.lock
Due: mux-audio, mux-player, mux-video, playback-core

fix: upgrade media-chrome, upchunk, React types
  examples/create-react-app-with-typescript/package.json
  examples/nextjs-with-typescript/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  yarn.lock
Due: mux-player, mux-player-react, mux-video, mux-video-react

chore: upgrade Turbo
  package.json
  yarn.lock
Due: none

chore(mux-audio-react): upgrade React types
  packages/mux-audio-react/package.json
  yarn.lock
Due: mux-audio, mux-audio-react

fix: upgrade media-chrome, upchunk, React types (#904)
  examples/create-react-app-with-typescript/package.json
  examples/nextjs-with-typescript/package.json
  package.json
  packages/mux-audio-react/package.json
  packages/mux-player-react/package.json
  packages/mux-player/package.json
  packages/mux-uploader-react/package.json
  packages/mux-uploader/package.json
  packages/mux-video-react/package.json
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

Publish
  packages/mux-active-viewer-count/CHANGELOG.md
  packages/mux-active-viewer-count/package.json
  packages/mux-audio-react/CHANGELOG.md
  packages/mux-audio-react/package.json
  packages/mux-audio/CHANGELOG.md
  packages/mux-audio/package.json
  packages/mux-player-react/CHANGELOG.md
  packages/mux-player-react/package.json
  packages/mux-player/CHANGELOG.md
  packages/mux-player/package.json
  packages/mux-uploader-react/CHANGELOG.md
  packages/mux-uploader-react/package.json
  packages/mux-uploader/CHANGELOG.md
  packages/mux-uploader/package.json
  packages/mux-video-react/CHANGELOG.md
  packages/mux-video-react/package.json
  packages/mux-video/CHANGELOG.md
  packages/mux-video/package.json
  packages/playback-core/CHANGELOG.md
  packages/playback-core/package.json
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react, playback-core

fix(mux-uploader): state edge case cleanup. Use toggleAttribute consistently. Use attr selectors+css for styling. Advertise offline.
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader-progress.ts
  packages/mux-uploader/src/mux-uploader-retry.ts
  packages/mux-uploader/src/mux-uploader-status.ts
  packages/mux-uploader/src/mux-uploader.ts
Due: none

fix(mux-uploader): Upgrade upchunk for improved errors and offline.
  packages/mux-uploader/package.json
  yarn.lock
Due: none

chore(mux-uploader): remove pausible attr... for now...
  packages/mux-uploader/src/mux-uploader.ts
Due: none

fix(mux-uploader): uploader components state cleanup (#906)
  packages/mux-uploader/package.json
  packages/mux-uploader/src/mux-uploader-drop.ts
  packages/mux-uploader/src/mux-uploader-file-select.ts
  packages/mux-uploader/src/mux-uploader-progress.ts
  packages/mux-uploader/src/mux-uploader-retry.ts
  packages/mux-uploader/src/mux-uploader-status.ts
  packages/mux-uploader/src/mux-uploader.ts
  yarn.lock
Due: none

remove unnecessary directives; add audio support
  examples/nextjs-with-typescript/app/app-router/page.tsx
  packages/mux-audio-react/src/index.tsx
  packages/mux-player-react/src/useCombinedRefs.ts
  packages/mux-player-react/src/useIsBrowser.ts
  packages/mux-player-react/src/useIsIntersecting.ts
  packages/mux-player-react/src/useObjectPropEffect.ts
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader-react/src/mux-uploader-drop.tsx
  packages/mux-uploader-react/src/mux-uploader-file-select.tsx
  packages/mux-uploader-react/src/mux-uploader-progress.tsx
  packages/mux-uploader-react/src/mux-uploader-retry.tsx
  packages/mux-uploader-react/src/mux-uploader-status.tsx
  packages/mux-uploader-react/src/useCombinedRefs.ts
  packages/mux-uploader-react/src/useObjectPropEffect.ts
  packages/mux-video-react/src/index.tsx
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

Fix issue with theme import
  examples/nextjs-with-typescript/app/app-router/page.tsx
Due: none

feat(mux-player-react, mux-uploader-react, mux-audio-react, mux-video-react): add client component directive (#911)
  examples/nextjs-with-typescript/.eslintrc.json
  examples/nextjs-with-typescript/app/app-router/page.tsx
  examples/nextjs-with-typescript/app/layout.tsx
  examples/nextjs-with-typescript/components/default-header.tsx
  examples/nextjs-with-typescript/next-env.d.ts
  examples/nextjs-with-typescript/package.json
  examples/nextjs-with-typescript/pages/MuxAudio.tsx
  examples/nextjs-with-typescript/pages/MuxPlayer.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerCuePoints.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerCuePointsMeditate.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerLazy.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerLazyBlurUp.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerPosterSlot.tsx
  examples/nextjs-with-typescript/pages/MuxPlayerTheme.tsx
  examples/nextjs-with-typescript/pages/MuxUploader.tsx
  examples/nextjs-with-typescript/pages/MuxUploaderSeparateComponents.tsx
  examples/nextjs-with-typescript/pages/MuxVideo.tsx
  examples/nextjs-with-typescript/pages/_app.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/nextjs-with-typescript/pages/mux-audio.tsx
  examples/nextjs-with-typescript/pages/mux-player.tsx
  examples/nextjs-with-typescript/pages/mux-video.tsx
  examples/nextjs-with-typescript/styles.css
  examples/nextjs-with-typescript/tsconfig.json
  packages/mux-audio-react/src/index.tsx
  packages/mux-player-react/src/index.tsx
  packages/mux-player-react/src/lazy.tsx
  packages/mux-player-react/src/themes/classic.ts
  packages/mux-player-react/src/themes/gerwig.ts
  packages/mux-player-react/src/themes/microvideo.ts
  packages/mux-player-react/src/themes/minimal.ts
  packages/mux-uploader-react/src/index.tsx
  packages/mux-video-react/src/index.tsx
  packages/mux-video-react/src/use-combined-refs.ts
  yarn.lock
Due: mux-audio, mux-audio-react, mux-player, mux-player-react, mux-video, mux-video-react

fix: passthrough props to native media els https://github.com/muxinc/next-video/issues/245
  examples/nextjs-with-typescript/pages/MuxAudio.tsx
  examples/nextjs-with-typescript/pages/MuxVideo.tsx
  packages/mux-audio-react/src/index.tsx
  packages/mux-video-react/src/index.tsx
  packages/playback-core/src/types.ts
Due: mux-audio, mux-audio-react, mux-video, mux-video-react, playback-core

Mux Uploader Server Component
  examples/nextjs-with-typescript/.env.example
  examples/nextjs-with-typescript/app/MuxUploaderRSC/page.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  packages/mux-uploader-react/package.json
  packages/mux-uploader-react/src/index.tsx
  packages/mux-uploader-react/src/rsc.tsx
  yarn.lock
Due: none

fix(playback-core): preload=none not respected for playlist stream info fetching with native safari playback.
  packages/playback-core/src/index.ts
Due: playback-core

fix(playback-core): preload=none not respected for playlist stream info fetching with native safari playback. (#916)
  packages/playback-core/src/index.ts
Due: playback-core
